/*
Icon classes can be used entirely standalone. They are named after their original file names.

```html
<i class="icon-home"></i>
```
*/
.accreditation-md {
  background-image: url(../img/sprite.png);
  background-position: 0px -3336px;
  width: 31px;
  height: 49px;
}
.arrow-down {
  background-image: url(../img/sprite.png);
  background-position: 0px -1156px;
  width: 38px;
  height: 20px;
}
.arrow-left {
  background-image: url(../img/sprite.png);
  background-position: 0px -3465px;
  width: 34px;
  height: 60px;
}
.arrow-right {
  background-image: url(../img/sprite.png);
  background-position: 0px -3395px;
  width: 34px;
  height: 60px;
}
.arrow-top {
  background-image: url(../img/sprite.png);
  background-position: 0px -1336px;
  width: 38px;
  height: 20px;
}
.bed {
  background-image: url(../img/sprite.png);
  background-position: 0px -2219px;
  width: 44px;
  height: 31px;
}
.boat {
  background-image: url(../img/sprite.png);
  background-position: 0px -2062px;
  width: 30px;
  height: 28px;
}
.bus {
  background-image: url(../img/sprite.png);
  background-position: 0px -2303px;
  width: 34px;
  height: 33px;
}
.calendar-lg {
  background-image: url(../img/sprite.png);
  background-position: 0px -2654px;
  width: 36px;
  height: 39px;
}
.calendar-sm {
  background-image: url(../img/sprite.png);
  background-position: 0px -1276px;
  width: 20px;
  height: 20px;
}
.charterpng {
  background-image: url(../img/sprite.png);
  background-position: 0px -3065px;
  width: 26px;
  height: 42px;
}
.checker-md {
  background-image: url(../img/sprite.png);
  background-position: 0px -3117px;
  width: 41px;
  height: 43px;
}
.close-icon {
  background-image: url(../img/sprite.png);
  background-position: 0px -557px;
  width: 15px;
  height: 15px;
}
.compas-md {
  background-image: url(../img/sprite.png);
  background-position: 0px -3223px;
  width: 45px;
  height: 45px;
}
.data-arrow-left {
  background-image: url(../img/sprite.png);
  background-position: 0px -272px;
  width: 8px;
  height: 13px;
}
.data-arrow-right {
  background-image: url(../img/sprite.png);
  background-position: 0px -140px;
  width: 7px;
  height: 12px;
}
.earth {
  background-image: url(../img/sprite.png);
  background-position: 0px -1186px;
  width: 20px;
  height: 20px;
}
.geo {
  background-image: url(../img/sprite.png);
  background-position: 0px -1216px;
  width: 19px;
  height: 20px;
}
.hikking {
  background-image: url(../img/sprite.png);
  background-position: 0px -901px;
  width: 12px;
  height: 18px;
}
.hotel {
  background-image: url(../img/sprite.png);
  background-position: 0px -2562px;
  width: 33px;
  height: 34px;
}
.counter {
  background-image: url(../img/sprite.png);
  background-position: 0px -2753px;
  width: 41px;
  height: 42px;
}
.eat-md {
  background-image: url(../img/sprite.png);
  background-position: 0px -2518px;
  width: 37px;
  height: 34px;
}
.guide-md {
  background-image: url(../img/sprite.png);
  background-position: 0px -2703px;
  width: 40px;
  height: 40px;
}
.hikking-md {
  background-image: url(../img/sprite.png);
  background-position: 0px -2857px;
  width: 27px;
  height: 42px;
}
.hit {
  background-image: url(../img/sprite.png);
  background-position: 0px -2389px;
  width: 141px;
  height: 33px;
}
.hit2 {
  background-image: url(../img/sprite.png);
  background-position: 0px -2346px;
  width: 141px;
  height: 33px;
}
.host-md {
  background-image: url(../img/sprite.png);
  background-position: 0px -2024px;
  width: 47px;
  height: 28px;
}
.man-active {
  background-image: url(../img/sprite.png);
  background-position: 0px -2260px;
  width: 23px;
  height: 33px;
}
.man-inactive {
  background-image: url(../img/sprite.png);
  background-position: 0px -2475px;
  width: 23px;
  height: 33px;
}
.man-yactive {
  background-image: url(../img/sprite.png);
  background-position: 0px -2432px;
  width: 23px;
  height: 33px;
}
.safety-md {
  background-image: url(../img/sprite.png);
  background-position: 0px -2606px;
  width: 28px;
  height: 38px;
}
.transport-md {
  background-image: url(../img/sprite.png);
  background-position: 0px -2139px;
  width: 43px;
  height: 30px;
}
.logo-sm {
  background-image: url(../img/sprite.png);
  background-position: 0px -228px;
  width: 147px;
  height: 12px;
}
.mail {
  background-image: url(../img/sprite.png);
  background-position: 0px -341px;
  width: 19px;
  height: 13px;
}
.money {
  background-image: url(../img/sprite.png);
  background-position: 0px -1246px;
  width: 20px;
  height: 20px;
}
.plane {
  background-image: url(../img/sprite.png);
  background-position: 0px -1886px;
  width: 42px;
  height: 24px;
}
.print {
  background-image: url(../img/sprite.png);
  background-position: 0px -1818px;
  width: 24px;
  height: 24px;
}
.africa {
  background-image: url(../img/sprite.png);
  background-position: 0px -1556px;
  width: 17px;
  height: 22px;
}
.antarctica {
  background-image: url(../img/sprite.png);
  background-position: 0px -985px;
  width: 16px;
  height: 18px;
}
.arctica {
  background-image: url(../img/sprite.png);
  background-position: 0px -845px;
  width: 16px;
  height: 18px;
}
.asia {
  background-image: url(../img/sprite.png);
  background-position: 0px -1069px;
  width: 18px;
  height: 19px;
}
.australia {
  background-image: url(../img/sprite.png);
  background-position: 0px -77px;
  width: 28px;
  height: 11px;
}
.europe {
  background-image: url(../img/sprite.png);
  background-position: 0px -1989px;
  width: 14px;
  height: 25px;
}
.n-america {
  background-image: url(../img/sprite.png);
  background-position: 0px -1492px;
  width: 16px;
  height: 22px;
}
.russia {
  background-image: url(../img/sprite.png);
  background-position: 0px -1366px;
  width: 18px;
  height: 21px;
}
.s-america {
  background-image: url(../img/sprite.png);
  background-position: 0px -1397px;
  width: 19px;
  height: 21px;
}
.restaurant {
  background-image: url(../img/sprite.png);
  background-position: 0px -3170px;
  width: 35px;
  height: 43px;
}
.rukzak-md {
  background-image: url(../img/sprite.png);
  background-position: 0px -3278px;
  width: 47px;
  height: 48px;
}
.rukzak {
  background-image: url(../img/sprite.png);
  background-position: 0px -1306px;
  width: 19px;
  height: 20px;
}
.calendar-from {
  background-image: url(../img/sprite.png);
  background-position: 0px -1620px;
  width: 22px;
  height: 23px;
}
.calendar-hover {
  background-image: url(../img/sprite.png);
  background-position: 0px -1653px;
  width: 22px;
  height: 23px;
}
.calendar-to {
  background-image: url(../img/sprite.png);
  background-position: 0px -1686px;
  width: 22px;
  height: 23px;
}
.calendar {
  background-image: url(../img/sprite.png);
  background-position: 0px -1719px;
  width: 22px;
  height: 23px;
}
.globus {
  background-image: url(../img/sprite.png);
  background-position: 0px -1752px;
  width: 20px;
  height: 23px;
}
.minus-blue {
  background-image: url(../img/sprite.png);
  background-position: 0px 0px;
  width: 10px;
  height: 5px;
}
.plus-blue {
  background-image: url(../img/sprite.png);
  background-position: 0px -364px;
  width: 12px;
  height: 13px;
}
.select-tours {
  background-image: url(../img/sprite.png);
  background-position: 0px -684px;
  width: 18px;
  height: 16px;
}
.signpost {
  background-image: url(../img/sprite.png);
  background-position: 0px -1852px;
  width: 20px;
  height: 24px;
}
.weekend {
  background-image: url(../img/sprite.png);
  background-position: 0px -632px;
  width: 16px;
  height: 16px;
}
.fb {
  background-image: url(../img/sprite.png);
  background-position: 0px -1460px;
  width: 22px;
  height: 22px;
}
.fb_md {
  background-image: url(../img/sprite.png);
  background-position: 0px -2909px;
  width: 42px;
  height: 42px;
}
.rss {
  background-image: url(../img/sprite.png);
  background-position: 0px -1524px;
  width: 22px;
  height: 22px;
}
.rss_md {
  background-image: url(../img/sprite.png);
  background-position: 0px -2805px;
  width: 42px;
  height: 42px;
}
.tw {
  background-image: url(../img/sprite.png);
  background-position: 0px -1588px;
  width: 22px;
  height: 22px;
}
.tw_md {
  background-image: url(../img/sprite.png);
  background-position: 0px -2961px;
  width: 42px;
  height: 42px;
}
.vk {
  background-image: url(../img/sprite.png);
  background-position: 0px -1428px;
  width: 22px;
  height: 22px;
}
.vk_md {
  background-image: url(../img/sprite.png);
  background-position: 0px -3013px;
  width: 42px;
  height: 42px;
}
.activetours-active {
  background-image: url(../img/sprite.png);
  background-position: 0px -532px;
  width: 10px;
  height: 15px;
}
.activetours {
  background-image: url(../img/sprite.png);
  background-position: 0px -607px;
  width: 10px;
  height: 15px;
}
.avia-active {
  background-image: url(../img/sprite.png);
  background-position: 0px -98px;
  width: 19px;
  height: 11px;
}
.avia {
  background-image: url(../img/sprite.png);
  background-position: 0px -56px;
  width: 19px;
  height: 11px;
}
.beach-active {
  background-image: url(../img/sprite.png);
  background-position: 0px -318px;
  width: 13px;
  height: 13px;
}
.beach {
  background-image: url(../img/sprite.png);
  background-position: 0px -295px;
  width: 13px;
  height: 13px;
}
.cars-active {
  background-image: url(../img/sprite.png);
  background-position: 0px -184px;
  width: 13px;
  height: 12px;
}
.hotels-active {
  background-image: url(../img/sprite.png);
  background-position: 0px -35px;
  width: 14px;
  height: 11px;
}
.hotels {
  background-image: url(../img/sprite.png);
  background-position: 0px -119px;
  width: 14px;
  height: 11px;
}
.insurance-active {
  background-image: url(../img/sprite.png);
  background-position: 0px -250px;
  width: 10px;
  height: 12px;
}
.insurance {
  background-image: url(../img/sprite.png);
  background-position: 0px -206px;
  width: 10px;
  height: 12px;
}
.transport-md {
  background-image: url(../img/sprite.png);
  background-position: 0px -2179px;
  width: 43px;
  height: 30px;
}
.adventure {
  background-image: url(../img/sprite.png);
  background-position: 0px -582px;
  width: 15px;
  height: 15px;
}
.aerostat {
  background-image: url(../img/sprite.png);
  background-position: 0px -1954px;
  width: 18px;
  height: 25px;
}
.air {
  background-image: url(../img/sprite.png);
  background-position: 0px -957px;
  width: 14px;
  height: 18px;
}
.alpschool {
  background-image: url(../img/sprite.png);
  background-position: 0px -710px;
  width: 14px;
  height: 17px;
}
.autors {
  background-image: url(../img/sprite.png);
  background-position: 0px -507px;
  width: 15px;
  height: 15px;
}
.cars {
  background-image: url(../img/sprite.png);
  background-position: 0px -162px;
  width: 13px;
  height: 12px;
}
.climbing {
  background-image: url(../img/sprite.png);
  background-position: 0px -1041px;
  width: 14px;
  height: 18px;
}
.comb {
  background-image: url(../img/sprite.png);
  background-position: 0px -818px;
  width: 17px;
  height: 17px;
}
.events {
  background-image: url(../img/sprite.png);
  background-position: 0px -737px;
  width: 17px;
  height: 17px;
}
.excursions {
  background-image: url(../img/sprite.png);
  background-position: 0px -15px;
  width: 20px;
  height: 10px;
}
.expeditions {
  background-image: url(../img/sprite.png);
  background-position: 0px -435px;
  width: 21px;
  height: 14px;
}
.family {
  background-image: url(../img/sprite.png);
  background-position: 0px -658px;
  width: 21px;
  height: 16px;
}
.gastronomy {
  background-image: url(../img/sprite.png);
  background-position: 0px -764px;
  width: 18px;
  height: 17px;
}
.learnings {
  background-image: url(../img/sprite.png);
  background-position: 0px -387px;
  width: 22px;
  height: 14px;
}
.mountains {
  background-image: url(../img/sprite.png);
  background-position: 0px -411px;
  width: 19px;
  height: 14px;
}
.no-standart {
  background-image: url(../img/sprite.png);
  background-position: 0px -791px;
  width: 17px;
  height: 17px;
}
.photo {
  background-image: url(../img/sprite.png);
  background-position: 0px -459px;
  width: 18px;
  height: 14px;
}
.red-letter {
  background-image: url(../img/sprite.png);
  background-position: 0px -1127px;
  width: 13px;
  height: 19px;
}
.safari {
  background-image: url(../img/sprite.png);
  background-position: 0px -483px;
  width: 24px;
  height: 14px;
}
.skiing {
  background-image: url(../img/sprite.png);
  background-position: 0px -929px;
  width: 21px;
  height: 18px;
}
.space {
  background-image: url(../img/sprite.png);
  background-position: 0px -1098px;
  width: 18px;
  height: 19px;
}
.speleo {
  background-image: url(../img/sprite.png);
  background-position: 0px -873px;
  width: 18px;
  height: 18px;
}
.terra {
  background-image: url(../img/sprite.png);
  background-position: 0px -1013px;
  width: 12px;
  height: 18px;
}
.water {
  background-image: url(../img/sprite.png);
  background-position: 0px -1785px;
  width: 23px;
  height: 23px;
}
.user {
  background-image: url(../img/sprite.png);
  background-position: 0px -1920px;
  width: 24px;
  height: 24px;
}
.worlddoc {
  background-image: url(../img/sprite.png);
  background-position: 0px -2100px;
  width: 45px;
  height: 29px;
}
