head
    meta(charset="utf-8")
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes">
    block title
      title HIVE development
    //link(href='css/style.css?__inline=true', rel='stylesheet')
    link(href='css/style.css', rel='stylesheet')