ul.paginator
  li
    a.first <i class="icon arrow-left"></i> First
  li
    a.prev  <i class="icon arrow-left"></i>
  li
    a 1
  li
    a.active 2
  li
    a 3
  li
    a 4
  li
    a.next <i class="icon arrow-right"></i>
  li
    a.last Last <i class="icon arrow-right"></i>