footer.footer
  .container
    .row
      .col-xs-12.col-lg-4
        ul.footer-menu
          li.footer-menu_item
            a.footer-menu_link(href="actions.html") Акции
          li.footer-menu_item
            a.footer-menu_link(href="news.html") Новости и статьи
          li.footer-menu_item
            a.footer-menu_link Ответы на вопросы
          li.footer-menu_item
            a.footer-menu_link(href="credit.html") Кредит и рассрочка
          li.footer-menu_item
            a.footer-menu_link(href="warranty.html") Гарантия
          li.footer-menu_item
            a.footer-menu_link Отзывы
      .col-xs-12.col-lg-4
        ul.footer-menu
          li.footer-menu_item
            a.footer-menu_link О компании
          li.footer-menu_item
            a.footer-menu_link Правовая информация
          li.footer-menu_item.item-bottom-indent
            a.footer-menu_link(href="shops.html")  Адреса магазинов
          h5.footer-title Принимаем к оплате:
          ul.soc-menu
            li.soc-menu_item
              a.soc-menu_link
                +svg('visa', 'visa-sm')
            li.soc-menu_item
              a.soc-menu_link
                +svg('master-card', 'mastercard-sm')

      //.col-xs-12.col-lg-3
      //  h5.footer-title Принимаем к оплате:
      //  ul.soc-menu
      //    li.soc-menu_item
      //      a.soc-menu_link
      //        +svg('visa', 'visa-sm')
      //    li.soc-menu_item
      //      a.soc-menu_link
      //        +svg('master-card', 'mastercard-sm')

      .col-xs-12.col-lg-4
        h5.footer-title Лендвери в сетях:
        ul.soc-menu
          li.soc-menu_item
            a.soc-menu_link(href="https://twitter.com/lendveri")
              +svg('twitter', 'twitter-sm twitter-icon')
          li.soc-menu_item
            a.soc-menu_link(href="http://www.youtube.com/user/lendveri")
              +svg('youtube', 'youtube-sm youtube-icon')
          li.soc-menu_item
            a.soc-menu_link(href="https://vk.com/lendveri")
              +svg('vk', 'vk-sm vk-icon')

        .feedback-btn_wrapper
          a.btn.btn-transparent.btn-md_mod(data-toggle="modal" data-target="#feedbackModal") Обратная связь

  .container
    .row
      .col-md-12
        .copyright © 2010-2016 Лендвери. <span>Сделано с любовью в <a href="http://www.booqva.com/ru/">Booqva</a></span>