//script(src="js/jquery.min.js")
script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js")
script(src="js/tether.min.js")
script(src="js/bootstrap.min.js")
script(src="js/jquery.maskedinput.min.js")
script(src="js/simplegallery.js")
script(src="js/responsivethumbnailgallery.js")
script(src="js/jquery.collapse.js")
script(src="js/jquery.collapse_storage.js")
script(src="js/nouislider.min.js")
script(src="js/wNumb.js")
//script(src="js/jquery.touchSwipe.min.js")
script(src="js/gistfile1.js")
script(src="js/jquery.zoom.js")
script(src="js/script.js")
