footer.footer
  .container
    .row
      .col-md-12.col-lg-3
        ul.footer-menu
          li.footer-menu_item
            a.footer-menu_link Акции
          li.footer-menu_item
            a.footer-menu_link Новости и статьи
          li.footer-menu_item
            a.footer-menu_link Ответы на вопросы
          li.footer-menu_item
            a.footer-menu_link Кредит и рассрочка
          li.footer-menu_item
            a.footer-menu_link Гарантия
          li.footer-menu_item
            a.footer-menu_link Отзывы
      .col-md-12.col-lg-3
        ul.footer-menu
          li.footer-menu_item
            a.footer-menu_link О компании
          li.footer-menu_item
            a.footer-menu_link Правовая информация
          li.footer-menu_item
            a.footer-menu_link  Адреса магазинов
      .col-md-12.col-lg-3
        h5.footer-title Принимаем к оплате:
        ul.soc-menu
          li.soc-menu_item
            a.soc-menu_link
              +svg('visa', 'visa-sm')
          li.soc-menu_item
            a.soc-menu_link
              +svg('master-card', 'mastercard-sm')

      .col-md-12.col-lg-3
        h5.footer-title Лендвери в сетях:
        ul.soc-menu
          li.soc-menu_item
            a.soc-menu_link
              +svg('twitter', 'twitter-sm twitter-icon')
          li.soc-menu_item
            a.soc-menu_link
              +svg('youtube', 'youtube-sm youtube-icon')
          li.soc-menu_item
            a.soc-menu_link
              +svg('vk', 'vk-sm vk-icon')

        .feedback-btn_wrapper
          button.btn.btn-transparent.btn-md_mod Обратная связь

  .container
    .row
      .col-md-12
        .copyright © 2010-2016 Лендвери. <span>Сделано с любовью в <a href="http://www.booqva.com/ru/">Booqva</a></span>