//script(src="js/jquery.min.js")
script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js")
script(src="js/tether.min.js")
script(src="js/bootstrap.min.js")
script(src="js/jquery.maskedinput.min.js")
script(src="js/simplegallery.js")
script(src="js/responsivethumbnailgallery.js")
script(src="js/script.js")
