.DHL {
  background-image: url(../img/sprite.png);
  background-position: 0px -1131px;
  width: 138px;
  height: 31px;
}
.Geschmack {
  background-image: url(../img/sprite.png);
  background-position: 0px -2332px;
  width: 60px;
  height: 60px;
}
.Zutaten {
  background-image: url(../img/sprite.png);
  background-position: 0px -2052px;
  width: 60px;
  height: 60px;
}
.achive_icon {
  background-image: url(../img/sprite.png);
  background-position: 0px -1213px;
  width: 32px;
  height: 32px;
}
.begutachtet {
  background-image: url(../img/sprite.png);
  background-position: 0px -2262px;
  width: 60px;
  height: 60px;
}
.benefits {
  background-image: url(../img/sprite.png);
  background-position: 0px -907px;
  width: 26px;
  height: 26px;
}
.black-check {
  background-image: url(../img/sprite.png);
  background-position: 0px -150px;
  width: 13px;
  height: 11px;
}
.blog {
  background-image: url(../img/sprite.png);
  background-position: 0px -3230px;
  width: 410px;
  height: 200px;
}
.blog_min {
  background-image: url(../img/sprite.png);
  background-position: 0px -2750px;
  width: 330px;
  height: 150px;
}
.bonus {
  background-image: url(../img/sprite.png);
  background-position: 0px -1340px;
  width: 35px;
  height: 35px;
}
.breadcrumb_divider {
  background-image: url(../img/sprite.png);
  background-position: 0px -1531px;
  width: 6px;
  height: 40px;
}
.cart {
  background-image: url(../img/sprite.png);
  background-position: 0px -1297px;
  width: 40px;
  height: 33px;
}
.category-arrow {
  background-image: url(../img/sprite.png);
  background-position: 0px -130px;
  width: 13px;
  height: 10px;
}
.check-act {
  background-image: url(../img/sprite.png);
  background-position: 0px -979px;
  width: 26px;
  height: 26px;
}
.check {
  background-image: url(../img/sprite.png);
  background-position: 0px -1015px;
  width: 26px;
  height: 26px;
}
.delete {
  background-image: url(../img/sprite.png);
  background-position: 0px -427px;
  width: 24px;
  height: 23px;
}
.dlt-filter {
  background-image: url(../img/sprite.png);
  background-position: 0px -110px;
  width: 9px;
  height: 10px;
}
.drop-blue {
  background-image: url(../img/sprite.png);
  background-position: 0px -72px;
  width: 10px;
  height: 8px;
}
.drop {
  background-image: url(../img/sprite.png);
  background-position: 0px 0px;
  width: 10px;
  height: 8px;
}
.drop_sm {
  background-image: url(../img/sprite.png);
  background-position: 0px -54px;
  width: 8px;
  height: 8px;
}
.email-18 {
  background-image: url(../img/sprite.png);
  background-position: 0px -1731px;
  width: 40px;
  height: 40px;
}
.facebook-18 {
  background-image: url(../img/sprite.png);
  background-position: 0px -1481px;
  width: 40px;
  height: 40px;
}
.facebook {
  background-image: url(../img/sprite.png);
  background-position: 0px -625px;
  width: 12px;
  height: 24px;
}
.flavor {
  background-image: url(../img/sprite.png);
  background-position: 0px -2402px;
  width: 165px;
  height: 80px;
}
.fragen {
  background-image: url(../img/sprite.png);
  background-position: 0px -3440px;
  width: 410px;
  height: 200px;
}
.fragen_min {
  background-image: url(../img/sprite.png);
  background-position: 0px -2910px;
  width: 330px;
  height: 150px;
}
.google-18 {
  background-image: url(../img/sprite.png);
  background-position: 0px -1831px;
  width: 40px;
  height: 40px;
}
.google-plus {
  background-image: url(../img/sprite.png);
  background-position: 0px -364px;
  width: 25px;
  height: 21px;
}
.helpfl {
  background-image: url(../img/sprite.png);
  background-position: 0px -493px;
  width: 23px;
  height: 23px;
}
.locator {
  background-image: url(../img/sprite.png);
  background-position: 0px -3650px;
  width: 410px;
  height: 200px;
}
.locator_min {
  background-image: url(../img/sprite.png);
  background-position: 0px -3070px;
  width: 330px;
  height: 150px;
}
.logo-paypal {
  background-image: url(../img/sprite.png);
  background-position: 0px -1385px;
  width: 135px;
  height: 36px;
}
.loupe {
  background-image: url(../img/sprite.png);
  background-position: 0px -192px;
  width: 17px;
  height: 16px;
}
.made {
  background-image: url(../img/sprite.png);
  background-position: 0px -2122px;
  width: 60px;
  height: 60px;
}
.more {
  background-image: url(../img/sprite.png);
  background-position: 0px -559px;
  width: 23px;
  height: 23px;
}
.next-arrow {
  background-image: url(../img/sprite.png);
  background-position: 0px -943px;
  width: 21px;
  height: 26px;
}
.next-step-arr {
  background-image: url(../img/sprite.png);
  background-position: 0px -592px;
  width: 24px;
  height: 23px;
}
.nothelpfl {
  background-image: url(../img/sprite.png);
  background-position: 0px -526px;
  width: 23px;
  height: 23px;
}
.num_first {
  background-image: url(../img/sprite.png);
  background-position: 0px -871px;
  width: 27px;
  height: 26px;
}
.num_second {
  background-image: url(../img/sprite.png);
  background-position: 0px -835px;
  width: 27px;
  height: 26px;
}
.num_third {
  background-image: url(../img/sprite.png);
  background-position: 0px -799px;
  width: 27px;
  height: 26px;
}
.paypal {
  background-image: url(../img/sprite.png);
  background-position: 0px -395px;
  width: 52px;
  height: 22px;
}
.pinterest {
  background-image: url(../img/sprite.png);
  background-position: 0px -659px;
  width: 24px;
  height: 24px;
}
.point {
  background-image: url(../img/sprite.png);
  background-position: 0px -90px;
  width: 10px;
  height: 10px;
}
.popularsten {
  background-image: url(../img/sprite.png);
  background-position: 0px -1781px;
  width: 41px;
  height: 40px;
}
.premium {
  background-image: url(../img/sprite.png);
  background-position: 0px -2192px;
  width: 60px;
  height: 60px;
}
.prev-arrow {
  background-image: url(../img/sprite.png);
  background-position: 0px -763px;
  width: 21px;
  height: 26px;
}
.qustn {
  background-image: url(../img/sprite.png);
  background-position: 0px -693px;
  width: 24px;
  height: 25px;
}
.recycling_min {
  background-image: url(../img/sprite.png);
  background-position: 0px -2590px;
  width: 330px;
  height: 150px;
}
.reload-act {
  background-image: url(../img/sprite.png);
  background-position: 0px -276px;
  width: 24px;
  height: 19px;
}
.reload {
  background-image: url(../img/sprite.png);
  background-position: 0px -247px;
  width: 24px;
  height: 19px;
}
.review {
  background-image: url(../img/sprite.png);
  background-position: 0px -728px;
  width: 24px;
  height: 25px;
}
.ribbon-new-mini {
  background-image: url(../img/sprite.png);
  background-position: 0px -1985px;
  width: 58px;
  height: 57px;
}
.ribbon {
  background-image: url(../img/sprite.png);
  background-position: 0px -2492px;
  width: 89px;
  height: 88px;
}
.schnelle {
  background-image: url(../img/sprite.png);
  background-position: 0px -1631px;
  width: 41px;
  height: 40px;
}
.sep {
  background-image: url(../img/sprite.png);
  background-position: 0px -1431px;
  width: 6px;
  height: 40px;
}
.sofort {
  background-image: url(../img/sprite.png);
  background-position: 0px -460px;
  width: 70px;
  height: 23px;
}
.support {
  background-image: url(../img/sprite.png);
  background-position: 0px -1255px;
  width: 78px;
  height: 32px;
}
.telephone {
  background-image: url(../img/sprite.png);
  background-position: 0px -1931px;
  width: 33px;
  height: 44px;
}
.title-arrow_left {
  background-image: url(../img/sprite.png);
  background-position: 0px -1091px;
  width: 222px;
  height: 30px;
}
.title-arrow_right {
  background-image: url(../img/sprite.png);
  background-position: 0px -1051px;
  width: 222px;
  height: 30px;
}
.trusted {
  background-image: url(../img/sprite.png);
  background-position: 0px -1881px;
  width: 41px;
  height: 40px;
}
.twitter-18 {
  background-image: url(../img/sprite.png);
  background-position: 0px -1681px;
  width: 40px;
  height: 40px;
}
.twitter {
  background-image: url(../img/sprite.png);
  background-position: 0px -334px;
  width: 24px;
  height: 20px;
}
.up {
  background-image: url(../img/sprite.png);
  background-position: 0px -36px;
  width: 10px;
  height: 8px;
}
.up_sm {
  background-image: url(../img/sprite.png);
  background-position: 0px -18px;
  width: 8px;
  height: 8px;
}
.update-or {
  background-image: url(../img/sprite.png);
  background-position: 0px -218px;
  width: 24px;
  height: 19px;
}
.update-orng {
  background-image: url(../img/sprite.png);
  background-position: 0px -305px;
  width: 24px;
  height: 19px;
}
.versandkostenfreie {
  background-image: url(../img/sprite.png);
  background-position: 0px -1581px;
  width: 41px;
  height: 40px;
}
.way-arr {
  background-image: url(../img/sprite.png);
  background-position: 0px -1172px;
  width: 40px;
  height: 31px;
}
.white-check {
  background-image: url(../img/sprite.png);
  background-position: 0px -171px;
  width: 13px;
  height: 11px;
}
