.DHL {
  background-image: url(../img/sprite.png);
  background-position: 0px -1133px;
  width: 138px;
  height: 31px;
}
.Geschmack {
  background-image: url(../img/sprite.png);
  background-position: 0px -2123px;
  width: 60px;
  height: 60px;
}
.Zutaten {
  background-image: url(../img/sprite.png);
  background-position: 0px -2193px;
  width: 60px;
  height: 60px;
}
.achive_icon {
  background-image: url(../img/sprite.png);
  background-position: 0px -1257px;
  width: 32px;
  height: 32px;
}
.begutachtet {
  background-image: url(../img/sprite.png);
  background-position: 0px -2053px;
  width: 60px;
  height: 60px;
}
.benefits {
  background-image: url(../img/sprite.png);
  background-position: 0px -1015px;
  width: 28px;
  height: 28px;
}
.black-check {
  background-image: url(../img/sprite.png);
  background-position: 0px -171px;
  width: 13px;
  height: 11px;
}
.blog {
  background-image: url(../img/sprite.png);
  background-position: 0px -3301px;
  width: 410px;
  height: 200px;
}
.blog_min {
  background-image: url(../img/sprite.png);
  background-position: 0px -2451px;
  width: 330px;
  height: 150px;
}
.bonus {
  background-image: url(../img/sprite.png);
  background-position: 0px -3721px;
  width: 245px;
  height: 245px;
}
.breadcrumb_divider {
  background-image: url(../img/sprite.png);
  background-position: 0px -1742px;
  width: 22px;
  height: 40px;
}
.cart {
  background-image: url(../img/sprite.png);
  background-position: 0px -1299px;
  width: 40px;
  height: 33px;
}
.category-arrow {
  background-image: url(../img/sprite.png);
  background-position: 0px -130px;
  width: 13px;
  height: 10px;
}
.check-act {
  background-image: url(../img/sprite.png);
  background-position: 0px -979px;
  width: 26px;
  height: 26px;
}
.check {
  background-image: url(../img/sprite.png);
  background-position: 0px -799px;
  width: 26px;
  height: 26px;
}
.delete {
  background-image: url(../img/sprite.png);
  background-position: 0px -460px;
  width: 24px;
  height: 23px;
}
.dlt-filter {
  background-image: url(../img/sprite.png);
  background-position: 0px -110px;
  width: 9px;
  height: 10px;
}
.drop-blue {
  background-image: url(../img/sprite.png);
  background-position: 0px -36px;
  width: 10px;
  height: 8px;
}
.drop {
  background-image: url(../img/sprite.png);
  background-position: 0px -18px;
  width: 10px;
  height: 8px;
}
.drop_sm {
  background-image: url(../img/sprite.png);
  background-position: 0px 0px;
  width: 8px;
  height: 8px;
}
.facebook {
  background-image: url(../img/sprite.png);
  background-position: 0px -659px;
  width: 12px;
  height: 24px;
}
.flavor {
  background-image: url(../img/sprite.png);
  background-position: 0px -2263px;
  width: 165px;
  height: 80px;
}
.fragen {
  background-image: url(../img/sprite.png);
  background-position: 0px -3091px;
  width: 410px;
  height: 200px;
}
.fragen_min {
  background-image: url(../img/sprite.png);
  background-position: 0px -2611px;
  width: 330px;
  height: 150px;
}
.google-plus {
  background-image: url(../img/sprite.png);
  background-position: 0px -364px;
  width: 25px;
  height: 21px;
}
.helpfl {
  background-image: url(../img/sprite.png);
  background-position: 0px -559px;
  width: 23px;
  height: 23px;
}
.kundenservice {
  background-image: url(../img/sprite.png);
  background-position: 0px -4486px;
  width: 245px;
  height: 245px;
}
.locator {
  background-image: url(../img/sprite.png);
  background-position: 0px -3511px;
  width: 410px;
  height: 200px;
}
.locator_min {
  background-image: url(../img/sprite.png);
  background-position: 0px -2931px;
  width: 330px;
  height: 150px;
}
.loupe {
  background-image: url(../img/sprite.png);
  background-position: 0px -192px;
  width: 17px;
  height: 16px;
}
.made {
  background-image: url(../img/sprite.png);
  background-position: 0px -1983px;
  width: 60px;
  height: 60px;
}
.more {
  background-image: url(../img/sprite.png);
  background-position: 0px -592px;
  width: 23px;
  height: 23px;
}
.next-arrow {
  background-image: url(../img/sprite.png);
  background-position: 0px -835px;
  width: 21px;
  height: 26px;
}
.next-step-arr {
  background-image: url(../img/sprite.png);
  background-position: 0px -526px;
  width: 24px;
  height: 23px;
}
.nothelpfl {
  background-image: url(../img/sprite.png);
  background-position: 0px -427px;
  width: 23px;
  height: 23px;
}
.num_first {
  background-image: url(../img/sprite.png);
  background-position: 0px -943px;
  width: 27px;
  height: 26px;
}
.num_second {
  background-image: url(../img/sprite.png);
  background-position: 0px -907px;
  width: 27px;
  height: 26px;
}
.num_third {
  background-image: url(../img/sprite.png);
  background-position: 0px -871px;
  width: 27px;
  height: 26px;
}
.paypal {
  background-image: url(../img/sprite.png);
  background-position: 0px -395px;
  width: 52px;
  height: 22px;
}
.pinterest {
  background-image: url(../img/sprite.png);
  background-position: 0px -625px;
  width: 24px;
  height: 24px;
}
.point {
  background-image: url(../img/sprite.png);
  background-position: 0px -90px;
  width: 10px;
  height: 10px;
}
.popularsten {
  background-image: url(../img/sprite.png);
  background-position: 0px -1642px;
  width: 41px;
  height: 40px;
}
.premium {
  background-image: url(../img/sprite.png);
  background-position: 0px -1913px;
  width: 60px;
  height: 60px;
}
.prev-arrow {
  background-image: url(../img/sprite.png);
  background-position: 0px -763px;
  width: 21px;
  height: 26px;
}
.quad_email {
  background-image: url(../img/sprite.png);
  background-position: 0px -1542px;
  width: 40px;
  height: 40px;
}
.quad_facebook {
  background-image: url(../img/sprite.png);
  background-position: 0px -1692px;
  width: 40px;
  height: 40px;
}
.quad_google_plus {
  background-image: url(../img/sprite.png);
  background-position: 0px -1342px;
  width: 40px;
  height: 40px;
}
.quad_twitter {
  background-image: url(../img/sprite.png);
  background-position: 0px -1392px;
  width: 40px;
  height: 40px;
}
.qustn {
  background-image: url(../img/sprite.png);
  background-position: 0px -693px;
  width: 24px;
  height: 25px;
}
.recycling {
  background-image: url(../img/sprite.png);
  background-position: 0px -4231px;
  width: 245px;
  height: 245px;
}
.recycling_min {
  background-image: url(../img/sprite.png);
  background-position: 0px -2771px;
  width: 330px;
  height: 150px;
}
.reload-act {
  background-image: url(../img/sprite.png);
  background-position: 0px -305px;
  width: 24px;
  height: 19px;
}
.reload {
  background-image: url(../img/sprite.png);
  background-position: 0px -276px;
  width: 24px;
  height: 19px;
}
.rewiew {
  background-image: url(../img/sprite.png);
  background-position: 0px -728px;
  width: 24px;
  height: 25px;
}
.ribbon-new-mini {
  background-image: url(../img/sprite.png);
  background-position: 0px -1846px;
  width: 58px;
  height: 57px;
}
.ribbon {
  background-image: url(../img/sprite.png);
  background-position: 0px -2353px;
  width: 89px;
  height: 88px;
}
.schnelle {
  background-image: url(../img/sprite.png);
  background-position: 0px -1442px;
  width: 41px;
  height: 40px;
}
.sofort {
  background-image: url(../img/sprite.png);
  background-position: 0px -493px;
  width: 70px;
  height: 23px;
}
.store_locator {
  background-image: url(../img/sprite.png);
  background-position: 0px -3976px;
  width: 508px;
  height: 245px;
}
.support {
  background-image: url(../img/sprite.png);
  background-position: 0px -1215px;
  width: 78px;
  height: 32px;
}
.telephone {
  background-image: url(../img/sprite.png);
  background-position: 0px -1792px;
  width: 33px;
  height: 44px;
}
.title-arrow_left {
  background-image: url(../img/sprite.png);
  background-position: 0px -1093px;
  width: 222px;
  height: 30px;
}
.title-arrow_right {
  background-image: url(../img/sprite.png);
  background-position: 0px -1053px;
  width: 222px;
  height: 30px;
}
.trusted {
  background-image: url(../img/sprite.png);
  background-position: 0px -1592px;
  width: 41px;
  height: 40px;
}
.twitter {
  background-image: url(../img/sprite.png);
  background-position: 0px -334px;
  width: 24px;
  height: 20px;
}
.up {
  background-image: url(../img/sprite.png);
  background-position: 0px -72px;
  width: 10px;
  height: 8px;
}
.up_sm {
  background-image: url(../img/sprite.png);
  background-position: 0px -54px;
  width: 8px;
  height: 8px;
}
.update-or {
  background-image: url(../img/sprite.png);
  background-position: 0px -247px;
  width: 24px;
  height: 19px;
}
.update-orng {
  background-image: url(../img/sprite.png);
  background-position: 0px -218px;
  width: 24px;
  height: 19px;
}
.versandkostenfreie {
  background-image: url(../img/sprite.png);
  background-position: 0px -1492px;
  width: 41px;
  height: 40px;
}
.way-arr {
  background-image: url(../img/sprite.png);
  background-position: 0px -1174px;
  width: 40px;
  height: 31px;
}
.white-check {
  background-image: url(../img/sprite.png);
  background-position: 0px -150px;
  width: 13px;
  height: 11px;
}
.wiki {
  background-image: url(../img/sprite.png);
  background-position: 0px -4741px;
  width: 245px;
  height: 245px;
}
