.DHL {
  background-image: url(../img/sprite.png);
  background-position: 0px -1288px;
  width: 138px;
  height: 31px;
}
.Geschmack {
  background-image: url(../img/sprite.png);
  background-position: 0px -2369px;
  width: 60px;
  height: 60px;
}
.Zutaten {
  background-image: url(../img/sprite.png);
  background-position: 0px -2509px;
  width: 60px;
  height: 60px;
}
.achive_icon {
  background-image: url(../img/sprite.png);
  background-position: 0px -1453px;
  width: 32px;
  height: 32px;
}
.begutachtet {
  background-image: url(../img/sprite.png);
  background-position: 0px -2439px;
  width: 60px;
  height: 60px;
}
.benefits {
  background-image: url(../img/sprite.png);
  background-position: 0px -1028px;
  width: 26px;
  height: 26px;
}
.black-check {
  background-image: url(../img/sprite.png);
  background-position: 0px -234px;
  width: 13px;
  height: 11px;
}
.blog {
  background-image: url(../img/sprite.png);
  background-position: 0px -3477px;
  width: 410px;
  height: 200px;
}
.blog_min {
  background-image: url(../img/sprite.png);
  background-position: 0px -2997px;
  width: 330px;
  height: 150px;
}
.bonus {
  background-image: url(../img/sprite.png);
  background-position: 0px -1538px;
  width: 35px;
  height: 35px;
}
.breadcrumb_divider {
  background-image: url(../img/sprite.png);
  background-position: 0px -1678px;
  width: 6px;
  height: 40px;
}
.cart {
  background-image: url(../img/sprite.png);
  background-position: 0px -1495px;
  width: 40px;
  height: 33px;
}
.category-arrow {
  background-image: url(../img/sprite.png);
  background-position: 0px -110px;
  width: 13px;
  height: 10px;
}
.check-act {
  background-image: url(../img/sprite.png);
  background-position: 0px -1136px;
  width: 26px;
  height: 26px;
}
.check {
  background-image: url(../img/sprite.png);
  background-position: 0px -992px;
  width: 26px;
  height: 26px;
}
.delete {
  background-image: url(../img/sprite.png);
  background-position: 0px -512px;
  width: 24px;
  height: 23px;
}
.dlt-filter {
  background-image: url(../img/sprite.png);
  background-position: 0px -130px;
  width: 9px;
  height: 10px;
}
.drop-blue {
  background-image: url(../img/sprite.png);
  background-position: 0px 0px;
  width: 10px;
  height: 8px;
}
.drop {
  background-image: url(../img/sprite.png);
  background-position: 0px -72px;
  width: 10px;
  height: 8px;
}
.drop_sm {
  background-image: url(../img/sprite.png);
  background-position: 0px -54px;
  width: 8px;
  height: 8px;
}
.email-18 {
  background-image: url(../img/sprite.png);
  background-position: 0px -2128px;
  width: 40px;
  height: 40px;
}
.facebook-18 {
  background-image: url(../img/sprite.png);
  background-position: 0px -1878px;
  width: 40px;
  height: 40px;
}
.facebook {
  background-image: url(../img/sprite.png);
  background-position: 0px -744px;
  width: 12px;
  height: 24px;
}
.flavor {
  background-image: url(../img/sprite.png);
  background-position: 0px -2649px;
  width: 165px;
  height: 80px;
}
.fragen {
  background-image: url(../img/sprite.png);
  background-position: 0px -3897px;
  width: 410px;
  height: 200px;
}
.fragen_min {
  background-image: url(../img/sprite.png);
  background-position: 0px -2837px;
  width: 330px;
  height: 150px;
}
.google-18 {
  background-image: url(../img/sprite.png);
  background-position: 0px -2078px;
  width: 40px;
  height: 40px;
}
.google-plus {
  background-image: url(../img/sprite.png);
  background-position: 0px -449px;
  width: 25px;
  height: 21px;
}
.helpfl {
  background-image: url(../img/sprite.png);
  background-position: 0px -545px;
  width: 23px;
  height: 23px;
}
.icon-user {
  background-image: url(../img/sprite.png);
  background-position: 0px -1064px;
  width: 19px;
  height: 26px;
}
.lineup-base-hover {
  background-image: url(../img/sprite.png);
  background-position: 0px -4323px;
  width: 236px;
  height: 206px;
}
.lineup-base {
  background-image: url(../img/sprite.png);
  background-position: 0px -4107px;
  width: 236px;
  height: 206px;
}
.locator {
  background-image: url(../img/sprite.png);
  background-position: 0px -3687px;
  width: 410px;
  height: 200px;
}
.locator_min {
  background-image: url(../img/sprite.png);
  background-position: 0px -3157px;
  width: 330px;
  height: 150px;
}
.logo-paypal {
  background-image: url(../img/sprite.png);
  background-position: 0px -1583px;
  width: 135px;
  height: 36px;
}
.loupe-mbl {
  background-image: url(../img/sprite.png);
  background-position: 0px -1370px;
  width: 36px;
  height: 31px;
}
.loupe {
  background-image: url(../img/sprite.png);
  background-position: 0px -277px;
  width: 17px;
  height: 16px;
}
.made {
  background-image: url(../img/sprite.png);
  background-position: 0px -2299px;
  width: 60px;
  height: 60px;
}
.main-menu-arr {
  background-image: url(../img/sprite.png);
  background-position: 0px -255px;
  width: 8px;
  height: 12px;
}
.more {
  background-image: url(../img/sprite.png);
  background-position: 0px -611px;
  width: 23px;
  height: 23px;
}
.next-arrow {
  background-image: url(../img/sprite.png);
  background-position: 0px -1100px;
  width: 21px;
  height: 26px;
}
.next-step-arr {
  background-image: url(../img/sprite.png);
  background-position: 0px -578px;
  width: 24px;
  height: 23px;
}
.nothelpfl {
  background-image: url(../img/sprite.png);
  background-position: 0px -644px;
  width: 23px;
  height: 23px;
}
.num_first {
  background-image: url(../img/sprite.png);
  background-position: 0px -956px;
  width: 27px;
  height: 26px;
}
.num_second {
  background-image: url(../img/sprite.png);
  background-position: 0px -920px;
  width: 27px;
  height: 26px;
}
.num_third {
  background-image: url(../img/sprite.png);
  background-position: 0px -884px;
  width: 27px;
  height: 26px;
}
.paypal {
  background-image: url(../img/sprite.png);
  background-position: 0px -480px;
  width: 52px;
  height: 22px;
}
.paypal_logo {
  background-image: url(../img/sprite.png);
  background-position: 0px -1248px;
  width: 100px;
  height: 30px;
}
.pinterest {
  background-image: url(../img/sprite.png);
  background-position: 0px -710px;
  width: 24px;
  height: 24px;
}
.point {
  background-image: url(../img/sprite.png);
  background-position: 0px -90px;
  width: 10px;
  height: 10px;
}
.popularsten {
  background-image: url(../img/sprite.png);
  background-position: 0px -1928px;
  width: 41px;
  height: 40px;
}
.premium {
  background-image: url(../img/sprite.png);
  background-position: 0px -2579px;
  width: 60px;
  height: 60px;
}
.prev-arrow {
  background-image: url(../img/sprite.png);
  background-position: 0px -848px;
  width: 21px;
  height: 26px;
}
.qustn {
  background-image: url(../img/sprite.png);
  background-position: 0px -778px;
  width: 24px;
  height: 25px;
}
.recycling_min {
  background-image: url(../img/sprite.png);
  background-position: 0px -3317px;
  width: 330px;
  height: 150px;
}
.reload-act {
  background-image: url(../img/sprite.png);
  background-position: 0px -361px;
  width: 24px;
  height: 19px;
}
.reload {
  background-image: url(../img/sprite.png);
  background-position: 0px -332px;
  width: 24px;
  height: 19px;
}
.review {
  background-image: url(../img/sprite.png);
  background-position: 0px -813px;
  width: 24px;
  height: 25px;
}
.ribbon-new-mini {
  background-image: url(../img/sprite.png);
  background-position: 0px -2232px;
  width: 58px;
  height: 57px;
}
.ribbon {
  background-image: url(../img/sprite.png);
  background-position: 0px -2739px;
  width: 89px;
  height: 88px;
}
.schnelle {
  background-image: url(../img/sprite.png);
  background-position: 0px -2028px;
  width: 41px;
  height: 40px;
}
.sep {
  background-image: url(../img/sprite.png);
  background-position: 0px -1728px;
  width: 6px;
  height: 40px;
}
.sofort {
  background-image: url(../img/sprite.png);
  background-position: 0px -677px;
  width: 70px;
  height: 23px;
}
.support {
  background-image: url(../img/sprite.png);
  background-position: 0px -1411px;
  width: 78px;
  height: 32px;
}
.telephone {
  background-image: url(../img/sprite.png);
  background-position: 0px -2178px;
  width: 33px;
  height: 44px;
}
.title-arrow_left {
  background-image: url(../img/sprite.png);
  background-position: 0px -1172px;
  width: 252px;
  height: 28px;
}
.title-arrow_right {
  background-image: url(../img/sprite.png);
  background-position: 0px -1210px;
  width: 252px;
  height: 28px;
}
.trusted {
  background-image: url(../img/sprite.png);
  background-position: 0px -1828px;
  width: 41px;
  height: 40px;
}
.twitter-18 {
  background-image: url(../img/sprite.png);
  background-position: 0px -1778px;
  width: 40px;
  height: 40px;
}
.twitter {
  background-image: url(../img/sprite.png);
  background-position: 0px -419px;
  width: 24px;
  height: 20px;
}
.up {
  background-image: url(../img/sprite.png);
  background-position: 0px -36px;
  width: 10px;
  height: 8px;
}
.up_sm {
  background-image: url(../img/sprite.png);
  background-position: 0px -18px;
  width: 8px;
  height: 8px;
}
.update-or {
  background-image: url(../img/sprite.png);
  background-position: 0px -303px;
  width: 24px;
  height: 19px;
}
.update-orng {
  background-image: url(../img/sprite.png);
  background-position: 0px -390px;
  width: 24px;
  height: 19px;
}
.ver_collected {
  background-image: url(../img/sprite.png);
  background-position: 0px -192px;
  width: 11px;
  height: 11px;
}
.ver_pending {
  background-image: url(../img/sprite.png);
  background-position: 0px -213px;
  width: 11px;
  height: 11px;
}
.ver_reject {
  background-image: url(../img/sprite.png);
  background-position: 0px -171px;
  width: 11px;
  height: 11px;
}
.versandkostenfreie {
  background-image: url(../img/sprite.png);
  background-position: 0px -1978px;
  width: 41px;
  height: 40px;
}
.visa_logo {
  background-image: url(../img/sprite.png);
  background-position: 0px -1629px;
  width: 88px;
  height: 39px;
}
.way-arr {
  background-image: url(../img/sprite.png);
  background-position: 0px -1329px;
  width: 40px;
  height: 31px;
}
.white-check {
  background-image: url(../img/sprite.png);
  background-position: 0px -150px;
  width: 13px;
  height: 11px;
}
