@import './../../styles/variables';
@import './../../styles/mixins';

$color-emerald: green;
$color-grey-light: #cccccc;
$color-grey: #BBBBBB;

$transtion-delay : 0.4s;
$color-on : #ffffff;
$color-off : #ffffff;
$color-on-border : darken($color-on, 10%);
$color-off-border : darken($color-off, 10%);
$color-disabled : #eee;
$color-disabled-border : darken($color-disabled, 10%);
$color-pin : #369dff;

$transition : 0.3s;

.switch-button {
  position       : relative;
  line-height    : 100%;
  display        : inline-block;
  vertical-align : middle;
  margin         : 0;
  -moz-box-sizing: border-box; /* Для Firefox */
  box-sizing: border-box; /* Ширина блока с полями */

  label {
    cursor: pointer;
  }

  &.disabled {
    label {
      cursor: not-allowed;
    }
  }

  // Hide the default input checkbox
  input[type="checkbox"] {
    position    : absolute;
    margin-left : -9999px;
    visibility  : hidden;
  }

  // Default left label
  > label:first-child {
    display    : inline-block;
    margin     : 0 10px 0 0px;
  }

  // Right label
  label + label {
    margin-left : 10px;
  }

  input[type="checkbox"] + label {
    display  : inline-block;
    position : relative;
    margin   : 0;
    outline  : none;
    @include no-select;
      -moz-box-sizing: border-box; /* Для Firefox */
  }   box-sizing: border-box; /* Ширина блока с полями */
}

// Main Switch Button container
.switch-button {
  // Theme
  .switch-label {
    color: rgba(0, 0, 0, 0.8)
  }

  &.hive-b2b input[type="checkbox"] + label {
    border: 2px solid #e2e4e6;
    vertical-align   : middle;
    background-color : $color-off;
    @include transition(background, $transition, ease-in-out);

    &:hover {
      border-color: #369dff;
    }
  }

  &.hive-b2b.disabled input[type="checkbox"] + label {
    background-color : $color-disabled;
  }

  &.hive-b2b:hover input[type="checkbox"] + label {
    background-color : $color-on;
  }

  &.hive-b2b.disabled:hover input[type="checkbox"] + label {
    background-color : $color-disabled;
  }

  &.hive-b2b input[type="checkbox"] + label:after {
    display  : inline-block;
    position : absolute;
    content  : "";
  }

  &.hive-b2b input[type="checkbox"] + label:after {
    background-color : $color-pin;
    @include transition(margin $transition, background $transition);
  }

  &.hive-b2b.disabled input[type="checkbox"] + label:after {
    background-color : $color-disabled-border;
  }

  &.hive-b2b:hover input[type="checkbox"]:checked + label {
    background-color : $color-off;
  }

  &.hive-b2b input[type="checkbox"]:checked + label {
    background-color : $color-on;
  }

  &.hive-b2b.disabled input[type="checkbox"]:checked + label {
    background-color : $color-disabled;
  }

  &.hive-b2b input[type="checkbox"]:checked + label:after {
    background-color : $color-pin;
  }

  &.hive-b2b.disabled input[type="checkbox"]:checked + label:after {
    background-color : $color-disabled-border;
  }

  &.switch-button.hive-b2b {
    &.rsbc-mode-select {
      input[type="checkbox"] + label:after,
      &:hover input[type="checkbox"]:checked + label,
      input[type="checkbox"] + label {
        background-color : $color-on !important;
      }
    }
  }

  //size sm
  $border-sm: 1px;
  $size-sm: 20px;
  $radius-sm: ($size-sm*2)+4;

  $size2-sm: $size-sm - ($border-sm*4);
  $radius2-sm: $radius-sm - ($border-sm*4);

  &.sm {

    .switch-label {
      font-family: $font-base;
      font-size: 16px;
      line-height: 22px;
      font-weight: 400;
    }

    input[type="checkbox"] + label {
      padding          : $border-sm;
      width            : $size-sm*2;
      height           : $size-sm +  ($border-sm*4);
      border-radius: $radius-sm;
    }

    input[type="checkbox"] + label:after {
      top              : $border-sm*2;
      left             : $border-sm*2;
      bottom           : $border-sm*2;
      width            : $size2-sm;
      border-radius: $radius2-sm;
    }

    input[type="checkbox"]:checked + label:after {
      margin-left: $size2-sm
    }

    &.disabled {
      input[type="checkbox"]:checked + label:after {
        margin-left: $size-sm;
      }
    }
  }
}

@media (max-width: $screen-xs-max) {
  .switch-button_switch {
    display: none !important;
  }

  .switch-button.sm .switch-label {
    font-weight: bold;
    color: $color-blue;
  }
  .switch-button.sm .switch-label.active {
    font-weight: normal;
    color: $color-text;
  }
}

