.tabs-link {
  &.active, &:hover {

    .avia {
      background: transparent url(@sprite-path) @avia-active-offset-x @avia-active-offset-y no-repeat ;
      height: @avia-active-height;
      width: @avia-active-width;
    }

    .hotels {
      background: transparent url(@sprite-path)  @hotels-active-offset-x @hotels-active-offset-y no-repeat ;
      height: @hotels-active-height;
      width: @hotels-active-width;
    }

    .cars {
      background: transparent url(@sprite-path)  @cars-active-offset-x @cars-active-offset-y no-repeat ;
      height: @cars-active-height;
      width: @cars-active-width;
    }

    .insurance {
      background: transparent url(@sprite-path)  @insurance-active-offset-x @insurance-active-offset-y no-repeat ;
      height: @insurance-active-height;
      width: @insurance-active-width;
    }

    .beach {
      background: transparent url(@sprite-path)  @beach-active-offset-x @beach-active-offset-y no-repeat ;
      height: @beach-active-height;
      width: @beach-active-width;
    }

    .activetours {
      background: transparent url(@sprite-path)  @activetours-active-offset-x @activetours-active-offset-y no-repeat ;
      height: @activetours-active-height;
      width: @activetours-active-width;
    }

  }
}

.picker__nav--prev:before {
  background: transparent url(@sprite-path) @data-arrow-left-offset-x @data-arrow-left-offset-y no-repeat ;
  height: @data-arrow-left-height;
  width: @data-arrow-left-width;
}

.picker__nav--next:before {
  background: transparent url(@sprite-path) @data-arrow-right-offset-x @data-arrow-right-offset-y no-repeat ;
  height: @data-arrow-right-height;
  width: @data-arrow-right-width;
}
