include includes/b_channel
include includes/b_match_high
include includes/navigation_top 
include includes/navigation_bottom

doctype html
html(class="no-js")
    include includes/head
    body.clearfix
        .navbar.navbar-inverse.navbar-fixed-top.navbar-main(role="navigation")    
            +navigation_top('Premier League')
            +navigation_bottom ('Top Scorers', 'comp_top-scorers.html', 'Matches', 'comp_matches.html', 'Tables', 'comp_tables.html' )
        .main-content
            include includes/content/comp_matches-content.jade
        include includes/footer-script              
                            


























