include includes/b_league_accordion
include includes/b_match_high
include includes/navigation_top
include includes/b_league
include includes/b_league_accordion

doctype html
html(class="no-js")
    include includes/head
    body.nav-top
        .navbar.navbar-inverse.navbar-fixed-top.navbar-main(role="navigation")    
            +navigation_top('Teams' )
        .main-content
            include includes/b_search_block
            include includes/content/teams-content.jade
        include includes/footer-script              




















