.idea/
node_modules
hive/node_modules
*/node_modules
hive/node_modules
coupon/node_modules
.sass-cache
lendveri/vendor
parkingapi/node_modules
parkingapi/skin
parkingapi/img
parkingapi/svg
parkingapi/tests
parkingapi/i18n