.DHL {
  background-image: url(../img/sprite.png);
  background-position: 0px -450px;
  width: 138px;
  height: 31px;
}
.Geschmack {
  background-image: url(../img/sprite.png);
  background-position: 0px -1329px;
  width: 60px;
  height: 60px;
}
.Zutaten {
  background-image: url(../img/sprite.png);
  background-position: 0px -1189px;
  width: 60px;
  height: 60px;
}
.achive_icon {
  background-image: url(../img/sprite.png);
  background-position: 0px -533px;
  width: 32px;
  height: 32px;
}
.begutachtet {
  background-image: url(../img/sprite.png);
  background-position: 0px -1469px;
  width: 60px;
  height: 60px;
}
.benefits {
  background-image: url(../img/sprite.png);
  background-position: 0px -332px;
  width: 28px;
  height: 28px;
}
.blog {
  background-image: url(../img/sprite.png);
  background-position: 0px -2367px;
  width: 410px;
  height: 200px;
}
.blog_min {
  background-image: url(../img/sprite.png);
  background-position: 0px -1887px;
  width: 330px;
  height: 150px;
}
.breadcrumb_divider {
  background-image: url(../img/sprite.png);
  background-position: 0px -818px;
  width: 22px;
  height: 40px;
}
.cart {
  background-image: url(../img/sprite.png);
  background-position: 0px -575px;
  width: 40px;
  height: 33px;
}
.category-arrow {
  background-image: url(../img/sprite.png);
  background-position: 0px -92px;
  width: 13px;
  height: 10px;
}
.drop {
  background-image: url(../img/sprite.png);
  background-position: 0px -36px;
  width: 10px;
  height: 8px;
}
.drop_sm {
  background-image: url(../img/sprite.png);
  background-position: 0px -18px;
  width: 8px;
  height: 8px;
}
.facebook {
  background-image: url(../img/sprite.png);
  background-position: 0px -264px;
  width: 12px;
  height: 24px;
}
.flavor {
  background-image: url(../img/sprite.png);
  background-position: 0px -1539px;
  width: 165px;
  height: 80px;
}
.fragen {
  background-image: url(../img/sprite.png);
  background-position: 0px -2787px;
  width: 410px;
  height: 200px;
}
.fragen_min {
  background-image: url(../img/sprite.png);
  background-position: 0px -2047px;
  width: 330px;
  height: 150px;
}
.google-plus {
  background-image: url(../img/sprite.png);
  background-position: 0px -168px;
  width: 25px;
  height: 21px;
}
.locator {
  background-image: url(../img/sprite.png);
  background-position: 0px -2577px;
  width: 410px;
  height: 200px;
}
.locator_min {
  background-image: url(../img/sprite.png);
  background-position: 0px -2207px;
  width: 330px;
  height: 150px;
}
.loupe {
  background-image: url(../img/sprite.png);
  background-position: 0px -112px;
  width: 17px;
  height: 16px;
}
.made {
  background-image: url(../img/sprite.png);
  background-position: 0px -1399px;
  width: 60px;
  height: 60px;
}
.paypal {
  background-image: url(../img/sprite.png);
  background-position: 0px -199px;
  width: 52px;
  height: 22px;
}
.pinterest {
  background-image: url(../img/sprite.png);
  background-position: 0px -298px;
  width: 24px;
  height: 24px;
}
.point {
  background-image: url(../img/sprite.png);
  background-position: 0px -72px;
  width: 10px;
  height: 10px;
}
.popularsten {
  background-image: url(../img/sprite.png);
  background-position: 0px -768px;
  width: 41px;
  height: 40px;
}
.premium {
  background-image: url(../img/sprite.png);
  background-position: 0px -1259px;
  width: 60px;
  height: 60px;
}
.quad_email {
  background-image: url(../img/sprite.png);
  background-position: 0px -868px;
  width: 40px;
  height: 40px;
}
.quad_facebook {
  background-image: url(../img/sprite.png);
  background-position: 0px -918px;
  width: 40px;
  height: 40px;
}
.quad_google_plus {
  background-image: url(../img/sprite.png);
  background-position: 0px -618px;
  width: 40px;
  height: 40px;
}
.quad_twitter {
  background-image: url(../img/sprite.png);
  background-position: 0px -968px;
  width: 40px;
  height: 40px;
}
.recycling {
  background-image: url(../img/sprite.png);
  background-position: 0px -2997px;
  width: 410px;
  height: 200px;
}
.recycling_min {
  background-image: url(../img/sprite.png);
  background-position: 0px -1727px;
  width: 330px;
  height: 150px;
}
.ribbon-new {
  background-image: url(../img/sprite.png);
  background-position: 0px -1629px;
  width: 89px;
  height: 88px;
}
.ribbon-new_mini {
  background-image: url(../img/sprite.png);
  background-position: 0px -1122px;
  width: 58px;
  height: 57px;
}
.schnelle {
  background-image: url(../img/sprite.png);
  background-position: 0px -668px;
  width: 41px;
  height: 40px;
}
.sofort {
  background-image: url(../img/sprite.png);
  background-position: 0px -231px;
  width: 70px;
  height: 23px;
}
.support {
  background-image: url(../img/sprite.png);
  background-position: 0px -491px;
  width: 78px;
  height: 32px;
}
.telephone {
  background-image: url(../img/sprite.png);
  background-position: 0px -1068px;
  width: 33px;
  height: 44px;
}
.title-arrow_left {
  background-image: url(../img/sprite.png);
  background-position: 0px -370px;
  width: 222px;
  height: 30px;
}
.title-arrow_right {
  background-image: url(../img/sprite.png);
  background-position: 0px -410px;
  width: 222px;
  height: 30px;
}
.trusted {
  background-image: url(../img/sprite.png);
  background-position: 0px -1018px;
  width: 41px;
  height: 40px;
}
.twitter {
  background-image: url(../img/sprite.png);
  background-position: 0px -138px;
  width: 24px;
  height: 20px;
}
.up {
  background-image: url(../img/sprite.png);
  background-position: 0px 0px;
  width: 10px;
  height: 8px;
}
.up_sm {
  background-image: url(../img/sprite.png);
  background-position: 0px -54px;
  width: 8px;
  height: 8px;
}
.versandkostenfreie {
  background-image: url(../img/sprite.png);
  background-position: 0px -718px;
  width: 41px;
  height: 40px;
}
