.DHL {
  background-image: url(../img/sprite.png);
  background-position: 0px -300px;
  width: 138px;
  height: 31px;
}
.achive_icon {
  background-image: url(../img/sprite.png);
  background-position: 0px -383px;
  width: 32px;
  height: 32px;
}
.cart {
  background-image: url(../img/sprite.png);
  background-position: 0px -467px;
  width: 40px;
  height: 33px;
}
.facebook {
  background-image: url(../img/sprite.png);
  background-position: 0px -152px;
  width: 12px;
  height: 24px;
}
.google-plus {
  background-image: url(../img/sprite.png);
  background-position: 0px -56px;
  width: 25px;
  height: 21px;
}
.loupe {
  background-image: url(../img/sprite.png);
  background-position: 0px 0px;
  width: 17px;
  height: 16px;
}
.paypal {
  background-image: url(../img/sprite.png);
  background-position: 0px -87px;
  width: 52px;
  height: 22px;
}
.pinterest {
  background-image: url(../img/sprite.png);
  background-position: 0px -186px;
  width: 24px;
  height: 24px;
}
.ribbon-new {
  background-image: url(../img/sprite.png);
  background-position: 0px -564px;
  width: 89px;
  height: 88px;
}
.sofort {
  background-image: url(../img/sprite.png);
  background-position: 0px -119px;
  width: 70px;
  height: 23px;
}
.support {
  background-image: url(../img/sprite.png);
  background-position: 0px -341px;
  width: 78px;
  height: 32px;
}
.telephone {
  background-image: url(../img/sprite.png);
  background-position: 0px -510px;
  width: 33px;
  height: 44px;
}
.title-arrow_left {
  background-image: url(../img/sprite.png);
  background-position: 0px -260px;
  width: 222px;
  height: 30px;
}
.title-arrow_right {
  background-image: url(../img/sprite.png);
  background-position: 0px -220px;
  width: 222px;
  height: 30px;
}
.trusted {
  background-image: url(../img/sprite.png);
  background-position: 0px -425px;
  width: 32px;
  height: 32px;
}
.twitter {
  background-image: url(../img/sprite.png);
  background-position: 0px -26px;
  width: 24px;
  height: 20px;
}
