.container
  .g_block.graph-block
    .row
      .col-md-6
        .g_block_inner
          include ../includes/leads-graphs
      .col-md-6.circle-graphs_wrapper
        include ../includes/circle-graphs