header.header
  .container
    .row
      .col-md-6.header-col
        i.red-clock.icon
        span.header_status-bar
          | Days With Us:&nbsp;
          span "Yay, Tom has been with us for 2 years“
      .col-md-6.header-col.-right
        i.icon.gray-divider-vertical
        a.logout_link(href="#")
          i.logout.icon
          h2.span Logout
