body {
  min-width: 1294px;
}

.main-wrapper {
  width: auto;
  padding-left: 142px;
  background-color: #e3e7ea;
  &.-center {
    padding-left: 0;
  }
}

footer  {
  text-align: center;
  padding: 20px 0;
  color:  #2d3e50;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;


}