  @account-x: 0px;
  @account-y: 1397px;
  @account-offset-x: 0px;
  @account-offset-y: -1397px;
  @account-width: 40px;
  @account-height: 33px;
  @account-total-width: 175px;
  @account-total-height: 2193px;
  @account-image: '../code/img/sprite.png';
  @account: 0px 1397px 0px -1397px 40px 33px 175px 2193px '../code/img/sprite.png';
  @account_active-x: 0px;
  @account_active-y: 1440px;
  @account_active-offset-x: 0px;
  @account_active-offset-y: -1440px;
  @account_active-width: 40px;
  @account_active-height: 33px;
  @account_active-total-width: 175px;
  @account_active-total-height: 2193px;
  @account_active-image: '../code/img/sprite.png';
  @account_active: 0px 1440px 0px -1440px 40px 33px 175px 2193px '../code/img/sprite.png';
  @admin-x: 0px;
  @admin-y: 1808px;
  @admin-offset-x: 0px;
  @admin-offset-y: -1808px;
  @admin-width: 34px;
  @admin-height: 37px;
  @admin-total-width: 175px;
  @admin-total-height: 2193px;
  @admin-image: '../code/img/sprite.png';
  @admin: 0px 1808px 0px -1808px 34px 37px 175px 2193px '../code/img/sprite.png';
  @admin_active-x: 0px;
  @admin_active-y: 1761px;
  @admin_active-offset-x: 0px;
  @admin_active-offset-y: -1761px;
  @admin_active-width: 34px;
  @admin_active-height: 37px;
  @admin_active-total-width: 175px;
  @admin_active-total-height: 2193px;
  @admin_active-image: '../code/img/sprite.png';
  @admin_active: 0px 1761px 0px -1761px 34px 37px 175px 2193px '../code/img/sprite.png';
  @arrow-blue-x: 0px;
  @arrow-blue-y: 33px;
  @arrow-blue-offset-x: 0px;
  @arrow-blue-offset-y: -33px;
  @arrow-blue-width: 8px;
  @arrow-blue-height: 9px;
  @arrow-blue-total-width: 175px;
  @arrow-blue-total-height: 2193px;
  @arrow-blue-image: '../code/img/sprite.png';
  @arrow-blue: 0px 33px 0px -33px 8px 9px 175px 2193px '../code/img/sprite.png';
  @arrow-circle-red-x: 0px;
  @arrow-circle-red-y: 1105px;
  @arrow-circle-red-offset-x: 0px;
  @arrow-circle-red-offset-y: -1105px;
  @arrow-circle-red-width: 30px;
  @arrow-circle-red-height: 30px;
  @arrow-circle-red-total-width: 175px;
  @arrow-circle-red-total-height: 2193px;
  @arrow-circle-red-image: '../code/img/sprite.png';
  @arrow-circle-red: 0px 1105px 0px -1105px 30px 30px 175px 2193px '../code/img/sprite.png';
  @arrow-circle-white-x: 0px;
  @arrow-circle-white-y: 1145px;
  @arrow-circle-white-offset-x: 0px;
  @arrow-circle-white-offset-y: -1145px;
  @arrow-circle-white-width: 32px;
  @arrow-circle-white-height: 32px;
  @arrow-circle-white-total-width: 175px;
  @arrow-circle-white-total-height: 2193px;
  @arrow-circle-white-image: '../code/img/sprite.png';
  @arrow-circle-white: 0px 1145px 0px -1145px 32px 32px 175px 2193px '../code/img/sprite.png';
  @arrow-circle-white_sm-x: 0px;
  @arrow-circle-white_sm-y: 446px;
  @arrow-circle-white_sm-offset-x: 0px;
  @arrow-circle-white_sm-offset-y: -446px;
  @arrow-circle-white_sm-width: 16px;
  @arrow-circle-white_sm-height: 17px;
  @arrow-circle-white_sm-total-width: 175px;
  @arrow-circle-white_sm-total-height: 2193px;
  @arrow-circle-white_sm-image: '../code/img/sprite.png';
  @arrow-circle-white_sm: 0px 446px 0px -446px 16px 17px 175px 2193px '../code/img/sprite.png';
  @arrow-left-x: 0px;
  @arrow-left-y: 137px;
  @arrow-left-offset-x: 0px;
  @arrow-left-offset-y: -137px;
  @arrow-left-width: 12px;
  @arrow-left-height: 12px;
  @arrow-left-total-width: 175px;
  @arrow-left-total-height: 2193px;
  @arrow-left-image: '../code/img/sprite.png';
  @arrow-left: 0px 137px 0px -137px 12px 12px 175px 2193px '../code/img/sprite.png';
  @arrow-right-x: 0px;
  @arrow-right-y: 225px;
  @arrow-right-offset-x: 0px;
  @arrow-right-offset-y: -225px;
  @arrow-right-width: 12px;
  @arrow-right-height: 12px;
  @arrow-right-total-width: 175px;
  @arrow-right-total-height: 2193px;
  @arrow-right-image: '../code/img/sprite.png';
  @arrow-right: 0px 225px 0px -225px 12px 12px 175px 2193px '../code/img/sprite.png';
  @assign-x: 0px;
  @assign-y: 269px;
  @assign-offset-x: 0px;
  @assign-offset-y: -269px;
  @assign-width: 16px;
  @assign-height: 13px;
  @assign-total-width: 175px;
  @assign-total-height: 2193px;
  @assign-image: '../code/img/sprite.png';
  @assign: 0px 269px 0px -269px 16px 13px 175px 2193px '../code/img/sprite.png';
  @attention-x: 0px;
  @attention-y: 2008px;
  @attention-offset-x: 0px;
  @attention-offset-y: -2008px;
  @attention-width: 55px;
  @attention-height: 55px;
  @attention-total-width: 175px;
  @attention-total-height: 2193px;
  @attention-image: '../code/img/sprite.png';
  @attention: 0px 2008px 0px -2008px 55px 55px 175px 2193px '../code/img/sprite.png';
  @bird-x: 0px;
  @bird-y: 1855px;
  @bird-offset-x: 0px;
  @bird-offset-y: -1855px;
  @bird-width: 38px;
  @bird-height: 38px;
  @bird-total-width: 175px;
  @bird-total-height: 2193px;
  @bird-image: '../code/img/sprite.png';
  @bird: 0px 1855px 0px -1855px 38px 38px 175px 2193px '../code/img/sprite.png';
  @black-check-x: 0px;
  @black-check-y: 181px;
  @black-check-offset-x: 0px;
  @black-check-offset-y: -181px;
  @black-check-width: 17px;
  @black-check-height: 12px;
  @black-check-total-width: 175px;
  @black-check-total-height: 2193px;
  @black-check-image: '../code/img/sprite.png';
  @black-check: 0px 181px 0px -181px 17px 12px 175px 2193px '../code/img/sprite.png';
  @checkbox-icon-x: 0px;
  @checkbox-icon-y: 583px;
  @checkbox-icon-offset-x: 0px;
  @checkbox-icon-offset-y: -583px;
  @checkbox-icon-width: 21px;
  @checkbox-icon-height: 18px;
  @checkbox-icon-total-width: 175px;
  @checkbox-icon-total-height: 2193px;
  @checkbox-icon-image: '../code/img/sprite.png';
  @checkbox-icon: 0px 583px 0px -583px 21px 18px 175px 2193px '../code/img/sprite.png';
  @close-x: 0px;
  @close-y: 956px;
  @close-offset-x: 0px;
  @close-offset-y: -956px;
  @close-width: 24px;
  @close-height: 24px;
  @close-total-width: 175px;
  @close-total-height: 2193px;
  @close-image: '../code/img/sprite.png';
  @close: 0px 956px 0px -956px 24px 24px 175px 2193px '../code/img/sprite.png';
  @close_hover-x: 0px;
  @close_hover-y: 858px;
  @close_hover-offset-x: 0px;
  @close_hover-offset-y: -858px;
  @close_hover-width: 22px;
  @close_hover-height: 22px;
  @close_hover-total-width: 175px;
  @close_hover-total-height: 2193px;
  @close_hover-image: '../code/img/sprite.png';
  @close_hover: 0px 858px 0px -858px 22px 22px 175px 2193px '../code/img/sprite.png';
  @create-red-x: 0px;
  @create-red-y: 611px;
  @create-red-offset-x: 0px;
  @create-red-offset-y: -611px;
  @create-red-width: 23px;
  @create-red-height: 18px;
  @create-red-total-width: 175px;
  @create-red-total-height: 2193px;
  @create-red-image: '../code/img/sprite.png';
  @create-red: 0px 611px 0px -611px 23px 18px 175px 2193px '../code/img/sprite.png';
  @create-x: 0px;
  @create-y: 1575px;
  @create-offset-x: 0px;
  @create-offset-y: -1575px;
  @create-width: 36px;
  @create-height: 36px;
  @create-total-width: 175px;
  @create-total-height: 2193px;
  @create-image: '../code/img/sprite.png';
  @create: 0px 1575px 0px -1575px 36px 36px 175px 2193px '../code/img/sprite.png';
  @create_active-x: 0px;
  @create_active-y: 1529px;
  @create_active-offset-x: 0px;
  @create_active-offset-y: -1529px;
  @create_active-width: 36px;
  @create_active-height: 36px;
  @create_active-total-width: 175px;
  @create_active-total-height: 2193px;
  @create_active-image: '../code/img/sprite.png';
  @create_active: 0px 1529px 0px -1529px 36px 36px 175px 2193px '../code/img/sprite.png';
  @delete-black-x: 0px;
  @delete-black-y: 52px;
  @delete-black-offset-x: 0px;
  @delete-black-offset-y: -52px;
  @delete-black-width: 11px;
  @delete-black-height: 11px;
  @delete-black-total-width: 175px;
  @delete-black-total-height: 2193px;
  @delete-black-image: '../code/img/sprite.png';
  @delete-black: 0px 52px 0px -52px 11px 11px 175px 2193px '../code/img/sprite.png';
  @dollar-x: 0px;
  @dollar-y: 923px;
  @dollar-offset-x: 0px;
  @dollar-offset-y: -923px;
  @dollar-width: 13px;
  @dollar-height: 23px;
  @dollar-total-width: 175px;
  @dollar-total-height: 2193px;
  @dollar-image: '../code/img/sprite.png';
  @dollar: 0px 923px 0px -923px 13px 23px 175px 2193px '../code/img/sprite.png';
  @geo-x: 0px;
  @geo-y: 669px;
  @geo-offset-x: 0px;
  @geo-offset-y: -669px;
  @geo-width: 18px;
  @geo-height: 21px;
  @geo-total-width: 175px;
  @geo-total-height: 2193px;
  @geo-image: '../code/img/sprite.png';
  @geo: 0px 669px 0px -669px 18px 21px 175px 2193px '../code/img/sprite.png';
  @graphes-x: 0px;
  @graphes-y: 639px;
  @graphes-offset-x: 0px;
  @graphes-offset-y: -639px;
  @graphes-width: 24px;
  @graphes-height: 20px;
  @graphes-total-width: 175px;
  @graphes-total-height: 2193px;
  @graphes-image: '../code/img/sprite.png';
  @graphes: 0px 639px 0px -639px 24px 20px 175px 2193px '../code/img/sprite.png';
  @gray-divider-vertical-x: 0px;
  @gray-divider-vertical-y: 990px;
  @gray-divider-vertical-offset-x: 0px;
  @gray-divider-vertical-offset-y: -990px;
  @gray-divider-vertical-width: 5px;
  @gray-divider-vertical-height: 25px;
  @gray-divider-vertical-total-width: 175px;
  @gray-divider-vertical-total-height: 2193px;
  @gray-divider-vertical-image: '../code/img/sprite.png';
  @gray-divider-vertical: 0px 990px 0px -990px 5px 25px 175px 2193px '../code/img/sprite.png';
  @gray-divider-x: 0px;
  @gray-divider-y: 0px;
  @gray-divider-offset-x: 0px;
  @gray-divider-offset-y: 0px;
  @gray-divider-width: 25px;
  @gray-divider-height: 5px;
  @gray-divider-total-width: 175px;
  @gray-divider-total-height: 2193px;
  @gray-divider-image: '../code/img/sprite.png';
  @gray-divider: 0px 0px 0px 0px 25px 5px 175px 2193px '../code/img/sprite.png';
  @gray-left-arrow-x: 0px;
  @gray-left-arrow-y: 203px;
  @gray-left-arrow-offset-x: 0px;
  @gray-left-arrow-offset-y: -203px;
  @gray-left-arrow-width: 8px;
  @gray-left-arrow-height: 12px;
  @gray-left-arrow-total-width: 175px;
  @gray-left-arrow-total-height: 2193px;
  @gray-left-arrow-image: '../code/img/sprite.png';
  @gray-left-arrow: 0px 203px 0px -203px 8px 12px 175px 2193px '../code/img/sprite.png';
  @history-x: 0px;
  @history-y: 1667px;
  @history-offset-x: 0px;
  @history-offset-y: -1667px;
  @history-width: 37px;
  @history-height: 37px;
  @history-total-width: 175px;
  @history-total-height: 2193px;
  @history-image: '../code/img/sprite.png';
  @history: 0px 1667px 0px -1667px 37px 37px 175px 2193px '../code/img/sprite.png';
  @history_active-x: 0px;
  @history_active-y: 1714px;
  @history_active-offset-x: 0px;
  @history_active-offset-y: -1714px;
  @history_active-width: 37px;
  @history_active-height: 37px;
  @history_active-total-width: 175px;
  @history_active-total-height: 2193px;
  @history_active-image: '../code/img/sprite.png';
  @history_active: 0px 1714px 0px -1714px 37px 37px 175px 2193px '../code/img/sprite.png';
  @history_sm-x: 0px;
  @history_sm-y: 762px;
  @history_sm-offset-x: 0px;
  @history_sm-offset-y: -762px;
  @history_sm-width: 22px;
  @history_sm-height: 22px;
  @history_sm-total-width: 175px;
  @history_sm-total-height: 2193px;
  @history_sm-image: '../code/img/sprite.png';
  @history_sm: 0px 762px 0px -762px 22px 22px 175px 2193px '../code/img/sprite.png';
  @leads-x: 0px;
  @leads-y: 1025px;
  @leads-offset-x: 0px;
  @leads-offset-y: -1025px;
  @leads-width: 38px;
  @leads-height: 30px;
  @leads-total-width: 175px;
  @leads-total-height: 2193px;
  @leads-image: '../code/img/sprite.png';
  @leads: 0px 1025px 0px -1025px 38px 30px 175px 2193px '../code/img/sprite.png';
  @leads_active-x: 0px;
  @leads_active-y: 1065px;
  @leads_active-offset-x: 0px;
  @leads_active-offset-y: -1065px;
  @leads_active-width: 38px;
  @leads_active-height: 30px;
  @leads_active-total-width: 175px;
  @leads_active-total-height: 2193px;
  @leads_active-image: '../code/img/sprite.png';
  @leads_active: 0px 1065px 0px -1065px 38px 30px 175px 2193px '../code/img/sprite.png';
  @list-x: 0px;
  @list-y: 555px;
  @list-offset-x: 0px;
  @list-offset-y: -555px;
  @list-width: 23px;
  @list-height: 18px;
  @list-total-width: 175px;
  @list-total-height: 2193px;
  @list-image: '../code/img/sprite.png';
  @list: 0px 555px 0px -555px 23px 18px 175px 2193px '../code/img/sprite.png';
  @login-x: 0px;
  @login-y: 393px;
  @login-offset-x: 0px;
  @login-offset-y: -393px;
  @login-width: 14px;
  @login-height: 16px;
  @login-total-width: 175px;
  @login-total-height: 2193px;
  @login-image: '../code/img/sprite.png';
  @login: 0px 393px 0px -393px 14px 16px 175px 2193px '../code/img/sprite.png';
  @logo_affilate-x: 0px;
  @logo_affilate-y: 1187px;
  @logo_affilate-offset-x: 0px;
  @logo_affilate-offset-y: -1187px;
  @logo_affilate-width: 32px;
  @logo_affilate-height: 32px;
  @logo_affilate-total-width: 175px;
  @logo_affilate-total-height: 2193px;
  @logo_affilate-image: '../code/img/sprite.png';
  @logo_affilate: 0px 1187px 0px -1187px 32px 32px 175px 2193px '../code/img/sprite.png';
  @logout-x: 0px;
  @logout-y: 1954px;
  @logout-offset-x: 0px;
  @logout-offset-y: -1954px;
  @logout-width: 44px;
  @logout-height: 44px;
  @logout-total-width: 175px;
  @logout-total-height: 2193px;
  @logout-image: '../code/img/sprite.png';
  @logout: 0px 1954px 0px -1954px 44px 44px 175px 2193px '../code/img/sprite.png';
  @notice-x: 0px;
  @notice-y: 731px;
  @notice-offset-x: 0px;
  @notice-offset-y: -731px;
  @notice-width: 23px;
  @notice-height: 21px;
  @notice-total-width: 175px;
  @notice-total-height: 2193px;
  @notice-image: '../code/img/sprite.png';
  @notice: 0px 731px 0px -731px 23px 21px 175px 2193px '../code/img/sprite.png';
  @partner-x: 0px;
  @partner-y: 700px;
  @partner-offset-x: 0px;
  @partner-offset-y: -700px;
  @partner-width: 29px;
  @partner-height: 21px;
  @partner-total-width: 175px;
  @partner-total-height: 2193px;
  @partner-image: '../code/img/sprite.png';
  @partner: 0px 700px 0px -700px 29px 21px 175px 2193px '../code/img/sprite.png';
  @pen-blue-x: 0px;
  @pen-blue-y: 94px;
  @pen-blue-offset-x: 0px;
  @pen-blue-offset-y: -94px;
  @pen-blue-width: 11px;
  @pen-blue-height: 11px;
  @pen-blue-total-width: 175px;
  @pen-blue-total-height: 2193px;
  @pen-blue-image: '../code/img/sprite.png';
  @pen-blue: 0px 94px 0px -94px 11px 11px 175px 2193px '../code/img/sprite.png';
  @plane-x: 0px;
  @plane-y: 2073px;
  @plane-offset-x: 0px;
  @plane-offset-y: -2073px;
  @plane-width: 175px;
  @plane-height: 120px;
  @plane-total-width: 175px;
  @plane-total-height: 2193px;
  @plane-image: '../code/img/sprite.png';
  @plane: 0px 2073px 0px -2073px 175px 120px 175px 2193px '../code/img/sprite.png';
  @plus-blue-x: 0px;
  @plus-blue-y: 73px;
  @plus-blue-offset-x: 0px;
  @plus-blue-offset-y: -73px;
  @plus-blue-width: 12px;
  @plus-blue-height: 11px;
  @plus-blue-total-width: 175px;
  @plus-blue-total-height: 2193px;
  @plus-blue-image: '../code/img/sprite.png';
  @plus-blue: 0px 73px 0px -73px 12px 11px 175px 2193px '../code/img/sprite.png';
  @print-x: 0px;
  @print-y: 292px;
  @print-offset-x: 0px;
  @print-offset-y: -292px;
  @print-width: 14px;
  @print-height: 14px;
  @print-total-width: 175px;
  @print-total-height: 2193px;
  @print-image: '../code/img/sprite.png';
  @print: 0px 292px 0px -292px 14px 14px 175px 2193px '../code/img/sprite.png';
  @red-arrow-left-x: 0px;
  @red-arrow-left-y: 15px;
  @red-arrow-left-offset-x: 0px;
  @red-arrow-left-offset-y: -15px;
  @red-arrow-left-width: 5px;
  @red-arrow-left-height: 8px;
  @red-arrow-left-total-width: 175px;
  @red-arrow-left-total-height: 2193px;
  @red-arrow-left-image: '../code/img/sprite.png';
  @red-arrow-left: 0px 15px 0px -15px 5px 8px 175px 2193px '../code/img/sprite.png';
  @red-clock-x: 0px;
  @red-clock-y: 1903px;
  @red-clock-offset-x: 0px;
  @red-clock-offset-y: -1903px;
  @red-clock-width: 41px;
  @red-clock-height: 41px;
  @red-clock-total-width: 175px;
  @red-clock-total-height: 2193px;
  @red-clock-image: '../code/img/sprite.png';
  @red-clock: 0px 1903px 0px -1903px 41px 41px 175px 2193px '../code/img/sprite.png';
  @red-plus-x: 0px;
  @red-plus-y: 527px;
  @red-plus-offset-x: 0px;
  @red-plus-offset-y: -527px;
  @red-plus-width: 18px;
  @red-plus-height: 18px;
  @red-plus-total-width: 175px;
  @red-plus-total-height: 2193px;
  @red-plus-image: '../code/img/sprite.png';
  @red-plus: 0px 527px 0px -527px 18px 18px 175px 2193px '../code/img/sprite.png';
  @refresh-x: 0px;
  @refresh-y: 367px;
  @refresh-offset-x: 0px;
  @refresh-offset-y: -367px;
  @refresh-width: 16px;
  @refresh-height: 16px;
  @refresh-total-width: 175px;
  @refresh-total-height: 2193px;
  @refresh-image: '../code/img/sprite.png';
  @refresh: 0px 367px 0px -367px 16px 16px 175px 2193px '../code/img/sprite.png';
  @rejected-sm-x: 0px;
  @rejected-sm-y: 500px;
  @rejected-sm-offset-x: 0px;
  @rejected-sm-offset-y: -500px;
  @rejected-sm-width: 16px;
  @rejected-sm-height: 17px;
  @rejected-sm-total-width: 175px;
  @rejected-sm-total-height: 2193px;
  @rejected-sm-image: '../code/img/sprite.png';
  @rejected-sm: 0px 500px 0px -500px 16px 17px 175px 2193px '../code/img/sprite.png';
  @search-red-x: 0px;
  @search-red-y: 794px;
  @search-red-offset-x: 0px;
  @search-red-offset-y: -794px;
  @search-red-width: 21px;
  @search-red-height: 22px;
  @search-red-total-width: 175px;
  @search-red-total-height: 2193px;
  @search-red-image: '../code/img/sprite.png';
  @search-red: 0px 794px 0px -794px 21px 22px 175px 2193px '../code/img/sprite.png';
  @search-white-x: 0px;
  @search-white-y: 473px;
  @search-white-offset-x: 0px;
  @search-white-offset-y: -473px;
  @search-white-width: 18px;
  @search-white-height: 17px;
  @search-white-total-width: 175px;
  @search-white-total-height: 2193px;
  @search-white-image: '../code/img/sprite.png';
  @search-white: 0px 473px 0px -473px 18px 17px 175px 2193px '../code/img/sprite.png';
  @search-x: 0px;
  @search-y: 1621px;
  @search-offset-x: 0px;
  @search-offset-y: -1621px;
  @search-width: 36px;
  @search-height: 36px;
  @search-total-width: 175px;
  @search-total-height: 2193px;
  @search-image: '../code/img/sprite.png';
  @search: 0px 1621px 0px -1621px 36px 36px 175px 2193px '../code/img/sprite.png';
  @search_active-x: 0px;
  @search_active-y: 1483px;
  @search_active-offset-x: 0px;
  @search_active-offset-y: -1483px;
  @search_active-width: 36px;
  @search_active-height: 36px;
  @search_active-total-width: 175px;
  @search_active-total-height: 2193px;
  @search_active-image: '../code/img/sprite.png';
  @search_active: 0px 1483px 0px -1483px 36px 36px 175px 2193px '../code/img/sprite.png';
  @send-x: 0px;
  @send-y: 341px;
  @send-offset-x: 0px;
  @send-offset-y: -341px;
  @send-width: 17px;
  @send-height: 16px;
  @send-total-width: 175px;
  @send-total-height: 2193px;
  @send-image: '../code/img/sprite.png';
  @send: 0px 341px 0px -341px 17px 16px 175px 2193px '../code/img/sprite.png';
  @settings-x: 0px;
  @settings-y: 826px;
  @settings-offset-x: 0px;
  @settings-offset-y: -826px;
  @settings-width: 24px;
  @settings-height: 22px;
  @settings-total-width: 175px;
  @settings-total-height: 2193px;
  @settings-image: '../code/img/sprite.png';
  @settings: 0px 826px 0px -826px 24px 22px 175px 2193px '../code/img/sprite.png';
  @status-complete-x: 0px;
  @status-complete-y: 1355px;
  @status-complete-offset-x: 0px;
  @status-complete-offset-y: -1355px;
  @status-complete-width: 32px;
  @status-complete-height: 32px;
  @status-complete-total-width: 175px;
  @status-complete-total-height: 2193px;
  @status-complete-image: '../code/img/sprite.png';
  @status-complete: 0px 1355px 0px -1355px 32px 32px 175px 2193px '../code/img/sprite.png';
  @status-live-x: 0px;
  @status-live-y: 1313px;
  @status-live-offset-x: 0px;
  @status-live-offset-y: -1313px;
  @status-live-width: 32px;
  @status-live-height: 32px;
  @status-live-total-width: 175px;
  @status-live-total-height: 2193px;
  @status-live-image: '../code/img/sprite.png';
  @status-live: 0px 1313px 0px -1313px 32px 32px 175px 2193px '../code/img/sprite.png';
  @status-new-x: 0px;
  @status-new-y: 1271px;
  @status-new-offset-x: 0px;
  @status-new-offset-y: -1271px;
  @status-new-width: 32px;
  @status-new-height: 32px;
  @status-new-total-width: 175px;
  @status-new-total-height: 2193px;
  @status-new-image: '../code/img/sprite.png';
  @status-new: 0px 1271px 0px -1271px 32px 32px 175px 2193px '../code/img/sprite.png';
  @status-rejected-x: 0px;
  @status-rejected-y: 1229px;
  @status-rejected-offset-x: 0px;
  @status-rejected-offset-y: -1229px;
  @status-rejected-width: 32px;
  @status-rejected-height: 32px;
  @status-rejected-total-width: 175px;
  @status-rejected-total-height: 2193px;
  @status-rejected-image: '../code/img/sprite.png';
  @status-rejected: 0px 1229px 0px -1229px 32px 32px 175px 2193px '../code/img/sprite.png';
  @user-sm-x: 0px;
  @user-sm-y: 159px;
  @user-sm-offset-x: 0px;
  @user-sm-offset-y: -159px;
  @user-sm-width: 11px;
  @user-sm-height: 12px;
  @user-sm-total-width: 175px;
  @user-sm-total-height: 2193px;
  @user-sm-image: '../code/img/sprite.png';
  @user-sm: 0px 159px 0px -159px 11px 12px 175px 2193px '../code/img/sprite.png';
  @users-x: 0px;
  @users-y: 890px;
  @users-offset-x: 0px;
  @users-offset-y: -890px;
  @users-width: 24px;
  @users-height: 23px;
  @users-total-width: 175px;
  @users-total-height: 2193px;
  @users-image: '../code/img/sprite.png';
  @users: 0px 890px 0px -890px 24px 23px 175px 2193px '../code/img/sprite.png';
  @validate-x: 0px;
  @validate-y: 419px;
  @validate-offset-x: 0px;
  @validate-offset-y: -419px;
  @validate-width: 16px;
  @validate-height: 17px;
  @validate-total-width: 175px;
  @validate-total-height: 2193px;
  @validate-image: '../code/img/sprite.png';
  @validate: 0px 419px 0px -419px 16px 17px 175px 2193px '../code/img/sprite.png';
  @white-check-btn-x: 0px;
  @white-check-btn-y: 247px;
  @white-check-btn-offset-x: 0px;
  @white-check-btn-offset-y: -247px;
  @white-check-btn-width: 17px;
  @white-check-btn-height: 12px;
  @white-check-btn-total-width: 175px;
  @white-check-btn-total-height: 2193px;
  @white-check-btn-image: '../code/img/sprite.png';
  @white-check-btn: 0px 247px 0px -247px 17px 12px 175px 2193px '../code/img/sprite.png';
  @white-check-x: 0px;
  @white-check-y: 115px;
  @white-check-offset-x: 0px;
  @white-check-offset-y: -115px;
  @white-check-width: 12px;
  @white-check-height: 12px;
  @white-check-total-width: 175px;
  @white-check-total-height: 2193px;
  @white-check-image: '../code/img/sprite.png';
  @white-check: 0px 115px 0px -115px 12px 12px 175px 2193px '../code/img/sprite.png';
  @white-plus-x: 0px;
  @white-plus-y: 316px;
  @white-plus-offset-x: 0px;
  @white-plus-offset-y: -316px;
  @white-plus-width: 15px;
  @white-plus-height: 15px;
  @white-plus-total-width: 175px;
  @white-plus-total-height: 2193px;
  @white-plus-image: '../code/img/sprite.png';
  @white-plus: 0px 316px 0px -316px 15px 15px 175px 2193px '../code/img/sprite.png';

