@import './../../../styles/base';


.splash {

  opacity: 1;
  transition: opacity $translate-animation ease-in, height $translate-animation ease-in;

  &.isHide {
    transition: opacity $translate-animation ease-in, height $translate-animation ease-in;
    opacity: 0.01;
  }

  &.isShow {
    transition: opacity $translate-animation ease-in, height $translate-animation ease-in;
    opacity: 1;
  }
}


.example-appear,
.example-enter {
  opacity: 0.01;
}

.example-appear.example-appear-active,
.example-enter.example-enter-active {
  opacity: 0.01;
  transition: opacity 1000ms  ease-in;
}

.wrapper {
  display: block;
  height: 100%;
  opacity: 1;
  transition: opacity 1000ms ease-in, height 1000ms ease-in;


  &.isHide {
    transition: opacity 1000ms ease-in, height 1000ms ease-in;
    opacity: 0.01;
  }

  &.isShow {
    transition: opacity 1000ms ease-in, height 1000ms ease-in;
    opacity: 1;
  }

}

.bottom-links {
  //position: fixed;
  //bottom: 60px;

  .bubble-wrapper {
    width: 27%;
    display: inline-block;
    padding: 0 45px;
    vertical-align: top;
  }

  .bubble {
    min-height: 78px;
    vertical-align: top;

    &:last-child {
      margin-right: 0;
    }
  }
}


h1 {
  opacity: 1;
  transition: opacity 1000ms ease-in;
}

.sophis-video-control {
  display: none;
}
