.allocated-block
  h2.add-subtitle 6. Рекомендуемое снаряжение и необходимые документы
h3.subsection-block_title Рекомендуемое снаряжение:
.subsection-block
  .row
    .col-md-12
      .options-wrapper
        label.label_sm.-inline
          +checkbox('checkbox', 'alias', '-white-yellow')
          | Питание во время тура
        label.label_sm.-inline
          +checkbox('checkbox', 'host', '-white-yellow')
          | Проживание во время тура
        label.label_sm.-inline
          +checkbox('checkbox', 'med', '-white-yellow')
          | Медицинская страховка
        label.label_sm.-inline
          +checkbox('checkbox', 'visa', '-white-yellow')
          | Виза
        label.label_sm.-inline
          +checkbox('checkbox', 'guide', '-white-yellow')
          | Гид на время тура
        label.label_sm.-inline
          +checkbox('checkbox', 'more', '-white-yellow')
          | Еще что-то
  .row
    .col-md-4
      input.g_input
    .col-md-8
      .media
        button.simple-btn.-more-sqr.-yellow.fll <span class="plus">+</span> Добавить пункт
        .media-body.std-line
          .g_file_adj Можете добавить сразу несколько пунктов, написав их через запятую
h3.subsection-block_title Необходимые документы:
.subsection-block
  .row
    .col-md-12
      .options-wrapper
  .row
    .col-md-4
      input.g_input
    .col-md-8
      .media
        button.simple-btn.-more-sqr.-yellow.fll <span class="plus">+</span> Добавить пункт
        .media-body.std-line
          .g_file_adj Можете добавить сразу несколько пунктов, написав их через запятую