.allocated-block
  h2.add-subtitle 8. Блок «Вы один из нас»
ul.simple-list.-yellow
  li
    textarea.g_textarea(placeholder="Напишите в этом разделе")
  li
    textarea.g_textarea(placeholder="А в этом разделе напишите вот это и это")
  li
    textarea.g_textarea(placeholder="А в этом разделе напишите вот это и это")
.add-more-center
  button.simple-btn.-more-sqr.-yellow <span class="plus">+</span> Добавить еще одно описание
