.allocated-block.-yellow
  h2.add-subtitle.ta-c Ура, вы справились!
  p.md.ta-c Рекомнедуем все тщательно проверить и можно опубликовывать ваш тур!
  .buttons-center
    button.-more-sqr.transparent-btn.-lg.-dark-blue  Предварительный просмотр
    button.simple-btn.-more-sqr.-yellow.-lg Опубликовать тур