
+b_channel('channel-logo1.png', 'ESPN 3', '(67)', 'channel.html')
+b_channel('channel-logo2.png', 'ESPN 3', '(6)', 'channel.html')
+b_channel('channel-logo1.png', 'ESPN 3', '(6)', 'channel.html')
+b_channel('channel-logo2.png', 'Fox Soccer Plus Fox Soccer Plus Fox Soccer Plus Fox Soccer Plus', '(6)', 'channel.html')

