.clearfix.b_tables_header
    .col-xs-2.b_table_col-1
        .b_two-number-width #
    .col-xs-6.b_table_col-2 Player
    .col-xs-2.b_table_col-3 Goals
    .col-xs-2.b_table_col-4 Pen.
.b_tables_body
   +b_comp-scorers_row('1', 'L.Suarez', 'Chelsea Football club', '22', '0')
   +b_comp-scorers_row('2', 'L.Suarez', 'Arsenal', '26', '2')
   +b_comp-scorers_row('3', 'L.Suarez', 'Manchester City', '4', '2')
   +b_comp-scorers_row('14','L.Suarez',  'Liverpool', '0', '0')


