+b_statline ('Possession', '63', '63%', '37', '37%')
+b_statline ('Shots Total', '6', '66%', '3', '33%')
+b_statline ('Yellow Cards', '2', '20%', '8', '80%')
+b_statline ('Offsides', '0', '00%', '3', '100%')