+b_gray-title('-center', 'Squad')
+b_lineup('D. Lopez', '14', '(G)', 'T. Courtois', '13', '(G)')
+b_lineup('Pepe', '9', '(G)', 'D. Godín', '33', '(D)')
+b_lineup('S. Ramos', '11', '(D)', 'Godín', '3', '(M)')
+b_gray-title('-center', 'Substitutes')
+b_lineup('I. Casillas', '1', '', 'D. Aranzubía', '1', '')
+b_lineup('D. Carvajal', '15', '', 'R. García', '8', '')