+b_event ('left', 'red-card', '5', 'Koke', '' )
+b_event ('right', 'yellow-card', '43', 'Koke F. Coentrão ', '' )
+b_event ('right', 'goal', '37', 'F. Coentrão', '' )
+b_event ('left', 'yellow-red-card', '78',  'F. Coentrão', '' )
+b_event ('left', 'replacement', '68',  'F. Coentrão', 'Á. Arbeloa' )
+b_event ('right', 'replacement', '48',  'D. Simeone', 'P. Pedro' )
+b_event ('left', 'goal', '28',  'D. Simeone', '' )