

//
//@-webkit-keyframes progress {
//  0% {width: 100%; background-color: #8fbd21;  }
//  100% { width: 0%; background-color: #ff9c00; }
//}
//
//@-webkit-keyframes timer {
//  0% {width: 100%; color: #8fbd21;  }
//  100% { width: 0%; color: #ff9c00; }
//}