.-icon-sm {
  width: 15px;
  height: 15px;
}

.-icon-xs {
  width: 10px;
  height: 10px;
}

.-fill-green {
  fill: @green-main;
}

.-fill-white {
  fill: #ffffff;
}

.-fill-red {
  fill: @red-dark;
}

.-fill-gray {
  fill: #b1b1b1;
}

.-fill-blue {
  fill: @blue-main;
}

.calendar-picker {
  .-icon-sm();
  .-fill-white();
}

.search-sm {
  .-icon-sm();
  .-fill-gray();
}

.order-status {
  width: 24px;
  height: 24px;
  fill:  #bbc4c5;
}

.bell-sm {
  width: 16px;
  height: 18px;
  fill: @red-dark;
}

.sandglass-sm {
  fill: #dfc022;
  width: 16px;
  height: 18px;
}

.flag-md {
  width: 20px;
  height: 20px;
}

.flag-sm-md {
  width: 14px;
  height: 14px;
}

.flag-sm {
  width: 8px;
  height: 8px;
}

.message-md {
  width: 20px;
  height: 20px;
}

.car-md {
  width: 20px;
  height: 20px;
}

.car-sm {
  width: 14px;
  height: 14px;
}


.clock-sm {
  width: 11px;
  height: 10px;
  background-color: #fff;
  border-radius: 50%;
}
