.g_input-wrapper
  i.icon.globus.icon-right.js-open-select-region
  .g_input.js-open-select-region.flex-height(type="text", placeholder="Выберите регион из списка")
  input.open-select-region_hidden(name="tour[region_id]" type="hidden")
