.container
   .breadcrambs_list
      a.breadcrambs_link(href="index.html") Главная
      a.breadcrambs_link.active(href="about.html") О компании
   .row
      .col-xl-3.col-lg-4.hidden-md-down
         include ../includes/aside-menu
      .col-xl-6.col-lg-8
         .secondary-content-wrapper.-normal.-clear-margin.-sm-bottom-padding
            h1.-page-title О компании
         .videoWrapper
            <iframe width="640" height="360" src="https://www.youtube.com/embed/CmOc7EpFen8?controls=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
         .secondary-content-wrapper.-normal.-clear-margin.-sm-bottom-padding
            p Компания «Лендвери» занимается продажей дверей с 2005 года и уже заслужила доверие покупателей. Мы продаем по-настоящему качественные двери по низким ценам. Компания не работает с китайскими производителями, так как их продукция не удовлетворяет нашим жестким стандартам.
            p Тщательный выбор поставщиков позволяет нам гарантировать качество и надежность любой двери из нашего огромного ассортимента.
            p Несмотря на высокое качество нашей продукции, мы сохраняем цены минимальными за счет сокращения внутренних издержек, автоматизации всех процессов и грамотной логистики. Мы не тратим средства на содержание нескольких магазинов — он у нас всего один, зато удобно расположен, а консультанты — настоящие профессионалы, которые знают все о нашей продукции и быстро помогут подобрать то, что вам нужно. Ознакомьтесь с богатым ассортиментом входных дверей в нашем выставочном зале в центре Петербурга. Представительство нашей компании есть и в Москве.
            p Изначально компания «Лендвери» работала только с застройщиками. С 2008 года мы продаем двери в розницу, а в 2009 году был создан сайт, чтобы вы могли удобнее и быстрее совершать покупки. Но мы на этом не останавливаемся: теперь наши двери можно приобрести в рассрочку.
            p Кроме того, мы известны своей сервисной службой, в которой работают настоящие профессионалы. Любая дверь есть у нас на складе, и специалисты смогут установить ее Вам в течение 24 дней.
            p Стать магазином № 1 по объему продаж в Москве и Санкт-Петербурге – вот наша цель. Мы внимательно следим за качеством нашей продукции и сервиса и делаем процесс приобретения дверей удобным для наших покупателей.
            p Мы работаем ежедневно без обеда и выходных, с 9:00 до 21:00.
            p «Лендвери» — хранит тепло и уют вашего дома, день за днем из года в год.
            hr.space
            h2.-block-title-sm Реквизиты
            p ООО «Буква» ТМ Лендвери<br/>Юридический адрес: 192029, Санкт-Петербург, пр. Обуховской обороны 70 корп 3 литер А помещение 21-Н
            p ОГРН: 1117847646300 <br/>ИНН: 7838469516<br/>E-mail: info@lendveri.ru
         include ../includes/partners

      .col-xl-3.hidden-lg-down
         include ../includes/aside-banner
   .row
      .col-xs-12
         h2.ta-c.-block-title
            +svg('flame', 'flame-md')
            span Горячая пятерка дверей, покупаемых в кредит
   include ../includes/products-list_similar