.container
   .row
      .col-xl-3.col-lg-4.hidden-md-down
         include ../includes/aside-menu
      .col-xl-5.col-lg-8
         .actions-list-wrapper
            h1 Акции
            include ../includes/actions-list
      .col-xl-3.hidden-lg-down
         include ../includes/aside-banner
   .row
      .col-xs-12
         h2.ta-c.-block-title
            +svg('flame', 'flame-md')
            span Горячая пятерка дверей, покупаемых в кредит
   include ../includes/products-list_similar

