.container
   .row
      .col-xl-9.col-lg-8
         .row.catalog-header
            .col-xl-4.col-lg-4.col-xs-7
               h1 Входные двери
            .col-xl-8.col-lg-8.col-xs-5.ta-r
               button.btn.btn-transparent.btn-md_mod.hidden-lg-up#show-aside-filter
                  span Фильтр
                  +svg('arrow-right', 'arrow-right-icon arrow-right-sm -bright')
               .hidden-md-down
                  include ../includes/filters-panel
         .js-paginator.preloader-container(style="display: none;")
            include ../includes/preloader
         include ../includes/products-list_catalog
         include ../includes/product-teaser
         include ../includes/products-list_catalog
         button.btn.btn-transparent.btn-lg_mod.btn-full Показать ещё
         include ../includes/paginator
      .col-xl-3.col-lg-4
         include ../includes/filters-aside