.container
   .breadcrambs_list
      a.breadcrambs_link(href="index.html") Главная
      a.breadcrambs_link.active(href="delivery.html") Доставка
   .row
      .col-xl-3.col-lg-4.hidden-md-down
         include ../includes/aside-menu
      .col-xl-6.col-lg-8
         .secondary-content-wrapper.-clear-margin
            h1.-page-title Доставка
            h2.-block-title-sm Как заказать?
            p Заказ можно сделать по телефону 8 812 309-13-74 или на этом сайте. Вы также можете заказать дверь в выставочном центре. В день заказа с вами свяжется замерщик и договорится о удобном для вас времени замера. При заказе двери, замер осуществляется бесплатно.
            hr.space
            h2.-block-title-sm Доставка и установка
            p Доставка и установка осуществляются на следующий день после замера. Акция: доставка + установка — 3000.- бесплатно, до 30.04.2016. Указаные цены действительны на территории льготной доставки. При заказе двери в область, к стоимости прибавляется 30р./км от территории льготной доставки.
            h2.-block-title-sm Территория льготной доставки
            .g-tabs.-md
               a.g-tab.active.js-show-tab(data-tablink="spb-delivery") Санкт-Петербург
               a.g-tab.js-show-tab(data-tablink="msk-delivery") Москва
               a.g-tab.js-show-tab(data-tablink="nsk-delivery") Новосибирск
            p Двери в наличии.  Доставка и установка на следующий день после замера. Оплата после установки. Доставка в выделенной области – бесплатно, доставка за пределы выделенной области – 30р./км
         a.center-img(href="#")
            img.img-fluid.js-tab_content#spb-delivery-content(src="https://www.granitdveri.ru/i/delivery/spb.jpg")
            img.img-fluid.js-tab_content#msk-delivery-content(src="https://www.granitdveri.ru/i/delivery/spb.jpg" style="display: none;")
            img.img-fluid.js-tab_content#nsk-delivery-content(src="https://www.granitdveri.ru/i/delivery/spb.jpg" style="display: none;")
         .secondary-content-wrapper.-clear-margin
            h2.-block-title-md Предварительный расчет стоимости доставки
         .stripped-list
            .stripped-item
               .stripped-col Бугры
               .stripped-col.ta-r 60.-
            .stripped-item
               .stripped-col Волосово
               .stripped-col.ta-r 2 100.-
            .stripped-item
               .stripped-col Гатчина
               .stripped-col.ta-r 240.-
            .stripped-item
               .stripped-col Зеленогорск
               .stripped-col.ta-r 050.-
            .stripped-item
                .stripped-col Кингисепп
                .stripped-col.ta-r 000.-
            .stripped-item
                .stripped-col Кириши
                .stripped-col.ta-r 2 800.-

         .secondary-content-wrapper.-clear-margin
            h2.-block-title-md Стоимость дополнительных работ
            p Подъем двери при отсутствии или неработающем грузовом лифте
         .stripped-list
            .stripped-item
                  .stripped-col Гранит Т1
                  .stripped-col.ta-r 100.- / этаж
            .stripped-item
               .stripped-col Гранит Т2
               .stripped-col.ta-r 100.- / этаж
            .stripped-item
               .stripped-col Гранит Т3
               .stripped-col.ta-r 100.- / этаж
         .secondary-content-wrapper.-clear-margin
            h2.-block-title-md Увеличение проема
         .stripped-list
            .stripped-item
               .stripped-col По ширине
               .stripped-col.ta-r 1000.- / одна сторона
            .stripped-item
               .stripped-col По высоте
               .stripped-col.ta-r 600.- / одна сторона
         .secondary-content-wrapper.-clear-margin
            h2.-block-title-md Стоимость демонтажа старой двери
         .stripped-list.-mb
            .stripped-item
               .stripped-col Двери ПВХ в новостройках
               .stripped-col.ta-r Бесплатно
            .stripped-item
               .stripped-col Деревянная дверь
               .stripped-col.ta-r  300.-

      .col-xl-3.hidden-lg-down
         include ../includes/aside-banner
         hr.space
         include ../includes/client-memo
   .row
      .col-xs-12
         h2.ta-c.-block-title
            span Недавно просмотренные
   include ../includes/products-list_similar