.container
   .not-found-wrapper
      .not-found-img
         span 4
         +svg('thief', 'thief-xl')
         span 4
      .not-found-subtitle Что-то пошло не так...
      p Такой страницы не существует
      a.btn.btn-transparent.btn-lg_mod На главную страницу


