.container
   .breadcrambs_list
      a.breadcrambs_link(href="index.html") Главная
      a.breadcrambs_link.active(href="warranty.html") Гарантия
   .row
      .col-xl-3.col-lg-4.hidden-md-down
         include ../includes/aside-menu
      .col-xl-6.col-lg-8
         .secondary-content-wrapper
            h1.-page-title Гарантия
            p Мы работаем только с лучшими фабриками, которые отвечают за качество своей продукции. Все входные, межкомнатные двери, замки и фурнитура имеют гарантию от производителя.
            hr.space
            p Мы даем гарантию на установку дверей:
            hr.space
            ul.simple-list.-indent
               li • Гранит — 10 лет
               li • Эльбор — 3 лет
               li • Кондор — 2 года
               li • Межкомнатных дверей — 1-3 года
            p В случае возникновения страховой ситуации обращайтесь в сервисную службу по телефону, указанному в паспорте Вашей двери.
            hr.space
            p В спорных ситуациях обращайтесь к нашим специалистам по телефону на сайте. Они помогут быстро разрешить Вашу проблему.
            hr.space
            h2.-block-title-sm Возврат продукции
            p Если в течение гарантийного срока указанного в паспорте изделия (должен быть указан при монтаже двери), в процессе эксплуатации выявится заводской брак, мы обменяем приобретенную дверь на новую или вернём вам деньги. Ответственность магазина «Лендвери» не может превышать цены бракованного изделия. Претензии на конструктивно измененный товар не принимаются.
            hr.space
            p В соответствии со ст. 476 ГК РФ Поставщик отвечает за некачественный товар, если Покупатель докажет, что недостатки изделия возникли до его передачи Покупателю или по причинам, возникшим до этого момента. В этой связи, во избежание недоразумений, настоятельно рекомендуем:
            ul.simple-list.-indent
              li  • При получении заказа тщательно осмотрите его и убедитесь, что продукция соответствует предъявляемым требованиям по качеству, укомплектованности и внешнему виду;
            hr.space
            ul.simple-list.-indent
              li • Перед установкой ещё раз осмотрите двери и только после этого производите монтаж и утилизируйте заводскую упаковку.

      .col-xl-3.hidden-lg-down
         include ../includes/aside-banner
   .row
      .col-xs-12
         h2.ta-c.-block-title
            +svg('flame', 'flame-md')
            span Горячая пятерка дверей, покупаемых в кредит
   include ../includes/products-list_similar