.container
   .row
      .col-xl-3.col-lg-4.hidden-md-down
         include ../includes/aside-menu
      .col-xl-6.col-lg-8
         .secondary-content-wrapper.-clear-pad
            .secondary-content-wrapper_inner
               h1.-page-title Кредит/рассрочка за 5 минут
               p Мы работаем с банком «Русский стандарт» — это выгодные тарифы и обширная сеть филиалов.
            .secondary-content-wrapper_inner.-gray
               a.rsb-md-wrapper
                  +svg('rsb', 'rsb-md rsb-icon')
               include ../includes/credit-descr
            .secondary-content-wrapper_inner
               p Сумма первого платежа и  порядок выплат согласовывается вами во время телефоннго разговора с сотрудником банка.
               .h1 Как это работает?
            .secondary-content-wrapper_inner.-gray
               .media.passport-wrapper
                  .media-left.media-middle
                     +svg('passport','passport-md')
                  .media-body.media-middle
                     .h1 Внимание!
                     p Для оформления кредита/рассрочки вам потребуется паспорт гражданина РФ или иной документ, подтверждающий личность.
            .secondary-content-wrapper_inner
               .step-item
                  h2 Шаг 1
                  p Выберите понравившуюся дверь. Рядом с дверью нажмите на кнопку "В кредит за 5 минут". В открывшейся форме укажите имя, телефон. Далее заказ переводится на сайт банка, где вам надо будет заполнить небольшую анкету, после чего сотрудник банка свяжется с вами втечение получаса.
               .step-item
                  h2 Шаг 2
                  p Как только кредит одобрят, мы позвоним вам, уточним детали заказа и пригласим замерщика.
               .step-item
                  h2 Шаг 3
                  p После замера, банк пригласит вас в ближайшее отделение для подписания договора.
               .step-item
                  h2 Шаг 4
                  p Мы привозим и устанавливаем вам дверь. Первый взнос - оплачивается в момент установки двери.
      .col-xl-3.hidden-lg-down
         include ../includes/aside-banner_mod
         include ../includes/product-item
   .row
      .col-xs-12
         h2.ta-c.-block-title
            +svg('flame', 'flame-md')
            span Горячая пятерка дверей, покупаемых в кредит
   include ../includes/products-list_similar

