.container
  .row.banners-block
    .col-xl-9.col-lg-8
      include ../includes/banner
    .col-xl-3.col-lg-4.clearfix
      img.img-fluid.flr(src="img/standart-banner.jpg")
  include  ../includes/info-main
  include  ../includes/article-preview
  .row.products-list_block
    .col-xl-3
      include  ../includes/product-item
    .col-xl-3
      include  ../includes/product-item