.container
  .row.banners-block
    .col-xl-9.col-lg-8
      include ../includes/banner
    .col-xl-3.col-lg-4.clearfix
      include ../includes/aside-banner
  include  ../includes/info-main

  .row
    .col-xl-12
      h2.ta-c.-block-title
        +svg('flame', 'flame-md')
        span Горячая десятка входных дверей

  include ../includes/products-list_hot

  // Карусель статей
  include  ../includes/artlcles-carusel

  include  ../includes/partners

  include  ../includes/producers-list

