.container
   .breadcrambs_list
      a.breadcrambs_link(href="index.html") Главная
      a.breadcrambs_link.active(href="low-info.html") Правовая информация
   .row
      .col-xl-3.col-lg-4.hidden-md-down
         include ../includes/aside-menu
      .col-xl-6.col-lg-8
         .secondary-content-wrapper.-normal
            h1.-page-title Правовая информация
            p Посетители официального Интернет — сайта ООО «Буква» ТМ Лендвери: http://www.lendveri.ru (далее — «Сайт») считаются надлежаще ознакомленными и полностью принявшими настоящие Правила пользования Сайтом (далее — «Правила») без каких-либо ограничений и оговорок.
            hr.space
            h2.-block-title-sm Содержание Сайта
            p Все содержащиеся на настоящем Сайте сведения носят исключительно информационный характер. Информация, представленная на Сайте, не является исчерпывающей. Указанные на Сайте цены, комплектации и технические характеристики могут быть изменены ООО «Буква» в любое время без уведомления пользователей Сайта. В зависимости от модели и комплектации двери, фурнитура, замки, внешний вид, могут отличаться по виду от изображенных на Сайте. Оттенок цвета реальной двери может отличаться от представленного на Сайте изображения в связи с техническими возможностями цветопередачи. Данные о стоимости дополнительных услуг даны для идеальных условий и могут отличаться в зависимости от геометрии, материала дверного проема и места установки двери.
            hr.space
            h2.-block-title-sm Цены
            p Сведения о ценах, содержащиеся на Сайте, носят исключительно информационный характер, являются ориентировочными и могут отличаться от действительных розничных цен. Вся представленная на Сайте информация, касающаяся комплектаций, технических характеристик, цветовых сочетаний, стоимости дверей, услуг, сервисного обслуживания, дополнительного оборудования, условий приобретения и т. п., ни при каких условиях не является публичной офертой, определяемой положениями ст. 437 Гражданского кодекса Российской Федерации.
            hr.space
            h2.-block-title-sm Уведомление об авторских правах
            p ООО «Буква» стремится сделать данный Сайт актуальным и полезным. Мы надеемся, что он понравится вам так же, как нам. При этом просим Вас проявить понимание, что использование информации (текстовой, графической, аудиовизуальной и иной), размещаемой на данном Сайте, может осуществляться только при условии соблюдения требований законодательства Российской Федерации об авторском праве и интеллектуальной собственности, а также настоящих Правил.
            p Информация, размещенная на Сайте, может быть использована вами только в некоммерческих (личных, ознакомительных, исследовательских и прочих аналогичных) целях. Посетители сайта не вправе использовать информацию в каких-либо коммерческих целях, в том числе не вправе воспроизводить, изменять, транслировать, публиковать на других Интернет-сайтах, рассылать или публиковать информацию полностью или в части без предварительного письменного согласия ООО «Буква». Дизайн, структура Сайта, изображение, графика, текст и иные элементы, являющиеся объектом охраны по законодательству Российской Федерации, также не могут воспроизводиться полностью или частично для создания новых информационных объектов или для каких-либо иных целей, нарушающих указанное законодательство, а также не могут распространяться путем создания копий на любых носителях без письменного разрешения ООО «Буква».
            hr.space
            h2.-block-title-sm Товарные знаки
            p Все товарные знаки, логотипы, фирменные наименования или обозначения (в том числе словесные, изобразительные, объемные и другие обозначения или их комбинации), содержащиеся на Сайте, являются собственностью ООО «Буква» или третьего лица. Их размещение на Сайте не может рассматриваться как разрешение или предоставление прав на их использование без предварительного письменного согласия правообладателя. Лендвери — торговая марка ООО «Буква».
            hr.space
            h2.-block-title-sm Ссылки
            p ООО «Буква» никоим образом не контролирует ссылки на свой Сайт из любых других сайтов. Ссылки из информационного пространства данного Сайта на другие сайты предоставляются исключительно для удобства навигации, без какого — либо контроля содержания этих сайтов.
            hr.space
            h2.-block-title-sm Ограничение ответственности
            p Компания ООО «Буква» делает все возможное, чтобы содержащаяся на Сайте информация соответствовала действительности. Однако ООО «Буква» не гарантирует абсолютную точность, полноту или достоверность информации, содержащейся на Сайте, не отвечает за неточности, возможные ошибки или другие недостатки в размещаемой информации, за ее несвоевременность, а также не гарантирует бесперебойную работу Сайта.
            p ООО «Буква» не несет ответственности за информацию оставленную посетителями сайта в разделе Отзывы и на детальных страницах продаваемой продукции. ООО «Буква» не несет ответственности за неблагоприятные последствия, а также за любые убытки, причиненные либо вследствие ограничения доступа, либо вследствие посещения Сайта и использования размещенной на Сайте информации, включая, но, не ограничиваясь, убытками за потерю данных и прибыли, а также за убытки, причиненные вирусами, нанесшими ущерб вашему компьютерному оборудованию.
            hr.space
            h2.-block-title-sm Сведения о посетителях
            p Любые сведения о посетителях, предоставляемые самими посетителями Сайта, используются ООО «Буква» исключительно для целей совершенствования предоставляемых вам услуг и качества обслуживания посетителей Сайта, ведения статистики посещения Сайта. ООО «Буква» прилагает все усилия для обеспечения безопасности сбора, передачи и хранения данных о пользователях Сайта в соответствии с характером этих данных, а также к тому, чтобы предоставленные вами сведения личного характера не использовались без вашего согласия для направления не затребованных вами сообщений или для передачи третьим лицам. ООО «Буква» обязуется использовать, хранить и обрабатывать запрошенную информацию личного характера о посетителях Сайта с учетом требования законодательства Российской Федерации (Федеральный закон Российской Федерации от 27 июля 2006 г. № 152-ФЗ «О персональных данных»).
            p ООО «Буква» оставляет за собой право по своему усмотрению периодически проверять оставленную посетителями информацию, редактировать и удалять ее с Сайта без объяснения причин.
            hr.space
            h2.-block-title-sm Изменение Правил
            p ООО «Буква» сохраняет за собой право на пересмотр, изменение и дополнение текста и условий настоящих Правил в любое время без предварительного уведомления посетителей. Подобные изменения вступают в силу с момента их размещения на Сайте. Использование посетителем материалов Сайта после изменения настоящих Правил автоматически означает ознакомление посетителем с обновленными Правилами и их принятие.
            hr.space
            p ООО «Буква» ТМ Лендвери


      .col-xl-3.hidden-lg-down
         include ../includes/aside-banner
   .row
      .col-xs-12
         h2.ta-c.-block-title
            +svg('flame', 'flame-md')
            span Горячая пятерка дверей, покупаемых в кредит
   include ../includes/products-list_similar