.container
   .breadcrambs_list
      a.breadcrambs_link(href="index.html") Главная
      a.breadcrambs_link.active(href="news.html") Новости
   .row
      .col-xl-3.col-lg-4.hidden-md-down
         include ../includes/aside-menu
      .col-xl-6.col-lg-8
         .actions-list-wrapper.clear-margin
            h1 Новости
            include ../includes/news-list
         include ../includes/paginator
      .col-xl-3.hidden-lg-down
         include ../includes/aside-banner
   .row
      .col-xs-12
         h2.ta-c.-block-title
            span Недавно просмотренные
   include ../includes/products-list_similar

