.container
  include ../includes/breadcrambs
  .product-page_row
    .row.row-xs-xs.hidden-lg-up
      .col-md-7.col-xs-7.clearfix.feedback-block
        .art-block.fll Арт. 303
        .fll
          .stars-block
            +svg('star', 'star-sm star-icon -active')
            +svg('star', 'star-sm star-icon -active')
            +svg('star', 'star-sm star-icon -active')
            +svg('star', 'star-sm star-icon -active')
            +svg('star', 'star-sm star-icon')
          .small 23 Отзыва
      .col-md-5.col-xs-5.clearfix
        .g-tag-split.flr.-right
          .g-tag.-new-clear.hidden-lg-down Новинка
          .g-tag.-hit Хит продаж
    h1.product-title Йошкар-Ола Триумф Квадро Зеркало (Венге - Беленый дуб)
    .product-page_left
      #gallery.simplegallery
        .gallery-content
          img.image_1(src="img/product--lg-img-1.jpg")
          img.image_2(src="img/product--lg-img-2.jpg")
          img.image_3(src="img/product--lg-img-3.jpg")
        .thumbnail.clearfix
          .thumb.active
            a(rel="1")
              img#thumb_1.img-fluid(src="img/product-img-1.jpg")
          .thumb
            a(rel="2")
              img#thumb_2.img-fluid(src="img/product-img-2.jpg")
          .thumb
            a(rel="3")
              img#thumb_3.img-fluid(src="img/product-img-3.jpg")
    .product-page_right
      .row.hidden-md-down
        .col-md-7
          .product_print-block#js-print
            +svg('print', 'print-sm print-icon')
            span.product_print-title Распечатать
        .col-md-5.product_share-block
          span.product_share-title Поделиться:
          a.product_share-link
            +svg('s-vk', 's-vk-sm s-vk-icon product_share-icon')
          a.product_share-link
            +svg('ok', 'ok-sm ok-icon product_share-icon')
          a.product_share-link
            +svg('fb', 'fb-sm fb-icon product_share-icon')

      .row.row-xs-xs.hidden-md-down
        .col-md-7.col-xs-7.clearfix.feedback-block
          .art-block.fll Арт. 303
          .fll
            .stars-block
              +svg('star', 'star-sm star-icon -active')
              +svg('star', 'star-sm star-icon -active')
              +svg('star', 'star-sm star-icon -active')
              +svg('star', 'star-sm star-icon -active')
              +svg('star', 'star-sm star-icon')
            .small 23 Отзыва
        .col-md-5.col-xs-5.clearfix
          .g-tag-split.flr.-right
            .g-tag.-new-clear.hidden-lg-down Новинка
            .g-tag.-hit Хит продаж
      .row
        .col-md-12.product_availability-page
          .product-item_availability.-in-stock
            +svg('check', 'check-sm')
            span На складе в Санкт-Петербурге, установка с 9 февраля
      .row
        .col-md-7.product_prices
          .product_prices_old-price-wrapper
            .product-item_old-price.-md 31 500.-
            .info-link ?
          .product_price-lg.-indent 27 900.-
        .col-md-5.product-colors.hidden-md-down
          +svg('colors', 'colors-sm colors-icon')
          a.link-underscore.-link Есть другие цвета
      .row
        .col-xl-7.col-lg-8.col-md-12.product_button-block
          button.btn.btn-xl.btn-std  Заказать
          .product_button-secondary
            a.g-icon-text_wrapper.-sm-size
              .g-icon-text_icon
                +svg('compare', 'compare-sm compare-icon g-icon-text_icon-inner')
              .g-icon-text_text.-light К сравнению

            a.g-icon-text_wrapper.-sm-size.js-bookmark(rel="sidebar")
              .g-icon-text_icon
                +svg('bookmark', 'bookmark-sm bookmark-icon g-icon-text_icon-inner')
              .g-icon-text_text.-light В закладки

        .col-xl-5.col-lg-4.col-md-12.product-horizon-block
          .g-icon-text_wrapper
            .g-icon-text_icon.-xs-right.hidden-lg-down
              +svg('thief', 'thief-md')
            .g-icon-text_text.-middle
              a.link-underscore.-multi-line(href="#descr-content-hor")
               span Горизонт
               br
               span безопасности
      .row.credit-block
        .col-xl-7.col-lg-9.col-xs-9.credit-block-text
          a.link-underscore Купить в кредит/рассрочку
          span.credit-block-text-beetween за
          .product-item_old-price.-md.-no-through  1 990.-/мес
        .col-xl-5.col-lg-3.col-xs-3.credit-block-icon
          a.rsb-icon_wrapper(href="http://www.rsb.ru/")
            +svg('rsb', 'rsb-sm rsb-icon')
      .row
        .col-xl-6.col-lg-5.col-sm-6.product-round_elem
          .media
            .media-left.media-middle
              .round-main.round-sm.fll
                span 10
            .media-body.media-middle
              h4.info-main_title Гарантия 10 лет
        .col-xl-6.col-lg-7.col-sm-6.product-round_elem
          .media
            .media-left.media-middle
              .round-main.round-sm.fll
                +svg('quality', 'quality-sm')
            .media-body.media-middle.media-body-diff
              .product_prices_old-price-wrapper
                .product-item_old-price.-sm-md 3 000.-
                h4.info-main_title Бесплатно
                .info-link ?
              p Замер, доставка и установка
  .product-page_descr#descr-content-hor(name="descr-content-hor")
    .row
      .col-md-12
        .g-tabs
          a.g-tab.link-underscore.-lg.active.js-show-tab(data-tablink="descr")  Описание
          a.g-tab.link-underscore.-lg.js-show-tab(data-tablink="characteristics")  Характеристики
          a.g-tab.link-underscore.-lg.js-show-tab(data-tablink="reviews") Отзывы (6)
          a.g-tab.link-underscore.-lg.js-show-tab(data-tablink="quest") Вопросы и ответы (7)
    .product-tab_content#descr-content
      include ../includes/product-tabs/tab-descr
    .product-tab_content#quest-content(style="display: none;")
      include ../includes/product-tabs/tab-questions
    .product-tab_content#reviews-content(style="display: none;")
      include ../includes/product-tabs/tab-reviews
    .product-tab_content#characteristics-content(style="display: none;")
      h2.-block-title Характеристики
      p Характеристики
  h2.ta-c.-block-title Похожие двери
  include ../includes/products-list_similar