.container
   .breadcrambs_list
      a.breadcrambs_link(href="index.html") Главная
      a.breadcrambs_link.active(href="return.html") Обмен и возрат
   .row
      .col-xl-3.col-lg-4.hidden-md-down
         include ../includes/aside-menu
      .col-xl-6.col-lg-8
         .secondary-content-wrapper.-normal
            h1.-page-title Обмен и возрат
            p В случае, если приобретенные в нашем магазине товары не подошли вам по форме, размеру, габаритам, расцветке и т.д., при этом товар не был в употреблении (т.е. не был установлен на пену), сохранены его товарный вид, потребительские свойства, заводская упаковка, то в течение 14-ти дней вы можете обратиться к нам с заявлением на обмен на аналогичный товар или возврат денежных средств, если аналогичного товара нет в наличии. Доставка обмениваемого или возвращаемого товара на склад организуется и оплачивается покупателем.
            p Внимание: не подлежат обмену и возврату товары изготовленные на заказ по индивидуальным размерам.
            p При отказе Покупателя от заказанного Товара Продавец удерживает из суммы, уплаченной Покупателем за Товар в соответствии с договором, расходы Продавца на доставку от Покупателя возвращённого товара.
            p Покупатель обязан вернуть товар в пункт выдачи товара Продавца за свой счет. Для возврата товара обратитесь в магазин дверей "Двери Гранит". Также мы можем сами забрать у Вас товар, но при этом Вы оплачиваете транспортные расходы. О порядке и стоимости транспортных расходов по возврату товара надлежащего качества, уточняйте у менеджеров нашего call-центра по телефонам, указанным на сайте.
            p ВНИМАНИЕ! Согласно п.1 ст. 25 Закона РФ «О защите прав потребителей» от 07.02.1992 № 2300-1 невозможен возврат товара, бывшего в употреблении. Также покупатель не вправе возвратить товары надлежащего качества, указанные в Перечне непродовольственных товаров надлежащего качества, не подлежащих возврату или обмену, утвержденном Постановлением Правительства РФ от 19.01.1998 № 55.
            p Обмен и возврат товара производиться на основании Заявления, заполненного и подписанного Покупателем.
            p При возврате Покупателем товара надлежащего качества составляются накладная или акт о возврате товара. Продавец возвращает Покупателю стоимость оплаченного товара, за вычетом стоимости доставки товара, в течение десяти дней со дня предъявления Покупателем соответствующего требования.
            hr.space
            h2.-block-title-sm Возврат продукции
            p Если в течение гарантийного срока указанного в паспорте изделия (должен быть указан при монтаже двери), в процессе эксплуатации выявится заводской брак, мы обменяем приобретенную дверь на новую или вернём вам деньги. Ответственность магазина «Двери Гранит» не может превышать цены бракованного изделия. Претензии на конструктивно измененный товар не принимаются.
            p В соответствии со ст. 476 ГК РФ Поставщик отвечает за некачественный товар, если Покупатель докажет, что недостатки изделия возникли до его передачи Покупателю или по причинам, возникшим до этого момента. В этой связи, во избежание недоразумений, настоятельно рекомендуем:
            ul.simple-list.-indent
               li • при получении заказа тщательно осмотрите его и убедитесь, что продукция соответствует предъявляемым требованиям по качеству, укомплектованности и внешнему виду;
               hr.space
               li • перед установкой ещё раз осмотрите двери и только после этого производите монтаж и утилизируйте заводскую упаковку.
            hr.space
            h2.-block-title-sm Способы возврата денежных средств
            p Физические лица: При оплате покупки наличными, денежные средства возвращаются наличными в магазине, по адресу: Санкт-Петербург, пр. Обуховской обороны 70, корпус 2, офис 201. При оплате картой, денежные средства возвращаются, на карту. Для возврата необходимо приехать в магазин, по адресу: Санкт-Петербург, пр. Обуховской обороны 70, корпус 2, офис 201. Для возврата необходимо иметь документ удостоверяющий личность, кассовый чек. При оплате банковской картой, необходима карта с которой был осуществлен платеж. При оплате банковской картой на сайте, необходимо приехать в магазин, по адресу: Санкт-Петербург, пр. Обуховской обороны 70, корпус 2, офис 201 или заказным письмом отправить нам заявление на возврат.
            p Юридические лица: денежные средства возвращаются на расчетный счет. Для возврата необходимо прислать по адресу: Санкт-Петербург, пр. Обуховской обороны 70, корпус 2, офис 201 заявление на возврат с печатью организации.
            p Возврат денежных средств осуществляется в течении 10 рабочих дней.

      .col-xl-3.hidden-lg-down
         include ../includes/aside-banner
   .row
      .col-xs-12
         h2.ta-c.-block-title
            +svg('flame', 'flame-md')
            span Горячая пятерка дверей, покупаемых в кредит
   include ../includes/products-list_similar