.container
   .breadcrambs_list
      a.breadcrambs_link(href="index.html") Главная
      a.breadcrambs_link.active(href="shops.html") Адреса магазинов
   .row
      .col-xl-3.col-lg-4.hidden-md-down
         include ../includes/aside-menu
      .col-xl-6.col-lg-8
         .secondary-content-wrapper.-clear-margin
            h1.-page-title Адреса магазинов
            .g-tabs.-md
               a.g-tab.active.js-show-tab(data-tablink="spb-map") Санкт-Петербург
               a.g-tab.js-show-tab(data-tablink="msk-map") Москва
               a.g-tab.js-show-tab(data-tablink="nsk-map") Новосибирск
         .yandex-map.js-tab_content#spb-map-content
            <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?sid=JsQQj1yciTq5SBREoBkJikwaOrQcmv7p&amp;width=auto&amp;height=292&amp;lang=ru_RU&amp;sourceType=constructor&amp;scroll=true"></script>
         .yandex-map.js-tab_content#msk-map-content(style="display:none;")
            <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?sid=gaxEQWz0TVsxndYdOeW_dliFvyMS5q76&amp;width=auto&amp;height=293&amp;lang=ru_RU&amp;sourceType=constructor&amp;scroll=true"></script>
         .yandex-map.js-tab_content#nsk-map-content(style="display:none;")
            <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?sid=gaxEQWz0TVsxndYdOeW_dliFvyMS5q76&amp;width=auto&amp;height=293&amp;lang=ru_RU&amp;sourceType=constructor&amp;scroll=true"></script>
         .secondary-content-wrapper.-clear-margin
            h2.-block-title-sm Главный склад и магазин
            p Санкт-Петербург <br/>пр. Обуховской обороны, дом 70, склад 204 <br/>Для прохода на территорию склада, возьмите с собой документ удостоверяющий личность.<br/>
            p Время работы:<br/>Пн-Вс: c 09:00 до 21:00<br/>
            p Телефон: +7 (812) 309-71-55<br/>
            h2.-block-title-sm Как пройти
            p Выйти из м. Елизаровская, повернуть налево и пройти 400 метров, до перекрестка. Перейти пр. Обуховской обороны, и повернуть налево. Через 150 метров, с правой стороны будет 6-ти этажное желтое здание с вывесками «Ингрия» и «Александро-Невская Мануфактура». Вход через главную проходную.
         .secondary-content-wrapper(style="padding-top:0;padding-bottom:0")
            h2.-block-title-sm Фото
            ul.photo-list
               li.photo-list_item
                  img.img-fluid(src="img/address1.png")
               li.photo-list_item
                  img.img-fluid(src="img/address2.png")
               li.photo-list_item
                  img.img-fluid(src="img/address1.png")
               li.photo-list_item
                  img.img-fluid(src="img/address2.png")

      .col-xl-3.hidden-lg-down
         include ../includes/aside-banner
   .row
      .col-xs-12
         h2.ta-c.-block-title
            span Недавно просмотренные
   include ../includes/products-list_similar