.container
   .thank-you-wrapper
      h1.-extra.ta-c Заявка успешно отправлена
      .row
         .col-lg-6.col-lg-offset-3
            p.thank-you_descr  Представитель банка свяжется с вами в течение 15 минут для уточнения суммы первого платежа и пордяка вылпат.
      .row
         .col-xl-5.col-xl-offset-1.col-lg-6
            .media
               .media-left.media-middle
                  .round-lg_crop.round-thank-you
                     +svg('profi', 'profi-lg')
               .media-body.media-middle
                  h3 Номер заказа
                  .h1.-extra. 225236
         .col-xl-5.col-lg-6.thank-you_right
            h3.-block-title Вы заказали
            .row.thank-you_row
               .col-sm-6.col-xs-7
                  a.product-item_title
                     strong Гранит М2 Люкс
                     span Дверь металлическая с одной МДФ-панелью
               .col-sm-6.col-xs-5
                  .product-item_price 18 300.-
            .row.thank-you_row
               .col-sm-6.col-xs-7
                  .product-item_service_price Доставка, установка:
               .col-sm-6.col-xs-5 бесплатно
            .row.thank-you_row
               .col-sm-6.col-xs-7
                  .product-item_service_price Оплата:
               .col-sm-6.col-xs-5 наличными, после установки
      .ta-c(style='margin-top: 40px')
         a.btn.btn-transparent.btn-lg_mod(href="index.html") На главную страницу






