.b_data_wrapper.col-xs-12
    .b_data May 25, 2014
        span.flr Week 18
.b_matches_row
    +b_match_high('normal -past', 'england.png', '', 'FT', 'Manchester Manchester Manchester Manchester', 'Swansea', '3', '6', 'barselona.png', 'real.png', '', '', '')
    +b_match_high('high -live', 'england.png', 'LIVE', '89' , 'Barcelona', 'Real Madrid', '2', '4', 'barselona.png', 'real.png', 'beIN Sports en Español', 'NBC Sports Extra Play', '')
.b_data_wrapper.col-xs-12
    .b_data May 26, 2014
        span.flr Week 19
.b_matches_row
    +b_match_high('normal -future', 'england.png', '', '4:30pm' , 'Barcelona', 'Real Madrid', '', '', 'barselona.png', 'real.png' , '', '', '')
    +b_match_high('normal -repeat -past', 'england.png', 'REPEAT', '5:30pm' , 'Barcelona', 'Real Madrid', '', '', 'barselona.png', 'real.png', '', '', '')
    +b_match_high('high  -future -delay', 'england.png', 'DELAY', '4:30pm' , 'Tottenham Hotspur', 'Tottenham Hotspur', '', '', 'barselona.png', 'real.png' , 'MUN2, NBC Sports Extra Play', 'TalkSpor,NBC Sports Extra Play', '')
