.panel-group#accordion
    .b_panel-simple
        +b_league_accordion('-low -blue-bg -accordion', 'spain_lg.png', 'Primera Division' , '#collapseOne', '#accordion', 'arrow-bottom', '-mod3')
        #collapseOne.panel-collapse.clearfix.collapse
            +b_match_high('normal -past', '', '', 'FT', 'Manchester Manchester', 'Swansea', '2', '2', 'barselona.png', 'real.png', '', '', '-mod3')
            +b_match_high('normal -future', '', '', '', 'Real Sociadad', 'Swansea', '3', '1', 'barselona.png', 'real.png', 'beIN Sports en Español', 'NBC Sports Extra Play', '-mod3')
            +b_match_high('normal -past', '', '', 'FT', 'Manchester Manchester Manchester Manchester', 'Swansea', '3', '6', 'barselona.png', 'real.png', '', '', '-mod3')
            +b_match_high('high -live', '', 'LIVE', '89' , 'Barcelona', 'Real Madrid', '2', '4', 'barselona.png', 'real.png', 'beIN Sports en Español', 'NBC Sports Extra Play', '-mod3')
    .b_panel-simple
        +b_league_accordion('-low -blue-bg -accordion', 'spain_lg.png', 'Spain - Copa Del Ray' , '#collapseTwo', '#accordion', 'arrow-bottom', '-mod3')
        #collapseTwo.panel-collapse.clearfix.collapse
            +b_match_high('normal -past', '', '', '2:00 pm', 'Elche', 'Malaga', '', '', 'barselona.png', 'real.png', '1', '2', '-mod3')
            +b_match_high('normal -future', '', '', '4:00 am', 'Manchester Manchester Manchester Manchester', 'Swansea', '3', '0', 'barselona.png', 'real.png', '', '', '-mod3')
            +b_match_high('high -future', '', '', '3:20 pm' , 'UEFA Europa League Draw', 'from Geneva', '', '', '', '', 'beIN Sports en Español', 'NBC Sports Extra Play', '-mod3')
            +b_match_high('normal -live', '', 'LIVE', '86', 'Manchester Manchester Manchester Manchester', 'Swansea', '3', '6', 'barselona.png', 'real.png', '', '', '-mod3')