@import './../../styles/variables';

.unicorn-section .bubble{
  text-align: center;
}

.unicorn_link {
  color: $color-text;
  text-decoration: none;

  &:hover .unicorn-section_text {
    color: $color-text;
    text-decoration: none;
  }
  .unicorn-section_text {
    color: $color-text;
    text-decoration: none;
  }
}

.unicorn-section_text {
  font-size: 22px;
  line-height: 34px;
  color: $color-text;
  position: absolute;
  width: 240px;
  text-align: left;
  word-wrap: break-word;
  line-height: 56px;
  margin-left:  25px;
}

.unicorn_wrapper {
  position: relative;
  width: 59px;
  height: 56px;
  display: inline-block;
}

.oneTouch {
  .unicorn_wrapper {
    width: 155px;
    height: 74px;
  }

  .unicorn-section_text {
    line-height: 74px;
  }
}

.secondTouch {

  .unicorn_wrapper {
    width: 226px;
    height: 59px;
  }

  .bubble.w_70p {
    margin-left: 50px;
  }
  

  .unicorn-section_text {
    display: none;
  }

  a {
    cursor: default;
  }
}

@media (max-width: $screen-xs-max ) {
  .unicorn-section.bubble-row.container {
    padding-left: 40px;
    .bubble {
      text-align: left;
      width: 100%;
    }
  }
  
  .unicorn-section_text {
    font-size: 16px;
    width: 200px;
  }
   .unicorn-section.bubble-row.container.secondTouch .bubble {
      text-align: center;
   }

    .secondTouch {
      padding-left: 0;
      text-align: center;
    
        .unicorn_wrapper {
          width: auto;
          height: auto;
        }
    
        .bubble.w_70p {
          width: 100%;
          margin-left: 0;
        }
    }

}

@media (max-width: $screen-xs ) {
  
    .unicorn_wrapper {
      width: auto;
      height: auto;
    }
  
    .unicorn-section_text {
      position: relative;
      display: block;
      margin-left: 0;
    }
  
  
    .secondTouch {
      padding-left: 0;
      text-align: center;
    
        .unicorn_wrapper {
          width: auto;
          height: auto;
        }
    
        .bubble.w_70p {
          width: 100%;
          margin-left: 0;
        }
    }
}

