@import './../../styles/colors';
@import './../../styles/variables';


.download-android_bg {
  fill: #000000;
  width: 270px;
  height: 80px;
}

#Android-download-eng {
  width: 270px;
  height: 80px;
}

@media (max-width: 380px) {
  .market-btn-wrapper {
    width: 110px !important;
    height: 32px !important;
  }
}

.download-android_stroke {
  stroke: #000000;
}

a {
  cursor: pointer;
}

a.icon-link {

  &:hover {
    .download-android_bg {
      fill: #768496;
    }

    .download-android_stroke {
      stroke: #768496;
    }
  }
  &:active {
    .download-android_bg {
      fill: #000000;
    }

    .download-android_stroke {
      stroke: #000000;
    }
  }
}

.ros-link {

  .facebook-icon {
    fill: $color-dark-blue;
  }

  &:hover {
    .facebook-icon {
      fill: lighten($color-dark-blue, 9%);
    }
  }

  &:active {
    .facebook-icon {
      fill: $color-dark-blue;
    }
  }
}

.ros-link {

  .vk-icon {
    fill: #4d75a3;
  }

  &:hover {
    .vk-icon {
      fill: #6e9bcf
    }
  }

  &:active {
    .vk-icon {
      fill: #6e9bcf
    }
  }
}

.reload {
  cursor: pointer;
}
