include ../mixins/svg
include ../mixins/checkbox
include ../mixins/collapse-panel

doctype html
html(class="no-js")
  include ../includes/general/head

  body
    .svg-block
      include ../includes/svg/svg-sprite-demo.html
    .main-wrapper
      include ../includes/general/header
      include ../includes/general/main-menu
      .main-content
        block main-content
    include ../includes/general/footer
    //include  ../includes/modals/modal-feedback-call
    include  ../includes/modals/modal-thank-you
    include  ../includes/modals/modal-free-sample
    include  ../includes/modals/modal-cities
    include  ../includes/modals/modal-feedback
    include  ../includes/modals/modal-order

    block modals
    block footer-script
      include ../includes/general/footer-script