include ../mixins/svg
doctype html
html(class="no-js")
  include ../includes/head

  body
    .svg-block
      include ../includes/svg/svg-sprite-demo.html
    include ../includes/header
    include ../includes/main-menu
    .main-content
      block main-content
    include ../includes/footer
    include  ../includes/modal-feedback-call
    include  ../includes/modal-free-sample
    include  ../includes/modal-cities

    block footer-script
      include ../includes/footer-script