include ../mixins/svg
doctype html
html(class="no-js")
  include ../includes/head
  body
    include ../includes/svg/svg-sprite-demo.html
    include ../includes/header
    include ../includes/main-menu
    .main-content
      block main-content
    include ../includes/footer
    block footer-script
      include ../includes/footer-script