.chat-item {
  float: left;
  clear: both;
  max-width: 50%;
  display: inline-block;
  border: 3px solid #ccc;
  padding: 30px;
  font-size:  24px;
  margin-bottom: 20px;

  &.-to {
    float: right;
    background-color: #ccc;
  }

  &.-full {
    max-width: 100%;
  }
}

.reload-wrapper {
  position: absolute;
  right: 30px;
  top: 30px;
  z-index: 4;
  background-color: rgba(255,255,255, 0.75);
  padding: 6px 4px;
  border-radius: 50%;

  &.-animate {

    animation-name: spin;
    animation-duration: 300ms;
    animation-iteration-count: 1;
    animation-timing-function: linear;

    @keyframes spin {
      from {
        transform: rotate(0deg);
      } to {
          transform: rotate(180deg);
        }
    }
  }
}
