doctype html
html(class="no-js")
  include includes/head
  body
    header.logo-header
      .container
        a(href="index.html")
          img(src="img/logo.png", height="31px", width="106px")
    header.title-header
      .container
        .title-header_inner
            h1 ДОБРО ПОЖАЛОВАТЬ <br/> В НАШ МЕГАСЕКРЕТНЫЙ ПРОЕКТ
            p.title-descr О чем наш проект, мы пока рассказать не можем.<br/> Совершенно секретная разработка на борту плавучего ресторана и все такое.<br/> Ах да, мы расположены в Омске.
    section.main-contenet
      .container
        h2 А ЕСЛИ ВЫ ПОХОЖИ НА КОГО-ТО ИЗ ПЕРЕЧИСЛЕННЫХ НИЖЕ, ВЫ НАМ ОЧЕНЬ НУЖНЫ
        ul.vacancy-list
          li.vacancy-item
            header
              h3 Android Developer
              .price от 50000 р
            section
              h4 Обязанности
              p Проектирование, реализация и сопровождение мобильных Android - приложений.
            section
              h4 Требования
              ol
                li
                  span опыт разработки приложения на Android SDK
                li
                  span знание принципов объектно-ориентированного программирования
                li
                  span понимание взаимодействия клиент-серверных приложений
                li
                  span умение оптимизировать и тестировать код
                li
                  span опыт работы с системами контроля версий
                li
                  span портфолио собственных Android-приложений



            button.simple-btn.js-popup-open ОТПРАВИТЬ РЕЗЮМЕ
          li.vacancy-item
            header
              h3 Front-end/javascript developer
              .price 30000-50000 р
            section
              h4 Обязанности
              p Проектирование и разработка пользовательских интерфейсов
            section
              h4 Требования
              ol
                li
                  span отличные знания HTML5, CSS
                li
                  span уверенное знание JavaScript, JQuery
                li
                  span понимание принципов построения клиент-серверных приложений
                li
                  span будет плюсом опыт разработки с применением Grunt, NodeJS, AngularJS, RequireJS и других библиотек и фреймворков
            button.simple-btn.js-popup-open ОТПРАВИТЬ РЕЗЮМЕ
          li.vacancy-item
            header
              h3 Front-end/javascript developer
              .price 30000-50000 р
            section
              h4 Обязанности
              p Проектирование и разработка пользовательских интерфейсов
            section
              h4 Требования
              ol
                li
                  span отличные знания HTML5, CSS
                li
                  span уверенное знание JavaScript, JQuery
                li
                  span понимание принципов построения клиент-серверных приложений
                li
                  span будет плюсом опыт разработки с применением Grunt, NodeJS, AngularJS, RequireJS и других библиотек и фреймворков


            button.simple-btn.js-popup-open ОТПРАВИТЬ РЕЗЮМЕ
          li.vacancy-item
            header
              h3 Android Developer
              .price от 50000 р
            section
              h4 Обязанности
              p Проектирование, реализация и сопровождение мобильных Android - приложений.
            section
              h4 Требования
              ol
                li
                  span опыт разработки приложения на Android SDK
                li
                  span знание принципов объектно-ориентированного программирования
                li
                  span понимание взаимодействия клиент-серверных приложений
                li
                  span умение оптимизировать и тестировать код
                li
                  span опыт работы с системами контроля версий
                li
                  span портфолио собственных Android-приложений
            button.simple-btn.js-popup-open ОТПРАВИТЬ РЕЗЮМЕ
    section.footer-content
      .container
        h2 МЫ ПРЕДЛАГАЕМ:
        ul.footer-content_list
          li опцион (доля в проекте)
          li официальное трудоустройство
          li индивидуальный график работы
          li хорошая заработная плата по результатам собеседования
    footer.footer
      .container Copyright © 2014 HIVE Development
    .popup-wrapper(style="display: none;")
      form.popup
        .popup-title Заявка на вакансию
        h3 Front-end/javascript developer
        input.g_input(placeholder="Email", type="text")
        .g_file_wrapper
          .g_file-btn
            i.file
          .g_file-text Прикрепить файл
          input.g_file(type="file")
        button.simple-btn ОТПРАВИТЬ РЕЗЮМЕ
        a.close-btn.js-popup-close
      .popup-bg
    include includes/footer-script







