.chat-item {
  float: left;
  clear: both;
  max-width: 50%;
  display: inline-block;
  border: 3px solid #ccc;
  padding: 30px;
  font-size:  24px;
  margin-bottom: 20px;

  &.-to {
    float: right;
    background-color: #ccc;
  }
}

.bubble-wrapper {
  .ros-time {
    margin-bottom:  10px;
    margin-left: 50px;
  }
}

.right-bubble {

  .ros-time {
    text-align: right;
    margin-right: 50px;
  }

  .bubble {
    float: right;
  }
}