@import './../../styles/variables';

.chat-item {
  float: left;
  clear: both;
  max-width: 50%;
  display: inline-block;
  border: 3px solid #ccc;
  padding: 30px;
  font-size:  24px;
  margin-bottom: 20px;

  &.-to {
    float: right;
    background-color: #ccc;
  }
}

.bubble-wrapper {
  .ros-time {
    margin-bottom:  10px;
    margin-left: 50px;
  }
}

.right-bubble {

  .ros-time {
    text-align: right;
    margin-right: 50px;
  }

  .bubble {
    float: right;
  }
}



@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
  .bubble-row.-project.-high {
    margin-top: 55px;
  }
}

@media (max-width: $screen-xs-max) {
  .bubble-row.-project {
    margin-bottom: 55px;
    margin-top: 55px;
  }
}
