.row.sort-block-wrapper
  .col-xs-6
    .sorter.ta-r
      .sorter-title Показывать сначала
      .switch-buttons.-yellow
        a.switch-btn.-yellow.active.js-switch-btn Дешевые
        a.switch-btn.-yellow.js-switch-btn Дорогие
  .col-xs-6
    .sorter
      .sorter-title По продолжительности
      .switch-buttons.-yellow
        a.switch-btn.-yellow.js-switch-btn.active Длинные
        a.switch-btn.-yellow.js-switch-btn Короткие