.actions-list
  .actions-item
    .g-date.actions-date 1 февраля 2016 — 29 февраля 2016
    h2.actions-title
      a(href="one-action.html") Распродажа дверей из выставочного зала (в упаковке, не были установлены)
    p.actions-descr В связи со сменой экспозиций - распродажа образцов межкомнатных дверей от 500 руб!
  .actions-item
    .g-date.actions-date 1 февраля 2016 — 29 февраля 2016
    h2.actions-title
      a(href="one-action.html") Доставка + установка на сварку 3500 бесплатно (до 31января)
    p.actions-descr При покупке двери с установкой в черте города, при покупке двери за город вы оплачиваете только растояние от города по счетчику.
  .actions-item
    .g-date.actions-date 1 февраля 2016 — 29 февраля 2016
    h2.actions-title
      a(href="one-action.html") Двери на примерку
    p.actions-descr Привезём дверь если нравится берите - нет вы нам ничего не должны.
  .actions-item
    .g-date.actions-date 1 февраля 2016 — 29 февраля 2016
    h2.actions-title
      a(href="one-action.html") Подарки новосёлам
    p.actions-descr Демонтаж деревянной двери в подарок
  .actions-item
    .g-date.actions-date 1 февраля 2016 — 29 февраля 2016
    h2.actions-title
      a(href="one-action.html") Сертификат на 1 500 рублей на отделку откосов
    p.actions-descr При покупке входной двери - скидка на обслуживание до 3 000 рублей.