.actions-list
   .actions-item
      .actions-date 1 февраля 2016 — 29 февраля 2016
      h2.actions-title Распродажа дверей из выставочного зала (в упаковке, не были установлены)
      p.actions-descr В связи со сменой экспозиций - распродажа образцов межкомнатных дверей от 500 руб!
   .actions-item
      .actions-date 1 февраля 2016 — 29 февраля 2016
      h2.actions-title Доставка + установка на сварку 3500 бесплатно (до 31января)
      p.actions-descr При покупке двери с установкой в черте города, при покупке двери за город вы оплачиваете только растояние от города по счетчику.
   .actions-item
      .actions-date 1 февраля 2016 — 29 февраля 2016
      h2.actions-title Двери на примерку
      p.actions-descr Привезём дверь если нравится берите - нет вы нам ничего не должны.
   .actions-item
      .actions-date 1 февраля 2016 — 29 февраля 2016
      h2.actions-title Подарки новосёлам
      p.actions-descr Демонтаж деревянной двери в подарок
   .actions-item
      .actions-date 1 февраля 2016 — 29 февраля 2016
      h2.actions-title Сертификат на 1 500 рублей на отделку откосов
      p.actions-descr При покупке входной двери - скидка на обслуживание до 3 000 рублей.