.media.arcticle-preview_block
 .media.media-left.media-middle
   .round-lg_crop.round-article-preview
     +svg('superman', 'superman-lg')
 .media-body
   h2 Как правильно выбрать лучшую входную дверь в квартиру
   p Главное качество входной двери — это надёжность. Ещё раз повторим: дверь должна быть надежной. Наиболее надежные и прочные двери делают из металла. Большинство металлических дверей представляют собой каркас с ребрами жесткости, на...
   button.btn.btn-transparent.btn-md_mod Подробнее
