.arcticle-preview_block.clearfix
  .row
    .col-md-11
      .media
        .media.media-left.media-middle
          .round-lg_crop.round-article-preview
            +svg('profi', 'profi-lg')
        .media-body
          h2 Ежегодный рейтинг популярности входных дверей в 2-х столицах от Лендвери 2016
          p Главное качество входной двери — это надёжность. Ещё раз повторим: дверь должна быть надежной. Наиболее надежные и прочные двери делают из металла. Большинство металлических дверей представляют собой каркас с ребрами жесткости, на...
          button.btn.btn-transparent.btn-md_mod Подробнее
    .col-md-1
      .corner-article