section.aside-menu
   ul.aside-menu_list
      li.aside-menu_item
         a.aside-menu_link(href="delivery.html") Оплата и доставка
      li.aside-menu_item
         a.aside-menu_link(href="shops.html") Адреса магазинов
      li.aside-menu_item
         a.aside-menu_link.active Ответы на вопросы
      li.aside-menu_item
         a.aside-menu_link Кредит и рассрочка
      li.aside-menu_item
         a.aside-menu_link Акции
      li.aside-menu_item
         a.aside-menu_link Отзывы
      li.aside-menu_item
         a.aside-menu_link(href="warranty.html") Гарантия
      li.aside-menu_item
         a.aside-menu_link О компании
      li.aside-menu_item
         a.aside-menu_link(href="low-info.html") Правовая информация