section.aside-menu
   ul.aside-menu_list
      li.aside-menu_item
         a.aside-menu_link(href="delivery.html") Оплата и доставка
      li.aside-menu_item
         a.aside-menu_link(href="shops.html") Адреса магазинов
      li.aside-menu_item
         a.aside-menu_link.active(href="questions.html") Ответы на вопросы
      li.aside-menu_item
         a.aside-menu_link(href="credit.html") Кредит и рассрочка
      li.aside-menu_item
         a.aside-menu_link(href="actions.html") Акции
      li.aside-menu_item
         a.aside-menu_link(href="reviews.html") Отзывы
      li.aside-menu_item
         a.aside-menu_link(href="warranty.html") Гарантия
      li.aside-menu_item
         a.aside-menu_link(href="about.html") О компании
      li.aside-menu_item
         a.aside-menu_link(href="low-info.html") Правовая информация
