a.img-banner_wrapper.-def(href="")
  img.img-fluid.flr.img-banner(src="img/discont-banner-lg.jpg")
//a.img-banner_wrapper_xs(href="")
//  img.img-fluid.flr.img-banner(src="img/standart-banner_xs.jpg")