.aside-section
   .media
      .media-left.media-middle
         .round-xmd-crop
            +svg('profi', 'profi-md')
      .media-body.media-middle
         h2 Памятка покупателю
   hr.space.-md
   h4.-block-title При заказе с установкой в стоимость включено:
   .simple-list
      li • Замер
      li • Подъем на грузовом лифте
      li • Монтаж на сварку
      li • Демонтаж двери из ПВХ
      li • Герметизация проёма
   h4.-block-title Оплачивается отдельно в соответствии с <span class="link-underscore">тарифами</span>:
   .simple-list.-no-margin
      li • Подъем двери по лестнице
      li • Демонтаж стальной двери
      li • Расширение/закладка проема
      li • Спил наличника
      li • Герметизация проёма
   .corner-article

