.row-sm.numbers-wrapper
   .col-lg-6
      .row-sm
         .col-xs-6.ta-r
            h2.-block-title Кредит
      .row-sm.number-row
         .col-xs-6.ta-r
            p.number-descr Первоначальный взнос
         .col-xs-6
            .number-lg 0<span class="sup">%</span>
      .row-sm.number-row
         .col-xs-6.ta-r
            p.number-descr Сроком до
         .col-xs-6
            .number-lg 2<span class="sup">-х лет</span>
      .row-sm.number-row
         .col-xs-6.ta-r
            p.number-descr Далее ежемесячно
         .col-xs-6
            .number-lg 900<span class="sup">Руб.</span>
   .col-lg-6
      .row-sm
         .col-xs-6.ta-r
            h2.-block-title Рассрочка
      .row-sm.number-row
         .col-xs-6.ta-r
            p.number-descr Первоначальный взнос
         .col-xs-6
            .number-lg 30-40<span class="sup">%</span>
      .row-sm.number-row
         .col-xs-6.ta-r
            p.number-descr Сроком до
         .col-xs-6
            .number-lg 6<span class="sup">мес</span>
      .row-sm.number-row
         .col-xs-6.ta-r
            p.number-descr Переплата
         .col-xs-6
            .number-lg 0<span class="sup">Руб.</span>

//.row-sm.number-row
//   .col-lg-3.ta-r
//      p.number-descr Первоначальный взнос
//   .col-lg-3
//      .number-lg 0<span class="sup">%</span>
//   .col-lg-3.ta-r
//      p.number-descr Первоначальный взнос
//   .col-lg-3
//      .number-lg 30-40<span class="sup">%</span>
//.row-sm.number-row
//   .col-lg-3.ta-r
//      p.number-descr Сроком до
//   .col-lg-3
//      .number-lg 2<span class="sup">-х лет</span>
//   .col-lg-3.ta-r
//      p.number-descr Сроком до
//   .col-lg-3
//      .number-lg 6<span class="sup">мес</span>
//.row-sm.number-row
//   .col-lg-3.ta-r
//      p.number-descr Далее ежемесячно
//   .col-lg-3
//      .number-lg 900<span class="sup">Руб.</span>
//   .col-lg-3.ta-r
//      p.number-descr Переплата
//   .col-lg-3
//      .number-lg 0<span class="sup">Руб.</span>
