.filters-aside_wrapper#filters-aside
  .hidden-lg-up
    button.btn.btn-transparent.btn-md_mod.hidden-lg-up#hide-aside-filter(style="margin-bottom: 20px;")
      +svg('arrow-left', 'arrow-right-icon arrow-right-sm -bright')
      span В каталог

    include ../includes/filters-panel
  hr.aside
  .filters-aside_top
    .checking_group_column
      +checkbox('checkbox', 'js-has-products', '-std')
      label.checking_label-inline(for="js-has-products") В наличии
  #accordion.filters-aside_accordion(data-collapse="persist" )
    h3.panel-heading.open
      +svg('arrow-top', 'arrow-bottom-sm arrow-top-icon -def g-icon')
      span Цена
    div.panel-body
      div#slider-price
      .row.slider-price_wrapper
        .col-xs-6
          span.slider-price_label От
          input.form-control.slider-price#slider-price-lower
          //span.slider-price#slider-price-lower
        .col-xs-6
          span.slider-price_label До
          input.form-control.slider-price#slider-price-upper
          //span.slider-price#slider-price-upper

    h3.panel-heading.clearfix.open(style='position:relative;')
      +svg('arrow-top', 'arrow-bottom-sm arrow-top-icon -def g-icon')
      span Фабрика
      .info-link.flr#js-show-producers ?
      .simple-popup#js-producers(style='position:absolute; display:none;')
        .h5 Производители дверей
        p.-xs.-std Неизменный лидер продаж. Дверь с зеркалом. 2 листа стали толщиной по 2 мм. С внешней стороны — МДФ цвета «Венге», с внутренней — цвета «Беленый дуб». Замок Гардиан 25.14. Цвет фурнитуры: Серебро/Хром. Антивандальное покрытие. Противосъемные штыри.
    div.panel-body.filters-aside_radio-list
      .checking_group_column
        +radio('radio', 'fabric', '-std-radio', 'std22')
        label.checking_label-inline.-radio(for="std22" name="fabric") В наличии
      .checking_group_column
        +radio('radio', 'fabric', '-std-radio', 'argus')
        label.checking_label-inline.-radio(for="argus" name="fabric") Аргус (11)
        .tag-small.-bright Популярно
      .checking_group_column
        +radio('radio', 'fabric', '-std-radio', 'granit')
        label.checking_label-inline.-radio(for="granit" name="fabric") Гранит (13)
      .checking_group_column
        +radio('radio', 'fabric', '-std-radio', 'stradis')
        label.checking_label-inline.-radio(for="stradis" name="fabric") Stradis (11)
      .checking_group_column
        +radio('radio', 'fabric', '-std-radio', 'zenit')
        label.checking_label-inline.-radio(for="zenit" name="fabric") Зенит (9)
      .checking_group_column
        +radio('radio', 'fabric', '-std-radio', 'velveg')
        label.checking_label-inline.-radio(for="velveg" name="fabric") Valverg (7)
    h3.panel-heading.open
      +svg('arrow-top', 'arrow-bottom-sm arrow-top-icon -def g-icon')
      span Листы стали
    div.panel-body
      p Листы стали
      p Листы стали
      p Листы стали
      p Листы стали
      p Листы стали
      p Листы стали
      p Листы стали
      p Листы стали
      p Листы стали
      p Листы стали
      p Листы стали
      p Листы стали
      p Листы стали


  hr.aside
  button.btn-full.btn-transparent.btn-md_mod Сбросить

