header
  .header_top.hidden-md-down
    .container
      .col-sm-12
        .header_text-wrapper
          .header_text Акция <span class="header_text-indent">«Установка Бесплатно»</span> продлена до 29 февраля
          .header_subtext Распространяется на двери Гранит
        button.btn.btn-transparent.btn-md.header_btn Подробнее
  .header_bottom
    .container
      .row.header_bottom-contacts.hidden-md-down
        .col-sm-12
            a.btn.btn-icons.btn-lg_map.js-show-city-list
              +svg('pin', 'map-sm -before')
              span Петербург
              +svg('arrow-bottom', 'arrow-bottom-sm')
            div#city-list.btn-select(style="display: none;")
              a.btn.btn-icons.btn-lg_map.active.js-show-city-list
                +svg('pin', 'map-sm -before')
                span Петербург
                +svg('arrow-bottom', 'arrow-bottom-sm')
              ul.btn-select_list
                li.btn-select_item Москва
                li.btn-select_item Новосибирск
                li.btn-select_item Омск
            .header_phone 8 (812) 309-71-55
            .feedback-menu
              .feedback-menu_item
                a.feedback-menu_link(data-toggle="modal" data-target="#feedbackCall") Обратный звонок
              .feedback-menu_item
                a.feedback-menu_link Бесплатный замер
            .work-time Пн - Вс, 9:00 — 21:00
      .row
        .col-xl-2.col-lg-3
          nav.navbar.navbar-main
            button.navbar-toggler.hidden-lg-up.collapsed(type="button" data-toggle="collapse" data-target="#navbar-header" aria-controls="navbar-header" aria-expanded="false") ☰
            +svg('logo', 'logo-normal navbar-brand')
            a.btn.btn-icons.btn-lg_map.flr.hidden-lg-up(style="margin-bottom: 14px;" data-toggle="modal" data-target="#selectCities")
              +svg('pin', 'map-sm -before')
              span Петербург

        .col-xl-10.col-lg-9
          .row.collapse.navbar-toggleable-xs(id="navbar-header")

            .col-xl-6.col-lg-8
              nav.navbar.navbar-main
                ul.nav.navbar-nav
                  li.nav-item
                    a.nav-link.active Главная
                  li.nav-item
                    a.nav-link Входные двери
                  li.nav-item
                    a.nav-link Межкомнатные двери

            .col-xl-6.col-lg-4
              .search-wrapper
                .input-group
                  input(type="text" class="form-control" id="exampleInputAmount" placeholder="Введите название или артикул")
                  div.input-group-addon
                    button.clear-btn
                      +svg('search', 'search-sm')

            //.collapse.navbar-toggleable-xs.hidden-lg-up.nav-mobile_wrapper(id="navbar-header" )
              ul.nav.nav-mobile
                li.nav-mobile_item
                  a.nav-mobile_link.active Входные
                li.nav-mobile_item
                  a.nav-mobile_link Межкомнатные
                li.nav-mobile_item
                  a.nav-mobile_link.active Оплата и доставка

              ul.nav.nav-mobile
                li.nav-item
                  a.nav-mobile_link Оплата и доставка
                li.nav-item
                  a.nav-mobile_link Ответы на вопросы
                li.nav-item
                  a.nav-mobile_link Кредит и рассрочка
                li.nav-item
                  a.nav-mobile_link Акции
                li.nav-item
                  a.nav-mobile_link Гарантия
                li.nav-item
                  a.nav-mobile_link Отзывы
                li.nav-item
                  a.nav-mobile_link О компании
                li.nav-item
                  a.nav-mobile_link Правовая информаци
      .row
        .col-xs-12
          button.btn.btn-success.btn-lg.btn-full.hidden-lg-up Позвонить <span class="small-btn-text">8 (812) 309-71-55</span>
          .feedback-menu_xs.hidden-lg-up
            .fll
              a.link-sm(data-toggle="modal" data-target="#feedbackCall") Обратный звонок
            .flr
              a.link-sm Бесплатный замер
