header
  .header_top.hidden-md-down
    .container
      .col-sm-12
        .header_text-wrapper
          .header_text Акция <span class="header_text-indent">«Установка Бесплатно»</span> продлена до 29 февраля
          .header_subtext Распространяется на двери Гранит
        button.btn.btn-transparent.btn-md.header_btn Подробнее
  .header_botton
  .container
    .col-sm-12
      button.btn.btn-icons.btn-lg
        span Петербург