.row.info-main_block
  .col-lg-3.col-md-6
    .media.round-info-elem
      .media-left.media-middle
        .round-main.round-md.fll.round-info-main
         +svg('delivery', 'delivery-md')
      .media-body.media-middle
        h4.info-main_title Бесплатная доставка
        p.info-main_descr За 1 день при заказе с установкой
  .col-lg-3.col-md-6
    .media.round-info-elem
      .media-left.media-middle
        .round-main.round-md.fll.round-info-main
          span 10
      .media-body.media-middle
        h4.info-main_title Гарантия 10 лет
        p.info-main_descr Гарантийное обслуживание
  .col-lg-3.col-md-6
    .media.round-info-elem
      .media-left.media-middle
        .round-main.round-md.fll.round-info-main
          +svg('quality', 'quality-md')
      .media-body.media-middle
        h4.info-main_title Качество
        p.info-main_descr Оригинальная продукция и честные характеристики

  .col-lg-3.col-md-6
    .media.round-info-elem
      .media-left.media-middle
        .round-main.round-md.fll.round-info-main
          +svg('rouble', 'rouble-md')
      .media-body.media-middle
        h4.info-main_title Лучшая цена
        p.info-main_descr На оригинальные двери и фурнитуру