.actions-list
  .actions-item
    h2.actions-title
      a(href="one-action.html") Встречайте в Москве! Новая модель Кондор Квадро с зеркалом
    p.actions-descr Встречайте в Москве! Новая модель Кондор Квадро с зеркалом. Шикарная дверь с зеркалом. Данная модель является достойным представителем всей линейки Кондор. Изготовлена на базе двери М3.
  .actions-item
    h2.actions-title
      a(href="one-action.html") Теперь двери Гранит и в Новосибирске
    p.actions-descr Теперь вы можете приобрести настоящие двери Гранит в г. Новосибирске. Двери напрямую от завода от официального диллера, с гарантией 10 лет.
  .actions-item
    h2.actions-title
      a(href="one-action.html") Новинка - Гранит Ultra 7
    p.actions-descr Новая бюджетная модель. Однолистовая дверь, с двумя замками, ночной задвижкой, МДФ панелью с внутренней стороны. Производится в России — г.Йошкар-Ола.
  .actions-item
    h2.actions-title
      a(href="one-action.html") Новая Гранит Ultra М3 Люкс
    p.actions-descr Новинка! Дверь производится на базе М3. Более бюджетный вариант и не имеет зеркала с внутренней стороны.
  .actions-item
    h2.actions-title
      a(href="one-action.html") Встречайте в Москве! Новая модель Кондор Квадро с зеркалом
    p.actions-descr Встречайте в Москве! Новая модель Кондор Квадро с зеркалом. Шикарная дверь с зеркалом. Данная модель является достойным представителем всей линейки Кондор. Изготовлена на базе двери М3.