ul.partners-list
  li.partners-list_item
    .partners-list_item_inner
      h2.partners-list_title Двери <br/> Гранит
      p.partners-list_item-descr Премиум- <br/> партнер
    .partners-list_item-bg
      +svg('wreath', 'wreath-md')
  li.partners-list_item
    .partners-list_item_inner
      h2.partners-list_title Двери <br/> Кондор
      p.partners-list_item-descr Премиум- <br/> партнер
    .partners-list_item-bg
      +svg('wreath', 'wreath-md')
  li.partners-list_item
    .partners-list_item_inner
      h2.partners-list_title Двери <br/> Йошкар-<br/>Ола
      p.partners-list_item-descr Премиум- <br/> партнер
    .partners-list_item-bg
      +svg('wreath', 'wreath-md')
  li.partners-list_item.-cup
    .partners-list_item_inner
      +svg('cup', 'cup-md')
      p.partners-list_item-descr <strong>№1</strong> в России по продажам <br/> входных <br/> дверей в интернет
