h2.ta-c.-block-title Мы работаем с производителями дверей:
ul.producers-list
  li.producers-list_item
    a.producers-list_link
      img(src="img/rada.png")

  li.producers-list_item
    a.producers-list_link
      img(src="img/granit.png")

  li.producers-list_item
    a.producers-list_link
      img(src="img/jeldwen.png")

  li.producers-list_item
    a.producers-list_link
      img(src="img/mario-rioli.png")

  li.producers-list_item
    a.producers-list_link
      img(src="img/morelli.png")

