.row.products-list_block
   #carousel-products-list.carousel.slide.-with-indicator
      //(data-ride="carousel")
      ol.carousel-indicators
         li(data-target="#carousel-products-list" data-slide-to="0" class="active")
         li(data-target="#carousel-products-list" data-slide-to="1" )
         li(data-target="#carousel-products-list" data-slide-to="2" )
         li(data-target="#carousel-products-list" data-slide-to="3" )
         li(data-target="#carousel-products-list" data-slide-to="4" )
         li(data-target="#carousel-products-list" data-slide-to="5" )
         li(data-target="#carousel-products-list" data-slide-to="6" )
         li(data-target="#carousel-products-list" data-slide-to="7" )
         li(data-target="#carousel-products-list" data-slide-to="8" )
         li(data-target="#carousel-products-list" data-slide-to="9" )
      .carousel-inner(role="listbox")
         .col-xl-3.col-lg-4.col-md-6.carousel-item
            include  ../includes/product-item
         .col-xl-3.col-lg-4.col-md-6.carousel-item.active.left
            include  ../includes/product-item_mod
         .col-xl-3.col-lg-4.col-md-6.carousel-item.next.left
            include  ../includes/product-item_mod
         .col-xl-3.col-lg-4.col-md-6.carousel-item
            include  ../includes/product-item
         .col-xl-3.col-lg-4.col-md-6.carousel-item
            include  ../includes/product-item
         .col-xl-3.col-lg-4.col-md-6.carousel-item
            include  ../includes/product-item_mod
         .col-xl-3.col-lg-4.col-md-6.carousel-item
            include  ../includes/product-item_mod
         .col-xl-3.col-lg-4.col-md-6.carousel-item
            include  ../includes/product-item
         .col-xl-3.col-lg-4.col-md-6.carousel-item
            include  ../includes/product-item
         .col-xl-3.col-lg-4.col-md-6.carousel-item
            include  ../includes/product-item_mod
         .col-xl-6.col-lg-8.col-md-12.arcticle-preview_block--lg_custom-down-sm
            .arcticle-preview_block--lg.clearfix
               .arcticle-preview_title-lg Все двери здесь
               p Вся линейка дверей Гранит, Кондор от модели номер 1 до икс пятой, двери Зенит. Все свеженькие, только что с завода.
               button.btn.btn-transparent.btn-lg_mod.fll Смотреть

   .col-xl-6.col-lg-8.col-md-12.arcticle-preview_block--lg_custom-up-sm
      .arcticle-preview_block--lg.clearfix
         .arcticle-preview_title-lg Все двери здесь
         p Вся линейка дверей Гранит, Кондор от модели номер 1 до икс пятой, двери Зенит. Все свеженькие, только что с завода.
         button.btn.btn-transparent.btn-lg_mod.fll Смотреть
