.product-teaser
   .row
      .col-xl-6.col-lg-5
         h2.product-teaser_title Гранит М3
         p.product-teaser_descr Неизменный лидер продаж. Дверь с зеркалом. 2 листа стали толщиной по 2 мм. С внешней стороны — МДФ цвета «Венге», с внутренней — цвета «Беленый дуб». Замок Гардиан 25.14. Цвет фурнитуры: Серебро/Хром. Антивандальное покрытие. Противосъемные штыри.
         button.btn.btn-transparent.btn-lg_mod Смотреть
      .col-xl-6.col-lg-7.ta-r
         img.img-fluid(src="img/product-teaser-img-1.jpg")
