h2.ta-c.-block-title Мы работаем с производителями дверей:
.producers-list
  a.producers-list_link
    img.img-fluid(src="img/rada.png")

  a.producers-list_link
    img.img-fluid(src="img/granit.png")

  a.producers-list_link
    img.img-fluid(src="img/jeldwen.png")

  a.producers-list_link
    img.img-fluid(src="img/mario-rioli.png")

  a.producers-list_link
    img.img-fluid(src="img/morelli.png")

