.row.products-list_block
   #carousel-products-similar.carousel.slide.-with-indicator(data-ride="carousel")
      ol.carousel-indicators
         li(data-target="#carousel-products-similar" data-slide-to="0" class="active")
         li(data-target="#carousel-products-similar" data-slide-to="1" )
         li(data-target="#carousel-products-similar" data-slide-to="2" )
         li(data-target="#carousel-products-similar" data-slide-to="3" )
         li(data-target="#carousel-products-similar" data-slide-to="4" )
      .carousel-inner(role="listbox")
         .col-xl-3.col-lg-4.col-md-6.carousel-item.active
            include  ../includes/product-item
         .col-xl-3.col-lg-4.col-md-6.carousel-item
            include  ../includes/product-item_mod
         .col-xl-3.col-lg-4.col-md-6.carousel-item
            include  ../includes/product-item_mod
         .col-xl-3.col-lg-4.col-md-6.carousel-item
            include  ../includes/product-item
         .col-xl-3.col-lg-4.col-md-6.carousel-item
            include  ../includes/product-item
         .col-xl-9.col-lg-4.col-md-6.arcticle-preview_block--lg_custom-down-sm
            .arcticle-preview_block--lg.clearfix
               .arcticle-preview_title-lg Все двери здесь
               p Вся линейка дверей Гранит, Кондор от модели номер 1 до икс пятой, двери Зенит. Все свеженькие, только что с завода.
               button.btn.btn-transparent.btn-lg_mod.fll Смотреть

   .col-xl-6.col-lg-8.col-md-12.arcticle-preview_block--lg_custom-up-sm
      .arcticle-preview_block--lg.clearfix
         .arcticle-preview_title-lg Все двери здесь
         p Вся линейка дверей Гранит, Кондор от модели номер 1 до икс пятой, двери Зенит. Все свеженькие, только что с завода.
         button.btn.btn-transparent.btn-lg_mod.fll Смотреть
