.product-item
  .g-tag.-hit Хит продаж
  a.product-item_img-wrapper(href="product.html")
    img.product-item_img(src="img/product-img-2.jpg")
  a.product-item_title(href="product.html")
    strong Гранит М2 Люкс
    span Дверь металлическая с одной МДФ-панелью
  .product-item_prices
    .product-item_old-price 18 300.-
    .product-item_price.-indent 18 300.-
  .product-item_services
    +svg('delivery', 'delivery-sm service-icon')
    +svg('installation', 'installation-sm service-icon')
    .product-item_service_price Бесплатно
  .product-item_buttons.clearfix
    button.btn.btn-transparent.btn-lg_mod.fll Заказать
    .flr.product-item_availability_wrapper
      .product-item_availability Под заказ