.clearfix.b_search-block
    .col-xs-10.col-xs-offset-1
        input(title="Search competitions" placeholder="Search competitions" class="form-control form-text search-icon ui-autocomplete-input" type="text" size="15" autocomplete="off" role="textbox")