.allocated-block
  h2.add-subtitle  Что входит и не входит в стоимость тура
h3.subsection-block_title В стоимость тура входит:
.subsection-block.js-add-item_wrapper
  .row
    .col-md-12
      .options-wrapper.js-add-item_box
        label.label_sm.-inline
          +checkbox('checkbox', 'alias', '-white-yellow')
          | Питание во время тура
        label.label_sm.-inline
          +checkbox('checkbox', 'host', '-white-yellow')
          | Проживание во время тура
        label.label_sm.-inline
          +checkbox('checkbox', 'med', '-white-yellow')
          | Медицинская страховка
        label.label_sm.-inline
          +checkbox('checkbox', 'visa', '-white-yellow')
          | Виза
        label.label_sm.-inline
          +checkbox('checkbox', 'guide', '-white-yellow')
          | Гид на время тура
        label.label_sm.-inline
          +checkbox('checkbox', 'more', '-white-yellow')
          | Еще что-то
  .row
    .col-md-4.col-sm-4
      input.g_input.js-add-item_input
    .col-md-8.col-sm-8
      .media
        a.simple-btn.-more-sqr.-yellow.fll.js-add-item_btn <span class="plus">+</span> Добавить пункт
        .media-body.std-line
          .g_file_adj Можете добавить сразу несколько пунктов, написав их через запятую
h3.subsection-block_title В стоимость тура НЕ входит:
.subsection-block.js-add-item_wrapper
  .row
    .col-md-12
      .options-wrapper.js-add-item_box
  .row
    .col-md-4.col-sm-4
      input.g_input.js-add-item_input
    .col-md-8.col-sm-8
      .media
        a.simple-btn.-more-sqr.-yellow.fll.js-add-item_btn <span class="plus">+</span> Добавить пункт
        .media-body.std-line
          .g_file_adj Можете добавить сразу несколько пунктов, написав их через запятую