.allocated-block
  h2.add-subtitle Инфографика, характеризующая тур
.form-row.info-item_wrapper
  .col-md-3.col-sm-4
    .info-item
      .info-item_row
        input.g_input.-info-input(value="Формат тура")
      .info-item_row.-crop-btn
        .almost-sqr-wrapper.-lg.-mod-1.fll
          i.hikking-md.icon
        .media-body
          button.simple-btn.-more-sqr.-blue.js-change-icon Сменить иконку
      .info-item_row
        textarea.g_textarea.-info-input(rows="3")
      .switch-buttons.-yellow
        button.switch-btn.-yellow.active.js-switch-btn-item Вкл&nbsp;&nbsp;
        button.switch-btn.-yellow.js-switch-btn-item Выкл
      .disabled-mask
  .col-md-3.col-sm-4
    .info-item
      .info-item_row
        input.g_input.-info-input(value="Проживание")
      .info-item_row.-crop-btn
        .almost-sqr-wrapper.-lg.-mod-1.fll
          i.host-md.icon
        .media-body
          button.simple-btn.-more-sqr.-blue.js-change-icon Сменить иконку
      .info-item_row
        textarea.g_textarea.-info-input(rows="3")
      .switch-buttons.-yellow
        button.switch-btn.-yellow.active.js-switch-btn-item Вкл&nbsp;&nbsp;
        button.switch-btn.-yellow.js-switch-btn-item Выкл
      .disabled-mask
  .col-md-3.col-sm-4
    .info-item
      .info-item_row
        input.g_input.-info-input(value="Транспорт")
      .info-item_row.-crop-btn
        .almost-sqr-wrapper.-lg.-mod-1.fll
          i.transport-md.icon
        .media-body
          button.simple-btn.-more-sqr.-blue.js-change-icon Сменить иконку
      .info-item_row
        textarea.g_textarea.-info-input(rows="3")
      .switch-buttons.-yellow
        button.switch-btn.-yellow.active.js-switch-btn-item Вкл&nbsp;&nbsp;
        button.switch-btn.-yellow.js-switch-btn-item Выкл
      .disabled-mask
  .col-md-3.col-sm-4
    .info-item
      .info-item_row
        input.g_input.-info-input(value="Питание")
      .info-item_row.-crop-btn
        .almost-sqr-wrapper.-lg.-mod-1.fll
          i.eat-md.icon
        .media-body
          button.simple-btn.-more-sqr.-blue.js-change-icon Сменить иконку
      .info-item_row
        textarea.g_textarea.-info-input(rows="3")
      .switch-buttons.-yellow
        button.switch-btn.-yellow.active.js-switch-btn-item Вкл&nbsp;&nbsp;
        button.switch-btn.-yellow.js-switch-btn-item Выкл
      .disabled-mask
  .col-md-3.col-sm-4
    .info-item
      .info-item_row
        input.g_input.-info-input(value="Сопровождение")
      .info-item_row.-crop-btn
        .almost-sqr-wrapper.-lg.-mod-1.fll
          i.guide-md.icon
        .media-body
          button.simple-btn.-more-sqr.-blue.js-change-icon Сменить иконку
      .info-item_row
        textarea.g_textarea.-info-input(rows="3")
      .switch-buttons.-yellow
        button.switch-btn.-yellow.active.js-switch-btn-item Вкл&nbsp;&nbsp;
        button.switch-btn.-yellow.js-switch-btn-item Выкл
      .disabled-mask
  .col-md-3.col-sm-4
    .info-item
      .info-item_row
        input.g_input.-info-input(value="Безопасность")
      .info-item_row.-crop-btn
        .almost-sqr-wrapper.-lg.-mod-1.fll
          i.safety-md.icon
        .media-body
          button.simple-btn.-more-sqr.-blue.js-change-icon Сменить иконку
      .info-item_row
        textarea.g_textarea.-info-input(rows="3")
      .switch-buttons.-yellow
        button.switch-btn.-yellow.active.js-switch-btn-item Вкл&nbsp;&nbsp;
        button.switch-btn.-yellow.js-switch-btn-item Выкл
      .disabled-mask
  .col-md-3.col-sm-4
    .info-item.disabled
      .info-item_row
        input.g_input.-info-input(value="Безопасность")
      .info-item_row.-crop-btn
        .almost-sqr-wrapper.-lg.-mod-1.fll
          i.safety-md.icon
        .media-body
          button.simple-btn.-more-sqr.-blue.js-change-icon Сменить иконку
      .info-item_row
        textarea.g_textarea.-info-input(rows="3")
      .switch-buttons.-yellow
        button.switch-btn.-yellow.js-switch-btn-item Вкл&nbsp;&nbsp;
        button.switch-btn.-yellow.active.js-switch-btn-item Выкл
      .disabled-mask
  .col-md-3.col-sm-4
    .info-item.disabled
      .info-item_row
        input.g_input.-info-input(value="Безопасность")
      .info-item_row.-crop-btn
        .almost-sqr-wrapper.-lg.-mod-1.fll
          i.safety-md.icon
        .media-body
          button.simple-btn.-more-sqr.-blue.js-change-icon Сменить иконку
      .info-item_row
        textarea.g_textarea.-info-input(rows="3")
      .switch-buttons.-yellow
        button.switch-btn.-yellow.js-switch-btn-item Вкл&nbsp;&nbsp;
        button.switch-btn.-yellow.active.js-switch-btn-item Выкл
      .disabled-mask