.allocated-block
  h2.add-subtitle Причины, чтобы поехать
.form-row.info-item_wrapper
  .col-md-3.col-sm-4
    .info-item
      .info-item_row.-crop-btn
        .almost-sqr-wrapper.-lg.-mod-1.fll
          .round-bg.-yellow.-lg
            span.count 1
        .media-body
          button.simple-btn.-more-sqr.-blue.js-change-icon Сменить иконку
      .info-item_row
        textarea.g_textarea.-info-input.-md(rows="5") Трек вокруг Аннапурны — один из популярнейших в мире треккинговых маршрутов.
      .switch-buttons.-yellow
        button.switch-btn.-yellow.active.js-switch-btn-item Вкл&nbsp;&nbsp;
        button.switch-btn.-yellow.js-switch-btn-item Выкл
      .disabled-mask
  .col-md-3.col-sm-4
    .info-item
      .info-item_row.-crop-btn
        .almost-sqr-wrapper.-lg.-mod-1.fll
          .round-bg.-yellow.-lg
            span.count 2
        .media-body
          button.simple-btn.-more-sqr.-blue.js-change-icon Сменить иконку
      .info-item_row
        textarea.g_textarea.-info-input.-md(rows="5") Трек не требует специальной технической и физической подготовки.
      .switch-buttons.-yellow
        button.switch-btn.-yellow.active.js-switch-btn-item Вкл&nbsp;&nbsp;
        button.switch-btn.-yellow.js-switch-btn-item Выкл
      .disabled-mask
  .col-md-3.col-sm-4
    .info-item
      .info-item_row.-crop-btn
        .almost-sqr-wrapper.-lg.-mod-1.fll
          .round-bg.-yellow.-lg
            span.count 3
        .media-body
          button.simple-btn.-more-sqr.-blue.js-change-icon Сменить иконку
      .info-item_row
        textarea.g_textarea.-info-input.-md(rows="5") Трек не требует специальной технической и физической подготовки.
      .switch-buttons.-yellow
        button.switch-btn.-yellow.active.js-switch-btn-item Вкл&nbsp;&nbsp;
        button.switch-btn.-yellow.js-switch-btn-item Выкл
      .disabled-mask
  .col-md-3.col-sm-4
    .info-item
      .info-item_row.-crop-btn
        .almost-sqr-wrapper.-lg.-mod-1.fll
          .round-bg.-yellow.-lg
            span.count 4
        .media-body
          button.simple-btn.-more-sqr.-blue.js-change-icon Сменить иконку
      .info-item_row
        textarea.g_textarea.-info-input.-md(rows="5") На маршруте участников сопровождает опытный гид от Команды Приключений Альпиндустриия.
      .switch-buttons.-yellow
        button.switch-btn.-yellow.active.js-switch-btn-item Вкл&nbsp;&nbsp;
        button.switch-btn.-yellow.js-switch-btn-item Выкл
      .disabled-mask
  .col-md-3.col-sm-4
    .info-item
      .info-item_row.-crop-btn
        .almost-sqr-wrapper.-lg.-mod-1.fll
          .round-bg.-yellow.-lg
            span.count 5
        .media-body
          button.simple-btn.-more-sqr.-blue.js-change-icon Сменить иконку
      .info-item_row
        textarea.g_textarea.-info-input.-md(rows="5") Во время трека вокруг предстоит увидеть буддийские ступы, монастыри, «говорящие камни» с мантрами.
      .switch-buttons.-yellow
        button.switch-btn.-yellow.active.js-switch-btn-item Вкл&nbsp;&nbsp;
        button.switch-btn.-yellow.js-switch-btn-item Выкл
      .disabled-mask
  .col-md-3.col-sm-4
    .info-item
      .info-item_row.-crop-btn
        .almost-sqr-wrapper.-lg.-mod-1.fll
          .round-bg.-yellow.-lg
            span.count 6
        .media-body
          button.simple-btn.-more-sqr.-blue.js-change-icon Сменить иконку
      .info-item_row
        textarea.g_textarea.-info-input.-md(rows="5")
      .switch-buttons.-yellow
        button.switch-btn.-yellow.active.js-switch-btn-item Вкл&nbsp;&nbsp;
        button.switch-btn.-yellow.js-switch-btn-item Выкл
      .disabled-mask
  .col-md-3.col-sm-4
    .info-item.disabled
      .info-item_row.-crop-btn
        .almost-sqr-wrapper.-lg.-mod-1.fll
          .round-bg.-yellow.-lg
            span.count 7
        .media-body
          button.simple-btn.-more-sqr.-blue.js-change-icon Сменить иконку
      .info-item_row
        textarea.g_textarea.-info-input.-md(rows="5")
      .switch-buttons.-yellow
        button.switch-btn.-yellow.js-switch-btn-item Вкл&nbsp;&nbsp;
        button.switch-btn.-yellow.active.js-switch-btn-item Выкл
      .disabled-mask
  .col-md-3.col-sm-4
    .info-item.disabled
      .info-item_row.-crop-btn
        .almost-sqr-wrapper.-lg.-mod-1.fll
          .round-bg.-yellow.-lg
            span.count 8
        .media-body
          button.simple-btn.-more-sqr.-blue.js-change-icon Сменить иконку
      .info-item_row
        textarea.g_textarea.-info-input.-md(rows="5")
      .switch-buttons.-yellow
        button.switch-btn.-yellow.js-switch-btn-item Вкл&nbsp;&nbsp;
        button.switch-btn.-yellow.active.js-switch-btn-item Выкл
      .disabled-mask