.allocated-block
  h2.add-subtitle 9. Фото из прошлых путешествий




.form-row
  .label_md-wrapper.col-md-3
    label.label_md.-simple Фото №1
  .col-md-9
    .g_file_wrapper
      button.simple-btn.-more-sqr.-yellow.fll Выбрать
      .col-md-8
        .label_md-wrapper
          label.label_md.-simple.g_file-text  Загрузить фото
      input(id="userfile", type="file", name="userfile", class="g_file")
    .g_file_adj  Рекомендуемый размер фото: не менее 1920x1200, не более 1 Мб
.form-row
  .label_md-wrapper.col-md-3
    label.label_md.-simple Заголовок для фото №1
  .col-md-9
    input.g_input

.form-row
  .col-md-9.col-md-offset-3
    button.simple-btn.-more-sqr.-yellow
      span.plus +
      | Добавить еще одну картинку

.form-row
  .label_md-wrapper.col-md-3
    label.label_md.-simple Ссылка на видео
  .col-md-5
    input.g_input(placeholder="http://www.youtube.com/1LL4nfFJsAk")