/*
Title: Rest default browser styles
Author: ilya@spacebox.ru


  @@@#MMBBBBBBM##@@@@@@@@###MMMBBBBM.  ;@@##MMBBBBBBBBM#@@@     ;@@##MMBBBBBB##@@@@###M9S;.                 
  @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@,  r@@@@@@@@@@@@@@@@@@@     r@@@@@@@@@@@@@@@@@@@@@@@@@@@@5              
      ;@@@@@@@S             :@@@@@@@.       ;@@@@@@@@r               r@@@@@@@         :M@@@@@@@#            
        @@@@@@S               ,@@@@@          @@@@@@5                 X@@@@@@            #@@@@@@@           
        @@@@@@X                 @@@@          @@@@@@i                 i@@@@@@             H@@@@@@@          
        @@@@@@G                  @@@.         @@@@@@3                 2@@@@@@              @@@@@@@r         
        @@@@@@G                  .@@.         @@@@@@9                 2@@@@@@              @@@@@@@3         
        @@@@@@G                               @@@@@@9                 2@@@@@@              @@@@@@@s         
        @@@@@@G            @@G                @@@@@@9                 2@@@@@@              @@@@@@@          
        @@@@@@G           :@@A                @@@@@@9                 2@@@@@@             G@@@@@@i          
        @@@@@@G           @@@X                @@@@@@9                 2@@@@@@            2@@@@@@r           
        @@@@@@3         i@@@@2                @@@@@@9                 2@@@@@@          :@@@@@@3             
        @@@@@@@@@@@@@@@@@@@@@2                @@@@@@9                 2@@@@@@      .;G@@@@@A:               
        @@@@@@@@@@@@@@@@@@@@@2                @@@@@@9                 2@@@@@@@@@@@@@@@@@:                   
        @@@@@@s         ,@@@@2                @@@@@@9                 2@@@@@@9ABB@@@@@@@A                   
        @@@@@@S           @@@2                @@@@@@9                 2@@@@@#     :@@@@@@@;                 
        @@@@@@3           .@@3                @@@@@@9                 2@@@@@@       @@@@@@@G                
        @@@@@@G            @@A                @@@@@@9                 2@@@@@@        A@@@@@@@               
        @@@@@@G             .                 @@@@@@9                 2@@@@@@         i@@@@@@@.             
        @@@@@@G                               @@@@@@9                 2@@@@@@          :@@@@@@@;            
        @@@@@@G                               @@@@@@9                 2@@@@@@            @@@@@@@h           
        @@@@@@G                               @@@@@@9                 2@@@@@@             @@@@@@@@          
        @@@@@@3                               @@@@@@X                 S@@@@@@              M@@@@@@@,        
        @@@@@@@                               @@@@@@@                 A@@@@@@               &@@@@@@@A       
     .;@@@@@@@@@2;.                        ,r@@@@@@@@@X;.          .:A@@@@@@@@r,             X@@@@@@@@@r,   
 .@@@@@@@@@@@@@@@@@@@                  2@@@@@@@@@@@@@@@@@@@.    S@@@@@@@@@@@@@@@@@@:          i@@@@@@@@@@@@.
  ir;:,.     ..,::;rr                  .sr;:,.     ..,::;ri     .s;;,.     ..,:;;ri                ..,,:;rS 


*/


/** Generated by FG **/
@font-face {
	font-family: 'Conv_academy-regular';
	src: url('../fonts/academy-regular.eot');
	src: local('☺'), url('../fonts/academy-regular.woff') format('woff'), url('../fonts/academy-regular.ttf') format('truetype'), url('../fonts/academy-regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Conv_academy-italic_ru';
	src: url('../fonts/academy-italic.eot');
	src: local('☺'), url('../fonts/academy-italic.woff') format('woff'), url('../fonts/academy-italic.ttf') format('truetype'), url('../fonts/academy-italic.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
    font-family: 'academycitalic_en';
    src: url('../fonts/academyc-italic-webfont-webfont.eot');
    src: url('../fonts/academyc-italic-webfont-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/academyc-italic-webfont-webfont.woff') format('woff'),
         url('../fonts/academyc-italic-webfont-webfont.ttf') format('truetype'),
         url('../fonts/academyc-italic-webfont-webfont.svg#academycitalic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
	font-family:'AcademyCItalic';
	src:url('../fonts/academyc-italic-webfont.eot');
	src:url('../fonts/academyc-italic-webfont.eot?#iefix') format('embedded-opentype'),
		url('../fonts/academyc-italic-webfont.woff') format('woff'),
		url('../fonts/academyc-italic-webfont.ttf') format('truetype');
	font-weight:normal;
	font-style:normal;
	}

        
@font-face {
	font-family:'AcademyCRegular';
	src:url('../fonts/academyc-webfont.eot');
	src:url('../fonts/academyc-webfont.eot?#iefix') format('embedded-opentype'),
		url('../fonts/academyc-webfont.woff') format('woff'),
		url('../fonts/academyc-webfont.ttf') format('truetype');
	font-weight:normal;
	font-style:normal;
	}       
        
        
        
html, body {
background-color: #F7F6EC;
font-family: Arial,sans-serif;
color: #4F4F4F;
}

body {
	font-size: 100%;
        color: #4F4F4F;
	line-height: 1.4;
	font-family:  Arial, Verdana, Helvetica, sans-serif;
/*	font-family: Tahoma, Geneva, sans-serif;  The Sans-serif family 	
	font-family: "MS Sans Serif", Geneva, sans-serif;  The Sans-serif family 
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;  The Sans-serif family 
	font-family: Georgia, "Times New Roman", Times, Symbol, Webdings, Wingdings, serif;  The Serif family 
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;  The Serif family 
	font-family: "MS Serif", "New York", serif;  The Serif family 
	font-family: "Courier New", "Lucida Console", Courier, monospace;  The Monospace family 
	font-family: "Comic Sans MS", cursive;*/
}


h1,
h2,
h3,
h4,
h5,
time span.number,
.hyphen-time,
.b-time-event__number,
.b-time-event__hyphen,
nav.main_menu,
.see_more,
p.big-paragraph,
.media-menu,
.download_pdf,
.fancybox-title,
.b-mainmenu-vertical
{
    font-family:'AcademyCRegular';
    font-weight:normal;
}

#footer_menu div a,
.tag,
.section-descr,
.current-section,
.main_tags,
.partners,
time span.year,
blockquote,
.left-links,
dt,
.header-top-inormation a,
.mail,
.b-time-event__year
{
   font-family:'AcademyCItalic';
}


h1.index {
color: #B39C5A;
text-align: center;
font-size:2.875em;
letter-spacing: 1px;
margin: 0 0 20px 5%;

}

.title {
    background: transparent url("../img/1_brown.gif") repeat-x 0% 65%;
    text-align:center;
}

.title h1, .title h2 {
    display:inline-block;
    margin: 0 auto;
    background-color: #F7F6EC;
    padding: 0 8px;
    font-size: 60px;
    line-height:1.2em;
    zoom: 1;
    color: #2F2F2F;
}

.p404 h1, .p404 .h1 {
    margin: 0;
    text-align:left;
    color: #2F2F2F;
    font-size:60px;
    text-transform:uppercase;
    line-height:1.167em;
}

.p404 h2 {
    text-align:left;
}

.p404 h2 {
    margin-bottom:40px;
}

.p404 h2.h1 {
    margin-bottom: 30px;

}

.p404 hgroup h1 span {
    font-size: 20px;
    vertical-align: top;
    line-height: 40px;
}

.ie7 .title h1,
.ie7 .title h2 {
    display: inline;
}

.title.title_sub h1,
.title.title_sub h2
{
    line-height:1em;
}

.title.title_sub {
    margin-bottom: 37px;
    margin-top: -13px;
    position: relative;
}

h3.sec_title {
    font-size:20px;
    text-transform:uppercase;
    text-align:center;
    margin-bottom: 30px;
}

.main-article h1 {
    text-transform:uppercase;
    font-size:2.875em;
    line-height:1.065em;
    text-align:left;
    margin-top: 0;
    margin-bottom:0.804em;
}

h1 {
    font-size: 2em;
    text-align:center;
    color: #2F2F2F;
    
}

h2 {
    color: #B39C5A;
    font-size:26px;
    text-align:center;
    word-spacing: 3px;
    margin: 0;
}

#reports h2 {
    color:#2f2f2f;
    font-size:36px;
    text-transform:uppercase;
}

 h3 {
    font-size: 20px;
    color: #2F2F2F; 
    margin: 1em 0;
}

h3, h3 a {
    color: #2F2F2F;
}

h4, h4 a {
    color: #2F2F2F;
}

h4 {
    font-size: 1em;
    margin: 0;
}

h5 {
    font-size: 0.83em;

}

h6 {
    font-size: 0.75em;
    margin: 2.33em 0;
}

p {
    margin-bottom: 1.5904em;
    font-size: 14px;
    line-height: 1.5814em;
}

p.small-paragraph {
font-size: 0.7500em;
line-height: 1.6667em;
}

p.small-paragraph__dense {
    font-size: 0.7500em;
    line-height:1.500em;
}

p.big-paragraph {
    font-size: 1.875em;
    line-height:1em;
    margin-bottom:1.800em;
}

th,
td,
textarea,
select,
input,
button {
	font-size: 1em;	
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    display: block;
}
h1 a, h2 a, h3 a, h4 a, h5 a {
    text-decoration: none;
}

ul {
    padding: 0;
}

a {
    text-decoration:none;
    color: #2F2F2F;
}

a:hover {
	background-position: 0% 0%;
	text-decoration: none;
}
