@import './../../styles/variables';

.ros-link {
  font-family: $font-base;
  font-size: 22px;
  line-height: 34px;
  text-decoration: none;


    &.isHide {
      .caption {
        transition: opacity $translate-animation ease-in, height $translate-animation ease-in;
        opacity: 0.01;
      }
    }

    &.isShow {
      .caption {
        transition: opacity $translate-animation ease-in, height $translate-animation ease-in;
        opacity: 1;
      }
    }


  &.primary {
    color: $color-blue;

    &:hover, &:focus {
      color: lighten($color-blue, 9.5%)
    }

    &:active {
      color: darken($color-blue, 6.5%)
    }
  }

  &.normal {
    color: $color-text;

    &:hover, &:focus {
      color: lighten($color-text, 15.5%)
    }

    &:active {
      color: darken($color-text, 15.5%)
    }
  }

  &.-indent {
    .caption {
      padding-left: 15px;
    }
  }
}

.d-flex {
  display: -webkit-box!important;
  display: -webkit-flex!important;
  display: -ms-flexbox!important;
  display: flex!important;
}

.align-items-center {
  -webkit-box-align: center!important;
  -webkit-align-items: center!important;
  -ms-flex-align: center!important;
  align-items: center!important;
}

@media (max-width: $screen-xs-max) {
  .ros-link {
    font-size: 16px;
    line-height: 26px;
  }
}