-var col = {left: 'col-md-4', right: 'col-md-8' }
-var row = {class: 'row g_form-row -groups', button: 'row g_form-row -groups'}


.all-gray-wrapper.offer-popup.js-offer-form(style="display:none")
  .all-gray-bg.js-hide-offer-form
  .g_block
    .g_block_inner.-md
      form
        .row_main-header
          h2.g_main-title.-margin2 Offer A
        .row_topbottom
          button.simple-btn.-sm.-blue.-auto
            strong Price: 1500 euro
        .row_topbottom
          textarea.g_textarea(rows="12") Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.                                                                                                             Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident

    .top-right-buttons
      a.print.icon
      a.close.icon.js-hide-offer-form
