@import './../../styles/base';


.bubble {
  font-family: $font-base;
  display: inline-block;
  text-align: left;
  position: relative;
}


.bubble {

  // sizes

  &.size-lg {
    font-size: 22px;
    line-height: 34px;
    padding: 40px 80px 40px 60px;
    border-radius:  0 10px 10px 10px;
    border: 4px solid $color-grey-light;
    width: 40%;
    margin-left: 50px;

    .bubble-corner {
      top: -4px;
      left: -50px;
      width: 50px;
      height: 50px;
    }

    &.-right {
      padding: 40px 60px 40px 80px;
      border-radius:  10px 0 10px 10px;
      margin-right: 50px;
      margin-left: 0;

      .bubble-corner {
        transform: scale(-1, 1);
        right: -50px;
        left: auto;
      }
    }
  }

  &.size-md {
    font-size: 22px;
    line-height: 34px;
    padding: 30px 30px 30px 30px;
    border-radius: 0 10px 10px 10px;
    width: 35%;
    margin-left: 50px;
    border: 4px solid $color-grey-light;

    .bubble-corner {
      top: -4px;
      left: -50px;
      width: 50px;
      height: 50px;
    }

    &.-right {
      border-radius:  10px 0 10px 10px;
      margin-right: 50px;

      .bubble-corner {
        right: -50px;
      }
    }
  }
  //
  //&.size-sm {
  //  font-size: 16px;
  //  line-height: 22px;
  //  padding: 15px 20px;
  //  border-radius: 0 4px 4px 4px;
  //  width: 20%;
  //  margin-left: 25px;
  //  border: 2px solid #ffffff;
  //
  //  &.type-primary {
  //    .bubble-corner {
  //      fill: #ffffff;
  //      stroke: #ffffff;
  //    }
  //  }
  //
  //  .bubble-corner {
  //    top: -2px;
  //    left: -25px;
  //    width: 25px;
  //    height: 25px;
  //  }
  //
  //  &.-right {
  //    border-radius: 4px 0 4px 4px;
  //    margin-right: 25px;
  //
  //    .bubble-corner {
  //      right: -25px;
  //    }
  //  }
  //}

  // types
  &.type-secondary {
    background-color: $color-grey-light;

    .bubble-corner {
      fill: $color-grey-light;
      stroke: $color-grey-light;
    }
  }

  &.type-primary {
    background-color: #ffffff;
    margin-bottom:  20px;
    color: rgba(0, 0, 0, 0.8);

    .bubble-corner {
      fill: #ffffff;
      stroke: $color-grey-light;
    }

    &:after {
      content: '';
      display: block;
      position: absolute;
      width: 60%;
      left: 20%;
      height: 10px;
      border-radius: 50%;
      bottom: 30px;
      box-shadow: 0 20px 54px 39px $color-grey-light;
      z-index: -1;
    }
  }
}

.bubble.type-link.size-sm {
  font-size: 16px;
  line-height: 22px;
  padding: 15px 20px;
  border-radius: 0 4px 4px 4px;
  width: 20%;
  margin-left: 25px;
  border: 2px solid $color-grey-light;
  background-color: $color-grey-light;
  cursor: pointer;

  &:hover, &:focus {
    background-color: $color-milky;
    border-color: $color-milky;
    .bubble-corner {
      fill: $color-milky;
      stroke: $color-milky;
    }
  }

  &:active {
    background-color: $color-grey;
    border-color: $color-grey;

    .bubble-corner {
      fill: $color-grey;
      stroke: $color-grey;
    }
  }

  .bubble-corner {
    top: -2px;
    left: -25px;
    width: 25px;
    height: 25px;
    fill: $color-grey-light;
    stroke: $color-grey-light;
  }

  &.-right {
    border-radius: 4px 0 4px 4px;
    margin-right: 25px;

    .bubble-corner {
      right: -25px;
      left: auto;
    }
  }

}

.bubble.full-width {
  width: 100%;
}


.bubble .bubble-corner {
  position: absolute;
  z-index: 1;
}

.bubble.-right {
  margin-left: 0;
  .bubble-corner {
    transform: scale(-1, 1);
    left: auto;
  }
}
