@import './../../styles/variables';

$hoverAnimation: all 300ms ease-out 0s;

* {
  box-sizing: border-box;
}

.bubble {
  font-family: $font-base;
  display: inline-block;
  text-align: left;
  position: relative;
}


.bubble {
  box-sizing: border-box;

  .emoji-img {
    vertical-align: middle;
    margin-bottom: 6px;

  }
  // sizes

  &.size-lg {
    font-size: 22px;
    line-height: 34px;
    padding: 40px 80px 40px 60px;
    border-radius:  0 10px 10px 10px;
    border: 4px solid $color-grey-light;
    width: auto;
    margin-left: 50px;

    &.with-video {
      padding: 20px;
      video {
        width: 100%;
      }
    }

    .bubble-corner {
      top: -4px;
      left: -50px;
      width: 50px;
      height: 50px;
    }

    &.-right {
      padding: 40px 60px 40px 80px;
      border-radius:  10px 0 10px 10px;
      margin-right: 50px;
      margin-left: 0;

      &.with-video {
        padding: 20px;
      }

      .bubble-corner {
        transform: scale(-1, 1);
        right: -50px;
        left: auto;
      }
    }
  }

  &.size-md {
    font-size: 22px;
    line-height: 34px;
    padding: 30px 30px 30px 30px;
    border-radius: 0 10px 10px 10px;
    //width: 35%;
    margin-left: 50px;
    border: 4px solid $color-grey-light;

    .bubble-corner {
      top: -4px;
      left: -50px;
      width: 50px;
      height: 50px;
    }

    &.-right {
      border-radius:  10px 0 10px 10px;
      margin-right: 50px;

      .bubble-corner {
        right: -50px;
      }
    }
  }

  // types
  &.type-secondary {
    background-color: $color-grey-light;

    .bubble-corner {
      fill: $color-grey-light;
      stroke: $color-grey-light;
    }
  }

  &.type-primary {
    background-color: #ffffff;
    color: $color-text;

    .bubble-corner {
      fill: #ffffff;
      stroke: $color-grey-light;
    }

    &:after {
      content: '';
      display: block;
      position: absolute;
      width: 90%;
      left: 5%;
      height: 60px;
      bottom: 7px;
      box-shadow: 0 15px 60px 0 rgba(0, 31, 82, 0.14);
      z-index: -1;
    }
  }
}

.bubble.type-link.size-sm {
  text-decoration: none;
  color: $color-text;
  font-size: 16px;
  line-height: 22px;
  padding: 15px 20px;
  border-radius: 0 4px 4px 4px;
  width: 20%;
  margin-left: 25px;
  border: 2px solid $color-grey-light;
  background-color: $color-grey-light;
  cursor: pointer;
  display: flex;
  align-items: center;
  -webkit-transition: $hoverAnimation;
  -moz-transition: $hoverAnimation;
  -o-transition: $hoverAnimation;
  transition: $hoverAnimation;
  &:after {
    -webkit-transition: $hoverAnimation;
    -moz-transition: $hoverAnimation;
    -o-transition: $hoverAnimation;
    transition: $hoverAnimation;
    box-shadow: 0;
    content: '';
    display: block;
    position: absolute;
    width: 90%;
    left: 5%;
    height: 60px;
    bottom: 7px;
    z-index: -1;
  }

  //z-index: 1;
  //position: relative;

  &:hover, &:focus {
    background-color: $color-milky;
    border-color: $color-milky;
    .bubble-corner {
      fill: $color-milky;
      stroke: $color-milky;
      -webkit-transition: $hoverAnimation;
      -moz-transition: $hoverAnimation;
      -o-transition: $hoverAnimation;
      transition: $hoverAnimation;
    }
    &:after {
      -webkit-transition: $hoverAnimation;
      -moz-transition: $hoverAnimation;
      -o-transition: $hoverAnimation;
      transition: $hoverAnimation;
      content: '';
      display: block;
      position: absolute;
      width: 90%;
      left: 5%;
      height: 60px;
      bottom: 7px;
      box-shadow: 0 15px 60px 0 rgba(0, 31, 82, 0.14);
      z-index: -1;
    }

  }

  &:active {
    background-color: $color-grey;
    border-color: $color-grey;

    .bubble-corner {
      fill: $color-grey;
      stroke: $color-grey;
    }
  }

  .bubble-corner {
    top: -2px;
    left: -25px;
    width: 25px;
    height: 25px;
    fill: $color-grey-light;
    stroke: $color-grey-light;
    -webkit-transition: $hoverAnimation;
    -moz-transition: $hoverAnimation;
    -o-transition: $hoverAnimation;
    transition: $hoverAnimation;
  }

  &.-right {
    border-radius: 4px 0 4px 4px;
    margin-right: 25px;
    margin-left: 0;

    .bubble-corner {
      right: -25px;
      left: auto;
    }
  }

}

.bubble.full-width {
  width: 100% !important;
}

.bubble.auto-width {
  width: auto !important;
}


.bubble .bubble-corner {
  position: absolute;
  z-index: 1;
}

.bubble.-right {
  margin-left: 0;
  .bubble-corner {
    transform: scale(-1, 1);
    left: auto;
  }
}


.bubble-inner {
  display: inline-block;
  height: 100%;
  opacity: 1;
  transition: opacity $translate-animation ease-in, height $translate-animation ease-in;

  &.isHide {
    transition: opacity $translate-animation ease-in, height $translate-animation ease-in;
    opacity: 0.01;
  }

  &.isShow {
    transition: opacity $translate-animation ease-in, height $translate-animation ease-in;
    opacity: 1;
  }
}



.bubble.w_45 {
  width: 450px;
}

.bubble.w_35p {
  width: 35%;
}

.bubble.w_60p {
  width: 60%;
}

.bubble.w_70p {
  width: 70%;
}


@media (max-width: $screen-xs-max) {

  .bubble .emoji-img {
    width: 20px;
    height: 20px;
    margin-bottom: 2px;
  }

  .bubble.size-lg {
    font-size: 16px;
    line-height: 22px;
    padding: 20px 30px 20px 20px;
    border-width: 2px;
    margin-left: 25px;

     .bubble-corner {
       top: -2px;
       left: -25px;
       width: 25px;
       height: 25px;
     }
  }

  .bubble.size-md {
    font-size: 16px;
    line-height: 26px;
    padding: 15px 20px;
    border-width: 2px;
    margin-left: 25px;

    &.-right {
      margin-right: 25px;
      .bubble-corner {
        right: -25px;
        left: inherit;
      }
    }

    .bubble-corner {
      top: -2px;
      width: 25px;
      height: 25px;
      left: -25px;
    }
  }

  .bubble.w_45 {
    width: calc(90% - 25px);
  }

  .bubble.w_35p {
    width: 75%;
  }

  .bubble.w_60p {
    width: 85%;
  }

  .bubble.w_70p {
    width: 85%;
  }

  .bubble.type-link.size-sm {
    padding: 14px 20px;
    border-radius: 27px;

    &:hover:after {
      display: none;
    }

    &.-right {
      border-radius: 27px;
    }

    .bubble-corner {
      display: none;
    }

    .bubble-inner {
      br {  display: none;}
    }
  }

 .bubble br{
   display: none;
  }
}


@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
  .bubble.w_35p {
    width: 60%;
  }

  .bubble.w_60p {
    width: 60%;
  }

  .bubble.w_70p {
    width: 80%;
  }
}

@media (max-width: $screen-sm-max ){
  .bubble.type-link.size-sm .bubble-inner br, .bubble br {
    display: none;
  }
}

