.banner-right {
  position: relative;
}

.banner-right_title {
  color: #fff8f3;
  font-size: 72px;
  letter-spacing: -2px;
  font-family: $ff-bold;
  position: absolute;
  top: 2px;
  left: 20px;
}

.banner-right_logo {
  position: absolute;
  bottom: 11px;
  left: 20px;
}

.banner-right_status {
  position: absolute;
  top: 87px;
  color:  #ffffff;
  font-size: 14px; /* Approximation due to font substitution */
  font-family: $ff-bold;
  padding: 0px 20px;
  height: 32px;
  line-height: 30px;
  border-radius: 16px;
  background: rgba($dark-cherry, .38);
  border: 2px solid rgba($light-pink, .38);
  left: 20px;
}