
.sign-up {
  background: transparent url('#{$path-to-img}green-bg.png') no-repeat 50% 0;
//  background-size: 100%;
  padding: 20px 20px 30px 20px;
}

.sign-up_title {
  color: #e4fb5e;
  font-size: 22px;
  font-family: $ff-bold;
  line-height: 22px;
  text-shadow: 0px 1px 3px rgba(71, 124, 18, 0.6);
  margin: 0 0 30px 0;
}

.sign-up_list_title {
  color: #ffffff;
  font-size: 16px;
  font-family: $ff-bold;
  line-height: 18px;
  margin: 0 0 10px 0;
}

.sign-up_list {
  color:#fff;
}

.sign-up_list_item {
  color: #ffffff;
  font-size: 13px;
  font-family: $ff-semibold;
  line-height: 18px;
  margin-top: 7px;

  span {
    vertical-align: top;
  }

  .icon {
    float: left;
    margin-right: 5px;
  }
}

.sign-up_wrapper {
  padding-bottom: 137px;
  position: relative;
}


.sign-up_form {
  margin: 0 -5px;
  margin-top: -146px;
  position: relative;

  background: #76ab20; /* Old browsers */
  background: -moz-linear-gradient(top,  #76ab20 0%, #a6d953 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#76ab20), color-stop(100%,#a6d953)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #76ab20 0%,#a6d953 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #76ab20 0%,#a6d953 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #76ab20 0%,#a6d953 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #76ab20 0%,#a6d953 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#76ab20', endColorstr='#a6d953',GradientType=0 ); /* IE6-9 */

  border-top: 1px solid #649d39;

  
  button {
    width: 100%;
    .icon {
      margin-bottom: -2px;
    }
  }
}

.sign-up_input-wrapper {
  position: relative;
  margin-bottom: 12px;

  &.-dooted {
    margin-left: -5px;
    margin-right: -5px;
    padding: 5px;
    border: 1px dashed rgba(255, 255, 255, 0.6);
    border-radius: 5px;
    background-color:  rgba(62, 0, 0, 0.2);
    margin-bottom: 7px;
  }
  .mail {
    position: absolute;
    top: 16px;
    left: 12px;
  }

  .gray-line {
    position: absolute;
    top: 10px;
    left: 42px;
  }
}

.sign-up_form_inner {
  border-top: 1px solid #d2f666;
  padding: 17px;
}



/****************/
/** RESPONSIVE **/
/****************/


/*SMALL and EXTRA SMALL -- sm and xs -- SIGN UP*/
@media screen and (max-width: $screen-sm-max) {

  .sign-up {
    background: transparent url('#{$path-to-img}green-bg_sm.png') no-repeat 50% 0;
    border-radius: 5px;
  }

  .sign-up_wrapper {
    margin-right: 5px;
    margin-left: 5px;
  }

}
/*SMALL and EXTRA SMALL -- sm and xs -- SIGN UP -- END*/


/*EXTRA SMALL -- xs -- SIGN UP*/
@media screen and (max-width: $screen-xs-max) {

}
/*EXTRA SMALL -- xs -- SIGN UP -- END*/


/*SMALL -- sm -- SIGN UP*/
@media screen and (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {

  .sign-up_list_item {
    width: 49%;
    display: inline-block;
  }

}
/*SMALL -- sm -- SIGN UP -- END*/
