
.tour-preview-wrapper {
  font-size: 0;
  margin-bottom: 10px;
}

.tour-preview-header {
  height: 72px;
  line-height: 72px;
  margin: 4px 0;
  overflow: hidden;
  .block-title {
    display: inline-block;
    width: 100%;
    vertical-align: middle;
    margin: 0;
  }
}

.tour-preview-item {
  display: inline-block;
  vertical-align: top;
  margin-bottom: 30px;
  float: none;
}

.tour-preview-img {
  img {
    .img-responsive();
    border-bottom: 2px solid @dark-blue;
  }
}

.tour-preview-icons {
  .clearfix();
  margin-bottom: 20px;
}


.tour-preview-descr {
  padding: 0 20px 20px;
  text-align: center;
}

.tour-preview-descr-list {
  .clear-list();
  margin-top: 20px;
  text-align: left;
}

.tour-preview-descr-item {
  line-height: 20px;
  margin-bottom: 10px;
  font-size: 16px;
  .icon {
    vertical-align: middle;
    margin-right: 10px;
    margin-bottom: 2px;
  }
}

/****************/
/** RESPONSIVE **/
/****************/



/*SMALL and EXTRA SMALL -- sm and xs -- xxx*/
@media  screen and (max-width: @screen-sm-max) {


}
/*SMALL and EXTRA SMALL -- sm and xs -- xxx -- END*/


/*EXTRA SMALL -- xs -- xxx*/
@media screen and (max-width: @screen-xs-max) {


}
/*EXTRA SMALL -- xs -- xxx END*/



/*SMALL -- sm -- xxx*/
@media screen and (min-width: @screen-sm-min) and (max-width: @screen-sm-max) {



}
/*SMALL -- sm -- xxx -- END*/


/*LARGE and MEDIUM -- lg and md -- xxx*/
@media screen and (min-width: @screen-sm-max) {


}
/*LARGE and MEDIUM -- lg and md -- xxx -- END*/