.row_main-title
  h2.g_main-title  Offer
form
  .row_std
    h2.g_main-subtitle Response
    textarea.g_textarea(rows="18")
  .row_std
    .row
      .col-md-6
        label.g_label Price - Incl. Fee
        input.g_input
      .col-md-6
        label.g_label Currency
        select.g_select
          option USD
          option EURO
          option RUB
  hr.clear-hr.-clear-left
  .row_button
    button.simple-btn <i class="icon send"></i> Send Offer