.g_block.-blue
  .row_main-title.-blue
    h2.g_main-title <i class="notice icon"></i> Notice!
  .row_std
    p.large.-white Partners are not allowed  to include contact details in tge offer.
    p.large.-white All offers are screened before being sent to our clients.
.g_block.-blue
  .row_main-title.-blue
    h2.g_main-title <i class="dollar icon"></i> Pricing!
  .row_std
    p.large.-white Should you submit a wining offer, we will charge the client the fee % upfront.
    p.large.-white You wil invoice the client the <a href="#">remaining  amount.</a>
    p.large.-white Example : (Lead with 10% fee) <br/> If you sent an offer at 1.000 USD, we will charge the client  100 USD if they accept  your offer. You will receive all contact  information, and you can handle invoicing  of the remaining  <a href="#">900 USD outside  our platform.</a>