.modal.modal_md-size.fade(id="feedbackModal" tabindex="-2" role="dialog" aria-hidden="true")
  .modal-dialog(role="document")
    .modal-content.-md-padding
      div
        h2.modal-title Обратная связь
        label.form-label.-less-indent Хочу отправить
        .form-group
          select.form-control.form-control-lg
            option Благодарность
            option Жалобу
            option Письмо директору
        label.form-label.-less-indent Представьтесь, пожалуйста
        .form-group
          input.form-control.-md-size(type="text")

        label.form-label.-less-indent(for="phone") Номер вашего телефона
        .form-group
          input.form-control.js-phone-mask.-md-size(type="text" id="phone")
        label.form-label.-less-indent(for="textM")  Сообщение
        .form-group
          textarea.form-control(rows="5" id="textM")
        .btn-wrapper.-right
          button.btn.btn-transparent.btn-lg_mod#js-feedback(data-dismiss="modal") Отправить
      a(type="button" class="close" data-dismiss="modal" aria-label="Close")
        +svg('close', 'close-md close-icon')

