.modal.modal_md-size(id="modalCredit" tabindex="-2" role="dialog" aria-hidden="true")
  .modal-dialog(role="document")
    .modal-content.-md-padding
      div
        h2.modal-title Покупка в кредит/рассрочку
        .row.mb-2
          .col-xs-12
            .product-item_title.-modal
              strong Гранит М2 Венге
              span Дверь металлическая с одной МДФ-панелью
        .product-item_price.-xs.mb-2 18 300.-
        p.-xs Доставка, установка — <strong>бесплатно</strong>, оплата - <strong>наличными после установки</strong>, Вызов замерщика в черте города - <strong>бесплатно</strong>.
        label.form-label.-less-indent Фамилия
        .form-group
          input.form-control(type="text")
        label.form-label.-less-indent Имя
        .form-group
          input.form-control(type="text")
        label.form-label.-less-indent Отчетство
        .form-group
          input.form-control(type="text")
        label.form-label.-less-indent(for="phone2") Номер вашего телефона
        .form-group
          input.form-control.js-phone-mask.-md-text(type="text" id="phone2")
        .btn-wrapper.clearfix.-top-indent-xs
          a.btn.btn-transparent.btn-lg_mod.flr(href="thank-you_mod.html") Отправить заявку
        p
        p.-xs.-std Указана стоимость без учета доставки в область и/или заказа дополнительных работ. Точная стоимость фиксируется при приезде замерщика (бесплатно).
        p.-xs.-std Решение о предоставлении рассрочки/кредита принимается банком в течении 15 минут.
        p.-xs.-std Наши специалисты свяжутся с вами сразу после получения ответа от банка.
      a(type="button" class="close" data-dismiss="modal" aria-label="Close")
        +svg('close', 'close-md close-icon')

