include includes/b_league
include includes/b_league_accordion
include includes/navigation_top
include includes/navigation_menu

doctype html
html(class="no-js")
    include includes/head
    body.nav-top
        +navigation_menu
        .navbar.navbar-inverse.navbar-fixed-top.navbar-main(role="navigation")    
            +navigation_top('Competitions')
        .main-content
            include includes/b_search_block
            include includes/content/competitions-content.jade
        include includes/footer-script              




















