include includes/b_calendar
doctype html
html(class="no-js")
    include includes/head

        +b_calendar('jun', 'jul', 'may', 'Jun', 'Jul', 'May')
        +b_calendar('may', 'jun', 'apr', 'May', 'Jun', 'Apr')
        +b_calendar('apr', 'may', 'mar', 'Apr', 'May', 'Mar')
        +b_calendar('mar', 'apr', 'feb', 'Mar', 'Apr', 'Feb')
        +b_calendar('feb', 'mar', 'jan', 'Feb', 'Mar', 'Jan')


















