.search-form-wrapper-bg {
  background-position:50% 0;
  background-repeat: no-repeat;
  &.-num1 {
    background-image: url(../img/bg-home-1.jpg);
  }
}

/*grid*/

.col-all-20p, .col-all-22p, .col-all-12p {
  position: relative;
  min-height: 1px;
  padding-left:@grid-gutter-width-half;
  padding-right:@grid-gutter-width-half;
  float: left;
}

.col-all-20p {
  width: 20%;
}

.col-all-22p {
  width: 22%;
}

.col-all-12p {
  width: 12%;
}

.col-all-33p {
  width: 33.3333%;
}