/*
LESS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: @icon-home-width;
}

The large array-like variables contain all information about a single icon
@icon-home: x y offset_x offset_y width height total_width total_height image_path;
*/
@accreditation-md-x: 0px;
@accreditation-md-y: 2845px;
@accreditation-md-offset-x: 0px;
@accreditation-md-offset-y: -2845px;
@accreditation-md-width: 31px;
@accreditation-md-height: 49px;
@accreditation-md-total-width: 147px;
@accreditation-md-total-height: 3034px;
@accreditation-md-image: '../img/sprite.png';
@accreditation-md: 0px 2845px 0px -2845px 31px 49px 147px 3034px '../img/sprite.png';
@arrow-down-x: 0px;
@arrow-down-y: 1135px;
@arrow-down-offset-x: 0px;
@arrow-down-offset-y: -1135px;
@arrow-down-width: 38px;
@arrow-down-height: 20px;
@arrow-down-total-width: 147px;
@arrow-down-total-height: 3034px;
@arrow-down-image: '../img/sprite.png';
@arrow-down: 0px 1135px 0px -1135px 38px 20px 147px 3034px '../img/sprite.png';
@arrow-left-x: 0px;
@arrow-left-y: 2974px;
@arrow-left-offset-x: 0px;
@arrow-left-offset-y: -2974px;
@arrow-left-width: 34px;
@arrow-left-height: 60px;
@arrow-left-total-width: 147px;
@arrow-left-total-height: 3034px;
@arrow-left-image: '../img/sprite.png';
@arrow-left: 0px 2974px 0px -2974px 34px 60px 147px 3034px '../img/sprite.png';
@arrow-right-x: 0px;
@arrow-right-y: 2904px;
@arrow-right-offset-x: 0px;
@arrow-right-offset-y: -2904px;
@arrow-right-width: 34px;
@arrow-right-height: 60px;
@arrow-right-total-width: 147px;
@arrow-right-total-height: 3034px;
@arrow-right-image: '../img/sprite.png';
@arrow-right: 0px 2904px 0px -2904px 34px 60px 147px 3034px '../img/sprite.png';
@arrow-top-x: 0px;
@arrow-top-y: 1045px;
@arrow-top-offset-x: 0px;
@arrow-top-offset-y: -1045px;
@arrow-top-width: 38px;
@arrow-top-height: 20px;
@arrow-top-total-width: 147px;
@arrow-top-total-height: 3034px;
@arrow-top-image: '../img/sprite.png';
@arrow-top: 0px 1045px 0px -1045px 38px 20px 147px 3034px '../img/sprite.png';
@boat-x: 0px;
@boat-y: 1845px;
@boat-offset-x: 0px;
@boat-offset-y: -1845px;
@boat-width: 30px;
@boat-height: 28px;
@boat-total-width: 147px;
@boat-total-height: 3034px;
@boat-image: '../img/sprite.png';
@boat: 0px 1845px 0px -1845px 30px 28px 147px 3034px '../img/sprite.png';
@calendar-lg-x: 0px;
@calendar-lg-y: 2268px;
@calendar-lg-offset-x: 0px;
@calendar-lg-offset-y: -2268px;
@calendar-lg-width: 36px;
@calendar-lg-height: 39px;
@calendar-lg-total-width: 147px;
@calendar-lg-total-height: 3034px;
@calendar-lg-image: '../img/sprite.png';
@calendar-lg: 0px 2268px 0px -2268px 36px 39px 147px 3034px '../img/sprite.png';
@calendar-sm-x: 0px;
@calendar-sm-y: 1195px;
@calendar-sm-offset-x: 0px;
@calendar-sm-offset-y: -1195px;
@calendar-sm-width: 20px;
@calendar-sm-height: 20px;
@calendar-sm-total-width: 147px;
@calendar-sm-total-height: 3034px;
@calendar-sm-image: '../img/sprite.png';
@calendar-sm: 0px 1195px 0px -1195px 20px 20px 147px 3034px '../img/sprite.png';
@checker-md-x: 0px;
@checker-md-y: 2679px;
@checker-md-offset-x: 0px;
@checker-md-offset-y: -2679px;
@checker-md-width: 41px;
@checker-md-height: 43px;
@checker-md-total-width: 147px;
@checker-md-total-height: 3034px;
@checker-md-image: '../img/sprite.png';
@checker-md: 0px 2679px 0px -2679px 41px 43px 147px 3034px '../img/sprite.png';
@close-icon-x: 0px;
@close-icon-y: 607px;
@close-icon-offset-x: 0px;
@close-icon-offset-y: -607px;
@close-icon-width: 15px;
@close-icon-height: 15px;
@close-icon-total-width: 147px;
@close-icon-total-height: 3034px;
@close-icon-image: '../img/sprite.png';
@close-icon: 0px 607px 0px -607px 15px 15px 147px 3034px '../img/sprite.png';
@compas-md-x: 0px;
@compas-md-y: 2732px;
@compas-md-offset-x: 0px;
@compas-md-offset-y: -2732px;
@compas-md-width: 45px;
@compas-md-height: 45px;
@compas-md-total-width: 147px;
@compas-md-total-height: 3034px;
@compas-md-image: '../img/sprite.png';
@compas-md: 0px 2732px 0px -2732px 45px 45px 147px 3034px '../img/sprite.png';
@data-arrow-left-x: 0px;
@data-arrow-left-y: 318px;
@data-arrow-left-offset-x: 0px;
@data-arrow-left-offset-y: -318px;
@data-arrow-left-width: 8px;
@data-arrow-left-height: 13px;
@data-arrow-left-total-width: 147px;
@data-arrow-left-total-height: 3034px;
@data-arrow-left-image: '../img/sprite.png';
@data-arrow-left: 0px 318px 0px -318px 8px 13px 147px 3034px '../img/sprite.png';
@data-arrow-right-x: 0px;
@data-arrow-right-y: 206px;
@data-arrow-right-offset-x: 0px;
@data-arrow-right-offset-y: -206px;
@data-arrow-right-width: 7px;
@data-arrow-right-height: 12px;
@data-arrow-right-total-width: 147px;
@data-arrow-right-total-height: 3034px;
@data-arrow-right-image: '../img/sprite.png';
@data-arrow-right: 0px 206px 0px -206px 7px 12px 147px 3034px '../img/sprite.png';
@earth-x: 0px;
@earth-y: 1165px;
@earth-offset-x: 0px;
@earth-offset-y: -1165px;
@earth-width: 20px;
@earth-height: 20px;
@earth-total-width: 147px;
@earth-total-height: 3034px;
@earth-image: '../img/sprite.png';
@earth: 0px 1165px 0px -1165px 20px 20px 147px 3034px '../img/sprite.png';
@geo-x: 0px;
@geo-y: 1225px;
@geo-offset-x: 0px;
@geo-offset-y: -1225px;
@geo-width: 19px;
@geo-height: 20px;
@geo-total-width: 147px;
@geo-total-height: 3034px;
@geo-image: '../img/sprite.png';
@geo: 0px 1225px 0px -1225px 19px 20px 147px 3034px '../img/sprite.png';
@hikking-x: 0px;
@hikking-y: 846px;
@hikking-offset-x: 0px;
@hikking-offset-y: -846px;
@hikking-width: 12px;
@hikking-height: 18px;
@hikking-total-width: 147px;
@hikking-total-height: 3034px;
@hikking-image: '../img/sprite.png';
@hikking: 0px 846px 0px -846px 12px 18px 147px 3034px '../img/sprite.png';
@counter-x: 0px;
@counter-y: 2471px;
@counter-offset-x: 0px;
@counter-offset-y: -2471px;
@counter-width: 41px;
@counter-height: 42px;
@counter-total-width: 147px;
@counter-total-height: 3034px;
@counter-image: '../img/sprite.png';
@counter: 0px 2471px 0px -2471px 41px 42px 147px 3034px '../img/sprite.png';
@eat-md-x: 0px;
@eat-md-y: 2176px;
@eat-md-offset-x: 0px;
@eat-md-offset-y: -2176px;
@eat-md-width: 37px;
@eat-md-height: 34px;
@eat-md-total-width: 147px;
@eat-md-total-height: 3034px;
@eat-md-image: '../img/sprite.png';
@eat-md: 0px 2176px 0px -2176px 37px 34px 147px 3034px '../img/sprite.png';
@guide-md-x: 0px;
@guide-md-y: 2317px;
@guide-md-offset-x: 0px;
@guide-md-offset-y: -2317px;
@guide-md-width: 40px;
@guide-md-height: 40px;
@guide-md-total-width: 147px;
@guide-md-total-height: 3034px;
@guide-md-image: '../img/sprite.png';
@guide-md: 0px 2317px 0px -2317px 40px 40px 147px 3034px '../img/sprite.png';
@hikking-md-x: 0px;
@hikking-md-y: 2575px;
@hikking-md-offset-x: 0px;
@hikking-md-offset-y: -2575px;
@hikking-md-width: 27px;
@hikking-md-height: 42px;
@hikking-md-total-width: 147px;
@hikking-md-total-height: 3034px;
@hikking-md-image: '../img/sprite.png';
@hikking-md: 0px 2575px 0px -2575px 27px 42px 147px 3034px '../img/sprite.png';
@hit-x: 0px;
@hit-y: 1961px;
@hit-offset-x: 0px;
@hit-offset-y: -1961px;
@hit-width: 141px;
@hit-height: 33px;
@hit-total-width: 147px;
@hit-total-height: 3034px;
@hit-image: '../img/sprite.png';
@hit: 0px 1961px 0px -1961px 141px 33px 147px 3034px '../img/sprite.png';
@hit2-x: 0px;
@hit2-y: 2047px;
@hit2-offset-x: 0px;
@hit2-offset-y: -2047px;
@hit2-width: 141px;
@hit2-height: 33px;
@hit2-total-width: 147px;
@hit2-total-height: 3034px;
@hit2-image: '../img/sprite.png';
@hit2: 0px 2047px 0px -2047px 141px 33px 147px 3034px '../img/sprite.png';
@host-md-x: 0px;
@host-md-y: 1883px;
@host-md-offset-x: 0px;
@host-md-offset-y: -1883px;
@host-md-width: 47px;
@host-md-height: 28px;
@host-md-total-width: 147px;
@host-md-total-height: 3034px;
@host-md-image: '../img/sprite.png';
@host-md: 0px 1883px 0px -1883px 47px 28px 147px 3034px '../img/sprite.png';
@man-active-x: 0px;
@man-active-y: 2133px;
@man-active-offset-x: 0px;
@man-active-offset-y: -2133px;
@man-active-width: 23px;
@man-active-height: 33px;
@man-active-total-width: 147px;
@man-active-total-height: 3034px;
@man-active-image: '../img/sprite.png';
@man-active: 0px 2133px 0px -2133px 23px 33px 147px 3034px '../img/sprite.png';
@man-inactive-x: 0px;
@man-inactive-y: 2090px;
@man-inactive-offset-x: 0px;
@man-inactive-offset-y: -2090px;
@man-inactive-width: 23px;
@man-inactive-height: 33px;
@man-inactive-total-width: 147px;
@man-inactive-total-height: 3034px;
@man-inactive-image: '../img/sprite.png';
@man-inactive: 0px 2090px 0px -2090px 23px 33px 147px 3034px '../img/sprite.png';
@man-yactive-x: 0px;
@man-yactive-y: 2004px;
@man-yactive-offset-x: 0px;
@man-yactive-offset-y: -2004px;
@man-yactive-width: 23px;
@man-yactive-height: 33px;
@man-yactive-total-width: 147px;
@man-yactive-total-height: 3034px;
@man-yactive-image: '../img/sprite.png';
@man-yactive: 0px 2004px 0px -2004px 23px 33px 147px 3034px '../img/sprite.png';
@safety-md-x: 0px;
@safety-md-y: 2220px;
@safety-md-offset-x: 0px;
@safety-md-offset-y: -2220px;
@safety-md-width: 28px;
@safety-md-height: 38px;
@safety-md-total-width: 147px;
@safety-md-total-height: 3034px;
@safety-md-image: '../img/sprite.png';
@safety-md: 0px 2220px 0px -2220px 28px 38px 147px 3034px '../img/sprite.png';
@transport-md-x: 0px;
@transport-md-y: 1921px;
@transport-md-offset-x: 0px;
@transport-md-offset-y: -1921px;
@transport-md-width: 43px;
@transport-md-height: 30px;
@transport-md-total-width: 147px;
@transport-md-total-height: 3034px;
@transport-md-image: '../img/sprite.png';
@transport-md: 0px 1921px 0px -1921px 43px 30px 147px 3034px '../img/sprite.png';
@logo-sm-x: 0px;
@logo-sm-y: 250px;
@logo-sm-offset-x: 0px;
@logo-sm-offset-y: -250px;
@logo-sm-width: 147px;
@logo-sm-height: 12px;
@logo-sm-total-width: 147px;
@logo-sm-total-height: 3034px;
@logo-sm-image: '../img/sprite.png';
@logo-sm: 0px 250px 0px -250px 147px 12px 147px 3034px '../img/sprite.png';
@mail-x: 0px;
@mail-y: 364px;
@mail-offset-x: 0px;
@mail-offset-y: -364px;
@mail-width: 19px;
@mail-height: 13px;
@mail-total-width: 147px;
@mail-total-height: 3034px;
@mail-image: '../img/sprite.png';
@mail: 0px 364px 0px -364px 19px 13px 147px 3034px '../img/sprite.png';
@money-x: 0px;
@money-y: 1105px;
@money-offset-x: 0px;
@money-offset-y: -1105px;
@money-width: 20px;
@money-height: 20px;
@money-total-width: 147px;
@money-total-height: 3034px;
@money-image: '../img/sprite.png';
@money: 0px 1105px 0px -1105px 20px 20px 147px 3034px '../img/sprite.png';
@print-x: 0px;
@print-y: 1741px;
@print-offset-x: 0px;
@print-offset-y: -1741px;
@print-width: 24px;
@print-height: 24px;
@print-total-width: 147px;
@print-total-height: 3034px;
@print-image: '../img/sprite.png';
@print: 0px 1741px 0px -1741px 24px 24px 147px 3034px '../img/sprite.png';
@africa-x: 0px;
@africa-y: 1349px;
@africa-offset-x: 0px;
@africa-offset-y: -1349px;
@africa-width: 17px;
@africa-height: 22px;
@africa-total-width: 147px;
@africa-total-height: 3034px;
@africa-image: '../img/sprite.png';
@africa: 0px 1349px 0px -1349px 17px 22px 147px 3034px '../img/sprite.png';
@antarctica-x: 0px;
@antarctica-y: 930px;
@antarctica-offset-x: 0px;
@antarctica-offset-y: -930px;
@antarctica-width: 16px;
@antarctica-height: 18px;
@antarctica-total-width: 147px;
@antarctica-total-height: 3034px;
@antarctica-image: '../img/sprite.png';
@antarctica: 0px 930px 0px -930px 16px 18px 147px 3034px '../img/sprite.png';
@arctica-x: 0px;
@arctica-y: 818px;
@arctica-offset-x: 0px;
@arctica-offset-y: -818px;
@arctica-width: 16px;
@arctica-height: 18px;
@arctica-total-width: 147px;
@arctica-total-height: 3034px;
@arctica-image: '../img/sprite.png';
@arctica: 0px 818px 0px -818px 16px 18px 147px 3034px '../img/sprite.png';
@asia-x: 0px;
@asia-y: 987px;
@asia-offset-x: 0px;
@asia-offset-y: -987px;
@asia-width: 18px;
@asia-height: 19px;
@asia-total-width: 147px;
@asia-total-height: 3034px;
@asia-image: '../img/sprite.png';
@asia: 0px 987px 0px -987px 18px 19px 147px 3034px '../img/sprite.png';
@australia-x: 0px;
@australia-y: 56px;
@australia-offset-x: 0px;
@australia-offset-y: -56px;
@australia-width: 28px;
@australia-height: 11px;
@australia-total-width: 147px;
@australia-total-height: 3034px;
@australia-image: '../img/sprite.png';
@australia: 0px 56px 0px -56px 28px 11px 147px 3034px '../img/sprite.png';
@europe-x: 0px;
@europe-y: 1775px;
@europe-offset-x: 0px;
@europe-offset-y: -1775px;
@europe-width: 14px;
@europe-height: 25px;
@europe-total-width: 147px;
@europe-total-height: 3034px;
@europe-image: '../img/sprite.png';
@europe: 0px 1775px 0px -1775px 14px 25px 147px 3034px '../img/sprite.png';
@n-america-x: 0px;
@n-america-y: 1413px;
@n-america-offset-x: 0px;
@n-america-offset-y: -1413px;
@n-america-width: 16px;
@n-america-height: 22px;
@n-america-total-width: 147px;
@n-america-total-height: 3034px;
@n-america-image: '../img/sprite.png';
@n-america: 0px 1413px 0px -1413px 16px 22px 147px 3034px '../img/sprite.png';
@russia-x: 0px;
@russia-y: 1286px;
@russia-offset-x: 0px;
@russia-offset-y: -1286px;
@russia-width: 18px;
@russia-height: 21px;
@russia-total-width: 147px;
@russia-total-height: 3034px;
@russia-image: '../img/sprite.png';
@russia: 0px 1286px 0px -1286px 18px 21px 147px 3034px '../img/sprite.png';
@s-america-x: 0px;
@s-america-y: 1255px;
@s-america-offset-x: 0px;
@s-america-offset-y: -1255px;
@s-america-width: 19px;
@s-america-height: 21px;
@s-america-total-width: 147px;
@s-america-total-height: 3034px;
@s-america-image: '../img/sprite.png';
@s-america: 0px 1255px 0px -1255px 19px 21px 147px 3034px '../img/sprite.png';
@rukzak-md-x: 0px;
@rukzak-md-y: 2787px;
@rukzak-md-offset-x: 0px;
@rukzak-md-offset-y: -2787px;
@rukzak-md-width: 47px;
@rukzak-md-height: 48px;
@rukzak-md-total-width: 147px;
@rukzak-md-total-height: 3034px;
@rukzak-md-image: '../img/sprite.png';
@rukzak-md: 0px 2787px 0px -2787px 47px 48px 147px 3034px '../img/sprite.png';
@rukzak-x: 0px;
@rukzak-y: 1075px;
@rukzak-offset-x: 0px;
@rukzak-offset-y: -1075px;
@rukzak-width: 19px;
@rukzak-height: 20px;
@rukzak-total-width: 147px;
@rukzak-total-height: 3034px;
@rukzak-image: '../img/sprite.png';
@rukzak: 0px 1075px 0px -1075px 19px 20px 147px 3034px '../img/sprite.png';
@calendar-from-x: 0px;
@calendar-from-y: 1674px;
@calendar-from-offset-x: 0px;
@calendar-from-offset-y: -1674px;
@calendar-from-width: 22px;
@calendar-from-height: 23px;
@calendar-from-total-width: 147px;
@calendar-from-total-height: 3034px;
@calendar-from-image: '../img/sprite.png';
@calendar-from: 0px 1674px 0px -1674px 22px 23px 147px 3034px '../img/sprite.png';
@calendar-hover-x: 0px;
@calendar-hover-y: 1542px;
@calendar-hover-offset-x: 0px;
@calendar-hover-offset-y: -1542px;
@calendar-hover-width: 22px;
@calendar-hover-height: 23px;
@calendar-hover-total-width: 147px;
@calendar-hover-total-height: 3034px;
@calendar-hover-image: '../img/sprite.png';
@calendar-hover: 0px 1542px 0px -1542px 22px 23px 147px 3034px '../img/sprite.png';
@calendar-to-x: 0px;
@calendar-to-y: 1575px;
@calendar-to-offset-x: 0px;
@calendar-to-offset-y: -1575px;
@calendar-to-width: 22px;
@calendar-to-height: 23px;
@calendar-to-total-width: 147px;
@calendar-to-total-height: 3034px;
@calendar-to-image: '../img/sprite.png';
@calendar-to: 0px 1575px 0px -1575px 22px 23px 147px 3034px '../img/sprite.png';
@calendar-x: 0px;
@calendar-y: 1509px;
@calendar-offset-x: 0px;
@calendar-offset-y: -1509px;
@calendar-width: 22px;
@calendar-height: 23px;
@calendar-total-width: 147px;
@calendar-total-height: 3034px;
@calendar-image: '../img/sprite.png';
@calendar: 0px 1509px 0px -1509px 22px 23px 147px 3034px '../img/sprite.png';
@globus-x: 0px;
@globus-y: 1641px;
@globus-offset-x: 0px;
@globus-offset-y: -1641px;
@globus-width: 20px;
@globus-height: 23px;
@globus-total-width: 147px;
@globus-total-height: 3034px;
@globus-image: '../img/sprite.png';
@globus: 0px 1641px 0px -1641px 20px 23px 147px 3034px '../img/sprite.png';
@minus-blue-x: 0px;
@minus-blue-y: 0px;
@minus-blue-offset-x: 0px;
@minus-blue-offset-y: 0px;
@minus-blue-width: 10px;
@minus-blue-height: 5px;
@minus-blue-total-width: 147px;
@minus-blue-total-height: 3034px;
@minus-blue-image: '../img/sprite.png';
@minus-blue: 0px 0px 0px 0px 10px 5px 147px 3034px '../img/sprite.png';
@plus-blue-x: 0px;
@plus-blue-y: 341px;
@plus-blue-offset-x: 0px;
@plus-blue-offset-y: -341px;
@plus-blue-width: 12px;
@plus-blue-height: 13px;
@plus-blue-total-width: 147px;
@plus-blue-total-height: 3034px;
@plus-blue-image: '../img/sprite.png';
@plus-blue: 0px 341px 0px -341px 12px 13px 147px 3034px '../img/sprite.png';
@select-tours-x: 0px;
@select-tours-y: 684px;
@select-tours-offset-x: 0px;
@select-tours-offset-y: -684px;
@select-tours-width: 18px;
@select-tours-height: 16px;
@select-tours-total-width: 147px;
@select-tours-total-height: 3034px;
@select-tours-image: '../img/sprite.png';
@select-tours: 0px 684px 0px -684px 18px 16px 147px 3034px '../img/sprite.png';
@signpost-x: 0px;
@signpost-y: 1707px;
@signpost-offset-x: 0px;
@signpost-offset-y: -1707px;
@signpost-width: 20px;
@signpost-height: 24px;
@signpost-total-width: 147px;
@signpost-total-height: 3034px;
@signpost-image: '../img/sprite.png';
@signpost: 0px 1707px 0px -1707px 20px 24px 147px 3034px '../img/sprite.png';
@weekend-x: 0px;
@weekend-y: 658px;
@weekend-offset-x: 0px;
@weekend-offset-y: -658px;
@weekend-width: 16px;
@weekend-height: 16px;
@weekend-total-width: 147px;
@weekend-total-height: 3034px;
@weekend-image: '../img/sprite.png';
@weekend: 0px 658px 0px -658px 16px 16px 147px 3034px '../img/sprite.png';
@fb-x: 0px;
@fb-y: 1317px;
@fb-offset-x: 0px;
@fb-offset-y: -1317px;
@fb-width: 22px;
@fb-height: 22px;
@fb-total-width: 147px;
@fb-total-height: 3034px;
@fb-image: '../img/sprite.png';
@fb: 0px 1317px 0px -1317px 22px 22px 147px 3034px '../img/sprite.png';
@fb_md-x: 0px;
@fb_md-y: 2419px;
@fb_md-offset-x: 0px;
@fb_md-offset-y: -2419px;
@fb_md-width: 42px;
@fb_md-height: 42px;
@fb_md-total-width: 147px;
@fb_md-total-height: 3034px;
@fb_md-image: '../img/sprite.png';
@fb_md: 0px 2419px 0px -2419px 42px 42px 147px 3034px '../img/sprite.png';
@rss-x: 0px;
@rss-y: 1445px;
@rss-offset-x: 0px;
@rss-offset-y: -1445px;
@rss-width: 22px;
@rss-height: 22px;
@rss-total-width: 147px;
@rss-total-height: 3034px;
@rss-image: '../img/sprite.png';
@rss: 0px 1445px 0px -1445px 22px 22px 147px 3034px '../img/sprite.png';
@rss_md-x: 0px;
@rss_md-y: 2523px;
@rss_md-offset-x: 0px;
@rss_md-offset-y: -2523px;
@rss_md-width: 42px;
@rss_md-height: 42px;
@rss_md-total-width: 147px;
@rss_md-total-height: 3034px;
@rss_md-image: '../img/sprite.png';
@rss_md: 0px 2523px 0px -2523px 42px 42px 147px 3034px '../img/sprite.png';
@tw-x: 0px;
@tw-y: 1381px;
@tw-offset-x: 0px;
@tw-offset-y: -1381px;
@tw-width: 22px;
@tw-height: 22px;
@tw-total-width: 147px;
@tw-total-height: 3034px;
@tw-image: '../img/sprite.png';
@tw: 0px 1381px 0px -1381px 22px 22px 147px 3034px '../img/sprite.png';
@tw_md-x: 0px;
@tw_md-y: 2367px;
@tw_md-offset-x: 0px;
@tw_md-offset-y: -2367px;
@tw_md-width: 42px;
@tw_md-height: 42px;
@tw_md-total-width: 147px;
@tw_md-total-height: 3034px;
@tw_md-image: '../img/sprite.png';
@tw_md: 0px 2367px 0px -2367px 42px 42px 147px 3034px '../img/sprite.png';
@vk-x: 0px;
@vk-y: 1477px;
@vk-offset-x: 0px;
@vk-offset-y: -1477px;
@vk-width: 22px;
@vk-height: 22px;
@vk-total-width: 147px;
@vk-total-height: 3034px;
@vk-image: '../img/sprite.png';
@vk: 0px 1477px 0px -1477px 22px 22px 147px 3034px '../img/sprite.png';
@vk_md-x: 0px;
@vk_md-y: 2627px;
@vk_md-offset-x: 0px;
@vk_md-offset-y: -2627px;
@vk_md-width: 42px;
@vk_md-height: 42px;
@vk_md-total-width: 147px;
@vk_md-total-height: 3034px;
@vk_md-image: '../img/sprite.png';
@vk_md: 0px 2627px 0px -2627px 42px 42px 147px 3034px '../img/sprite.png';
@activetours-active-x: 0px;
@activetours-active-y: 507px;
@activetours-active-offset-x: 0px;
@activetours-active-offset-y: -507px;
@activetours-active-width: 10px;
@activetours-active-height: 15px;
@activetours-active-total-width: 147px;
@activetours-active-total-height: 3034px;
@activetours-active-image: '../img/sprite.png';
@activetours-active: 0px 507px 0px -507px 10px 15px 147px 3034px '../img/sprite.png';
@activetours-x: 0px;
@activetours-y: 582px;
@activetours-offset-x: 0px;
@activetours-offset-y: -582px;
@activetours-width: 10px;
@activetours-height: 15px;
@activetours-total-width: 147px;
@activetours-total-height: 3034px;
@activetours-image: '../img/sprite.png';
@activetours: 0px 582px 0px -582px 10px 15px 147px 3034px '../img/sprite.png';
@avia-active-x: 0px;
@avia-active-y: 98px;
@avia-active-offset-x: 0px;
@avia-active-offset-y: -98px;
@avia-active-width: 19px;
@avia-active-height: 11px;
@avia-active-total-width: 147px;
@avia-active-total-height: 3034px;
@avia-active-image: '../img/sprite.png';
@avia-active: 0px 98px 0px -98px 19px 11px 147px 3034px '../img/sprite.png';
@avia-x: 0px;
@avia-y: 119px;
@avia-offset-x: 0px;
@avia-offset-y: -119px;
@avia-width: 19px;
@avia-height: 11px;
@avia-total-width: 147px;
@avia-total-height: 3034px;
@avia-image: '../img/sprite.png';
@avia: 0px 119px 0px -119px 19px 11px 147px 3034px '../img/sprite.png';
@beach-active-x: 0px;
@beach-active-y: 272px;
@beach-active-offset-x: 0px;
@beach-active-offset-y: -272px;
@beach-active-width: 13px;
@beach-active-height: 13px;
@beach-active-total-width: 147px;
@beach-active-total-height: 3034px;
@beach-active-image: '../img/sprite.png';
@beach-active: 0px 272px 0px -272px 13px 13px 147px 3034px '../img/sprite.png';
@beach-x: 0px;
@beach-y: 295px;
@beach-offset-x: 0px;
@beach-offset-y: -295px;
@beach-width: 13px;
@beach-height: 13px;
@beach-total-width: 147px;
@beach-total-height: 3034px;
@beach-image: '../img/sprite.png';
@beach: 0px 295px 0px -295px 13px 13px 147px 3034px '../img/sprite.png';
@cars-active-x: 0px;
@cars-active-y: 162px;
@cars-active-offset-x: 0px;
@cars-active-offset-y: -162px;
@cars-active-width: 13px;
@cars-active-height: 12px;
@cars-active-total-width: 147px;
@cars-active-total-height: 3034px;
@cars-active-image: '../img/sprite.png';
@cars-active: 0px 162px 0px -162px 13px 12px 147px 3034px '../img/sprite.png';
@hotels-active-x: 0px;
@hotels-active-y: 77px;
@hotels-active-offset-x: 0px;
@hotels-active-offset-y: -77px;
@hotels-active-width: 14px;
@hotels-active-height: 11px;
@hotels-active-total-width: 147px;
@hotels-active-total-height: 3034px;
@hotels-active-image: '../img/sprite.png';
@hotels-active: 0px 77px 0px -77px 14px 11px 147px 3034px '../img/sprite.png';
@hotels-x: 0px;
@hotels-y: 35px;
@hotels-offset-x: 0px;
@hotels-offset-y: -35px;
@hotels-width: 14px;
@hotels-height: 11px;
@hotels-total-width: 147px;
@hotels-total-height: 3034px;
@hotels-image: '../img/sprite.png';
@hotels: 0px 35px 0px -35px 14px 11px 147px 3034px '../img/sprite.png';
@insurance-active-x: 0px;
@insurance-active-y: 184px;
@insurance-active-offset-x: 0px;
@insurance-active-offset-y: -184px;
@insurance-active-width: 10px;
@insurance-active-height: 12px;
@insurance-active-total-width: 147px;
@insurance-active-total-height: 3034px;
@insurance-active-image: '../img/sprite.png';
@insurance-active: 0px 184px 0px -184px 10px 12px 147px 3034px '../img/sprite.png';
@insurance-x: 0px;
@insurance-y: 140px;
@insurance-offset-x: 0px;
@insurance-offset-y: -140px;
@insurance-width: 10px;
@insurance-height: 12px;
@insurance-total-width: 147px;
@insurance-total-height: 3034px;
@insurance-image: '../img/sprite.png';
@insurance: 0px 140px 0px -140px 10px 12px 147px 3034px '../img/sprite.png';
@adventure-x: 0px;
@adventure-y: 557px;
@adventure-offset-x: 0px;
@adventure-offset-y: -557px;
@adventure-width: 15px;
@adventure-height: 15px;
@adventure-total-width: 147px;
@adventure-total-height: 3034px;
@adventure-image: '../img/sprite.png';
@adventure: 0px 557px 0px -557px 15px 15px 147px 3034px '../img/sprite.png';
@aerostat-x: 0px;
@aerostat-y: 1810px;
@aerostat-offset-x: 0px;
@aerostat-offset-y: -1810px;
@aerostat-width: 18px;
@aerostat-height: 25px;
@aerostat-total-width: 147px;
@aerostat-total-height: 3034px;
@aerostat-image: '../img/sprite.png';
@aerostat: 0px 1810px 0px -1810px 18px 25px 147px 3034px '../img/sprite.png';
@air-x: 0px;
@air-y: 902px;
@air-offset-x: 0px;
@air-offset-y: -902px;
@air-width: 14px;
@air-height: 18px;
@air-total-width: 147px;
@air-total-height: 3034px;
@air-image: '../img/sprite.png';
@air: 0px 902px 0px -902px 14px 18px 147px 3034px '../img/sprite.png';
@autors-x: 0px;
@autors-y: 532px;
@autors-offset-x: 0px;
@autors-offset-y: -532px;
@autors-width: 15px;
@autors-height: 15px;
@autors-total-width: 147px;
@autors-total-height: 3034px;
@autors-image: '../img/sprite.png';
@autors: 0px 532px 0px -532px 15px 15px 147px 3034px '../img/sprite.png';
@cars-x: 0px;
@cars-y: 228px;
@cars-offset-x: 0px;
@cars-offset-y: -228px;
@cars-width: 13px;
@cars-height: 12px;
@cars-total-width: 147px;
@cars-total-height: 3034px;
@cars-image: '../img/sprite.png';
@cars: 0px 228px 0px -228px 13px 12px 147px 3034px '../img/sprite.png';
@comb-x: 0px;
@comb-y: 791px;
@comb-offset-x: 0px;
@comb-offset-y: -791px;
@comb-width: 17px;
@comb-height: 17px;
@comb-total-width: 147px;
@comb-total-height: 3034px;
@comb-image: '../img/sprite.png';
@comb: 0px 791px 0px -791px 17px 17px 147px 3034px '../img/sprite.png';
@events-x: 0px;
@events-y: 710px;
@events-offset-x: 0px;
@events-offset-y: -710px;
@events-width: 17px;
@events-height: 17px;
@events-total-width: 147px;
@events-total-height: 3034px;
@events-image: '../img/sprite.png';
@events: 0px 710px 0px -710px 17px 17px 147px 3034px '../img/sprite.png';
@excursions-x: 0px;
@excursions-y: 15px;
@excursions-offset-x: 0px;
@excursions-offset-y: -15px;
@excursions-width: 20px;
@excursions-height: 10px;
@excursions-total-width: 147px;
@excursions-total-height: 3034px;
@excursions-image: '../img/sprite.png';
@excursions: 0px 15px 0px -15px 20px 10px 147px 3034px '../img/sprite.png';
@expeditions-x: 0px;
@expeditions-y: 459px;
@expeditions-offset-x: 0px;
@expeditions-offset-y: -459px;
@expeditions-width: 21px;
@expeditions-height: 14px;
@expeditions-total-width: 147px;
@expeditions-total-height: 3034px;
@expeditions-image: '../img/sprite.png';
@expeditions: 0px 459px 0px -459px 21px 14px 147px 3034px '../img/sprite.png';
@family-x: 0px;
@family-y: 632px;
@family-offset-x: 0px;
@family-offset-y: -632px;
@family-width: 21px;
@family-height: 16px;
@family-total-width: 147px;
@family-total-height: 3034px;
@family-image: '../img/sprite.png';
@family: 0px 632px 0px -632px 21px 16px 147px 3034px '../img/sprite.png';
@gastronomy-x: 0px;
@gastronomy-y: 737px;
@gastronomy-offset-x: 0px;
@gastronomy-offset-y: -737px;
@gastronomy-width: 18px;
@gastronomy-height: 17px;
@gastronomy-total-width: 147px;
@gastronomy-total-height: 3034px;
@gastronomy-image: '../img/sprite.png';
@gastronomy: 0px 737px 0px -737px 18px 17px 147px 3034px '../img/sprite.png';
@learnings-x: 0px;
@learnings-y: 483px;
@learnings-offset-x: 0px;
@learnings-offset-y: -483px;
@learnings-width: 22px;
@learnings-height: 14px;
@learnings-total-width: 147px;
@learnings-total-height: 3034px;
@learnings-image: '../img/sprite.png';
@learnings: 0px 483px 0px -483px 22px 14px 147px 3034px '../img/sprite.png';
@mountains-x: 0px;
@mountains-y: 387px;
@mountains-offset-x: 0px;
@mountains-offset-y: -387px;
@mountains-width: 19px;
@mountains-height: 14px;
@mountains-total-width: 147px;
@mountains-total-height: 3034px;
@mountains-image: '../img/sprite.png';
@mountains: 0px 387px 0px -387px 19px 14px 147px 3034px '../img/sprite.png';
@no-standart-x: 0px;
@no-standart-y: 764px;
@no-standart-offset-x: 0px;
@no-standart-offset-y: -764px;
@no-standart-width: 17px;
@no-standart-height: 17px;
@no-standart-total-width: 147px;
@no-standart-total-height: 3034px;
@no-standart-image: '../img/sprite.png';
@no-standart: 0px 764px 0px -764px 17px 17px 147px 3034px '../img/sprite.png';
@photo-x: 0px;
@photo-y: 435px;
@photo-offset-x: 0px;
@photo-offset-y: -435px;
@photo-width: 18px;
@photo-height: 14px;
@photo-total-width: 147px;
@photo-total-height: 3034px;
@photo-image: '../img/sprite.png';
@photo: 0px 435px 0px -435px 18px 14px 147px 3034px '../img/sprite.png';
@red-letter-x: 0px;
@red-letter-y: 1016px;
@red-letter-offset-x: 0px;
@red-letter-offset-y: -1016px;
@red-letter-width: 13px;
@red-letter-height: 19px;
@red-letter-total-width: 147px;
@red-letter-total-height: 3034px;
@red-letter-image: '../img/sprite.png';
@red-letter: 0px 1016px 0px -1016px 13px 19px 147px 3034px '../img/sprite.png';
@safari-x: 0px;
@safari-y: 411px;
@safari-offset-x: 0px;
@safari-offset-y: -411px;
@safari-width: 24px;
@safari-height: 14px;
@safari-total-width: 147px;
@safari-total-height: 3034px;
@safari-image: '../img/sprite.png';
@safari: 0px 411px 0px -411px 24px 14px 147px 3034px '../img/sprite.png';
@space-x: 0px;
@space-y: 958px;
@space-offset-x: 0px;
@space-offset-y: -958px;
@space-width: 18px;
@space-height: 19px;
@space-total-width: 147px;
@space-total-height: 3034px;
@space-image: '../img/sprite.png';
@space: 0px 958px 0px -958px 18px 19px 147px 3034px '../img/sprite.png';
@terra-x: 0px;
@terra-y: 874px;
@terra-offset-x: 0px;
@terra-offset-y: -874px;
@terra-width: 12px;
@terra-height: 18px;
@terra-total-width: 147px;
@terra-total-height: 3034px;
@terra-image: '../img/sprite.png';
@terra: 0px 874px 0px -874px 12px 18px 147px 3034px '../img/sprite.png';
@water-x: 0px;
@water-y: 1608px;
@water-offset-x: 0px;
@water-offset-y: -1608px;
@water-width: 23px;
@water-height: 23px;
@water-total-width: 147px;
@water-total-height: 3034px;
@water-image: '../img/sprite.png';
@water: 0px 1608px 0px -1608px 23px 23px 147px 3034px '../img/sprite.png';

/*
The provided classes are intended to be used with the array-like variables

.icon-home {
  .sprite-width(@icon-home);
}
.icon-email {
  .sprite(@icon-email);
}
*/
.sprite-width(@sprite) {
  width: ~`"@{sprite}".split(', ')[4]`;
}

.sprite-height(@sprite) {
  height: ~`"@{sprite}".split(', ')[5]`;
}

.sprite-position(@sprite) {
  @sprite-offset-x: ~`"@{sprite}".split(', ')[2]`;
  @sprite-offset-y: ~`"@{sprite}".split(', ')[3]`;
  background-position: @sprite-offset-x  @sprite-offset-y;
}

.sprite-image(@sprite) {
  @sprite-image: ~`"@{sprite}".split(', ')[8].slice(1, -2)`;
  background-image: url(@sprite-image);
}

.sprite(@sprite) {
  .sprite-image(@sprite);
  .sprite-position(@sprite);
  .sprite-width(@sprite);
  .sprite-height(@sprite);
}
