/*grid*/

.col-all-20p, .col-all-22p, .col-all-12p {
  position: relative;
  min-height: 1px;
  padding-left:@grid-gutter-width-half;
  padding-right:@grid-gutter-width-half;
  float: left;
}

.col-all-20p {
  width: 20%;
}

.col-all-22p {
  width: 22%;
}

.col-all-12p {
  width: 12%;
}