
/*Typography*/

body {
  font-family: @font-family-base;
}

h1, .h1 {



}

h2 {
}

h3 {

}

p {

}

a {
  text-decoration: none;
  color:  @color-link;
  &:hover {
    text-decoration: none;
  }
}


i{
  display: inline-block;
}


/* Helper classes */

.fll {
  float: left;
}

.flr {
  float: right;
}

.clear-list() {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.clear-btn() {
  background-color: transparent;
  border: 0 none;
  outline: 0 none;
}

.icon {
  display: inline-block;
  *display: inline;
  zoom: 1;
}

//.right-section {
//  margin-bottom: 40px;
//}

.ta-c {
  text-align: center;
}

.ta-r {
  text-align: right;
}

//.link-btn {
//  display: inline-block;
//  cursor: pointer;
//}

.full-width {
  width: 100%;
}
//
//.disabled-mask {
//  background-color: #fff;
//  opacity: 0.6;
//  top: 0;
//  left: 0;
//  content: '';
//  display: block;
//  position: absolute;
//}

/*form*/

//
//.checking_group {
//  padding-top: 9px;
//  padding-bottom: 8px;
//}
//
//.checking_label-inline {
//  display: inline-block;
//  font-size: 16px;
//  font-weight: 400;
//  margin-bottom: 0;
//  margin-right: 20px;
//  cursor: pointer;
//  vertical-align: top;
//  &.-after {
//    margin-right: 0;
//  }
//}
//
///*Buttons*/
//
//.simple-btn {
//  padding: 11px 15px;
//  line-height: 16px;
//  text-transform: uppercase;
//  &.-orange {
//    background-color:  #ee9565;
//    color:#ffffff;
//  }
//  &.-blue {
//    background-color:  #108bbf;
//    color:#ffffff;
//  }
//
//  &.-transparent {
//    color:#ffffff;
//    border:  1px solid #ffffff;
//  }
//
//  &:disabled:after {
//    width: 100%;
//    height: 100%;
//    border-radius: 4px;
//    z-index: 1;
//    .disabled-mask();
//  }
//
//  .icon {
//    margin-right: 10px;
//  }
//
//
//}
//
//.simple-btn.-lg{
//  padding: 20px 30px;
//  font-size: 20px;
//}
//
//
//
///*wrappers*/
//
//.g_gray-border {
//  border: 1px solid #ccc;
//}
//
//
//
//
//
//hr {
//
//  &.clear-hr {
//    margin: 0;
//  }
//
//  &.sm-hr {
//    margin: 10px 0;
//  }
//
//  &.-clear-right {
//    margin-right: 20px;
//  }
//
//  &.-clear-left {
//    margin-left: 20px;
//  }
//
//  &.transparent-hr {
//    border: 0 transparent none;
//    margin: 0;
//    height: 20px;
//  }
//}
//
//
///*groups*/
//
//fieldset {
//  padding-bottom: 10px;
//}
//
//.checking_group {
//  padding-top: 10px;
//  padding-bottom: 10px;
//}
//
//.group_buttons {
//  text-align: center;
//  button {
//    margin: 0 5px;
//  }
//}

.row-sm {
  margin-left: -5px;
  margin-right: -5px;
}

.time-left-col {
  width: 78%;
  float: left;
  padding: 0 5px;
}

.time-right-col {
  width: 22%;
  float: left;
  padding: 0 5px;
}