
@import 'variables.less';

header {
  background: rgba(255, 255, 255, 0.9) data-uri('@{img-path}/cell.png') 111% 37% no-repeat;
  border-radius: 2px;
  height: 60px;
  padding: 20px;
  box-shadow: @shadow-main, @shadow-bevel-top-header, @shadow-bevel-bottom;
  margin-bottom: 5px;
}

h2 {
  font-size: 44px;
}
