.logo-sm {
  width: 114px;
  height: 20px;
}

.logo-header {
  fill: @gray-main_75;
}

.assign-driver-sm {
  width: 19px;
  height: 20px;
}

.assign-driver-icon {
  fill: @blue-bright;
}

.close-sm {
  width: 10px;
  height: 10px;
}

.close-xs {
  width: 7px;
  height: 7px;
}

.close-icon {
  fill: @gray-main_50;

  &:hover {
    fill: @gray-main;
  }
}

.car-waiting-sm {
  width: 20px;
  height: 20px;
}

.car-waiting-icon {
  fill: #16a086;
}

.car-in-work-sm {
  width: 20px;
  height: 12px;
}

.car-in-work-icon {
  fill: #9ebc63;
}

.flag-sm {
  width: 18px;
  height: 20px;
}

.flag-icon {
  fill: #95acaf;
}

.switch-sm {
  width: 12px;
  height: 10px;
}

.switch-icon {
  fill: @gray-main;
}

.arrow-right-sm {
  width: 7px;
  height: 9px;
}

.arrow-right-icon {
  fill: @gray-main;
}

.route-sm {
  width: 19px;
  height: 18px;
}

.route-icon {
  fill: @gray-main_75;
}

.system-call-sm {
  width: 20px;
  height: 20px;
}

.system-call-icon {
 fill: @gray-main_75;
}

.sms-sm {
  width: 20px;
  height: 20px;
}

.sms-icon {
  fill: @gray-main_75;
}

.check-sm {
  width: 14px;
  height: 11px;
}

.check-icon {
  fill: @green-main;
}