@import './../../styles/variables';

.project-bubble_wrapper {
  width: 90%;
  padding-left: 50px;
  position: relative;
  min-height: 500px;
  line-height: 500px;

  &.wrapper-size-sm {
    width: 70%;
  }

  &.wrapper-size-md {
    width: 75.5%;
  }

  &.wrapper-size-lg {
    width: 84%;
  }

  .bubble-inner {
    width: 55%;
  }
}

.project-bubble .ros-time {
  position: absolute;
  left: 0;
  top: -42px;
}

.project-bubble.bubble.size-lg {
  margin-left: 0;
  vertical-align: middle;
}

.project-bubble_wrapper.-left {
  .project-bubble-img {
    left: 110px;
    right: inherit;
  }

  .bubble-inner {
    margin-left:  340px;
  }
}

h2.project-title {
  font-size: 46px;
  line-height: 50px;
  color: #000000;
  margin: 0 0 15px 0;
  font-family: $font-bold;
}

.project-desc {
  font-size: 22px;
  line-height: 34px;
  margin: 0 0 25px 0;
}

.project-available {
  display: inline-block;
  font-size: 0;
  line-height: 0;
  vertical-align: middle;
}

.project-achievements {
  line-height: 66px;
  margin-bottom: -25px;

  &.-full {
    .achievement-wrapper {
      width: 100%;
    }
  }

  .project-available, {
    margin-right: 20px;
    margin-bottom: 25px;
  }

  .achievement-wrapper {
    margin-right: 30px;
    margin-bottom: 25px;
  }
}

.project-bubble {
  position: relative;
}

.project-bubble-img {
  position: absolute;
  right: 80px;
  z-index: 1;
}


@media (min-width: $screen-sm-min) {
  width: 100%;
  left: 0;
}

@media (min-width: $screen-md-min) {
  width: 100%;
  left: 0;
}

@media (min-width: $screen-lg-min) {
  width: $container-lg+270;
  left: 50%;
}

@media (min-width: $screen-md-min) and (max-width: $screen-md-max) {
  .project-bubble_wrapper {

    .bubble-inner {
      width: 50%;
    }

    &.wrapper-size-sm {
      width: 90%;
    }

    &.wrapper-size-md {
      width: 90%;
    }

    &.wrapper-size-lg {
      width: 90%;
    }

  }
}

@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
  .project-bubble_wrapper {

    &.-left .bubble-inner {
      margin-left: 320px;
    }

    .bubble-inner {
      width: 50%;
    }

    &.wrapper-size-sm {
      width: 100%;
    }

    &.wrapper-size-md {
      width: 100%;
    }

    &.wrapper-size-lg {
      width: 100%;
    }

    .bubble-inner {
      width: 55%;
    }
  }
}

@media (max-width: $screen-xs-max) {

  .project-bubble .ros-time {
    top: -30px;
  }

  h2.project-title {
    font-size: 30px;
    line-height: 30px;
  }

  .project-desc {
    font-size: 16px;
    line-height: 26px;
    margin-bottom: 15px;
  }

  .project-bubble.bubble.size-lg {
    padding: 20px;
  }

  .project-bubble-img {
    position: static;
    right: inherit;
    left: inherit;
    margin-bottom: 20px;
  }

  .project-bubble_wrapper .bubble-inner {
    width: 100%;
    text-align: center;
  }

  .project-bubble_wrapper.-left .bubble-inner {
    margin-left: 0;
  }

  .project-bubble_wrapper {
    height: auto;
    padding-left: 25px;
  }

  .project-bubble_wrapper {

    &.wrapper-size-sm {
      width: 100%;
    }

    &.wrapper-size-md {
      width: 100%;
    }

    &.wrapper-size-lg {
      width: 100%;
    }
  }

  .project-achievements {
    line-height: 1;
  }

  .project-achievements .achievement-wrapper {
    display: inline-block;
    margin-right: 0;
    margin-right: 10px;
    margin-left: 10px;
    margin-bottom: 20px;
  }

  .project-achievements .project-available {
    display: inline-block;
    margin-right: 0;
    margin-right: 10px;
    margin-left: 10px;
    margin-bottom: 20px;
  }
}