@import './../../styles/base';

.project-bubble_wrapper {
  width: 90%;
  padding-left: 50px;
  position: relative;
  height: 500px;
  line-height: 500px;
  .bubble-inner {
    width: 55%;
  }
}


.project-bubble .ros-time {
  position: absolute;
  left: 0;
  top: -42px;
}

.project-bubble.bubble.size-lg {
  margin-left: 0;
  vertical-align: middle;
}

.project-bubble_wrapper.-left {
  .project-bubble-img {
    left: 110px;
    right: inherit;
  }

  .bubble-inner {
    margin-left:  340px;
  }
}

h2.project-title {
  font-size: 46px;
  line-height: 50px;
  color: #000000;
  margin: 0 0 15px 0;
  font-family: $font-bold;
}

.project-desc {
  font-size: 22px;
  line-height: 34px;
  margin: 0 0 25px 0;
}

.project-available {
  display: inline-block;
  font-size: 0;
  line-height: 0;
  vertical-align: middle;
}

.project-achievements {
  line-height: 66px;

  .project-available, {
    margin-right: 20px;
  }
  .achievement-wrapper {
    margin-right: 30px;
  }
}
.project-bubble {
  position: relative;
}

.project-bubble-img {
  position: absolute;
  right: 80px;
  z-index: 1;
}

@media (max-width: 767px) {



  h2.project-title {
    font-size: 30px;
    line-height: 30px;
  }

  .project-desc {
    font-size: 16px;
    line-height: 26px;
    margin-bottom: 15px;
  }
  
  .project-bubble.bubble.size-lg {
    padding: 20px;
  }

  .project-bubble-img {
    position: static;
    right: inherit;
    left: inherit;
    margin-bottom: 20px;
  }

  .project-bubble_wrapper .bubble-inner {
    width: 100%;
    text-align: center;
  }

  .project-bubble_wrapper.-left .bubble-inner {
    margin-left: 0;
  }

  .project-bubble_wrapper {
    height: auto;
  }

  .project-achievements {
    line-height: 1;
  }

  .project-achievements .achievement-wrapper {
    display: block;
    margin-right: 0;
    margin-bottom: 20px;
  }

  .project-achievements .project-available {
    display: block;
    margin-right: 0;
    margin-bottom: 20px;
    
    &:last-child {
      margin-bottom: 0;
    }
  }
}