@import './../../styles/base';

h2.project-title {
  font-size: 46px;
  line-height: 50px;
  color: #000000;
  margin: 0 0 15px 0;
  font-family: $font-bold;
}

.project-desc {
  font-size: 22px;
  line-height: 34px;
  margin: 0 0 25px 0;
}

.project-available {
  display: inline-block;
  font-size: 0;
  line-height: 0;
  vertical-align: middle;
}

.project-achievements {
  line-height: 66px;

  .project-available, {
    margin-right: 20px;
  }
  .achievement-wrapper {
    margin-right: 30px;
  }
}

