.Atom {
  background-image: url(../img/sprite.png);
  background-position: 0px -2022px;
  width: 32px;
  height: 32px;
}
.BGbonus {
  background-image: url(../img/sprite.png);
  background-position: 0px -6041px;
  width: 245px;
  height: 245px;
}
.DHL {
  background-image: url(../img/sprite.png);
  background-position: 0px -1898px;
  width: 138px;
  height: 31px;
}
.Geschmack {
  background-image: url(../img/sprite.png);
  background-position: 0px -3448px;
  width: 60px;
  height: 60px;
}
.RSS {
  background-image: url(../img/sprite.png);
  background-position: 0px -2106px;
  width: 32px;
  height: 32px;
}
.Zutaten {
  background-image: url(../img/sprite.png);
  background-position: 0px -3098px;
  width: 60px;
  height: 60px;
}
.achive_icon {
  background-image: url(../img/sprite.png);
  background-position: 0px -2064px;
  width: 32px;
  height: 32px;
}
.add_blue {
  background-image: url(../img/sprite.png);
  background-position: 0px -784px;
  width: 22px;
  height: 22px;
}
.arr-down-act {
  background-image: url(../img/sprite.png);
  background-position: 0px -108px;
  width: 13px;
  height: 8px;
}
.arr-down {
  background-image: url(../img/sprite.png);
  background-position: 0px -36px;
  width: 13px;
  height: 8px;
}
.arr-right-orng {
  background-image: url(../img/sprite.png);
  background-position: 0px -54px;
  width: 6px;
  height: 8px;
}
.bar-point {
  background-image: url(../img/sprite.png);
  background-position: 0px -2148px;
  width: 32px;
  height: 32px;
}
.begutachtet {
  background-image: url(../img/sprite.png);
  background-position: 0px -3238px;
  width: 60px;
  height: 60px;
}
.benefits {
  background-image: url(../img/sprite.png);
  background-position: 0px -1288px;
  width: 26px;
  height: 26px;
}
.black-check {
  background-image: url(../img/sprite.png);
  background-position: 0px -267px;
  width: 13px;
  height: 11px;
}
.blog {
  background-image: url(../img/sprite.png);
  background-position: 0px -4934px;
  width: 410px;
  height: 200px;
}
.blog_min {
  background-image: url(../img/sprite.png);
  background-position: 0px -4244px;
  width: 238px;
  height: 150px;
}
.bonus {
  background-image: url(../img/sprite.png);
  background-position: 0px -2276px;
  width: 35px;
  height: 35px;
}
.breadcrumb_divider {
  background-image: url(../img/sprite.png);
  background-position: 0px -2416px;
  width: 6px;
  height: 40px;
}
.cart-dark {
  background-image: url(../img/sprite.png);
  background-position: 0px -2190px;
  width: 40px;
  height: 33px;
}
.cart {
  background-image: url(../img/sprite.png);
  background-position: 0px -2233px;
  width: 40px;
  height: 33px;
}
.category-arrow {
  background-image: url(../img/sprite.png);
  background-position: 0px -144px;
  width: 13px;
  height: 10px;
}
.check-act {
  background-image: url(../img/sprite.png);
  background-position: 0px -1324px;
  width: 26px;
  height: 26px;
}
.check {
  background-image: url(../img/sprite.png);
  background-position: 0px -1360px;
  width: 26px;
  height: 26px;
}
.delete {
  background-image: url(../img/sprite.png);
  background-position: 0px -880px;
  width: 24px;
  height: 23px;
}
.dhl-nachnahme {
  background-image: url(../img/sprite.png);
  background-position: 0px -1816px;
  width: 100px;
  height: 31px;
}
.dlt-filter {
  background-image: url(../img/sprite.png);
  background-position: 0px -184px;
  width: 9px;
  height: 10px;
}
.drop-blue {
  background-image: url(../img/sprite.png);
  background-position: 0px -90px;
  width: 10px;
  height: 8px;
}
.drop {
  background-image: url(../img/sprite.png);
  background-position: 0px -72px;
  width: 10px;
  height: 8px;
}
.drop_sm {
  background-image: url(../img/sprite.png);
  background-position: 0px -18px;
  width: 8px;
  height: 8px;
}
.email-18 {
  background-image: url(../img/sprite.png);
  background-position: 0px -2866px;
  width: 40px;
  height: 40px;
}
.email-24 {
  background-image: url(../img/sprite.png);
  background-position: 0px -1656px;
  width: 30px;
  height: 30px;
}
.facebook-18 {
  background-image: url(../img/sprite.png);
  background-position: 0px -2566px;
  width: 40px;
  height: 40px;
}
.facebook-24 {
  background-image: url(../img/sprite.png);
  background-position: 0px -1696px;
  width: 30px;
  height: 30px;
}
.facebook {
  background-image: url(../img/sprite.png);
  background-position: 0px -1112px;
  width: 12px;
  height: 24px;
}
.flavor {
  background-image: url(../img/sprite.png);
  background-position: 0px -3598px;
  width: 165px;
  height: 80px;
}
.fragen {
  background-image: url(../img/sprite.png);
  background-position: 0px -5144px;
  width: 410px;
  height: 200px;
}
.fragen_min {
  background-image: url(../img/sprite.png);
  background-position: 0px -4084px;
  width: 238px;
  height: 150px;
}
.google-18 {
  background-image: url(../img/sprite.png);
  background-position: 0px -2716px;
  width: 40px;
  height: 40px;
}
.google-24 {
  background-image: url(../img/sprite.png);
  background-position: 0px -1616px;
  width: 30px;
  height: 30px;
}
.google-plus {
  background-image: url(../img/sprite.png);
  background-position: 0px -689px;
  width: 25px;
  height: 21px;
}
.helpfl {
  background-image: url(../img/sprite.png);
  background-position: 0px -1045px;
  width: 23px;
  height: 23px;
}
.icon-user {
  background-image: url(../img/sprite.png);
  background-position: 0px -1216px;
  width: 19px;
  height: 26px;
}
.kundenservice {
  background-image: url(../img/sprite.png);
  background-position: 0px -5786px;
  width: 245px;
  height: 245px;
}
.lineup-base-hover-sm {
  background-image: url(../img/sprite.png);
  background-position: 0px -3935px;
  width: 159px;
  height: 139px;
}
.lineup-base-hover {
  background-image: url(../img/sprite.png);
  background-position: 0px -5570px;
  width: 236px;
  height: 206px;
}
.lineup-base-sm {
  background-image: url(../img/sprite.png);
  background-position: 0px -3786px;
  width: 159px;
  height: 139px;
}
.lineup-base {
  background-image: url(../img/sprite.png);
  background-position: 0px -5354px;
  width: 236px;
  height: 206px;
}
.location-block-bg {
  background-image: url(../img/sprite.png);
  background-position: 0px -3308px;
  width: 48px;
  height: 60px;
}
.locator {
  background-image: url(../img/sprite.png);
  background-position: 0px -4724px;
  width: 410px;
  height: 200px;
}
.locator_min {
  background-image: url(../img/sprite.png);
  background-position: 0px -4564px;
  width: 238px;
  height: 150px;
}
.logo-paypal {
  background-image: url(../img/sprite.png);
  background-position: 0px -2321px;
  width: 135px;
  height: 36px;
}
.loupe-light {
  background-image: url(../img/sprite.png);
  background-position: 0px -489px;
  width: 17px;
  height: 16px;
}
.loupe-mbl {
  background-image: url(../img/sprite.png);
  background-position: 0px -1939px;
  width: 36px;
  height: 31px;
}
.loupe {
  background-image: url(../img/sprite.png);
  background-position: 0px -463px;
  width: 17px;
  height: 16px;
}
.made {
  background-image: url(../img/sprite.png);
  background-position: 0px -3168px;
  width: 60px;
  height: 60px;
}
.main-menu-arr {
  background-image: url(../img/sprite.png);
  background-position: 0px -441px;
  width: 8px;
  height: 12px;
}
.more {
  background-image: url(../img/sprite.png);
  background-position: 0px -979px;
  width: 23px;
  height: 23px;
}
.next-arrow {
  background-image: url(../img/sprite.png);
  background-position: 0px -1432px;
  width: 21px;
  height: 26px;
}
.next-step-arr {
  background-image: url(../img/sprite.png);
  background-position: 0px -1012px;
  width: 24px;
  height: 23px;
}
.nothelpfl {
  background-image: url(../img/sprite.png);
  background-position: 0px -913px;
  width: 23px;
  height: 23px;
}
.num_first {
  background-image: url(../img/sprite.png);
  background-position: 0px -1504px;
  width: 27px;
  height: 26px;
}
.num_second {
  background-image: url(../img/sprite.png);
  background-position: 0px -1468px;
  width: 27px;
  height: 26px;
}
.num_third {
  background-image: url(../img/sprite.png);
  background-position: 0px -1396px;
  width: 27px;
  height: 26px;
}
.paypal {
  background-image: url(../img/sprite.png);
  background-position: 0px -848px;
  width: 52px;
  height: 22px;
}
.paypal_logo {
  background-image: url(../img/sprite.png);
  background-position: 0px -1736px;
  width: 100px;
  height: 30px;
}
.pinterest {
  background-image: url(../img/sprite.png);
  background-position: 0px -1078px;
  width: 24px;
  height: 24px;
}
.point {
  background-image: url(../img/sprite.png);
  background-position: 0px -164px;
  width: 10px;
  height: 10px;
}
.popularsten-dark {
  background-image: url(../img/sprite.png);
  background-position: 0px -720px;
  width: 24px;
  height: 22px;
}
.popularsten {
  background-image: url(../img/sprite.png);
  background-position: 0px -2616px;
  width: 41px;
  height: 40px;
}
.premium {
  background-image: url(../img/sprite.png);
  background-position: 0px -3378px;
  width: 60px;
  height: 60px;
}
.prev-arrow {
  background-image: url(../img/sprite.png);
  background-position: 0px -1252px;
  width: 21px;
  height: 26px;
}
.qustn {
  background-image: url(../img/sprite.png);
  background-position: 0px -1146px;
  width: 24px;
  height: 25px;
}
.recycling {
  background-image: url(../img/sprite.png);
  background-position: 0px -6551px;
  width: 245px;
  height: 245px;
}
.recycling_min {
  background-image: url(../img/sprite.png);
  background-position: 0px -4404px;
  width: 238px;
  height: 150px;
}
.reload-act {
  background-image: url(../img/sprite.png);
  background-position: 0px -572px;
  width: 24px;
  height: 19px;
}
.reload {
  background-image: url(../img/sprite.png);
  background-position: 0px -543px;
  width: 24px;
  height: 19px;
}
.review {
  background-image: url(../img/sprite.png);
  background-position: 0px -1181px;
  width: 24px;
  height: 25px;
}
.ribbon-new-mini {
  background-image: url(../img/sprite.png);
  background-position: 0px -3031px;
  width: 58px;
  height: 57px;
}
.ribbon {
  background-image: url(../img/sprite.png);
  background-position: 0px -3688px;
  width: 89px;
  height: 88px;
}
.schnelle-dark {
  background-image: url(../img/sprite.png);
  background-position: 0px -816px;
  width: 25px;
  height: 22px;
}
.schnelle {
  background-image: url(../img/sprite.png);
  background-position: 0px -2666px;
  width: 41px;
  height: 40px;
}
.sep {
  background-image: url(../img/sprite.png);
  background-position: 0px -2766px;
  width: 6px;
  height: 40px;
}
.sofort {
  background-image: url(../img/sprite.png);
  background-position: 0px -946px;
  width: 70px;
  height: 23px;
}
.status1 {
  background-image: url(../img/sprite.png);
  background-position: 0px -204px;
  width: 11px;
  height: 11px;
}
.status2 {
  background-image: url(../img/sprite.png);
  background-position: 0px -246px;
  width: 11px;
  height: 11px;
}
.status3 {
  background-image: url(../img/sprite.png);
  background-position: 0px -288px;
  width: 11px;
  height: 11px;
}
.status4 {
  background-image: url(../img/sprite.png);
  background-position: 0px -331px;
  width: 12px;
  height: 12px;
}
.status5 {
  background-image: url(../img/sprite.png);
  background-position: 0px -353px;
  width: 12px;
  height: 12px;
}
.status6 {
  background-image: url(../img/sprite.png);
  background-position: 0px -397px;
  width: 12px;
  height: 12px;
}
.status7 {
  background-image: url(../img/sprite.png);
  background-position: 0px -419px;
  width: 12px;
  height: 12px;
}
.status8 {
  background-image: url(../img/sprite.png);
  background-position: 0px -309px;
  width: 12px;
  height: 12px;
}
.status9 {
  background-image: url(../img/sprite.png);
  background-position: 0px -375px;
  width: 12px;
  height: 12px;
}
.store_locator {
  background-image: url(../img/sprite.png);
  background-position: 0px -6806px;
  width: 510px;
  height: 245px;
}
.support {
  background-image: url(../img/sprite.png);
  background-position: 0px -2970px;
  width: 160px;
  height: 51px;
}
.telephone {
  background-image: url(../img/sprite.png);
  background-position: 0px -2916px;
  width: 33px;
  height: 44px;
}
.title-arrow_left {
  background-image: url(../img/sprite.png);
  background-position: 0px -1578px;
  width: 252px;
  height: 28px;
}
.title-arrow_right {
  background-image: url(../img/sprite.png);
  background-position: 0px -1540px;
  width: 252px;
  height: 28px;
}
.trusted-dark {
  background-image: url(../img/sprite.png);
  background-position: 0px -1980px;
  width: 32px;
  height: 32px;
}
.trusted-shops {
  background-image: url(../img/sprite.png);
  background-position: 0px -3518px;
  width: 70px;
  height: 70px;
}
.trusted {
  background-image: url(../img/sprite.png);
  background-position: 0px -2466px;
  width: 41px;
  height: 40px;
}
.twitter-18 {
  background-image: url(../img/sprite.png);
  background-position: 0px -2816px;
  width: 40px;
  height: 40px;
}
.twitter-24 {
  background-image: url(../img/sprite.png);
  background-position: 0px -1776px;
  width: 30px;
  height: 30px;
}
.twitter {
  background-image: url(../img/sprite.png);
  background-position: 0px -659px;
  width: 24px;
  height: 20px;
}
.up {
  background-image: url(../img/sprite.png);
  background-position: 0px 0px;
  width: 10px;
  height: 8px;
}
.up_sm {
  background-image: url(../img/sprite.png);
  background-position: 0px -126px;
  width: 8px;
  height: 8px;
}
.update-or {
  background-image: url(../img/sprite.png);
  background-position: 0px -601px;
  width: 24px;
  height: 19px;
}
.update-orng {
  background-image: url(../img/sprite.png);
  background-position: 0px -630px;
  width: 24px;
  height: 19px;
}
.versandkostenfreie-dark {
  background-image: url(../img/sprite.png);
  background-position: 0px -515px;
  width: 24px;
  height: 18px;
}
.versandkostenfreie {
  background-image: url(../img/sprite.png);
  background-position: 0px -2516px;
  width: 41px;
  height: 40px;
}
.visa-mastercard-footer {
  background-image: url(../img/sprite.png);
  background-position: 0px -752px;
  width: 72px;
  height: 22px;
}
.visa_logo {
  background-image: url(../img/sprite.png);
  background-position: 0px -2367px;
  width: 88px;
  height: 39px;
}
.way-arr {
  background-image: url(../img/sprite.png);
  background-position: 0px -1857px;
  width: 40px;
  height: 31px;
}
.white-check {
  background-image: url(../img/sprite.png);
  background-position: 0px -225px;
  width: 13px;
  height: 11px;
}
.wiki-bg {
  background-image: url(../img/sprite.png);
  background-position: 0px -6296px;
  width: 245px;
  height: 245px;
}
