include mixins/checkbox
include mixins/share-block

doctype html
html(class="no-js")
  include includes/head

  body
    include includes/header
    .main-content
      block main-content
    include includes/footer
    block footer-script
      include includes/footer-script



























