/*
Icon classes can be used entirely standalone. They are named after their original file names.

```html
<i class="icon-home"></i>
```
*/
.carusel-item {
  background-image: url(../assets/sprite.png);
  background-position: 0px -29px;
  width: 8px;
  height: 8px;
}
.carusel-item_active {
  background-image: url(../assets/sprite.png);
  background-position: 0px -107px;
  width: 12px;
  height: 12px;
}
.checkmark {
  background-image: url(../assets/sprite.png);
  background-position: 0px -502px;
  width: 21px;
  height: 21px;
}
.fb {
  background-image: url(../assets/sprite.png);
  background-position: 0px -471px;
  width: 10px;
  height: 21px;
}
.getdeal {
  background-image: url(../assets/sprite.png);
  background-position: 0px -1339px;
  width: 160px;
  height: 84px;
}
.getdeal_active {
  background-image: url(../assets/sprite.png);
  background-position: 0px -1433px;
  width: 160px;
  height: 84px;
}
.getdeal_hover {
  background-image: url(../assets/sprite.png);
  background-position: 0px -1527px;
  width: 160px;
  height: 84px;
}
.google-plus {
  background-image: url(../assets/sprite.png);
  background-position: 0px -441px;
  width: 21px;
  height: 20px;
}
.gray-line {
  background-image: url(../assets/sprite.png);
  background-position: 0px -689px;
  width: 1px;
  height: 26px;
}
.green-star {
  background-image: url(../assets/sprite.png);
  background-position: 0px -328px;
  width: 16px;
  height: 17px;
}
.left-arrow-hover {
  background-image: url(../assets/sprite.png);
  background-position: 0px -564px;
  width: 13px;
  height: 21px;
}
.left-arrow {
  background-image: url(../assets/sprite.png);
  background-position: 0px -626px;
  width: 13px;
  height: 21px;
}
.light-orange-arrow {
  background-image: url(../assets/sprite.png);
  background-position: 0px -1011px;
  width: 33px;
  height: 57px;
}
.mail {
  background-image: url(../assets/sprite.png);
  background-position: 0px -151px;
  width: 18px;
  height: 12px;
}
.markdown-circle {
  background-image: url(../assets/sprite.png);
  background-position: 0px -274px;
  width: 15px;
  height: 17px;
}
.markdown-small {
  background-image: url(../assets/sprite.png);
  background-position: 0px 0px;
  width: 4px;
  height: 4px;
}
.orange-arrow-small {
  background-image: url(../assets/sprite.png);
  background-position: 0px -222px;
  width: 16px;
  height: 16px;
}
.orange-arrow {
  background-image: url(../assets/sprite.png);
  background-position: 0px -129px;
  width: 7px;
  height: 12px;
}
.orange-arrow_bottom {
  background-image: url(../assets/sprite.png);
  background-position: 0px -173px;
  width: 13px;
  height: 13px;
}
.orange-arrow_left {
  background-image: url(../assets/sprite.png);
  background-position: 0px -67px;
  width: 11px;
  height: 10px;
}
.orange-arrow_right {
  background-image: url(../assets/sprite.png);
  background-position: 0px -87px;
  width: 11px;
  height: 10px;
}
.orange-plus {
  background-image: url(../assets/sprite.png);
  background-position: 0px -47px;
  width: 10px;
  height: 10px;
}
.rate-divider {
  background-image: url(../assets/sprite.png);
  background-position: 0px -412px;
  width: 5px;
  height: 19px;
}
.rate-down {
  background-image: url(../assets/sprite.png);
  background-position: 0px -893px;
  width: 48px;
  height: 49px;
}
.rate-down_active {
  background-image: url(../assets/sprite.png);
  background-position: 0px -952px;
  width: 48px;
  height: 49px;
}
.rate-up {
  background-image: url(../assets/sprite.png);
  background-position: 0px -775px;
  width: 48px;
  height: 49px;
}
.rate-up_active {
  background-image: url(../assets/sprite.png);
  background-position: 0px -834px;
  width: 48px;
  height: 49px;
}
.right-arrow-hover {
  background-image: url(../assets/sprite.png);
  background-position: 0px -533px;
  width: 13px;
  height: 21px;
}
.right-arrow {
  background-image: url(../assets/sprite.png);
  background-position: 0px -595px;
  width: 13px;
  height: 21px;
}
.search-md {
  background-image: url(../assets/sprite.png);
  background-position: 0px -657px;
  width: 22px;
  height: 22px;
}
.search {
  background-image: url(../assets/sprite.png);
  background-position: 0px -196px;
  width: 16px;
  height: 16px;
}
.select-arrow {
  background-image: url(../assets/sprite.png);
  background-position: 0px -14px;
  width: 9px;
  height: 5px;
}
.share {
  background-image: url(../assets/sprite.png);
  background-position: 0px -383px;
  width: 24px;
  height: 19px;
}
.showcoupon {
  background-image: url(../assets/sprite.png);
  background-position: 0px -1078px;
  width: 162px;
  height: 77px;
}
.showcoupon_hover {
  background-image: url(../assets/sprite.png);
  background-position: 0px -1165px;
  width: 162px;
  height: 77px;
}
.showcoupon_pressed {
  background-image: url(../assets/sprite.png);
  background-position: 0px -1252px;
  width: 162px;
  height: 77px;
}
.small-logo {
  background-image: url(../assets/sprite.png);
  background-position: 0px -725px;
  width: 64px;
  height: 40px;
}
.ticket {
  background-image: url(../assets/sprite.png);
  background-position: 0px -355px;
  width: 20px;
  height: 18px;
}
.toggle-nav {
  background-image: url(../assets/sprite.png);
  background-position: 0px -301px;
  width: 20px;
  height: 17px;
}
.tw {
  background-image: url(../assets/sprite.png);
  background-position: 0px -248px;
  width: 19px;
  height: 16px;
}
