.arrow-bottom {
  background-image: url(../img/sprite.png);
  background-position: 0px 0px;
  width: 25px;
  height: 16px;
}
.arrow-bottom_gray {
  background-image: url(../img/sprite.png);
  background-position: 0px -26px;
  width: 25px;
  height: 16px;
}
.arrow-left {
  background-image: url(../img/sprite.png);
  background-position: 0px -52px;
  width: 11px;
  height: 17px;
}
.arrow-left_full {
  background-image: url(../img/sprite.png);
  background-position: 0px -163px;
  width: 21px;
  height: 24px;
}
.arrow-left_lg {
  background-image: url(../img/sprite.png);
  background-position: 0px -266px;
  width: 16px;
  height: 25px;
}
.arrow-right {
  background-image: url(../img/sprite.png);
  background-position: 0px -79px;
  width: 11px;
  height: 17px;
}
.arrow-right_full {
  background-image: url(../img/sprite.png);
  background-position: 0px -197px;
  width: 21px;
  height: 24px;
}
.arrow-right_gray {
  background-image: url(../img/sprite.png);
  background-position: 0px -231px;
  width: 16px;
  height: 25px;
}
.arrow-right_lg {
  background-image: url(../img/sprite.png);
  background-position: 0px -336px;
  width: 16px;
  height: 25px;
}
.blue-bell {
  background-image: url(../img/sprite.png);
  background-position: 0px -606px;
  width: 29px;
  height: 31px;
}
.calendar {
  background-image: url(../img/sprite.png);
  background-position: 0px -106px;
  width: 18px;
  height: 18px;
}
.channels {
  background-image: url(../img/sprite.png);
  background-position: 0px -688px;
  width: 31px;
  height: 31px;
}
.channels_blue {
  background-image: url(../img/sprite.png);
  background-position: 0px -134px;
  width: 18px;
  height: 19px;
}
.competitions {
  background-image: url(../img/sprite.png);
  background-position: 0px -486px;
  width: 30px;
  height: 30px;
}
.goal {
  background-image: url(../img/sprite.png);
  background-position: 0px -371px;
  width: 27px;
  height: 27px;
}
.gray-bell {
  background-image: url(../img/sprite.png);
  background-position: 0px -647px;
  width: 29px;
  height: 31px;
}
.international_btn {
  background-image: url(../img/sprite.png);
  background-position: 0px -1011px;
  width: 44px;
  height: 44px;
}
.logo {
  background-image: url(../img/sprite.png);
  background-position: 0px -1143px;
  width: 181px;
  height: 90px;
}
.matches {
  background-image: url(../img/sprite.png);
  background-position: 0px -772px;
  width: 34px;
  height: 34px;
}
.navbar-toggle {
  background-image: url(../img/sprite.png);
  background-position: 0px -526px;
  width: 37px;
  height: 30px;
}
.red-card {
  background-image: url(../img/sprite.png);
  background-position: 0px -566px;
  width: 20px;
  height: 30px;
}
.repeat_btn {
  background-image: url(../img/sprite.png);
  background-position: 0px -860px;
  width: 38px;
  height: 38px;
}
.replacement {
  background-image: url(../img/sprite.png);
  background-position: 0px -301px;
  width: 32px;
  height: 25px;
}
.search-icon {
  background-image: url(../img/sprite.png);
  background-position: 0px -1065px;
  width: 30px;
  height: 68px;
}
.settings {
  background-image: url(../img/sprite.png);
  background-position: 0px -908px;
  width: 40px;
  height: 40px;
}
.stream-btn {
  background-image: url(../img/sprite.png);
  background-position: 0px -958px;
  width: 115px;
  height: 43px;
}
.teams {
  background-image: url(../img/sprite.png);
  background-position: 0px -408px;
  width: 34px;
  height: 28px;
}
.timer {
  background-image: url(../img/sprite.png);
  background-position: 0px -729px;
  width: 25px;
  height: 33px;
}
.yellow-card {
  background-image: url(../img/sprite.png);
  background-position: 0px -446px;
  width: 20px;
  height: 30px;
}
.yellow-red-card {
  background-image: url(../img/sprite.png);
  background-position: 0px -816px;
  width: 24px;
  height: 34px;
}
