.row.our-partners-wrapper
  h2.subtitle наши партнеры
  .our-partners-list
    a.our-partners-link
      img(src="files/partner1.png")
    a.our-partners-link
      img(src="files/partner2.png")
    a.our-partners-link
      img(src="files/partner3.png")
    a.our-partners-link
      img(src="files/partner4.png")
    a.our-partners-link
      img(src="files/partner5.png")

