.row.why-we-wrapper
  .col-sm-4
    .why-we-item
      .round-wrapper.-yellow
        i.compas-md.icon
      .why-we-descr Поиск максимально возможного количества активных туров в интернете
  .col-sm-4
    .why-we-item
      .round-wrapper.-yellow
        i.checker-md.icon
      .why-we-descr Возможность полностью организовать свой отдых: от выбора места до покупки страховки
  .col-sm-4
    .why-we-item
      .round-wrapper.-yellow
        i.accreditation-md.icon
      .why-we-descr Гиды проходят специальную аккредитацию.