footer {

  background: url('#{$path-to-img}bg_bottom.png') transparent 50% 100% no-repeat ;

  padding-top: 115px;

  .orange-btn {
    font-size: 18px;
  }
}

.footer-col_inner {
  padding-bottom: 20px;
}

.footer-col {
  background: transparent url('#{$path-to-img}foote-divider.png')  100%  0 no-repeat;
}

.footer-bottom-col-1 {
  text-align: right;
}

.footer_title {
  color:  #ffca3b;
  font-family: $ff-bold;
  font-size: 18px;
  text-shadow: 0px 1px 1px #b5331a;
  margin: 0 0 27px 0;
}

/*company-list*/

.company-list_item {
  margin-bottom: 10px;
}

.company-list_link{
  color:$almost-white;
  font-size: 16px;
  font-family: $ff-bold;
  line-height: 20px;

  .icon {
    margin-right: 7px;
  }


  span {
    vertical-align: top;
  }
}


/*latest-list*/

.latest-list {
  font-family: $ff-semibold;
}

.latest-list_item {
  margin-bottom: -3px;
}


.latest-list_title {
  color: $almost-white;
  font-size: 14px;
}

.latest-list_data {
  background-color:  #b42e1d;
  border-radius: 4px;
  box-shadow: 0px 1px 1px 0px #ff5937,
  inset 0px 1px 1px 1px #9b1e0f;

  padding: 0 6px;
  line-height: 21px;
  margin-top: 3px;
  margin-bottom: 4px;


  span {
    color:  #ffca3b;
    font-size: 14px;
  }
}

/**/


.small-logo {
  margin-bottom: -2px;
  text-align: center;

}

.sign-up_footer {
  .orange-btn {
    width: 100%;
  }
  
}

.sign-up_footer_title {
  font-family: $ff-bold;
  color: #fefefe;
  text-shadow: 0px 1px 3px rgba(186, 85, 29, 0.6);
  font-size:17px;
  line-height: 20px;
  margin-bottom: 7px;
  margin-top: -13px;
}



/*footer-bottom*/

.footer-bottom {
  background-color: #B4321E;
  padding: 8px 0 ;
}

.copyright {
  color: $dark-yellow;
  font-family: $ff-semibold;
  font-size: 14px;
  span {
    font-size: 16px;
  }
}

.footer-bottom_link-wrapper {
  font-size: 0;
}

.footer-bottom_link {
  color:#fff;
  font-size: 14px;
  font-family: $ff-bold;
  border-right: 1px solid $dark-yellow;
  border-right: 1px solid rgba($dark-yellow, .53);
  padding: 0 12px;
  &:last-child {
    border-right: 0;
    padding-right: 0;
  }
}




/****************/
/** RESPONSIVE **/
/****************/



/*SMALL and EXTRA SMALL -- sm and xs -- FOOTER*/
@media  screen and (max-width: $screen-sm-max) {

  footer {
    padding-top: 90px;
    .soc-links {
      display: inline-block;
    }
  }

  .footer-col-1 {
    padding-bottom: 7px;
    margin-bottom: 6px;
  }

  .footer-col-2 {
    padding-bottom: 22px;
    margin-bottom: 15px;
    .footer_title {
      text-align: center;
      margin-bottom: 20px;
    }
    .latest-list_data {
      margin-top: 0;
    }
  }

  .footer-col-3 {
    padding-bottom: 31px;
    margin-bottom: 20px;
  }

  .footer-col-4 {
    padding-bottom: 33px;
    margin-bottom: 11px;
  }

  .footer-col-5 {
    padding-bottom: 30px;
    background: none;
  }

  .small-logo_wrapper {
    display: inline-block;
    vertical-align: middle;
    margin: 0;
  }

  .get-the-app_button {
    display: inline-block;
    vertical-align: middle;
    margin-left: 20px;
    margin-bottom: 12px;
  }

  .company-list {
    text-align: center;
  }

  .company-list_item {
    display: inline-block;
    vertical-align: top;


    i.icon {
      vertical-align: middle;
      margin-right: 10px;
      margin-left: 11px;
    }

  }

}
/*SMALL and EXTRA SMALL -- sm and xs -- FOOTER -- END*/


/*EXTRA SMALL -- xs -- FOOTER*/
@media screen and (max-width: $screen-xs-max) {

  footer {
    background: url('#{$path-to-img}bg_bottom-sm.png') transparent 50% -25px no-repeat ;
  }

  .footer-col {
    background: transparent url('#{$path-to-img}footer-divider_sm.png')  50%  100% no-repeat;
  }

  .footer-bottom {
    text-align: center;
  }

  .footer-bottom-col-1 {
    text-align: center;
  }

}
/*EXTRA SMALL -- xs -- FOOTER END*/



/*SMALL -- sm -- FOOTER*/
@media screen and (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {

  footer {
    background: url('#{$path-to-img}bg_bottom-sm.png') transparent 50% -10px no-repeat ;
  }

  .footer-col {
    background: none;
  }

  .footer-col-1, .footer-col-4 {
    background: transparent url('#{$path-to-img}footer-divider_sm.png')  50%  100% no-repeat;
  }

  .footer-col-3 {
    margin-top: 45px;
  }

}
/*SMALL -- sm -- FOOTER -- END*/


/*LARGE and MEDIUM -- lg and md -- FOOTER*/
@media screen and (min-width: $screen-sm-max) {

}
/*LARGE and MEDIUM -- lg and md -- FOOTER -- END*/



