/*Typography*/


h1, .h1 {
  color: $h1-color;
  font-family: $ff-bold;
  font-size: 37px;
  margin: 0px;
}

h2 {
  color: $h2-color;
}

p {
  font-family: $ff-semibold;
  line-height: 24px;
  margin-bottom: 20px;

}


/* Helper classes */

.fll {
  float: left;
}

.flr {
  float: right;
}

.clear-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.clear-btn {
  background-color: transparent;
  border: 0 none;
  outline: 0 none;
}

.icon {
  display: inline-block;
  *display: inline;
  zoom: 1;
}

.right-section {
  margin-bottom: 40px;
}

.ta-c {
  text-align: center;
}

.link-btn {
  display: inline-block;
  cursor: pointer;
}

.full-width_wrapper {
  margin-left: -5px;
  margin-right: -5px;
}

.full-width {
  width: 100%;
}


/*form*/

.standard-input {
  background-color:  #ffffff;
  border-radius: 4px;
  box-shadow: inset 0px 3px 3px 0px rgba(192,192,192, .24), 0px 2px 1px 0px #ffffff  ;
  height: 40px;
  border: 1px solid #d4cdbe;
  outline: 0 none;
  color:  $gray;
  font-size: 15px;
  padding: 10px;
  width: 100%;
  font-family: $ff-semibold-italic;
  &.-medium {
    height: 47px;
  }

  &.-green-text {
    color:  #7aa72f;
    &::-webkit-input-placeholder {
      color:  #7aa72f;
    }
    &::-moz-placeholder {  /* Firefox 19+ */
      color:  #7aa72f;
    }
  }

  &.-light-pink-input {
    background-color: #fff8de;
  }

  &.-green-bg {
    border: 1px solid #83af38;
    box-shadow:         inset 0px 5px 7px 0px rgba(213, 225, 199, 0.95);
  }

  &.-orange-bg {
    border: 1px solid #ce3e0c;
    box-shadow:         inset 0px 3px 3px 0px rgba(213, 96, 31, 0.24),  0px 2px 2px 0px rgba(225, 204, 81, 0.69);
  }

  &.-icon-left {
    padding-left: 50px;
  }
}

.ik_select_link {
  @extend  .standard-input.-orange-bg;
  @extend .standard-input;
//  background: #ffffff url('#{$path-to-img}gray-line.png') 50% 0 no-repeat;
}

.ik_select_link:after {
//  color:red;
  height: 10px;
  width: 10px;
  background: transparent url('../assets/sprite.png') 0px -14px no-repeat;
  position: absolute;
  top: 28px;
  right: 15px;
  font-size: 20px;
  line-height: 24px;
  margin-top: -11px;
  content:""
}

.ik_select_link_focus {
//  border: 1px solid red;
}

.ik_select_list {
  background-color: transparent !important ;
  color: #a59e91 !important;
}

.ik_select_dropdown {
  background: #fff !important;
  @extend  .standard-input.-orange-bg;
  box-sizing:  content-box;
}

.ik_select_option.ik_select_hover {
  background-color: #fff8de !important;
}

.ik_select_option {
  padding: 10px;
}

.ik_select_list_inner ul{
  @extend .clear-list;
  border-radius: 4px;
}

/*Buttons*/

.orange-btn {

  background: #fb8b30; /* Old browsers */
  background: -moz-linear-gradient(top, #fb8b30 0%, #fda634 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fb8b30), color-stop(100%,#fda634)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #fb8b30 0%,#fda634 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #fb8b30 0%,#fda634 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #fb8b30 0%,#fda634 100%); /* IE10+ */
  background: linear-gradient(to bottom, #fb8b30 0%,#fda634 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fb8b30', endColorstr='#fda634',GradientType=0 ); /* IE6-9 */

  border:1px solid #d4761a;
  box-shadow: 0px 3px 3px 0px rgb(207, 158, 110);
  box-shadow: 0px 3px 3px 0px rgba(207, 158, 110, 0.75);
  color:#ffffff;
  text-shadow: 0px 2px 1px rgb(230, 91, 23);
  text-shadow: 0px 2px 1px rgba(230, 91, 23, 0.75);
  font-size: 14px; /* Approximation due to font substitution */
  font-family: $ff-bold;
  height: 39px;
  line-height: 39px;
  outline: 0 none;
  padding: 0 25px;
  white-space: nowrap;
  letter-spacing: 0;
//  behavior: url('#{$path-to-behaivor}/border-radius.htc');
  border-radius: 4px;
  &.-light-border {
    box-shadow: 0px 3px 3px 0px rgba(45, 29, 58, 0.33);
  }

  &.-lg {
    height: 55px;
    line-height: 55px;
    font-size: 20px;
    padding: 0 30px;
    .icon {
      margin-right: 20px;
    }
  }

  &.-medium {
    height: 45px;
    line-height: 45px;
    padding: 0 30px;
    font-size: 18px;
    .icon {
      margin-right: 5px;
    }
  }
  
  &.-left-icon {
    padding-left: 0;
    span {
      vertical-align: top;
    }
  }

  &.-orange-bg {
    box-shadow: 0px 3px 5px 0px rgb(208, 62, 28);
    box-shadow: 0px 3px 5px 0px rgba(208, 62, 28, 0.75);
  }

  &.-green-bg {
    box-shadow: 0px 3px 5px 0px rgba(108, 153, 33, 0.75);
    &:active, &:focus {
      box-shadow:inset 0px 3px 5px 0px rgba(214, 103, 12, 0.60);
    }
  }

  &:hover {

    background: #fe9233; /* Old browsers */
    background: -moz-linear-gradient(top, #fe9233 0%, #ffb849 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fe9233), color-stop(100%,#ffb849)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #fe9233 0%,#ffb849 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #fe9233 0%,#ffb849 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #fe9233 0%,#ffb849 100%); /* IE10+ */
    background: linear-gradient(to bottom, #fe9233 0%,#ffb849 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fe9233', endColorstr='#ffb849',GradientType=0 ); /* IE6-9 */

    outline: 0 none;
    color: #fff;
  }

  &:active, &:focus {

    background: #fb8b30; /* Old browsers */
    background: -moz-linear-gradient(top,  #fb8b30 0%, #fda634 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fb8b30), color-stop(100%,#fda634)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #fb8b30 0%,#fda634 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #fb8b30 0%,#fda634 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #fb8b30 0%,#fda634 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #fb8b30 0%,#fda634 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fb8b30', endColorstr='#fda634',GradientType=0 ); /* IE6-9 */

  box-shadow: 0px 0px 3px 0px rgba(207, 158, 110, 0.75);
  outline: 0 none;
  color: #fff;

  }
}


.gray-round {

//  background: -webkit-linear-gradient(90deg, #ffffff 100%, #e8e6e2 0%);
//  background: -moz-linear-gradient(90deg, #ffffff 100%, #e8e6e2 0%);
//  background: -o-linear-gradient(90deg, #ffffff 100%, #e8e6e2 0%);
//  background: -ms-linear-gradient(90deg, #ffffff 100%, #e8e6e2 0%);
//  background: linear-gradient(0deg, #ffffff 100%, #e8e6e2 0%);
//  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#61dbb2',GradientType=0 ); /* IE6-9 */
//  border-radius: 50%;
//  box-shadow: 0px 1px 3px 1px rgb(211, 203, 194);
//  box-shadow: 0px 1px 3px 1px rgba(211, 203, 194, 0.86);
//  width: 40px;
//  height: 39px;
  line-height: 40px;
  text-align: center;
//  border: 1px solid #cec8be;
//  behavior: url('#{$path-to-behaivor}/border-radius.htc');


  &.-no-shadow {
    box-shadow:none;
  }
  i {
    vertical-align: middle;
  }
}

@mixin simple-round($height) {
  width: $height;
  height: $height;
  line-height: $height;
  border-radius: $height/2;
}

.simple-round {
  text-align: center;
  border: 1px solid #cec8be;
  display: inline-block;

  .green-star {
    margin-top: 10px;
  }

  .ticket {
    margin-top: 10px;
  }

  .orange-arrow {
    margin-top: 8px;
    margin-left: 2px;
  }
}


.simple-round_40 {
  @include simple-round(40px);
}

.simple-round_30 {
  @include simple-round(30px);
}


.button-cover {
  background-color:  #ffffff;
  border-radius: 6px;
  padding: 5px;
}

.simple-btn {
  border: 1px solid #dddfdf;
  color:  #fc9b32;
  font-size: 14px; /* Approximation due to font substitution */
  font-family: $ff-semibold;
  line-height: 18px;
  padding: 6px 13px;
  border-radius: 15px;
  text-align: center;
  background-color: #fff;
  
  &.-icon-left {
    padding: 7px 16px 7px 13px;
    border-radius: 16px;
    .icon {
      margin-right: 4px;
    }  
  }
}


.getdeal {
  color:  #ffffff;
  font-size: 16px; /* Approximation due to font substitution */
  font-family: $ff-bold;
  text-shadow: 0px 2px 1px #76ab21;
  line-height: $getdeal-height;
  text-align: center;
  &:hover {
    background-position: $getdeal_hover-offset-x $getdeal_hover-offset-y;
    color:  #ffffff;
  }

  &:active, &:focus {
    background-position: $getdeal_active-offset-x $getdeal_active-offset-y;
    color:  #ffffff;
  }

}

.showcoupon {
  font-size: 0;
  text-align: center;
  margin-right: 5px;
  color: #fc9b32;
  font-family: $ff-bold;
  text-shadow: 0px 1px 1px #ffffff;
  line-height:$showcoupon-height;

  &:hover {
    background-position:$showcoupon_hover-offset-x $showcoupon_hover-offset-y;
  }

  &:active, &:focus, &.focus {
    background-position: $showcoupon_pressed-offset-x $showcoupon_pressed-offset-y;
    font-size: 14px;
  }
}

.orange-arrow-link {
  
  span {
    font-size: 16px;
    font-family: $ff-bold;
    vertical-align: top;
    padding-left: 5px;
  }
  
  &.-in-title-right {
    margin-top: 15px;
  }
  
}

.rate-up {
  &:hover {
    background-position:  $rate-up_active-offset-x  $rate-up_active-offset-y;
  }


}

.rate-down {
  &:hover {
    background-position:  $rate-down_active-offset-x  $rate-down_active-offset-y;
  }
}


/*wrappers*/

.button-cover-wrapper {
  width: 100%;
  text-align: center;
}

.white-wrapper {
  box-shadow: 0px 5px 18px 0px rgba(0, 0, 0, 0.19);
  border-radius: 6px;
  background-color: #fff;
  padding: 6px;
  .no-padding {
    padding: 0;
  }
}

.gray-shadow {
  background: transparent url('#{$path-to-img}gray-shadow.png') 50% 0 no-repeat;
  width: 100%;
  height: 18px;
}

.gray-shadow_md {
  background: transparent url('#{$path-to-img}gray-shadow_md.png') 50% 0 no-repeat;
  width: 100%;
  height: 17px;
}

.full-bottom_wrapper {
  margin-left: -6px;
  margin-right: -6px;
  margin-bottom: -6px;
  button {
    width: 100%;
  }
}