


/*header*/

.topline {
  background: #dd3437; /* Old browsers */
  background: -moz-linear-gradient(left,  #dd3437 8%, #fd8934 37%, #61dbb2 62%, #2a5b84 88%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(8%,#dd3437), color-stop(37%,#fd8934), color-stop(62%,#61dbb2), color-stop(88%,#2a5b84)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left,  #dd3437 8%,#fd8934 37%,#61dbb2 62%,#2a5b84 88%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(left,  #dd3437 8%,#fd8934 37%,#61dbb2 62%,#2a5b84 88%); /* Opera 11.10+ */
  background: -ms-linear-gradient(left,  #dd3437 8%,#fd8934 37%,#61dbb2 62%,#2a5b84 88%); /* IE10+ */
  background: linear-gradient(to right,  #dd3437 8%,#fd8934 37%,#61dbb2 62%,#2a5b84 88%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dd3437', endColorstr='#2a5b84',GradientType=1 ); /* IE6-9 */
  box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.08);
  height: 5px;
}

.header {
  background: #f4f1eb; /* Old browsers */
  background: -moz-linear-gradient(left,  #f4f1eb 0%, #edebe6 12%, #fffdfa 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(0%,#f4f1eb), color-stop(12%,#edebe6), color-stop(100%,#fffdfa)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left,  #f4f1eb 0%,#edebe6 12%,#fffdfa 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(left,  #f4f1eb 0%,#edebe6 12%,#fffdfa 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(left,  #f4f1eb 0%,#edebe6 12%,#fffdfa 100%); /* IE10+ */
  background: linear-gradient(to right,  #f4f1eb 0%,#edebe6 12%,#fffdfa 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f4f1eb', endColorstr='#fffdfa',GradientType=1 ); /* IE6-9 */

  box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.15);
  height: 63px;
  overflow: hidden;
  z-index: 1;
  position: relative;

  .orange-btn {
    width: 100%;
  }
}

.header-col {
  padding: 12px 0;
  background: url('#{$path-to-img}header-divider.png') 100% 28px no-repeat;
}




.header-icon-wrapper {
  width: 55px;
  padding: 16px 0;
  text-align: center;
  display: inline-block;
  background-color:  rgba(180, 177, 172, 0.2);
//  box-shadow: 1px 0px 0px 0px rgba(255, 255, 255, 0.75);


&.collapsed {
    background-color:  transparent;
    box-shadow: none;
  &:hover {
    background-color:  rgba(180, 177, 172, 0.2);
//    box-shadow: 1px 0px 0px 0px rgba(255, 255, 255, 0.75);
  }
}



}

.logo {
  margin-left: 8px;
}

.search-form {
  position: relative;
  margin-bottom: 0;
}

.search-submit {
  position: absolute;
  top:10px;
  right: 12px;
}

.soc-links {
  font-size: 0;
}

.soc-links_item {
  float: right;
  margin-left: 1px;

  &.-footer {
    margin: 0 7px;
  }

  a {
    display: block;
    cursor: pointer;
  }
  .icon {
//    margin-top: 10px;
    &.tw {
      margin-left: 2px;
//      margin-top: 12px;
    }
  }
}

.search-xs {
  background-color:  #f5f4f0;
  padding: 15px 10px;
  margin: 0;
}



/****************/
/** RESPONSIVE **/
/****************/


/*SMALL and EXTRA SMALL -- sm and xs -- HEADER*/
@media  screen and (max-width: $screen-sm-max) {

}
/*SMALL and EXTRA SMALL -- sm and xs -- HEADER -- END*/


/*EXTRA SMALL -- xs -- HEADER*/
@media screen and (max-width: $screen-xs-max) {

  .topline {
    height: 2px;
  }

  .header {
    height: 50px;
  }

  .header-col {
    background: none;
  }

  .header-col-1 {
    width: 230px;
    padding-top: 8px;
  }

  .header-col-2 {
    display: none;
  }

  .header-col-3 {
    display: none;
  }

}
/*EXTRA SMALL -- xs -- HEADER -- END*/



/*SMALL -- sm -- HEADER*/
@media screen and (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {

  .header-col-2 {
    width: 38%;
  }

  .header-col-3 {
    background: none;
  }

}
/*SMALL -- sm -- HEADER -- END*/

/*LARGE and MEDIUM -- lg and md -- HEADER*/
@media screen and (min-width: $screen-sm-max) {

}
/*LARGE and MEDIUM -- lg and md -- HEADER -- END*/
