.ie8 .container, .ie9 .container {
  width: 984px !important;
}

.ie8, .ie9 {
  .left-column_top {

    width: 66.66667%;
    float: left;
  }
  .right-column_top {
    width: 33.33333%;
    float: left;
  }

  .main-menu_wrapper.collapse {
    display: block !important;
    height: auto!important;
    padding-bottom: 0;
    overflow: visible!important;
  }

}