@include make-grid(ie);

.ie8, .ie9 {

  body {
    min-width: 984px !important;
  }

  .container {
    width: 984px !important;
  }

  .left-column_top {
    @extend .col-ie-12;
    float: left;
  }

  .right-column_top {
    @extend .col-ie-6;
    float: left;
  }

  .main-menu_wrapper.collapse {
    display: block !important;
    height: auto!important;
    padding-bottom: 0;
    overflow: visible!important;
  }

  .paginator-list_link {
    &.-number {
      &:hover {
        color:  #8f9497;
        background-color: #ffffff;
        border: 1px solid #cec8be;
      }
    }
  }

  /*deal*/


  .deal_item-col-1 {
    @extend .col-ie-5;
    text-align: center;
  }

  .deal_item-col-2-3 {
    @extend .col-ie-13;
  }

  .deal_item-col-2 {
    @extend .col-ie-10;
  }

  .deal_item-col-3 {
    @extend .col-ie-8;
    text-align: center;
  }

  /*footer*/

  .footer-col-1 {
    @extend .col-ie-3;
  }

  .footer-col-2 {
    @extend .col-ie-6;
    .footer-col_inner {
      padding-right:20px;
    }
  }

  .footer-col-3 {
    @extend .col-ie-4;
    .footer-col_inner {
      padding-right:30px;
    }
  }

  .footer-col-4 {
    @extend .col-ie-5;
    background: none;
  }

  .footer-col-5 {
    display: none;
  }

  .footer-bottom-col-1 {
    @extend .col-ie-9;
    float: left;
  }

  .footer-bottom-col-2 {
    @extend .col-ie-9;
    float: right;
  }

}