$menu-heihgt: 73px;

.main-menu_wrapper {
  height: $menu-heihgt;
  background-color: rgba($brown, 0.75);
  border-bottom: 4px solid rgba($brown, 0.90);
  margin-bottom: 40px;
}

.main-menu {
  position: relative; display: table;
  width: 100%;
  height: $menu-heihgt - 3px;
  border-left: 1px solid rgba($dark-brown, .35);
  border-right: 1px solid rgba($pink, .19);
}

.main-menu_item {
  display: table-cell; position: relative;
  border-right: 1px solid rgba($dark-brown, .35);
  border-left: 1px solid rgba($pink, .19);
}

.main-menu_link {
  display: block; position: relative;
  width: 100%;
  text-align:center;
  line-height: $menu-heihgt - 4px; /* для того чтобы отцентрировать текст по вертикали */
  color: $almost-white;
  font-size: 18px;
  font-family: $ff-bold;
  margin-bottom: -4px;
  border-bottom: 4px solid transparent;
  &:hover, &:active {
    background-color: $light-green;
    text-decoration: none;
    color: $almost-white;
    border-bottom: 4px solid $dark-green;
  }
}



/****************/
/** RESPONSIVE **/
/****************/


/*SMALL and EXTRA SMALL -- sm and xs -- MAIN MENU*/
@media  screen and (max-width: $screen-sm-max) {

}
/*SMALL and EXTRA SMALL -- sm and xs -- MAIN MENU -- END*/


/*EXTRA SMALL -- xs -- MAIN MENU*/
@media screen and (max-width: $screen-xs-max) {

}
/*EXTRA SMALL -- xs -- MAIN MENU -- END*/



/*SMALL -- sm -- MAIN MENU*/
@media screen and (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
  .main-menu_wrapper {
    &.collapse {
      display: block !important;
      height: auto!important;
      padding-bottom: 0;
      overflow: visible!important;
    }
  }
}
/*SMALL -- sm -- MAIN MENU -- END*/

/*LARGE and MEDIUM -- lg and md -- MAIN MENU*/
@media screen and (min-width: $screen-sm-max) {
  .main-menu_wrapper {
    &.collapse {
      display: block !important;
      height: auto!important;
      padding-bottom: 0;
      overflow: visible!important;
    }
  }
}
/*LARGE and MEDIUM -- lg and md -- MAIN MENU -- END*/
