
/*main top section*/

$main-top-gutter-width:40px;

.main-top-section.row {

}

.left-column_top {
  @extend .col-md-12;

}

.right-column_top {
  @extend .col-md-6;

}

/*main bottom section*/


$main-bottom-gutter-width:50px;

.main-bottom-section.row {
  margin-left: - $main-bottom-gutter-width/2;
  margin-right: - $main-bottom-gutter-width/2;
}

.left-column_bottom {
  @extend .col-md-12;
  padding-left:f/2 ;
  padding-right: $main-bottom-gutter-width/2;
}

.right-column_bottom {
  @extend .col-md-6;
  padding-left: $main-bottom-gutter-width/2 ;
  padding-right: $main-bottom-gutter-width/2 ;

}

/*header*/

$header-grid-gutter-width: 40px;

.header {
  .row {
    margin-left: -$header-grid-gutter-width/2 + 3px;
    margin-right: -$header-grid-gutter-width/2 - 3px;
  }
}

.header-col {
  padding-left: $header-grid-gutter-width/2 - 3px;
  padding-right: $header-grid-gutter-width/2 + 3px;
  &.last {
    background: none;
  }
}

.header-col-0 {
  float: left;
  padding: 0;
}

.header-col-1 {
  float: left;
}

.header-col-2 {
  float: left;
  width: 35.5%;
}

.header-col-3 {
  float: left;
}

.header-col-4 {
  float: right;
}

.header-col-5 {
  float: right;
  padding: 0;
  padding-right: $header-grid-gutter-width/2 + 3px;
  padding-right: 12px;

}



//.left-column {
//  border-right: 1px solid rgba(0, 0, 0, 0.035);
//  margin-right: -1px;
//
//}

//.right-column {
//  border-left: 1px solid rgba(0, 0, 0, 0.035);
//}


/*deal items*/

.deal_item-col-1 {
  @extend .col-md-5;
  @extend .col-sm-5;
  @extend .col-xs-18;
  text-align: center;
}

.deal_item-col-2-3 {
  @extend .col-md-13;
  @extend .col-sm-13;
  @extend .col-xs-18;
}

.deal_item-col-2 {
  @extend .col-md-10;
  @extend .col-sm-11;
  @extend .col-xs-9;
}

.deal_item-col-3 {
  @extend .col-md-8;
  @extend .col-sm-7;
  @extend .col-xs-9;
  text-align: center;
}

/*footer*/

.footer-col-1 {
  @extend .col-md-3;
  @extend  .col-xs-18;
  @extend  .col-sm-18;
}

.footer-col-2 {
  @extend .col-md-6;
  @extend  .col-sm-9;
  @extend  .col-xs-18;
  .footer-col_inner {
    padding-right:20px;
  }
}

.footer-col-3 {
  @extend .col-md-4;
  @extend  .col-xs-18;
  @extend  .col-sm-9;
  .footer-col_inner {
    padding-right:30px;
  }
}

.footer-col-4 {
  @extend .col-md-5;
  @extend .col-sm-18;
  @extend  .col-xs-18;

}

.footer-col-5 {
  @extend  .col-sm-18;
  @extend  .col-xs-18;
}


.footer-bottom-col-1 {
  @extend  .col-sm-9;
  @extend  .col-xs-18;
}

.footer-bottom-col-2 {
  @extend  .col-sm-9;
  @extend  .col-xs-18;
}


/*banner-right*/

.banner-right {
  @extend .hidden-sm;
}




/*small ex. Ipad in Portrait 768px and 991px*/


@media screen and (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {


}

/*Extra small ex. Iphone 320px, Iphone640 px*/

@media screen and (max-width: $screen-xs-max) {

  .bg-wrapper {
    background-position: 50% -105px;
    &.-with-slider {
       background-position: 53% -140px;
    }
  }

  h1, .h1 {
    font-size: 28px;
  }
  
  /*helpers*/

  .full-width-xs {
    width: 100%;
  }

  .pull-no-xs {
    float: none;
  }


  /*deal*/

  .deal_item-col-2 {
    margin-top: 20px;
  }
  
  .deal_item .simple-btn {
    width: 100%;
    text-align: center;
  }

  .deal_item-col-3 {
    text-align: right;
    margin-top: 10px;
  }

  .gray-shadow {
      background: transparent url('#{$path-to-img}gray-shadow-xs.png') 50% 0 no-repeat;
      width: 100%;
      height: 18px;
  }

  /*banner-right*/


  .banner-right {
    display: inline-block;
  }

  .banner-right_wrapper {
    text-align: center;
  }

}



/*tablet and phone*/
@media  screen and (max-width: $screen-sm-max) {



}


/*md and lg*/

@media screen and (min-width: $screen-sm-max) {
  .footer-col-4 {
    background: none;
  }
}
