/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;
*/
$babies-x: 0px;
$babies-y: 1320px;
$babies-offset-x: 0px;
$babies-offset-y: -1320px;
$babies-width: 50px;
$babies-height: 51px;
$babies-total-width: 168px;
$babies-total-height: 2962px;
$babies-image: '../sprite.png';
$babies: 0px 1320px 0px -1320px 50px 51px 168px 2962px '../sprite.png';
$blog-date-x: 0px;
$blog-date-y: 1901px;
$blog-date-offset-x: 0px;
$blog-date-offset-y: -1901px;
$blog-date-width: 64px;
$blog-date-height: 66px;
$blog-date-total-width: 168px;
$blog-date-total-height: 2962px;
$blog-date-image: '../sprite.png';
$blog-date: 0px 1901px 0px -1901px 64px 66px 168px 2962px '../sprite.png';
$business-x: 0px;
$business-y: 1506px;
$business-offset-x: 0px;
$business-offset-y: -1506px;
$business-width: 62px;
$business-height: 53px;
$business-total-width: 168px;
$business-total-height: 2962px;
$business-image: '../sprite.png';
$business: 0px 1506px 0px -1506px 62px 53px 168px 2962px '../sprite.png';
$carts-x: 0px;
$carts-y: 408px;
$carts-offset-x: 0px;
$carts-offset-y: -408px;
$carts-width: 32px;
$carts-height: 18px;
$carts-total-width: 168px;
$carts-total-height: 2962px;
$carts-image: '../sprite.png';
$carts: 0px 408px 0px -408px 32px 18px 168px 2962px '../sprite.png';
$carusel-item-x: 0px;
$carusel-item-y: 29px;
$carusel-item-offset-x: 0px;
$carusel-item-offset-y: -29px;
$carusel-item-width: 8px;
$carusel-item-height: 8px;
$carusel-item-total-width: 168px;
$carusel-item-total-height: 2962px;
$carusel-item-image: '../sprite.png';
$carusel-item: 0px 29px 0px -29px 8px 8px 168px 2962px '../sprite.png';
$carusel-item_active-x: 0px;
$carusel-item_active-y: 129px;
$carusel-item_active-offset-x: 0px;
$carusel-item_active-offset-y: -129px;
$carusel-item_active-width: 12px;
$carusel-item_active-height: 12px;
$carusel-item_active-total-width: 168px;
$carusel-item_active-total-height: 2962px;
$carusel-item_active-image: '../sprite.png';
$carusel-item_active: 0px 129px 0px -129px 12px 12px 168px 2962px '../sprite.png';
$checkbox-x: 0px;
$checkbox-y: 552px;
$checkbox-offset-x: 0px;
$checkbox-offset-y: -552px;
$checkbox-width: 18px;
$checkbox-height: 20px;
$checkbox-total-width: 168px;
$checkbox-total-height: 2962px;
$checkbox-image: '../sprite.png';
$checkbox: 0px 552px 0px -552px 18px 20px 168px 2962px '../sprite.png';
$checkbox_active-x: 0px;
$checkbox_active-y: 522px;
$checkbox_active-offset-x: 0px;
$checkbox_active-offset-y: -522px;
$checkbox_active-width: 18px;
$checkbox_active-height: 20px;
$checkbox_active-total-width: 168px;
$checkbox_active-total-height: 2962px;
$checkbox_active-image: '../sprite.png';
$checkbox_active: 0px 522px 0px -522px 18px 20px 168px 2962px '../sprite.png';
$checkbox_active_transparent-x: 0px;
$checkbox_active_transparent-y: 612px;
$checkbox_active_transparent-offset-x: 0px;
$checkbox_active_transparent-offset-y: -612px;
$checkbox_active_transparent-width: 18px;
$checkbox_active_transparent-height: 20px;
$checkbox_active_transparent-total-width: 168px;
$checkbox_active_transparent-total-height: 2962px;
$checkbox_active_transparent-image: '../sprite.png';
$checkbox_active_transparent: 0px 612px 0px -612px 18px 20px 168px 2962px '../sprite.png';
$checkbox_hover-x: 0px;
$checkbox_hover-y: 642px;
$checkbox_hover-offset-x: 0px;
$checkbox_hover-offset-y: -642px;
$checkbox_hover-width: 18px;
$checkbox_hover-height: 20px;
$checkbox_hover-total-width: 168px;
$checkbox_hover-total-height: 2962px;
$checkbox_hover-image: '../sprite.png';
$checkbox_hover: 0px 642px 0px -642px 18px 20px 168px 2962px '../sprite.png';
$checkmark-x: 0px;
$checkmark-y: 765px;
$checkmark-offset-x: 0px;
$checkmark-offset-y: -765px;
$checkmark-width: 21px;
$checkmark-height: 21px;
$checkmark-total-width: 168px;
$checkmark-total-height: 2962px;
$checkmark-image: '../sprite.png';
$checkmark: 0px 765px 0px -765px 21px 21px 168px 2962px '../sprite.png';
$clothing-w-x: 0px;
$clothing-w-y: 1699px;
$clothing-w-offset-x: 0px;
$clothing-w-offset-y: -1699px;
$clothing-w-width: 33px;
$clothing-w-height: 57px;
$clothing-w-total-width: 168px;
$clothing-w-total-height: 2962px;
$clothing-w-image: '../sprite.png';
$clothing-w: 0px 1699px 0px -1699px 33px 57px 168px 2962px '../sprite.png';
$clothing-x: 0px;
$clothing-y: 1634px;
$clothing-offset-x: 0px;
$clothing-offset-y: -1634px;
$clothing-width: 64px;
$clothing-height: 55px;
$clothing-total-width: 168px;
$clothing-total-height: 2962px;
$clothing-image: '../sprite.png';
$clothing: 0px 1634px 0px -1634px 64px 55px 168px 2962px '../sprite.png';
$fb-x: 0px;
$fb-y: 796px;
$fb-offset-x: 0px;
$fb-offset-y: -796px;
$fb-width: 10px;
$fb-height: 21px;
$fb-total-width: 168px;
$fb-total-height: 2962px;
$fb-image: '../sprite.png';
$fb: 0px 796px 0px -796px 10px 21px 168px 2962px '../sprite.png';
$food-shops-x: 0px;
$food-shops-y: 2598px;
$food-shops-offset-x: 0px;
$food-shops-offset-y: -2598px;
$food-shops-width: 92px;
$food-shops-height: 86px;
$food-shops-total-width: 168px;
$food-shops-total-height: 2962px;
$food-shops-image: '../sprite.png';
$food-shops: 0px 2598px 0px -2598px 92px 86px 168px 2962px '../sprite.png';
$getdeal-x: 0px;
$getdeal-y: 2316px;
$getdeal-offset-x: 0px;
$getdeal-offset-y: -2316px;
$getdeal-width: 160px;
$getdeal-height: 84px;
$getdeal-total-width: 168px;
$getdeal-total-height: 2962px;
$getdeal-image: '../sprite.png';
$getdeal: 0px 2316px 0px -2316px 160px 84px 168px 2962px '../sprite.png';
$getdeal_active-x: 0px;
$getdeal_active-y: 2410px;
$getdeal_active-offset-x: 0px;
$getdeal_active-offset-y: -2410px;
$getdeal_active-width: 160px;
$getdeal_active-height: 84px;
$getdeal_active-total-width: 168px;
$getdeal_active-total-height: 2962px;
$getdeal_active-image: '../sprite.png';
$getdeal_active: 0px 2410px 0px -2410px 160px 84px 168px 2962px '../sprite.png';
$getdeal_hover-x: 0px;
$getdeal_hover-y: 2504px;
$getdeal_hover-offset-x: 0px;
$getdeal_hover-offset-y: -2504px;
$getdeal_hover-width: 160px;
$getdeal_hover-height: 84px;
$getdeal_hover-total-width: 168px;
$getdeal_hover-total-height: 2962px;
$getdeal_hover-image: '../sprite.png';
$getdeal_hover: 0px 2504px 0px -2504px 160px 84px 168px 2962px '../sprite.png';
$google-plus-x: 0px;
$google-plus-y: 582px;
$google-plus-offset-x: 0px;
$google-plus-offset-y: -582px;
$google-plus-width: 21px;
$google-plus-height: 20px;
$google-plus-total-width: 168px;
$google-plus-total-height: 2962px;
$google-plus-image: '../sprite.png';
$google-plus: 0px 582px 0px -582px 21px 20px 168px 2962px '../sprite.png';
$gray-line-x: 0px;
$gray-line-y: 890px;
$gray-line-offset-x: 0px;
$gray-line-offset-y: -890px;
$gray-line-width: 1px;
$gray-line-height: 26px;
$gray-line-total-width: 168px;
$gray-line-total-height: 2962px;
$gray-line-image: '../sprite.png';
$gray-line: 0px 890px 0px -890px 1px 26px 168px 2962px '../sprite.png';
$gray-round-x: 0px;
$gray-round-y: 1030px;
$gray-round-offset-x: 0px;
$gray-round-offset-y: -1030px;
$gray-round-width: 44px;
$gray-round-height: 44px;
$gray-round-total-width: 168px;
$gray-round-total-height: 2962px;
$gray-round-image: '../sprite.png';
$gray-round: 0px 1030px 0px -1030px 44px 44px 168px 2962px '../sprite.png';
$gray-round_orange-bg-x: 0px;
$gray-round_orange-bg-y: 976px;
$gray-round_orange-bg-offset-x: 0px;
$gray-round_orange-bg-offset-y: -976px;
$gray-round_orange-bg-width: 44px;
$gray-round_orange-bg-height: 44px;
$gray-round_orange-bg-total-width: 168px;
$gray-round_orange-bg-total-height: 2962px;
$gray-round_orange-bg-image: '../sprite.png';
$gray-round_orange-bg: 0px 976px 0px -976px 44px 44px 168px 2962px '../sprite.png';
$green-star-x: 0px;
$green-star-y: 300px;
$green-star-offset-x: 0px;
$green-star-offset-y: -300px;
$green-star-width: 16px;
$green-star-height: 17px;
$green-star-total-width: 168px;
$green-star-total-height: 2962px;
$green-star-image: '../sprite.png';
$green-star: 0px 300px 0px -300px 16px 17px 168px 2962px '../sprite.png';
$health-x: 0px;
$health-y: 1443px;
$health-offset-x: 0px;
$health-offset-y: -1443px;
$health-width: 52px;
$health-height: 53px;
$health-total-width: 168px;
$health-total-height: 2962px;
$health-image: '../sprite.png';
$health: 0px 1443px 0px -1443px 52px 53px 168px 2962px '../sprite.png';
$home-x: 0px;
$home-y: 1381px;
$home-offset-x: 0px;
$home-offset-y: -1381px;
$home-width: 62px;
$home-height: 52px;
$home-total-width: 168px;
$home-total-height: 2962px;
$home-image: '../sprite.png';
$home: 0px 1381px 0px -1381px 62px 52px 168px 2962px '../sprite.png';
$left-arrow-hover-x: 0px;
$left-arrow-hover-y: 827px;
$left-arrow-hover-offset-x: 0px;
$left-arrow-hover-offset-y: -827px;
$left-arrow-hover-width: 13px;
$left-arrow-hover-height: 21px;
$left-arrow-hover-total-width: 168px;
$left-arrow-hover-total-height: 2962px;
$left-arrow-hover-image: '../sprite.png';
$left-arrow-hover: 0px 827px 0px -827px 13px 21px 168px 2962px '../sprite.png';
$left-arrow-x: 0px;
$left-arrow-y: 703px;
$left-arrow-offset-x: 0px;
$left-arrow-offset-y: -703px;
$left-arrow-width: 13px;
$left-arrow-height: 21px;
$left-arrow-total-width: 168px;
$left-arrow-total-height: 2962px;
$left-arrow-image: '../sprite.png';
$left-arrow: 0px 703px 0px -703px 13px 21px 168px 2962px '../sprite.png';
$light-orange-arrow-x: 0px;
$light-orange-arrow-y: 1766px;
$light-orange-arrow-offset-x: 0px;
$light-orange-arrow-offset-y: -1766px;
$light-orange-arrow-width: 33px;
$light-orange-arrow-height: 57px;
$light-orange-arrow-total-width: 168px;
$light-orange-arrow-total-height: 2962px;
$light-orange-arrow-image: '../sprite.png';
$light-orange-arrow: 0px 1766px 0px -1766px 33px 57px 168px 2962px '../sprite.png';
$mail-x: 0px;
$mail-y: 107px;
$mail-offset-x: 0px;
$mail-offset-y: -107px;
$mail-width: 18px;
$mail-height: 12px;
$mail-total-width: 168px;
$mail-total-height: 2962px;
$mail-image: '../sprite.png';
$mail: 0px 107px 0px -107px 18px 12px 168px 2962px '../sprite.png';
$markdown-circle-x: 0px;
$markdown-circle-y: 354px;
$markdown-circle-offset-x: 0px;
$markdown-circle-offset-y: -354px;
$markdown-circle-width: 15px;
$markdown-circle-height: 17px;
$markdown-circle-total-width: 168px;
$markdown-circle-total-height: 2962px;
$markdown-circle-image: '../sprite.png';
$markdown-circle: 0px 354px 0px -354px 15px 17px 168px 2962px '../sprite.png';
$markdown-small-x: 0px;
$markdown-small-y: 0px;
$markdown-small-offset-x: 0px;
$markdown-small-offset-y: 0px;
$markdown-small-width: 4px;
$markdown-small-height: 4px;
$markdown-small-total-width: 168px;
$markdown-small-total-height: 2962px;
$markdown-small-image: '../sprite.png';
$markdown-small: 0px 0px 0px 0px 4px 4px 168px 2962px '../sprite.png';
$orange-arrow-in-round-x: 0px;
$orange-arrow-in-round-y: 196px;
$orange-arrow-in-round-offset-x: 0px;
$orange-arrow-in-round-offset-y: -196px;
$orange-arrow-in-round-width: 16px;
$orange-arrow-in-round-height: 16px;
$orange-arrow-in-round-total-width: 168px;
$orange-arrow-in-round-total-height: 2962px;
$orange-arrow-in-round-image: '../sprite.png';
$orange-arrow-in-round: 0px 196px 0px -196px 16px 16px 168px 2962px '../sprite.png';
$orange-arrow-small-x: 0px;
$orange-arrow-small-y: 222px;
$orange-arrow-small-offset-x: 0px;
$orange-arrow-small-offset-y: -222px;
$orange-arrow-small-width: 16px;
$orange-arrow-small-height: 16px;
$orange-arrow-small-total-width: 168px;
$orange-arrow-small-total-height: 2962px;
$orange-arrow-small-image: '../sprite.png';
$orange-arrow-small: 0px 222px 0px -222px 16px 16px 168px 2962px '../sprite.png';
$orange-arrow-x: 0px;
$orange-arrow-y: 151px;
$orange-arrow-offset-x: 0px;
$orange-arrow-offset-y: -151px;
$orange-arrow-width: 7px;
$orange-arrow-height: 12px;
$orange-arrow-total-width: 168px;
$orange-arrow-total-height: 2962px;
$orange-arrow-image: '../sprite.png';
$orange-arrow: 0px 151px 0px -151px 7px 12px 168px 2962px '../sprite.png';
$orange-arrow_bottom-x: 0px;
$orange-arrow_bottom-y: 173px;
$orange-arrow_bottom-offset-x: 0px;
$orange-arrow_bottom-offset-y: -173px;
$orange-arrow_bottom-width: 13px;
$orange-arrow_bottom-height: 13px;
$orange-arrow_bottom-total-width: 168px;
$orange-arrow_bottom-total-height: 2962px;
$orange-arrow_bottom-image: '../sprite.png';
$orange-arrow_bottom: 0px 173px 0px -173px 13px 13px 168px 2962px '../sprite.png';
$orange-arrow_left-x: 0px;
$orange-arrow_left-y: 87px;
$orange-arrow_left-offset-x: 0px;
$orange-arrow_left-offset-y: -87px;
$orange-arrow_left-width: 11px;
$orange-arrow_left-height: 10px;
$orange-arrow_left-total-width: 168px;
$orange-arrow_left-total-height: 2962px;
$orange-arrow_left-image: '../sprite.png';
$orange-arrow_left: 0px 87px 0px -87px 11px 10px 168px 2962px '../sprite.png';
$orange-arrow_right-x: 0px;
$orange-arrow_right-y: 47px;
$orange-arrow_right-offset-x: 0px;
$orange-arrow_right-offset-y: -47px;
$orange-arrow_right-width: 11px;
$orange-arrow_right-height: 10px;
$orange-arrow_right-total-width: 168px;
$orange-arrow_right-total-height: 2962px;
$orange-arrow_right-image: '../sprite.png';
$orange-arrow_right: 0px 47px 0px -47px 11px 10px 168px 2962px '../sprite.png';
$orange-plus-x: 0px;
$orange-plus-y: 67px;
$orange-plus-offset-x: 0px;
$orange-plus-offset-y: -67px;
$orange-plus-width: 10px;
$orange-plus-height: 10px;
$orange-plus-total-width: 168px;
$orange-plus-total-height: 2962px;
$orange-plus-image: '../sprite.png';
$orange-plus: 0px 67px 0px -67px 10px 10px 168px 2962px '../sprite.png';
$pets-x: 0px;
$pets-y: 1833px;
$pets-offset-x: 0px;
$pets-offset-y: -1833px;
$pets-width: 60px;
$pets-height: 58px;
$pets-total-width: 168px;
$pets-total-height: 2962px;
$pets-image: '../sprite.png';
$pets: 0px 1833px 0px -1833px 60px 58px 168px 2962px '../sprite.png';
$pizza-icon-x: 0px;
$pizza-icon-y: 2792px;
$pizza-icon-offset-x: 0px;
$pizza-icon-offset-y: -2792px;
$pizza-icon-width: 168px;
$pizza-icon-height: 170px;
$pizza-icon-total-width: 168px;
$pizza-icon-total-height: 2962px;
$pizza-icon-image: '../sprite.png';
$pizza-icon: 0px 2792px 0px -2792px 168px 170px 168px 2962px '../sprite.png';
$rate-divider-x: 0px;
$rate-divider-y: 464px;
$rate-divider-offset-x: 0px;
$rate-divider-offset-y: -464px;
$rate-divider-width: 5px;
$rate-divider-height: 19px;
$rate-divider-total-width: 168px;
$rate-divider-total-height: 2962px;
$rate-divider-image: '../sprite.png';
$rate-divider: 0px 464px 0px -464px 5px 19px 168px 2962px '../sprite.png';
$rate-down-x: 0px;
$rate-down-y: 1143px;
$rate-down-offset-x: 0px;
$rate-down-offset-y: -1143px;
$rate-down-width: 48px;
$rate-down-height: 49px;
$rate-down-total-width: 168px;
$rate-down-total-height: 2962px;
$rate-down-image: '../sprite.png';
$rate-down: 0px 1143px 0px -1143px 48px 49px 168px 2962px '../sprite.png';
$rate-down_active-x: 0px;
$rate-down_active-y: 1202px;
$rate-down_active-offset-x: 0px;
$rate-down_active-offset-y: -1202px;
$rate-down_active-width: 48px;
$rate-down_active-height: 49px;
$rate-down_active-total-width: 168px;
$rate-down_active-total-height: 2962px;
$rate-down_active-image: '../sprite.png';
$rate-down_active: 0px 1202px 0px -1202px 48px 49px 168px 2962px '../sprite.png';
$rate-up-x: 0px;
$rate-up-y: 1261px;
$rate-up-offset-x: 0px;
$rate-up-offset-y: -1261px;
$rate-up-width: 48px;
$rate-up-height: 49px;
$rate-up-total-width: 168px;
$rate-up-total-height: 2962px;
$rate-up-image: '../sprite.png';
$rate-up: 0px 1261px 0px -1261px 48px 49px 168px 2962px '../sprite.png';
$rate-up_active-x: 0px;
$rate-up_active-y: 1084px;
$rate-up_active-offset-x: 0px;
$rate-up_active-offset-y: -1084px;
$rate-up_active-width: 48px;
$rate-up_active-height: 49px;
$rate-up_active-total-width: 168px;
$rate-up_active-total-height: 2962px;
$rate-up_active-image: '../sprite.png';
$rate-up_active: 0px 1084px 0px -1084px 48px 49px 168px 2962px '../sprite.png';
$right-arrow-hover-x: 0px;
$right-arrow-hover-y: 734px;
$right-arrow-hover-offset-x: 0px;
$right-arrow-hover-offset-y: -734px;
$right-arrow-hover-width: 13px;
$right-arrow-hover-height: 21px;
$right-arrow-hover-total-width: 168px;
$right-arrow-hover-total-height: 2962px;
$right-arrow-hover-image: '../sprite.png';
$right-arrow-hover: 0px 734px 0px -734px 13px 21px 168px 2962px '../sprite.png';
$right-arrow-x: 0px;
$right-arrow-y: 672px;
$right-arrow-offset-x: 0px;
$right-arrow-offset-y: -672px;
$right-arrow-width: 13px;
$right-arrow-height: 21px;
$right-arrow-total-width: 168px;
$right-arrow-total-height: 2962px;
$right-arrow-image: '../sprite.png';
$right-arrow: 0px 672px 0px -672px 13px 21px 168px 2962px '../sprite.png';
$scissors-x: 0px;
$scissors-y: 327px;
$scissors-offset-x: 0px;
$scissors-offset-y: -327px;
$scissors-width: 23px;
$scissors-height: 17px;
$scissors-total-width: 168px;
$scissors-total-height: 2962px;
$scissors-image: '../sprite.png';
$scissors: 0px 327px 0px -327px 23px 17px 168px 2962px '../sprite.png';
$search-md-x: 0px;
$search-md-y: 858px;
$search-md-offset-x: 0px;
$search-md-offset-y: -858px;
$search-md-width: 22px;
$search-md-height: 22px;
$search-md-total-width: 168px;
$search-md-total-height: 2962px;
$search-md-image: '../sprite.png';
$search-md: 0px 858px 0px -858px 22px 22px 168px 2962px '../sprite.png';
$search-x: 0px;
$search-y: 248px;
$search-offset-x: 0px;
$search-offset-y: -248px;
$search-width: 16px;
$search-height: 16px;
$search-total-width: 168px;
$search-total-height: 2962px;
$search-image: '../sprite.png';
$search: 0px 248px 0px -248px 16px 16px 168px 2962px '../sprite.png';
$select-arrow-x: 0px;
$select-arrow-y: 14px;
$select-arrow-offset-x: 0px;
$select-arrow-offset-y: -14px;
$select-arrow-width: 9px;
$select-arrow-height: 5px;
$select-arrow-total-width: 168px;
$select-arrow-total-height: 2962px;
$select-arrow-image: '../sprite.png';
$select-arrow: 0px 14px 0px -14px 9px 5px 168px 2962px '../sprite.png';
$share-x: 0px;
$share-y: 493px;
$share-offset-x: 0px;
$share-offset-y: -493px;
$share-width: 24px;
$share-height: 19px;
$share-total-width: 168px;
$share-total-height: 2962px;
$share-image: '../sprite.png';
$share: 0px 493px 0px -493px 24px 19px 168px 2962px '../sprite.png';
$showcoupon-x: 0px;
$showcoupon-y: 2229px;
$showcoupon-offset-x: 0px;
$showcoupon-offset-y: -2229px;
$showcoupon-width: 162px;
$showcoupon-height: 77px;
$showcoupon-total-width: 168px;
$showcoupon-total-height: 2962px;
$showcoupon-image: '../sprite.png';
$showcoupon: 0px 2229px 0px -2229px 162px 77px 168px 2962px '../sprite.png';
$showcoupon_hover-x: 0px;
$showcoupon_hover-y: 2055px;
$showcoupon_hover-offset-x: 0px;
$showcoupon_hover-offset-y: -2055px;
$showcoupon_hover-width: 162px;
$showcoupon_hover-height: 77px;
$showcoupon_hover-total-width: 168px;
$showcoupon_hover-total-height: 2962px;
$showcoupon_hover-image: '../sprite.png';
$showcoupon_hover: 0px 2055px 0px -2055px 162px 77px 168px 2962px '../sprite.png';
$showcoupon_pressed-x: 0px;
$showcoupon_pressed-y: 2142px;
$showcoupon_pressed-offset-x: 0px;
$showcoupon_pressed-offset-y: -2142px;
$showcoupon_pressed-width: 162px;
$showcoupon_pressed-height: 77px;
$showcoupon_pressed-total-width: 168px;
$showcoupon_pressed-total-height: 2962px;
$showcoupon_pressed-image: '../sprite.png';
$showcoupon_pressed: 0px 2142px 0px -2142px 162px 77px 168px 2962px '../sprite.png';
$small-logo-x: 0px;
$small-logo-y: 2694px;
$small-logo-offset-x: 0px;
$small-logo-offset-y: -2694px;
$small-logo-width: 87px;
$small-logo-height: 88px;
$small-logo-total-width: 168px;
$small-logo-total-height: 2962px;
$small-logo-image: '../sprite.png';
$small-logo: 0px 2694px 0px -2694px 87px 88px 168px 2962px '../sprite.png';
$small-logo_icon-x: 0px;
$small-logo_icon-y: 926px;
$small-logo_icon-offset-x: 0px;
$small-logo_icon-offset-y: -926px;
$small-logo_icon-width: 64px;
$small-logo_icon-height: 40px;
$small-logo_icon-total-width: 168px;
$small-logo_icon-total-height: 2962px;
$small-logo_icon-image: '../sprite.png';
$small-logo_icon: 0px 926px 0px -926px 64px 40px 168px 2962px '../sprite.png';
$sport-fitness-x: 0px;
$sport-fitness-y: 1977px;
$sport-fitness-offset-x: 0px;
$sport-fitness-offset-y: -1977px;
$sport-fitness-width: 68px;
$sport-fitness-height: 68px;
$sport-fitness-total-width: 168px;
$sport-fitness-total-height: 2962px;
$sport-fitness-image: '../sprite.png';
$sport-fitness: 0px 1977px 0px -1977px 68px 68px 168px 2962px '../sprite.png';
$technology-x: 0px;
$technology-y: 1569px;
$technology-offset-x: 0px;
$technology-offset-y: -1569px;
$technology-width: 62px;
$technology-height: 55px;
$technology-total-width: 168px;
$technology-total-height: 2962px;
$technology-image: '../sprite.png';
$technology: 0px 1569px 0px -1569px 62px 55px 168px 2962px '../sprite.png';
$ticket-x: 0px;
$ticket-y: 436px;
$ticket-offset-x: 0px;
$ticket-offset-y: -436px;
$ticket-width: 20px;
$ticket-height: 18px;
$ticket-total-width: 168px;
$ticket-total-height: 2962px;
$ticket-image: '../sprite.png';
$ticket: 0px 436px 0px -436px 20px 18px 168px 2962px '../sprite.png';
$toggle-nav-x: 0px;
$toggle-nav-y: 381px;
$toggle-nav-offset-x: 0px;
$toggle-nav-offset-y: -381px;
$toggle-nav-width: 20px;
$toggle-nav-height: 17px;
$toggle-nav-total-width: 168px;
$toggle-nav-total-height: 2962px;
$toggle-nav-image: '../sprite.png';
$toggle-nav: 0px 381px 0px -381px 20px 17px 168px 2962px '../sprite.png';
$tw-x: 0px;
$tw-y: 274px;
$tw-offset-x: 0px;
$tw-offset-y: -274px;
$tw-width: 19px;
$tw-height: 16px;
$tw-total-width: 168px;
$tw-total-height: 2962px;
$tw-image: '../sprite.png';
$tw: 0px 274px 0px -274px 19px 16px 168px 2962px '../sprite.png';

