/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;
*/
$carusel-item-x: 0px;
$carusel-item-y: 14px;
$carusel-item-offset-x: 0px;
$carusel-item-offset-y: -14px;
$carusel-item-width: 8px;
$carusel-item-height: 8px;
$carusel-item-total-width: 310px;
$carusel-item-total-height: 1688px;
$carusel-item-image: '../sprite.png';
$carusel-item: 0px 14px 0px -14px 8px 8px 310px 1688px '../sprite.png';
$carusel-item_active-x: 0px;
$carusel-item_active-y: 72px;
$carusel-item_active-offset-x: 0px;
$carusel-item_active-offset-y: -72px;
$carusel-item_active-width: 12px;
$carusel-item_active-height: 12px;
$carusel-item_active-total-width: 310px;
$carusel-item_active-total-height: 1688px;
$carusel-item_active-image: '../sprite.png';
$carusel-item_active: 0px 72px 0px -72px 12px 12px 310px 1688px '../sprite.png';
$checkmark-x: 0px;
$checkmark-y: 443px;
$checkmark-offset-x: 0px;
$checkmark-offset-y: -443px;
$checkmark-width: 21px;
$checkmark-height: 21px;
$checkmark-total-width: 310px;
$checkmark-total-height: 1688px;
$checkmark-image: '../sprite.png';
$checkmark: 0px 443px 0px -443px 21px 21px 310px 1688px '../sprite.png';
$fb-x: 0px;
$fb-y: 412px;
$fb-offset-x: 0px;
$fb-offset-y: -412px;
$fb-width: 10px;
$fb-height: 21px;
$fb-total-width: 310px;
$fb-total-height: 1688px;
$fb-image: '../sprite.png';
$fb: 0px 412px 0px -412px 10px 21px 310px 1688px '../sprite.png';
$getdeal-x: 0px;
$getdeal-y: 1201px;
$getdeal-offset-x: 0px;
$getdeal-offset-y: -1201px;
$getdeal-width: 160px;
$getdeal-height: 84px;
$getdeal-total-width: 310px;
$getdeal-total-height: 1688px;
$getdeal-image: '../sprite.png';
$getdeal: 0px 1201px 0px -1201px 160px 84px 310px 1688px '../sprite.png';
$getdeal_active-x: 0px;
$getdeal_active-y: 1013px;
$getdeal_active-offset-x: 0px;
$getdeal_active-offset-y: -1013px;
$getdeal_active-width: 160px;
$getdeal_active-height: 84px;
$getdeal_active-total-width: 310px;
$getdeal_active-total-height: 1688px;
$getdeal_active-image: '../sprite.png';
$getdeal_active: 0px 1013px 0px -1013px 160px 84px 310px 1688px '../sprite.png';
$getdeal_hover-x: 0px;
$getdeal_hover-y: 1107px;
$getdeal_hover-offset-x: 0px;
$getdeal_hover-offset-y: -1107px;
$getdeal_hover-width: 160px;
$getdeal_hover-height: 84px;
$getdeal_hover-total-width: 310px;
$getdeal_hover-total-height: 1688px;
$getdeal_hover-image: '../sprite.png';
$getdeal_hover: 0px 1107px 0px -1107px 160px 84px 310px 1688px '../sprite.png';
$google-plus-x: 0px;
$google-plus-y: 351px;
$google-plus-offset-x: 0px;
$google-plus-offset-y: -351px;
$google-plus-width: 21px;
$google-plus-height: 20px;
$google-plus-total-width: 310px;
$google-plus-total-height: 1688px;
$google-plus-image: '../sprite.png';
$google-plus: 0px 351px 0px -351px 21px 20px 310px 1688px '../sprite.png';
$gray-line-x: 0px;
$gray-line-y: 599px;
$gray-line-offset-x: 0px;
$gray-line-offset-y: -599px;
$gray-line-width: 1px;
$gray-line-height: 26px;
$gray-line-total-width: 310px;
$gray-line-total-height: 1688px;
$gray-line-image: '../sprite.png';
$gray-line: 0px 599px 0px -599px 1px 26px 310px 1688px '../sprite.png';
$green-star-x: 0px;
$green-star-y: 213px;
$green-star-offset-x: 0px;
$green-star-offset-y: -213px;
$green-star-width: 16px;
$green-star-height: 17px;
$green-star-total-width: 310px;
$green-star-total-height: 1688px;
$green-star-image: '../sprite.png';
$green-star: 0px 213px 0px -213px 16px 17px 310px 1688px '../sprite.png';
$left-arrow-hover-x: 0px;
$left-arrow-hover-y: 505px;
$left-arrow-hover-offset-x: 0px;
$left-arrow-hover-offset-y: -505px;
$left-arrow-hover-width: 13px;
$left-arrow-hover-height: 21px;
$left-arrow-hover-total-width: 310px;
$left-arrow-hover-total-height: 1688px;
$left-arrow-hover-image: '../sprite.png';
$left-arrow-hover: 0px 505px 0px -505px 13px 21px 310px 1688px '../sprite.png';
$left-arrow-x: 0px;
$left-arrow-y: 536px;
$left-arrow-offset-x: 0px;
$left-arrow-offset-y: -536px;
$left-arrow-width: 13px;
$left-arrow-height: 21px;
$left-arrow-total-width: 310px;
$left-arrow-total-height: 1688px;
$left-arrow-image: '../sprite.png';
$left-arrow: 0px 536px 0px -536px 13px 21px 310px 1688px '../sprite.png';
$light-orange-arrow-x: 0px;
$light-orange-arrow-y: 685px;
$light-orange-arrow-offset-x: 0px;
$light-orange-arrow-offset-y: -685px;
$light-orange-arrow-width: 33px;
$light-orange-arrow-height: 57px;
$light-orange-arrow-total-width: 310px;
$light-orange-arrow-total-height: 1688px;
$light-orange-arrow-image: '../sprite.png';
$light-orange-arrow: 0px 685px 0px -685px 33px 57px 310px 1688px '../sprite.png';
$mail-x: 0px;
$mail-y: 116px;
$mail-offset-x: 0px;
$mail-offset-y: -116px;
$mail-width: 18px;
$mail-height: 12px;
$mail-total-width: 310px;
$mail-total-height: 1688px;
$mail-image: '../sprite.png';
$mail: 0px 116px 0px -116px 18px 12px 310px 1688px '../sprite.png';
$markdown-circle-x: 0px;
$markdown-circle-y: 267px;
$markdown-circle-offset-x: 0px;
$markdown-circle-offset-y: -267px;
$markdown-circle-width: 15px;
$markdown-circle-height: 17px;
$markdown-circle-total-width: 310px;
$markdown-circle-total-height: 1688px;
$markdown-circle-image: '../sprite.png';
$markdown-circle: 0px 267px 0px -267px 15px 17px 310px 1688px '../sprite.png';
$markdown-small-x: 0px;
$markdown-small-y: 0px;
$markdown-small-offset-x: 0px;
$markdown-small-offset-y: 0px;
$markdown-small-width: 4px;
$markdown-small-height: 4px;
$markdown-small-total-width: 310px;
$markdown-small-total-height: 1688px;
$markdown-small-image: '../sprite.png';
$markdown-small: 0px 0px 0px 0px 4px 4px 310px 1688px '../sprite.png';
$orange-arrow-x: 0px;
$orange-arrow-y: 94px;
$orange-arrow-offset-x: 0px;
$orange-arrow-offset-y: -94px;
$orange-arrow-width: 7px;
$orange-arrow-height: 12px;
$orange-arrow-total-width: 310px;
$orange-arrow-total-height: 1688px;
$orange-arrow-image: '../sprite.png';
$orange-arrow: 0px 94px 0px -94px 7px 12px 310px 1688px '../sprite.png';
$orange-arrow_bottom-x: 0px;
$orange-arrow_bottom-y: 138px;
$orange-arrow_bottom-offset-x: 0px;
$orange-arrow_bottom-offset-y: -138px;
$orange-arrow_bottom-width: 13px;
$orange-arrow_bottom-height: 13px;
$orange-arrow_bottom-total-width: 310px;
$orange-arrow_bottom-total-height: 1688px;
$orange-arrow_bottom-image: '../sprite.png';
$orange-arrow_bottom: 0px 138px 0px -138px 13px 13px 310px 1688px '../sprite.png';
$orange-arrow_left-x: 0px;
$orange-arrow_left-y: 52px;
$orange-arrow_left-offset-x: 0px;
$orange-arrow_left-offset-y: -52px;
$orange-arrow_left-width: 11px;
$orange-arrow_left-height: 10px;
$orange-arrow_left-total-width: 310px;
$orange-arrow_left-total-height: 1688px;
$orange-arrow_left-image: '../sprite.png';
$orange-arrow_left: 0px 52px 0px -52px 11px 10px 310px 1688px '../sprite.png';
$orange-arrow_right-x: 0px;
$orange-arrow_right-y: 32px;
$orange-arrow_right-offset-x: 0px;
$orange-arrow_right-offset-y: -32px;
$orange-arrow_right-width: 11px;
$orange-arrow_right-height: 10px;
$orange-arrow_right-total-width: 310px;
$orange-arrow_right-total-height: 1688px;
$orange-arrow_right-image: '../sprite.png';
$orange-arrow_right: 0px 32px 0px -32px 11px 10px 310px 1688px '../sprite.png';
$right-arrow-hover-x: 0px;
$right-arrow-hover-y: 381px;
$right-arrow-hover-offset-x: 0px;
$right-arrow-hover-offset-y: -381px;
$right-arrow-hover-width: 13px;
$right-arrow-hover-height: 21px;
$right-arrow-hover-total-width: 310px;
$right-arrow-hover-total-height: 1688px;
$right-arrow-hover-image: '../sprite.png';
$right-arrow-hover: 0px 381px 0px -381px 13px 21px 310px 1688px '../sprite.png';
$right-arrow-x: 0px;
$right-arrow-y: 474px;
$right-arrow-offset-x: 0px;
$right-arrow-offset-y: -474px;
$right-arrow-width: 13px;
$right-arrow-height: 21px;
$right-arrow-total-width: 310px;
$right-arrow-total-height: 1688px;
$right-arrow-image: '../sprite.png';
$right-arrow: 0px 474px 0px -474px 13px 21px 310px 1688px '../sprite.png';
$search-md-x: 0px;
$search-md-y: 567px;
$search-md-offset-x: 0px;
$search-md-offset-y: -567px;
$search-md-width: 22px;
$search-md-height: 22px;
$search-md-total-width: 310px;
$search-md-total-height: 1688px;
$search-md-image: '../sprite.png';
$search-md: 0px 567px 0px -567px 22px 22px 310px 1688px '../sprite.png';
$search-x: 0px;
$search-y: 187px;
$search-offset-x: 0px;
$search-offset-y: -187px;
$search-width: 16px;
$search-height: 16px;
$search-total-width: 310px;
$search-total-height: 1688px;
$search-image: '../sprite.png';
$search: 0px 187px 0px -187px 16px 16px 310px 1688px '../sprite.png';
$share-x: 0px;
$share-y: 322px;
$share-offset-x: 0px;
$share-offset-y: -322px;
$share-width: 24px;
$share-height: 19px;
$share-total-width: 310px;
$share-total-height: 1688px;
$share-image: '../sprite.png';
$share: 0px 322px 0px -322px 24px 19px 310px 1688px '../sprite.png';
$showcoupon-x: 0px;
$showcoupon-y: 926px;
$showcoupon-offset-x: 0px;
$showcoupon-offset-y: -926px;
$showcoupon-width: 162px;
$showcoupon-height: 77px;
$showcoupon-total-width: 310px;
$showcoupon-total-height: 1688px;
$showcoupon-image: '../sprite.png';
$showcoupon: 0px 926px 0px -926px 162px 77px 310px 1688px '../sprite.png';
$showcoupon_hover-x: 0px;
$showcoupon_hover-y: 752px;
$showcoupon_hover-offset-x: 0px;
$showcoupon_hover-offset-y: -752px;
$showcoupon_hover-width: 162px;
$showcoupon_hover-height: 77px;
$showcoupon_hover-total-width: 310px;
$showcoupon_hover-total-height: 1688px;
$showcoupon_hover-image: '../sprite.png';
$showcoupon_hover: 0px 752px 0px -752px 162px 77px 310px 1688px '../sprite.png';
$showcoupon_pressed-x: 0px;
$showcoupon_pressed-y: 839px;
$showcoupon_pressed-offset-x: 0px;
$showcoupon_pressed-offset-y: -839px;
$showcoupon_pressed-width: 162px;
$showcoupon_pressed-height: 77px;
$showcoupon_pressed-total-width: 310px;
$showcoupon_pressed-total-height: 1688px;
$showcoupon_pressed-image: '../sprite.png';
$showcoupon_pressed: 0px 839px 0px -839px 162px 77px 310px 1688px '../sprite.png';
$small-logo-x: 0px;
$small-logo-y: 635px;
$small-logo-offset-x: 0px;
$small-logo-offset-y: -635px;
$small-logo-width: 64px;
$small-logo-height: 40px;
$small-logo-total-width: 310px;
$small-logo-total-height: 1688px;
$small-logo-image: '../sprite.png';
$small-logo: 0px 635px 0px -635px 64px 40px 310px 1688px '../sprite.png';
$submit_bg-x: 0px;
$submit_bg-y: 1295px;
$submit_bg-offset-x: 0px;
$submit_bg-offset-y: -1295px;
$submit_bg-width: 310px;
$submit_bg-height: 393px;
$submit_bg-total-width: 310px;
$submit_bg-total-height: 1688px;
$submit_bg-image: '../sprite.png';
$submit_bg: 0px 1295px 0px -1295px 310px 393px 310px 1688px '../sprite.png';
$ticket-x: 0px;
$ticket-y: 294px;
$ticket-offset-x: 0px;
$ticket-offset-y: -294px;
$ticket-width: 20px;
$ticket-height: 18px;
$ticket-total-width: 310px;
$ticket-total-height: 1688px;
$ticket-image: '../sprite.png';
$ticket: 0px 294px 0px -294px 20px 18px 310px 1688px '../sprite.png';
$toggle-nav-x: 0px;
$toggle-nav-y: 240px;
$toggle-nav-offset-x: 0px;
$toggle-nav-offset-y: -240px;
$toggle-nav-width: 20px;
$toggle-nav-height: 17px;
$toggle-nav-total-width: 310px;
$toggle-nav-total-height: 1688px;
$toggle-nav-image: '../sprite.png';
$toggle-nav: 0px 240px 0px -240px 20px 17px 310px 1688px '../sprite.png';
$tw-x: 0px;
$tw-y: 161px;
$tw-offset-x: 0px;
$tw-offset-y: -161px;
$tw-width: 19px;
$tw-height: 16px;
$tw-total-width: 310px;
$tw-total-height: 1688px;
$tw-image: '../sprite.png';
$tw: 0px 161px 0px -161px 19px 16px 310px 1688px '../sprite.png';

