/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;
*/
$carusel-item-x: 0px;
$carusel-item-y: 29px;
$carusel-item-offset-x: 0px;
$carusel-item-offset-y: -29px;
$carusel-item-width: 8px;
$carusel-item-height: 8px;
$carusel-item-total-width: 162px;
$carusel-item-total-height: 1763px;
$carusel-item-image: '../sprite.png';
$carusel-item: 0px 29px 0px -29px 8px 8px 162px 1763px '../sprite.png';
$carusel-item_active-x: 0px;
$carusel-item_active-y: 107px;
$carusel-item_active-offset-x: 0px;
$carusel-item_active-offset-y: -107px;
$carusel-item_active-width: 12px;
$carusel-item_active-height: 12px;
$carusel-item_active-total-width: 162px;
$carusel-item_active-total-height: 1763px;
$carusel-item_active-image: '../sprite.png';
$carusel-item_active: 0px 107px 0px -107px 12px 12px 162px 1763px '../sprite.png';
$checkmark-x: 0px;
$checkmark-y: 595px;
$checkmark-offset-x: 0px;
$checkmark-offset-y: -595px;
$checkmark-width: 21px;
$checkmark-height: 21px;
$checkmark-total-width: 162px;
$checkmark-total-height: 1763px;
$checkmark-image: '../sprite.png';
$checkmark: 0px 595px 0px -595px 21px 21px 162px 1763px '../sprite.png';
$fb-x: 0px;
$fb-y: 564px;
$fb-offset-x: 0px;
$fb-offset-y: -564px;
$fb-width: 10px;
$fb-height: 21px;
$fb-total-width: 162px;
$fb-total-height: 1763px;
$fb-image: '../sprite.png';
$fb: 0px 564px 0px -564px 10px 21px 162px 1763px '../sprite.png';
$getdeal-x: 0px;
$getdeal-y: 1393px;
$getdeal-offset-x: 0px;
$getdeal-offset-y: -1393px;
$getdeal-width: 160px;
$getdeal-height: 84px;
$getdeal-total-width: 162px;
$getdeal-total-height: 1763px;
$getdeal-image: '../sprite.png';
$getdeal: 0px 1393px 0px -1393px 160px 84px 162px 1763px '../sprite.png';
$getdeal_active-x: 0px;
$getdeal_active-y: 1487px;
$getdeal_active-offset-x: 0px;
$getdeal_active-offset-y: -1487px;
$getdeal_active-width: 160px;
$getdeal_active-height: 84px;
$getdeal_active-total-width: 162px;
$getdeal_active-total-height: 1763px;
$getdeal_active-image: '../sprite.png';
$getdeal_active: 0px 1487px 0px -1487px 160px 84px 162px 1763px '../sprite.png';
$getdeal_hover-x: 0px;
$getdeal_hover-y: 1581px;
$getdeal_hover-offset-x: 0px;
$getdeal_hover-offset-y: -1581px;
$getdeal_hover-width: 160px;
$getdeal_hover-height: 84px;
$getdeal_hover-total-width: 162px;
$getdeal_hover-total-height: 1763px;
$getdeal_hover-image: '../sprite.png';
$getdeal_hover: 0px 1581px 0px -1581px 160px 84px 162px 1763px '../sprite.png';
$google-plus-x: 0px;
$google-plus-y: 441px;
$google-plus-offset-x: 0px;
$google-plus-offset-y: -441px;
$google-plus-width: 21px;
$google-plus-height: 20px;
$google-plus-total-width: 162px;
$google-plus-total-height: 1763px;
$google-plus-image: '../sprite.png';
$google-plus: 0px 441px 0px -441px 21px 20px 162px 1763px '../sprite.png';
$gray-line-x: 0px;
$gray-line-y: 689px;
$gray-line-offset-x: 0px;
$gray-line-offset-y: -689px;
$gray-line-width: 1px;
$gray-line-height: 26px;
$gray-line-total-width: 162px;
$gray-line-total-height: 1763px;
$gray-line-image: '../sprite.png';
$gray-line: 0px 689px 0px -689px 1px 26px 162px 1763px '../sprite.png';
$gray-round-x: 0px;
$gray-round-y: 775px;
$gray-round-offset-x: 0px;
$gray-round-offset-y: -775px;
$gray-round-width: 44px;
$gray-round-height: 44px;
$gray-round-total-width: 162px;
$gray-round-total-height: 1763px;
$gray-round-image: '../sprite.png';
$gray-round: 0px 775px 0px -775px 44px 44px 162px 1763px '../sprite.png';
$green-star-x: 0px;
$green-star-y: 328px;
$green-star-offset-x: 0px;
$green-star-offset-y: -328px;
$green-star-width: 16px;
$green-star-height: 17px;
$green-star-total-width: 162px;
$green-star-total-height: 1763px;
$green-star-image: '../sprite.png';
$green-star: 0px 328px 0px -328px 16px 17px 162px 1763px '../sprite.png';
$left-arrow-hover-x: 0px;
$left-arrow-hover-y: 502px;
$left-arrow-hover-offset-x: 0px;
$left-arrow-hover-offset-y: -502px;
$left-arrow-hover-width: 13px;
$left-arrow-hover-height: 21px;
$left-arrow-hover-total-width: 162px;
$left-arrow-hover-total-height: 1763px;
$left-arrow-hover-image: '../sprite.png';
$left-arrow-hover: 0px 502px 0px -502px 13px 21px 162px 1763px '../sprite.png';
$left-arrow-x: 0px;
$left-arrow-y: 533px;
$left-arrow-offset-x: 0px;
$left-arrow-offset-y: -533px;
$left-arrow-width: 13px;
$left-arrow-height: 21px;
$left-arrow-total-width: 162px;
$left-arrow-total-height: 1763px;
$left-arrow-image: '../sprite.png';
$left-arrow: 0px 533px 0px -533px 13px 21px 162px 1763px '../sprite.png';
$light-orange-arrow-x: 0px;
$light-orange-arrow-y: 1065px;
$light-orange-arrow-offset-x: 0px;
$light-orange-arrow-offset-y: -1065px;
$light-orange-arrow-width: 33px;
$light-orange-arrow-height: 57px;
$light-orange-arrow-total-width: 162px;
$light-orange-arrow-total-height: 1763px;
$light-orange-arrow-image: '../sprite.png';
$light-orange-arrow: 0px 1065px 0px -1065px 33px 57px 162px 1763px '../sprite.png';
$mail-x: 0px;
$mail-y: 151px;
$mail-offset-x: 0px;
$mail-offset-y: -151px;
$mail-width: 18px;
$mail-height: 12px;
$mail-total-width: 162px;
$mail-total-height: 1763px;
$mail-image: '../sprite.png';
$mail: 0px 151px 0px -151px 18px 12px 162px 1763px '../sprite.png';
$markdown-circle-x: 0px;
$markdown-circle-y: 301px;
$markdown-circle-offset-x: 0px;
$markdown-circle-offset-y: -301px;
$markdown-circle-width: 15px;
$markdown-circle-height: 17px;
$markdown-circle-total-width: 162px;
$markdown-circle-total-height: 1763px;
$markdown-circle-image: '../sprite.png';
$markdown-circle: 0px 301px 0px -301px 15px 17px 162px 1763px '../sprite.png';
$markdown-small-x: 0px;
$markdown-small-y: 0px;
$markdown-small-offset-x: 0px;
$markdown-small-offset-y: 0px;
$markdown-small-width: 4px;
$markdown-small-height: 4px;
$markdown-small-total-width: 162px;
$markdown-small-total-height: 1763px;
$markdown-small-image: '../sprite.png';
$markdown-small: 0px 0px 0px 0px 4px 4px 162px 1763px '../sprite.png';
$orange-arrow-small-x: 0px;
$orange-arrow-small-y: 222px;
$orange-arrow-small-offset-x: 0px;
$orange-arrow-small-offset-y: -222px;
$orange-arrow-small-width: 16px;
$orange-arrow-small-height: 16px;
$orange-arrow-small-total-width: 162px;
$orange-arrow-small-total-height: 1763px;
$orange-arrow-small-image: '../sprite.png';
$orange-arrow-small: 0px 222px 0px -222px 16px 16px 162px 1763px '../sprite.png';
$orange-arrow-x: 0px;
$orange-arrow-y: 129px;
$orange-arrow-offset-x: 0px;
$orange-arrow-offset-y: -129px;
$orange-arrow-width: 7px;
$orange-arrow-height: 12px;
$orange-arrow-total-width: 162px;
$orange-arrow-total-height: 1763px;
$orange-arrow-image: '../sprite.png';
$orange-arrow: 0px 129px 0px -129px 7px 12px 162px 1763px '../sprite.png';
$orange-arrow_bottom-x: 0px;
$orange-arrow_bottom-y: 173px;
$orange-arrow_bottom-offset-x: 0px;
$orange-arrow_bottom-offset-y: -173px;
$orange-arrow_bottom-width: 13px;
$orange-arrow_bottom-height: 13px;
$orange-arrow_bottom-total-width: 162px;
$orange-arrow_bottom-total-height: 1763px;
$orange-arrow_bottom-image: '../sprite.png';
$orange-arrow_bottom: 0px 173px 0px -173px 13px 13px 162px 1763px '../sprite.png';
$orange-arrow_left-x: 0px;
$orange-arrow_left-y: 67px;
$orange-arrow_left-offset-x: 0px;
$orange-arrow_left-offset-y: -67px;
$orange-arrow_left-width: 11px;
$orange-arrow_left-height: 10px;
$orange-arrow_left-total-width: 162px;
$orange-arrow_left-total-height: 1763px;
$orange-arrow_left-image: '../sprite.png';
$orange-arrow_left: 0px 67px 0px -67px 11px 10px 162px 1763px '../sprite.png';
$orange-arrow_right-x: 0px;
$orange-arrow_right-y: 87px;
$orange-arrow_right-offset-x: 0px;
$orange-arrow_right-offset-y: -87px;
$orange-arrow_right-width: 11px;
$orange-arrow_right-height: 10px;
$orange-arrow_right-total-width: 162px;
$orange-arrow_right-total-height: 1763px;
$orange-arrow_right-image: '../sprite.png';
$orange-arrow_right: 0px 87px 0px -87px 11px 10px 162px 1763px '../sprite.png';
$orange-plus-x: 0px;
$orange-plus-y: 47px;
$orange-plus-offset-x: 0px;
$orange-plus-offset-y: -47px;
$orange-plus-width: 10px;
$orange-plus-height: 10px;
$orange-plus-total-width: 162px;
$orange-plus-total-height: 1763px;
$orange-plus-image: '../sprite.png';
$orange-plus: 0px 47px 0px -47px 10px 10px 162px 1763px '../sprite.png';
$rate-divider-x: 0px;
$rate-divider-y: 412px;
$rate-divider-offset-x: 0px;
$rate-divider-offset-y: -412px;
$rate-divider-width: 5px;
$rate-divider-height: 19px;
$rate-divider-total-width: 162px;
$rate-divider-total-height: 1763px;
$rate-divider-image: '../sprite.png';
$rate-divider: 0px 412px 0px -412px 5px 19px 162px 1763px '../sprite.png';
$rate-down-x: 0px;
$rate-down-y: 947px;
$rate-down-offset-x: 0px;
$rate-down-offset-y: -947px;
$rate-down-width: 48px;
$rate-down-height: 49px;
$rate-down-total-width: 162px;
$rate-down-total-height: 1763px;
$rate-down-image: '../sprite.png';
$rate-down: 0px 947px 0px -947px 48px 49px 162px 1763px '../sprite.png';
$rate-down_active-x: 0px;
$rate-down_active-y: 1006px;
$rate-down_active-offset-x: 0px;
$rate-down_active-offset-y: -1006px;
$rate-down_active-width: 48px;
$rate-down_active-height: 49px;
$rate-down_active-total-width: 162px;
$rate-down_active-total-height: 1763px;
$rate-down_active-image: '../sprite.png';
$rate-down_active: 0px 1006px 0px -1006px 48px 49px 162px 1763px '../sprite.png';
$rate-up-x: 0px;
$rate-up-y: 829px;
$rate-up-offset-x: 0px;
$rate-up-offset-y: -829px;
$rate-up-width: 48px;
$rate-up-height: 49px;
$rate-up-total-width: 162px;
$rate-up-total-height: 1763px;
$rate-up-image: '../sprite.png';
$rate-up: 0px 829px 0px -829px 48px 49px 162px 1763px '../sprite.png';
$rate-up_active-x: 0px;
$rate-up_active-y: 888px;
$rate-up_active-offset-x: 0px;
$rate-up_active-offset-y: -888px;
$rate-up_active-width: 48px;
$rate-up_active-height: 49px;
$rate-up_active-total-width: 162px;
$rate-up_active-total-height: 1763px;
$rate-up_active-image: '../sprite.png';
$rate-up_active: 0px 888px 0px -888px 48px 49px 162px 1763px '../sprite.png';
$right-arrow-hover-x: 0px;
$right-arrow-hover-y: 471px;
$right-arrow-hover-offset-x: 0px;
$right-arrow-hover-offset-y: -471px;
$right-arrow-hover-width: 13px;
$right-arrow-hover-height: 21px;
$right-arrow-hover-total-width: 162px;
$right-arrow-hover-total-height: 1763px;
$right-arrow-hover-image: '../sprite.png';
$right-arrow-hover: 0px 471px 0px -471px 13px 21px 162px 1763px '../sprite.png';
$right-arrow-x: 0px;
$right-arrow-y: 626px;
$right-arrow-offset-x: 0px;
$right-arrow-offset-y: -626px;
$right-arrow-width: 13px;
$right-arrow-height: 21px;
$right-arrow-total-width: 162px;
$right-arrow-total-height: 1763px;
$right-arrow-image: '../sprite.png';
$right-arrow: 0px 626px 0px -626px 13px 21px 162px 1763px '../sprite.png';
$search-md-x: 0px;
$search-md-y: 657px;
$search-md-offset-x: 0px;
$search-md-offset-y: -657px;
$search-md-width: 22px;
$search-md-height: 22px;
$search-md-total-width: 162px;
$search-md-total-height: 1763px;
$search-md-image: '../sprite.png';
$search-md: 0px 657px 0px -657px 22px 22px 162px 1763px '../sprite.png';
$search-x: 0px;
$search-y: 196px;
$search-offset-x: 0px;
$search-offset-y: -196px;
$search-width: 16px;
$search-height: 16px;
$search-total-width: 162px;
$search-total-height: 1763px;
$search-image: '../sprite.png';
$search: 0px 196px 0px -196px 16px 16px 162px 1763px '../sprite.png';
$select-arrow-x: 0px;
$select-arrow-y: 14px;
$select-arrow-offset-x: 0px;
$select-arrow-offset-y: -14px;
$select-arrow-width: 9px;
$select-arrow-height: 5px;
$select-arrow-total-width: 162px;
$select-arrow-total-height: 1763px;
$select-arrow-image: '../sprite.png';
$select-arrow: 0px 14px 0px -14px 9px 5px 162px 1763px '../sprite.png';
$share-x: 0px;
$share-y: 383px;
$share-offset-x: 0px;
$share-offset-y: -383px;
$share-width: 24px;
$share-height: 19px;
$share-total-width: 162px;
$share-total-height: 1763px;
$share-image: '../sprite.png';
$share: 0px 383px 0px -383px 24px 19px 162px 1763px '../sprite.png';
$showcoupon-x: 0px;
$showcoupon-y: 1132px;
$showcoupon-offset-x: 0px;
$showcoupon-offset-y: -1132px;
$showcoupon-width: 162px;
$showcoupon-height: 77px;
$showcoupon-total-width: 162px;
$showcoupon-total-height: 1763px;
$showcoupon-image: '../sprite.png';
$showcoupon: 0px 1132px 0px -1132px 162px 77px 162px 1763px '../sprite.png';
$showcoupon_hover-x: 0px;
$showcoupon_hover-y: 1219px;
$showcoupon_hover-offset-x: 0px;
$showcoupon_hover-offset-y: -1219px;
$showcoupon_hover-width: 162px;
$showcoupon_hover-height: 77px;
$showcoupon_hover-total-width: 162px;
$showcoupon_hover-total-height: 1763px;
$showcoupon_hover-image: '../sprite.png';
$showcoupon_hover: 0px 1219px 0px -1219px 162px 77px 162px 1763px '../sprite.png';
$showcoupon_pressed-x: 0px;
$showcoupon_pressed-y: 1306px;
$showcoupon_pressed-offset-x: 0px;
$showcoupon_pressed-offset-y: -1306px;
$showcoupon_pressed-width: 162px;
$showcoupon_pressed-height: 77px;
$showcoupon_pressed-total-width: 162px;
$showcoupon_pressed-total-height: 1763px;
$showcoupon_pressed-image: '../sprite.png';
$showcoupon_pressed: 0px 1306px 0px -1306px 162px 77px 162px 1763px '../sprite.png';
$small-logo-x: 0px;
$small-logo-y: 1675px;
$small-logo-offset-x: 0px;
$small-logo-offset-y: -1675px;
$small-logo-width: 87px;
$small-logo-height: 88px;
$small-logo-total-width: 162px;
$small-logo-total-height: 1763px;
$small-logo-image: '../sprite.png';
$small-logo: 0px 1675px 0px -1675px 87px 88px 162px 1763px '../sprite.png';
$small-logo_icon-x: 0px;
$small-logo_icon-y: 725px;
$small-logo_icon-offset-x: 0px;
$small-logo_icon-offset-y: -725px;
$small-logo_icon-width: 64px;
$small-logo_icon-height: 40px;
$small-logo_icon-total-width: 162px;
$small-logo_icon-total-height: 1763px;
$small-logo_icon-image: '../sprite.png';
$small-logo_icon: 0px 725px 0px -725px 64px 40px 162px 1763px '../sprite.png';
$ticket-x: 0px;
$ticket-y: 355px;
$ticket-offset-x: 0px;
$ticket-offset-y: -355px;
$ticket-width: 20px;
$ticket-height: 18px;
$ticket-total-width: 162px;
$ticket-total-height: 1763px;
$ticket-image: '../sprite.png';
$ticket: 0px 355px 0px -355px 20px 18px 162px 1763px '../sprite.png';
$toggle-nav-x: 0px;
$toggle-nav-y: 274px;
$toggle-nav-offset-x: 0px;
$toggle-nav-offset-y: -274px;
$toggle-nav-width: 20px;
$toggle-nav-height: 17px;
$toggle-nav-total-width: 162px;
$toggle-nav-total-height: 1763px;
$toggle-nav-image: '../sprite.png';
$toggle-nav: 0px 274px 0px -274px 20px 17px 162px 1763px '../sprite.png';
$tw-x: 0px;
$tw-y: 248px;
$tw-offset-x: 0px;
$tw-offset-y: -248px;
$tw-width: 19px;
$tw-height: 16px;
$tw-total-width: 162px;
$tw-total-height: 1763px;
$tw-image: '../sprite.png';
$tw: 0px 248px 0px -248px 19px 16px 162px 1763px '../sprite.png';

