@import "../font/stylesheet.css";


@import "variables";

@import "bootstrap";
@import "sprite";

@import "carousel";
@import "general";

@import "header";
@import "main-menu";
@import "paginator";
@import "footer";


@import "homepage/slider";
@import "homepage/sign-up";
@import "homepage/banner-right";
@import "homepage/deal";
@import "homepage/popular";

@import "submit-coupon";
@import "company";
@import "categories";
@import "deal-alerts";
@import "blog";

.bg-wrapper {
  background: url('#{$path-to-img}bg_top-narrow.png') transparent 50% 0 no-repeat ;
  &.-with-slider {
    background: url('#{$path-to-img}bg_top.png') transparent 50% 0 no-repeat ;
  }

  &.-deal {
    background: url('#{$path-to-img}bg_top_deal.png') transparent 50% 0 no-repeat ;
  }
  overflow: hidden;

}

.bg-wrapper_bottom {
//  background: url('#{$path-to-img}bg_bottom.png') transparent 50% 100% no-repeat ;
}

a:active,
a:hover {
  outline: 0;
  text-decoration: none;
}


@import "ie";
@import "responsive";
