
.submit-coupon {
  background: transparent url('#{$path-to-img}orange-weave-bg.png') 50% 0 no-repeat;
  border-radius: 5px;
  padding: 20px;
  margin-bottom: 0;
}

.submit-coupon_title {
  color:  #ffe397;
  font-family: $ff-bold;
  font-size: 30px; /* Approximation due to font substitution */
  text-shadow: 0px 1px 3px rgba(175, 50, 0, 0.6);
  margin-top: 0;
}

.submit-coupon_subtitle {
  color:  #ffffff;
  font-size: 20px; /* Approximation due to font substitution */
  font-family: $ff-semibold;
  margin-bottom: 0;
  line-height: 18px;
}

.submit-coupon_subtitle-small {
  color:  #ffffff;
  font-family: $ff-semibold;
  font-size: 18px; /* Approximation due to font substitution */
  margin-top: 0;
  margin-bottom: 20px;
}

.captha-wrapper {
  background-color: #ffffff;
  padding: 5px;
  border-radius: 5px;
  height: 40px;
  line-height: 40px;
  img {
    vertical-align: middle;

  }
}


/****************/
/** RESPONSIVE **/
/****************/


/*SMALL and EXTRA SMALL -- sm and xs -- SUBMIT COUPON*/
@media screen and (max-width: $screen-sm-max) {
  .submit-coupon {
    background: #EC6D2E url('#{$path-to-img}orange-bg_sm.png') 50% 0 no-repeat;
  }
}
/*SMALL and EXTRA SMALL -- sm and xs -- SUBMIT COUPON -- END*/


/*EXTRA SMALL -- xs -- SUBMIT COUPON*/
@media screen and (max-width: $screen-xs-max) {

}
/*EXTRA SMALL -- xs -- SUBMIT COUPON -- END*/


/*SMALL -- sm -- SUBMIT COUPON*/
@media screen and (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {

}
/*SMALL -- sm -- SUBMIT COUPON -- END*/



