.clearfix
  .col-md-4.circle-graphs_col
    .progress-70.progress-radial
      .overlay
    h3.circle-graphs_title CURRENT LEAD QUOTE
    .circle-graphs_count 56
  .col-md-4.circle-graphs_col
    .progress-30_orange.progress-radial
      .overlay
    h3.circle-graphs_title LIVE LEADS
    .circle-graphs_count 120
  .col-md-4.circle-graphs_col
    .progress-50_green.progress-radial
      .overlay
    h3.circle-graphs_title LEADS SOLD THIS MONTH
    .circle-graphs_count 350



