h2.g_main-title
  i.icon.graphes
  | Leads Graphs
.graph-descr
  .graph-marker.icon.-blue
  span.graph-marker_name New Leads/hour
  .graph-marker.icon.-orange
  span.graph-marker_name Leads Handled/hour
  button.simple-btn.-blue.-sm Last 24 Hours

#graph( style="width:540px;height:250px")
