.row_main-title
  h1.g_main-title
    i.icon.list
    |Products
.g_dotted_header.dotted-bg
  .row
    .col-all-22p Name
    .col-all-22p Created
    .col-all-22p Total Incoming
    .col-all-22p Total Incoming
    .col-all-12p Options
.g_table_row.-lg
  .row
    .col-all-22p
      span GoQuoty.com   -
      a &nbsp; Handyman
    .col-all-22p 01.04.2014
    .col-all-22p 25
    .col-all-22p 25
    .col-all-12p Delete
.g_table_row.-lg
  .row
    .col-all-22p
      span GoQuoty.com   -
      a &nbsp; Lawyer
    .col-all-22p 01.04.2014
    .col-all-22p 450
    .col-all-22p 450
    .col-all-12p Delete
.g_table_row.-lg
  .row
    .col-all-22p
      span GoQuoty.com   -
      a &nbsp; Accounter
    .col-all-22p 02.05.2014
    .col-all-22p 150
    .col-all-22p 56
    .col-all-12p Delete
.g_table_row.-lg
  .row
    .col-all-22p
      span GoQuoty.com   -
      a &nbsp; Handyman
    .col-all-22p 23.07.2014
    .col-all-22p 250
    .col-all-22p 89
    .col-all-12p Delete
.row_button
  button.simple-btn <i class="icon white-plus"></i>Create New