<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <script src="http://vkontakte.ru/js/api/openapi.js" type="text/javascript"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0-rc.0/angular.min.js" type="text/javascript"></script>
    <script src="https://cdn.jsdelivr.net/ngstorage/0.3.6/ngStorage.min.js" type="text/javascript"></script>
    <script src="main.js" type="text/javascript"></script>
    <script language="javascript">
        VK.init({
            apiId: 5063919
        });
    </script>
</head>
<body ng-app="anyVk">
<div ng-controller="mainCtrl">
    <button ng-click="getName()">GET NAME</button>
    <button ng-click="showMe()">SHOW ME</button>
    <button ng-click="login()">LOGIN</button>
    <button ng-click="showFriends()">SHOW FRIENDS</button>
    <div>Имя: {{currentUser.first_name}}</div>
    <div>Фамилия: {{currentUser.last_name}}</div>
    <img src="{{currentUser.photo_400_orig}}" alt=""/>
    <div><h2>Друзья</h2></div>
    <ul>
        <li ng-repeat="friend in friends">
            <img src="{{friend.photo_50}}" alt=""/>
            <div>Имя: {{friend.first_name}}</div>
            <div>Фамилия: {{friend.last_name}}</div>
            <div>ОНЛАЙН: <span ng-show="friend.online">ДА</span></div>
        </li>
    </ul>
</div>
</body>
</html>