mixin b_blue-title(imgclass, titlename)
    .b_blue-title.col-xs-12.-blue-bg.b_trim
        .clearfix
            .fll.b_blue-title_btn
                i(class="#{imgclass} icon")
            .fll.b_blue-title_name
                h3.b_trim_inner #{titlename}