mixin b_settings_bubble
    .b_settings_bubble.popover.bottom.in(style="display:none;")
        .arrow
        .popover-content
            .popover-content_line.clearfix
                span.popover-content_line_text.fll Order by time:
                .switch.flr
                    input(type="checkbox" id="switch-1" class="switch-check")
                    label(for="switch-1" class="switch-label") Опция
                        span(class="switch-slider switch-slider-on")
                        span(class="switch-slider switch-slider-off")
            .popover-content_line.clearfix
                span.popover-content_line_text.fll  Display scores:
                .switch.flr
                    input(type="checkbox" id="switch-2" class="switch-check")
                    label(for="switch-2" class="switch-label") Опция
                        span(class="switch-slider switch-slider-on")
                        span(class="switch-slider switch-slider-off")



