mixin navigation_menu
    .navbar-collapse.collapse
        ul.nav.navbar-nav
            li.first
                a.logo( href="#")
            li.active
                a(href="matches.html")
                    i.matches.icon
                    | Matches
                    i.icon.arrow-right_lg.flr
            li
                a(href="competitions.html")
                    i.competitions.icon
                    | Competitions
                    i.icon.arrow-right_lg.flr
            li
                a(href="teams.html")
                    i.teams.icon
                    | Teams
                    i.icon.arrow-right_lg.flr
            li
                a(href="channels.html")
                    i.channels.icon
                    | Channels
                    i.icon.arrow-right_lg.flr
            li
                a(href="http://www.livesoccertv.com/")
                    i.matches.icon
                    | Full site
                    i.icon.arrow-right_lg.flr