extends ./layout.jade

block title
  title Create Partner

block variables
  -var item1 = {title: 'Leads', class: 'leads', active: '', show: true, link: 'dashboard.html'}
  -var item2 = {title: 'Create', class: 'create', active: '', show: true, link: 'create.html'}
  -var item3 = {title: 'Search', class: 'search', active: '', show: true, link: 'search.html'}
  -var item4 = {title: 'Admin', class: 'admin', active: '-active', show: true}


block footer-script
  include general-includes/footer-script
  script(src="js/plot.js")

block main-content
  .container
    .row
      .col-md-12
        .g_block
          include includes/create-partner

  include general-includes/graphs-block













