include mixins/checkbox

block variables
  -var item1 = {title: 'Leads', class: 'leads', active: '-active', show: true, link: 'dashboard.html'}
  -var item2 = {title: 'Create', class: 'create', active: '', show: true, link: 'create.html'}
  -var item3 = {title: 'Search', class: 'search', active: '', show: true, link: 'search.html'}
  -var item4 = {title: 'Admin', class: 'admin', active: '', show: true}


doctype html
html(class="no-js")
  include general-includes/head

  body
    include general-includes/left-menu
    .main-wrapper
      include general-includes/header
      .main-content
        block main-content
      include general-includes/footer
    block footer-script
      include general-includes/footer-script