extends ./layout.jade

block title
  title Lead page #234234

block variables
  -var item1 = {title: 'Leads', class: 'leads', active: '-active', show: true}
  -var item2 = {title: 'Create', class: 'create', active: '', show: true, link: 'create.html'}
  -var item3 = {title: 'Search', class: 'search', active: '', show: true, link: 'search.html'}
  -var item4 = {title: 'Admin', class: 'admin', active: '', show: true}


block footer-script
  include general-includes/footer-script
  script(src="js/plot.js")

block main-content
  .container
    .row
      .col-md-7.col-lg-8
        .g_block
          include includes/lead-id
      .col-md-5.col-lg-4
        .g_block.-disabled
          include includes/filters

  include general-includes/graphs-block















