include mixins/checkbox


doctype html
html
  include general-includes/head

  body
    .main-wrapper.-center
      include general-includes/success-header
      .main-content
        block main-content
      include general-includes/footer
    block footer-script
      include general-includes/footer-script



























