extends ./success-layout

block title
  title Sucess Landing

block footer-script
  include general-includes/footer-script

block main-content
  .container
    .row
      .col-md-12
        .g_block
            include includes/success/sucess-landing















