footer.footer
  .container.footer_inner
    .row
      .col-sm-3.logo-sm-wrapper
        i.logo.logo-sm
      .col-sm-9
        ul.footer-menu
          li.footer-menu-item
            a.footer-menu-link О нас
          li.footer-menu-link
            a.footer-menu-link О проекте
          li.footer-menu-link
            a.footer-menu-link Блог
        ul.footer-menu
          li.footer-menu-item
            a.footer-menu-link(href="#") Партнерам
          li.footer-menu-link
            a.footer-menu-link Партнерская программа
          li.footer-menu-link
            a.footer-menu-link Реклама на сайте
        ul.footer-menu
          li.footer-menu-item
            a.footer-menu-link Гидам
          li.footer-menu-link
            a.footer-menu-link Помощь
          li.footer-menu-link
            a.footer-menu-link Договор