.footer-menu {
  
}

.footer-menu_link {
  display: block;
  line-height: 32px;
  font-size: 14px;
  color: #000000;
  cursor: pointer;
}


.soc-menu {

}

.soc-menu_item {
  display: inline-block;
}

.soc-menu_item {
  display: block;
}

h5.footer-title {
  font-size: 14px;
  color: #000000;
  margin: 0;
}

.copyright {
  font-size: 14px;
  color: #000000;
}