//
//html {
//  height: 100%;
//}
//
//body {
//  height: auto !important;
//  height: 100%;
//  min-height: 100%;
//  position: relative;
//}

body.overflow {
  overflow: hidden;
  height: auto;
  position: relative;


  .main-content>.container>.row > .col-xl-9 {
    overflow: hidden;
  }
}



.main-wrapper {
  @include media-breakpoint-up(lg) {
    min-height: calc(100vh - 350px);
  }
}

footer {
  @include media-breakpoint-up(lg){
    height: 350px;
  }

}

.svg-block {
  svg:not(:root) {
    position: absolute;
  }
}


.header_top {
  background: transparent url('#{$img-path}header-bg.jpg') no-repeat 50% 0;
  height: 70px;
  padding: 15px 0;
  text-align: center;
}

.header_text-wrapper {
  display: inline-block;
  text-align: left;
}

.header_text {
  font-size: 22px;
  color:  #ffffff;
  font-family: $font-family-light;
  line-height: 1;
}

.header_text-indent {
  color: $red-main;
  font-family: $font-family-bold;
  padding: 0 7px;
}

.header_subtext {
  font-size: 12px;
  color: $gray-normal;
  text-align: right;
}


.header_bottom {
  background-color: #ffffff;
  margin-bottom: 30px;

  @include media-breakpoint-down(md){
    padding-bottom: 10px;
  }
  
}

.header_bottom-contacts {
  font-size: 0;
  padding-top: 10px;
  margin-bottom: 7px;
}

.header_btn {
  vertical-align: top;
  margin-left: 20px;
}

.header_phone {
  display: inline-block;
  color:  #000000;
  font-size: 18px;
  font-family: $font-family-semibold;
  vertical-align: top;
  margin: 12px 10px 0px 10px;

  @include media-breakpoint-down(md){
    margin: 12px 10px 0px 0px;
  }
}

.feedback-menu_xs {
  padding: 10px 0 0 0;
  @include clearfix();
}

.feedback-menu {
  display: inline-block;
  @include clear-menu();
  @include clearfix();
  vertical-align: top;
  margin-top: 18px;
}

.feedback-menu_item {
  float: left;
  border-right: 1px solid #DDDDDD;
  padding: 0 16px;
  line-height: 1;

  @include media-breakpoint-down(md){
    padding: 0 12px;
    &:last-child{
      border-right: none;
      padding: 0 0px 0 12px;
    }
  }
}

.feedback-menu_link {
  border-bottom: 1px dashed $red-main;
  font-size: 14px;
  line-height: 1;
  color:$red-main;
  text-decoration: none;
  cursor: pointer;

  &:hover {
    color:$red-main;
    text-decoration: none;
  }
}

.work-time {
  font-size: 14px;
  display: inline-block;
  line-height: 1;
  vertical-align: top;
  margin-left: 15px;
  margin-top: 18px;
}

.search-wrapper {
  padding: 10px 0;

  &.-menu {
    //@include media-breakpoint-down(md){
    //  padding:0 15px;
    //  margin-bottom: 15px;
    //}
  }

  &.-search-overlay {
    position: absolute;
    z-index: 1;
    top: -4px;
    width: calc(100% - 175px);
    left: 175px;


    .input-group {
      width: 100%;
    }
    
    .search-sm {
      position: absolute;
      top: 9px;
      left: 8px;
      fill: #808080 !important;
      z-index: 4;
    }

    .form-control {
      padding-left: 30px;
    }
  }


  &.-only-btn {
    padding: 6px 0 10px 0;
  }

  @include media-breakpoint-down(md){
    padding: 6px 0 10px 0;
  }
}

.search-result {
  padding: 0 20px;
  box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.2);
  background-color: #ffffff;

  &.-xs {
    bottom: 53px;
    .search-result_item {
      padding: 10px 0;
    }
  }
}

.search-result_item {
  color:  #808080;
  font-size: 16px;
  padding: 20px 0;

  span {
    color:  #000000;
    font-family: $font-family-semibold;

  }
}

.link-sm {
  font-size: 14px;
  cursor: pointer;
}

//li.btn-select_item

.btn-select {
  display: inline-block;
  text-align: center;
  padding: 15px;
  background-color: #ffffff;
  position: absolute;
  z-index: 2;
  left: 0;
  top: -15px;

  .btn-icons {
    margin-bottom: 10px;
  }
}

.btn-select_list {
  @include clear-menu();
}

.btn-select_item {
  display: block;
  font-size: 18px;
  font-family: $font-family-semibold;
  color: $red-main;
  padding: 5px 0px;
  cursor: pointer;
  text-decoration: none;

  &:hover {
    color: $red-dark;
    text-decoration: none;
  }
}



#navbar-header {
  float: none;
  //overflow: visible;
  @include media-breakpoint-up(lg){
    height: auto !important;
  }
}


@include media-breakpoint-down(sm){
  .carousel.-with-indicator {
    margin-bottom: 50px;
  }
}

.fll-lg-up {
  @include media-breakpoint-up(lg){
    float: left;
  }
}

#navbar-header .col-xl-1.col-lg-2 {
  padding-right: 0;
}