.g-icon {
  display: inline-block;
}

.map-sm {
  width: 14px;
  height: 20px;
}

.map-icon {

  &.-indent {
    fill: $red-main;
  }
}

.logo-normal {
  width: 166px;
  height: 34px;
  margin-right: 40px;
}

.search-sm {
  width: 16px;
  height: 18px;
}

@include media-breakpoint-down(md) {
  .logo-normal {
    width: 94px;
    height: 19px;
    margin: 11px 0;
  }
}

.youtube-sm {
  width: 28px;
  height: 34px;
}

.youtube-icon {
  fill:#A4A4A4;
  cursor: pointer;
  &:hover {
    fill: #cd201f;
  }
}

.twitter-sm {
  width: 33px;
  height: 27px;
}

.twitter-icon {
  fill:#A4A4A4;
  cursor: pointer;
  &:hover {
    fill: #55acee;
  }
}

.vk-sm {
  width: 33px;
  height: 33px;
}

.vk-icon {
  fill:#A4A4A4;
  cursor: pointer;

  &:hover {
    fill: #45668e;
  }
}

.visa-sm {
  width: 47px;
  height: 15px;
}

.mastercard-sm {
  width: 91px;
  height: 16px;
}

.delivery-md {
  width: 26px;
  height: 21px;
}

.delivery-sm {
  width: 18px;
  height: 15px;
}

.quality-md {
  width: 23px;
  height: 25px;
}

.rouble-md {
  width: 17px;
  height: 22px;
}

.superman-lg {
  width: 103px;
  height: 103px;

  @include media-breakpoint-down(md){
    width: 66px;
    height: 66px;
  }
  
}

.profi-lg {
  width: 103px;
  height: 103px;

  @include media-breakpoint-down(md){
    width: 66px;
    height: 66px;
  }
}

.service-icon {
  fill:#d3d3d3;
}

.installation-sm {
  width: 16px;
  height: 15px;
}

.check-sm {
  width: 12px;
  height: 11px;
}

.flame-md {
  width: 40px;
  height: 46px;
}

.wreath-md {
  width: 188px;
  height: 137px;
}

.cup-md {
  width: 80px;
  height: 80px;
}

.arrow-bottom-sm {
  width: 12px;
  height: 8px;
}