.g-icon {
  display: inline-block;
}

.map-sm {
  width: 14px;
  height: 20px;
}

.map-icon {

  &.-indent {
    fill: $red-main;
  }
}

.logo-normal {
  width: 166px;
  height: 34px;
}

.search-sm {
  width: 16px;
  height: 18px;
}

@include media-breakpoint-down(md) {
  .logo-normal {
    width: 94px;
    height: 19px;
    margin: 11px 0;
  }
}

.youtube-sm {
  width: 28px;
  height: 34px;
}

.youtube-icon {
  fill:#A4A4A4;
  cursor: pointer;
  &:hover {
    fill: #cd201f;
  }
}

.twitter-sm {
  width: 33px;
  height: 27px;
}

.twitter-icon {
  fill:#A4A4A4;
  cursor: pointer;
  &:hover {
    fill: #55acee;
  }
}

.vk-sm {
  width: 33px;
  height: 33px;
}

.vk-icon {
  fill:#A4A4A4;
  cursor: pointer;

  &:hover {
    fill: #45668e;
  }
}

.visa-sm {
  width: 47px;
  height: 15px;
}

.mastercard-sm {
  width: 91px;
  height: 16px;
}

.delivery-md {
  width: 26px;
  height: 21px;
}

.delivery-sm {
  width: 18px;
  height: 15px;
}

.quality-md {
  width: 23px;
  height: 25px;
}

.quality-sm {
  width: 19px;
  height: 21px;
}

.rouble-md {
  width: 17px;
  height: 22px;
}

.superman-lg {
  width: 103px;
  height: 103px;

  @include media-breakpoint-down(md){
    width: 66px;
    height: 66px;
  }
  
}



.profi-lg {
  width: 103px;
  height: 103px;

  @include media-breakpoint-down(md){
    width: 66px;
    height: 66px;
  }
}

.profi-md {
  width: 72px;
  height: 72px;

  @include media-breakpoint-down(md){
    width: 46px;
    height: 46px;
  }
}


.service-icon {
  fill:#d3d3d3;
}

.installation-sm {
  width: 16px;
  height: 15px;
}

.check-sm {
  width: 12px;
  height: 11px;
  fill: #59A72E;
}

.check-icon {
  &.-def {
    fill: $gray-strong;
  }
}



.flame-md {
  width: 40px;
  height: 46px;
}

.wreath-md {
  width: 188px;
  height: 137px;
}

.cup-md {
  width: 80px;
  height: 80px;
}

.arrow-bottom-sm {
  width: 12px;
  height: 8px;
}

.arrow-bottom-icon {

  &.-def {
    fill: $gray-strong;
  }
}

.arrow-top-icon {
  &.-def {
    fill: $gray-strong;
  }
}

.close-md {
  width: 24px;
  height: 24px;
}

.close-sm {
  width: 18px;
  height: 18px;
}


.close-icon {
  fill: #bfbfbf;
}

.close  {

  &:active, &:focus  {

    .close-icon {
      fill: #000000;
    }
  }
}

.print-sm {
  width: 18px;
  height: 16px;
}

.print-icon {
  fill: #a5a5a5;
}

.s-vk-sm {
  width: 22px;
  height: 21px;
}

.s-vk-icon {
  fill: #d9d9d9;

  &:hover {
    fill: #45668e;
  }
}

.ok-sm {
  width: 22px;
  height: 21px;
}

.ok-icon {
  fill: #d9d9d9;

  &:hover {
    fill: #eb722e;
  }
}

.fb-sm {
  width: 22px;
  height: 21px;
}

.fb-icon {
  fill: #d9d9d9;

  &:hover {
    fill: #3B5998;
  }
}

.star-sm {
  width: 22px;
  height: 20px;

  @include media-breakpoint-down(md) {
    width: 15px;
    height: 14px;
  }
}

.star-md {
  width: 22px;
  height: 20px;

  //@include media-breakpoint-down(md) {
  //  width: 15px;
  //  height: 14px;
  //}
}


.star-icon {
  fill: #a5a5a5;

  &.-active {
    fill: $red-main;
  }
}

.colors-sm {
  width: 18px;
  height: 23px
}

.colors-icon {
  fill: #a5a5a5;
}

.compare-sm {
  width: 18px;
  height: 16px;
}

.compare-icon {
  fill: #a5a5a5;
}

.bookmark-sm {
  width: 10px;
  height: 12px;
}

.bookmark-icon {
  fill: #a5a5a5;
}


.thief-md {
  width: 58px;
  height: 58px;
}

.thief-lg {
  width: 89px;
  height: 89px;
}

.thief-xl {
  width: 137px;
  height: 138px;
}

.rsb-sm {
  width: 148px;
  height: 28px;
}

.rsb-md {
  width: 230px;
  height: 43px;
}

.rsb-icon_wrapper {
  display: block;
  @include media-breakpoint-down(lg){
    width: 28px;
    height: 28px;
    overflow: hidden;
  }
}

.rsb-icon {
  fill: #cccccc;
  vertical-align: top;

  &:hover {
    fill:  #a5a5a5;
  }
}
.arrow-right-sm {
  width: 8px;
  height: 12px;
}

.arrow-right-icon {

  &.-bright {
    fill: $red-main;
  }
}

.passport-md {
  width: 61px;
  height: 84px;
}

.reply-icon {
  width: 13px;
  height: 10px;
}

.reply-sm {
  fill:#A5A5A5;
}

.zoom-in-md {
  height: 27px;
  width: 27px;
}
 
.phone-sm {
  width: 13px;
  height: 13px;
}