.g-icon {
  display: inline-block;
}

.map-sm {
  width: 14px;
  height: 20px;
}

.logo-normal {
  width: 166px;
  height: 34px;
}

.search-sm {
  width: 16px;
  height: 18px;
}

@include media-breakpoint-down(md) {
  .logo-normal {
    width: 94px;
    height: 19px;
    margin: 11px 0;
  }
}

.youtube-sm {
  width: 28px;
  height: 34px;
}

.youtube-icon {
  fill:#A4A4A4;
  &:hover {
    fill: #cd201f;
  }
}

.twitter-sm {
  width: 33px;
  height: 27px;
}

.twitter-icon {
  fill:#A4A4A4;
  &:hover {
    fill: #55acee;
  }
}

.vk-sm {
  width: 33px;
  height: 33px;
}

.vk-icon {
  fill:#A4A4A4;

  &:hover {
    fill: #45668e;
  }
}

.visa-sm {
  width: 47px;
  height: 15px;
}

.mastercard-sm {
  width: 91px;
  height: 16px;
}