.arcticle-preview_carusel {
  margin-bottom: 30px;
  background-color: #ffffff;

}

.arcticle-preview_block {
  min-height: 240px;
}

 .arcticle-preview_carusel .col-md-11{
  padding-top: 40px;
}

.corner-article {
  background: transparent url('#{$img-path}corner-article.png') no-repeat 100% 0;
  min-height: 60px
}

.round-article-preview  { 
  background-color: $red-main;
  margin: 20px 50px 20px 70px;
}

.arcticle-preview_block--lg {
  padding: 50px 100px 50px 50px;
  height: 435px;
  position: relative;
  background: rgba(255, 255, 255, 0.6) url('#{$img-path}door.png') no-repeat 80% 100%;

  button {
    position: absolute;
    bottom: 50px;
  }

}

.arcticle-preview_title-lg {
  font-size: 48px;
  color:  #010101;

}