.banners-block {
  margin-bottom: 30px;
}

#carousel-home {
  @include media-breakpoint-down(md) {
    margin-bottom: 50px;
  }
}

.carousel-caption {
  color:#fff;
  top: 85px;
  left: 75px;
  right: auto;


  @include media-breakpoint-up(lg) {
    text-shadow:  none;
  }

  @include media-breakpoint-down(md) {
    left: 0;
    right: 0;
    top:20px;
  }

}


h3.carousel-caption_title {
  font-size: 48px;
  font-family: $font-family-semibold;
  font-weight: normal;
  margin: 0 0 10px 0;
  line-height: 1;

  @include media-breakpoint-down(md) {
    font-size: 36px;
    font-family: $font-family-bold;
  }
  
  
}

.carousel-caption_descr {
  font-size: 22px;
  color: #ffffff;

  @include media-breakpoint-down(md) {
    font-size: 18px;
    font-family: $font-family-semibold;
  }
}


.carousel-indicators {
  bottom: -5px;
  @include media-breakpoint-down(md) {
   bottom: -56px;
  }

  li {
    background-color:  rgba(255, 255, 255, 0.7);
    border: none;
    width: 9px;
    height: 9px;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 3px;
    margin-bottom: 2px;
    border-radius: 50%;

    @include media-breakpoint-down(md) {
      background-color:  #808080;
    }
  }

  .active {
    background-color: $carousel-indicator-active-bg;
    width: 14px;
    height: 14px;
  }
}

.carousel-img {
  width: 100%;
  height: 410px;

   @include media-breakpoint-between(md,xl) {
    width: 100%;
    height: 410px;
  }

  @include media-breakpoint-down(md) {
    height: 231px;
    background-size: cover; 
  }

}
