.banners-block {
  margin-bottom: 30px;
}

.carousel-caption {
  color:#fff;
  top: 40%;
  bottom: 50%;
  left: auto;
  right: auto;
  width: 100%;

  @include media-breakpoint-up(lg) {
    text-shadow:  none;
  }

  @include media-breakpoint-down(md) {
    left: 0;
    right: 0;
    top: 30%;
  }

}


h3.carousel-caption_title {
  font-size: 48px;
  font-family: $font-family-semibold;
  font-weight: normal;
  margin: 0 0 10px 0;
  line-height: 1;
  color: #ffffff;

  @include media-breakpoint-down(md) {
    font-size: 36px;
    font-family: $font-family-bold;
  }
  
  
}

.carousel-caption_descr {
  font-size: 22px;
  color: #ffffff;

  @include media-breakpoint-down(md) {
    font-size: 18px;
    font-family: $font-family-semibold;
  }
}


.carousel-indicators {
  bottom: -5px;
  font-size: 0;

  &.-invert {
    li {
      background-color:  #808080;
    }

    .active, .slick-active {
      background-color: $carousel-indicator-active-bg;
    }
  }

  @include media-breakpoint-down(md) {
    bottom: -38px;
    width: 100%;
    margin-left: 0;
    left: 0;
  }

  li {
    background-color:  rgba(255, 255, 255, 0.7);
    border: none;
    width: 10px;
    height: 10px;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 2px;
    margin-bottom: 2px;
    border-radius: 50%;
    vertical-align: top;

    button {
      display: none;
    }

    @include media-breakpoint-down(md) {
      background-color:  #808080;
    }

  }

  .active, .slick-active {
    background-color: $carousel-indicator-active-bg;
    width: 14px;
    height: 14px;
    margin: 0 3px;
    vertical-align: top;
  }
}

.carousel-img {
  width: 100%;
  height: 410px;

   @include media-breakpoint-between(md,xl) {
    width: 100%;
    height: 410px;
  }

  @include media-breakpoint-between(sm,md) {
    width: 100%;
    height: 230px;
  }

  @include media-breakpoint-down(sm) {
    height: 231px;
    //background-size: cover;
  }

}



@include media-breakpoint-down(md){
  #carousel-home {
    margin-bottom: 50px;
  }

 .slick-slider .slick-arrow {
   display: none !important;
 }
}