.breadcrambs_list {
  margin-bottom: 25px;
}

.breadcrambs_link {
  color:  #383838;
  font-size: 14px;
  padding: 0 10px 0 0px;
  text-decoration: none;
  cursor: pointer;
  &.active, &:hover {
    color: #999999;
    text-decoration: none;
  }

  &:after {
    content: '/';
    display: inline;
    color:  #383838;
    padding-left: 10px;
  }

  &:last-child {
    &:after {
      content: '';
      display: inline;
      color:  #383838;
    }
  }

}