
.modal-content {
  padding: 30px 0;
}

.modal-content .close {
  position: absolute;
  top: 15px;
  right: 10px;
  cursor: pointer;
  display: inline-block;
  font-size: 48px;
  height: 30px;
  line-height: 30px;
  color: $gray-strong;
  font-family: $font-family-light;
  text-decoration: none;
}