
.modal-content {
  border-radius: 0;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.38);

  &.-md-sm-padding {
    padding: 35px 0 15px 0;
  }

  &.-md-padding {
    padding: 25px;
  }

}

.modal-content .close {
  position: absolute;
  top: 15px;
  right: 15px;
  cursor: pointer;
  display: inline-block;
  text-decoration: none;
}


.modal_md-size {
  .modal-dialog {
    max-width: 470px;
  }
}

.modal_lg-size {
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  width: 100%;
  height: 100%;
  background: #fff;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  .modal-dialog {
    width: 100%;
    height: 100%;
    background: #fff;
    margin: auto;
  }

  .modal-content {
    box-shadow: none;
    position: relative;
    height: 100%;
    margin: 0 0 0 330px;
    overflow: hidden;
    border-right: 1px solid #e9e9e9;
    padding: 20px 0;

    @include media-breakpoint-down(md){
      margin: 0px 0 0 80px
    }

  }

  .gallery-content img {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 5%;
    left: 0;
    max-width: 95%;
    max-height: 95%;
    margin: auto;
    height: auto;
    padding: 0;
  }


}


.modal_select-city {

  .btn-select_list {
    margin-top: 45px;
  }

  .modal-dialog {
    max-width: 300px;
  }



}

.modal-title  {
  margin-bottom: 20px;
}

.modal-dialog {
  margin: 10px auto;
}


.product-modal_left {
  position: absolute;
  left: 30px;
  top: 30px;

  .thumb {
    margin-bottom: 10px;
  }

  @include media-breakpoint-down(md){

    left: 0px;
    top: 20px;

    //margin-top: 20px;
    .thumbnail-vertical {
      margin-bottom: 20px;
      padding: 10px;
      float: none;
      @include  clearfix;
    }
    //
    .product-modal_left_product-descr {
      display: none;
    }
    //
    //.thumb {
    //  float: left;
    //}
  }
}

.product-modal_left_product-descr {
  width: 200px;
  margin-left: 30px;
  float: left;

  .product-item_prices, .product-item_services {
    margin-bottom: 5px;
  }

  .product-item_availability {
    margin-bottom: 20px;
  }

}

.thumbnail-vertical {

}