.filters-aside_top {
  background-color: #ffffff;
  padding: 15px 20px;
  margin-bottom: 2px;
  .checking_group_column {
    margin-bottom: 0;
  }

}

// For each breakpoint, define the maximum width of the container in a media query
@mixin make-container-max-widths2($max-widths: $container-max-widths) {
  @each $breakpoint, $container-max-width in $max-widths {
    @include media-breakpoint-up($breakpoint) {
      max-width: $container-max-width;
      margin-right: -($container-max-width/2);
    }
  }
}



.filters-aside_wrapper {
  @include clearfix();


  .btn-full {
    margin-top: 15px;;
  }


  .checking_group_column {

    @include media-breakpoint-down(sm){
      width: 100%;
    }
  }
  
  @include media-breakpoint-down(md){

    position: fixed;
    width: 100%;
    z-index: 2;
    background-color: #ffffff;
    bottom: 0;
    top: 0;
    min-height: 100vh;
    overflow: auto;
    padding: 20px;
    right: -100%;
    -webkit-transition: right 300ms ease-out 0s;
    -moz-transition: right 300ms ease-out 0s;
    -o-transition: right 300ms ease-out 0s;
    transition: right 300ms ease-out 0s;
    transform: translateZ(0);
    -webkit-transform: translateZ(0);
    perspective: 1000;


    


    @include make-container-max-widths2();

    &.open {
      right: 50%;
      box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.35);
    }
  }

  @include media-breakpoint-down(xs){
    &.open {
      right: 0;
    }
  }
  
}

.filters-aside_radio-list {

  .checking_group_column {

  }

  .checking_item {
    padding-top: 5px;
  }

  .checking_label-inline {
    padding-top: 5px;
  }
}

.filters-aside_accordion {

}