.simplegallery {
  margin: 0 auto;
  overflow: hidden;
}



.gallery-content {
  background: #fff;
  position: relative;
  height:  400px;
  margin-bottom: 35px;
  overflow: hidden;
  text-align: left;

  @include media-breakpoint-between(md,lg){
    height:  300px;
  }

  @include media-breakpoint-down(xs){
    height:  280px;
  }
}


.gallery-content img {
  height:  400px;
  //border: 1px solid #9c9c9c;
  max-width: 100%;

  @include media-breakpoint-between(md,lg){
    height:  300px;
  }

  @include media-breakpoint-down(xs){
    height:  280px;
  }
}


.gallery-wrapper {
  margin: 0 auto;
  overflow: hidden;
  max-width: 700px;
  background-color: transparent;
  text-align: center;

  .zoom-in-md {
    position: absolute;
    right: 50%;
    bottom: 20%;
    z-index: 1;
  }

  @include media-breakpoint-between(md,lg){
    max-width: 500px;
  }

  @include media-breakpoint-down(md){
    max-width: 280px;
    height:  200px;
    img {
      height:  200px;
    }
  }


}

.simplegallery .thumbnail { margin-top: 5px; }

.simplegallery .thumbnail .thumb {
  float: left;
  margin: 0 5px 0 0;
}

.simplegallery .thumbnail .last { margin: 0; }

.clear { clear: both; }

.thumb {

  width: 68px;
  height: 68px;
  cursor: pointer;
  padding: 5px;
  border: 1px solid transparent;
  border-radius: 3px;

  img {
    height: 100%;
    margin: 0 auto;
  }

  &.active {
    border: 1px solid $red-main;
  }

  a {
    display: block;
    width: 100%;
    height: 100%;
    text-align: center;
  }
}

.thumbnail-vertical {
  .thumb {

  }
}

.gallery-link_zoom {
  display: inline-block;
  cursor: crosshair;
}
