.fll {
  float: left;
}

.flr {
  float: right;
}

.ta-r {
  text-align: right;
}

.ta-c {
  text-align: center;
}

.bold {
  font-weight: bold;
}

.round-main {
  background-color: #000;
  fill: $red-main;
  color: $red-main;
}

.round-md {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  line-height: 60px;
  text-align: center;
  font-size: 26px;
  
  &.-text {
    line-height: 66px;
  }

  svg {
    vertical-align: middle;
  }
}


.round-xmd-crop {
  width: 72px;
  height: 72px;
  border-radius: 50%;
  line-height: 60px;
  text-align: center;
  overflow: hidden;

  svg {
    vertical-align: middle;
  }
}

.round-sm {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  line-height: 48px;
  text-align: center;
  font-size: 20px;

  svg {
    vertical-align: middle;
  }
}


.round-lg_crop {
  width: 103px;
  height: 103px;
  border-radius: 50%;
  overflow: hidden;
  text-align: center;
  
  &.-modal {
    margin: 0 auto;
    margin-bottom: 10px;
  }

  @include media-breakpoint-down(md){
    width: 66px;
    height: 66px;
  }
}


.g-tag {
  display: inline-block;
  border-radius: 5px 0 0 5px;
  color:#fff;
  padding: 17px 20px 13px 20px;
  font-size: 14px;
  position: relative;

  &.-new {
    background-color: $green-main;

    &::before {
      border-color: transparent;
      border-left-color:  #808080;
      border-top-color:  #808080;
    }

    &::after {
      border-color: transparent;
      border-left-color:  #808080;
      border-bottom-color:  #808080;
    }

  }

  &.-new-clear {
    background-color: $green-main;
    padding: 17px 29px 13px 29px;

    &::before {
      border: 0 none;
    }

    &::after {
      border: 0 none;
    }
  }

  &.-hit {
    background-color: #3b3a3a;
    padding: 17px 14px 13px 14px;

    &::before {
      border-color: transparent;
      border-left-color:  #000000;
      border-top-color:  #000000;
    }

    &::after {
      border-color: transparent;
      border-left-color:  #000000;
      border-bottom-color: #000000;
    }
  }


  &::before {
    content: '';
    position: absolute;
    right: 0px;
    border: 2px solid transparent;
    border-left: 5px solid #808080;
    border-top: 2px solid #808080;
    bottom:-4px;
  }

  &::after {
    content: '';
    position: absolute; /* Абсолютное позиционирование */
    right: 0px;
    border: 2px solid transparent;
    border-bottom: 2px solid #808080;
    border-left: 5px solid #808080;
    top:-4px;
  }
}

.g-tag-split {
  font-size: 0;

  .g-tag:last-child {
    border-radius: 0;
  }
  
  &.-right {
    margin-right: -17px;
  }
  

  @include media-breakpoint-down(lg){
    .g-tag:last-child {
      border-radius: 5px 0 0 5px;
    }
  }


}

.row-xs {
  margin-left: -2px;
  margin-right: -2px;
  @include clearfix();

  .col-lg-3, .col-md-6, .col-lg-4 {
    padding-left: 2px;
    padding-right: 2px;
  }
}

.row-sm {
  margin-left: -3px;
  margin-right: -3px;
  @include clearfix();

  .col-lg-3, .col-md-6, .col-lg-4, .col-lg-6, .col-xs-6 {
    padding-left: 3px;
    padding-right: 3px;
  }
}

.row-xs-xs {
  @include media-breakpoint-down(md) {
    margin-left: -5px;
    margin-right: -5px;

    .col-xs-7, .col-xs-5 {
      padding-left: 5px;
      padding-right: 5px;
    }
  }
}


.clear-btn {
  background-color: transparent;
  border: 0 none;
  outline: 0 none;

  &:hover, &:focus, &:active {
    background-color: transparent;
    border: 0 none;
    outline: 0 none;
  }

}


/*.media-middle_up--md {
  @include media-breakpoint-up(lg){
    vertical-align: middle;
  }
}*/

.btn-wrapper {

  &.-right {
    text-align: right;
  }

  &.-top-indent {
    padding-top: 1rem;
  }
}

.img-banner_wrapper {
  text-align: center;
  background-color: $red-main;
  display: block;


  &.-def {
    background-color: transparent;
    margin-bottom: 30px;
  }


  @include media-breakpoint-down(md){
    display: none;
  }

  img {
    float: none;
    margin: 0 auto;
  }
}


.img-banner_wrapper_xs {
  text-align: center;
  background-color: $red-main;
  display: block;

  img {
    float: none;
    margin: 0 auto;
  }

  @include media-breakpoint-up(lg){
    display: none;
  }
}

.info-link {
  width: 18px;
  height: 18px;
  border: 1px solid #808080;
  line-height: 18px;
  text-align: center;
  font-size: 12px;
  border-radius: 5px;
  display: inline-block;
  cursor: pointer;

  &:hover {
    color: #ffffff;
    border-color: $red-main;
    background-color: $red-main;
  }
  
  &.-ml {
    margin-left: 5px;
  }
}

.link-underscore {
  border-bottom: 1px dashed $red-main;
  font-size: 14px;
  line-height: 1;
  color: $red-main;
  text-decoration: none;
  cursor: pointer;
  display: inline-block;

  &.-link {
    color: #000000;
    border-bottom: none;

    &:hover {
      color: $red-main;
      border-bottom: none;
    }
  }

  &.-lg {
    font-size: 22px;
    font-family: $font-family-semibold;
  }
  
  &.-multi-line {
    line-height: 22px;
    border-bottom: 0 none;

    span {
      border-bottom: 1px dashed $red-main;
      display: inline-block;
      line-height: 1;
      margin: 3px 0;
    }

    @include media-breakpoint-down(md) {
      br {
        display: none;
      }
      span:first-child {
        padding-right: 5px;
      }
    }

  }
  
}

//.g-icon-text_wrapper

.g-icon-text_wrapper {
  display: block;
  text-decoration: none;
  cursor: pointer;overflow: hidden;
  zoom: 1;

  &:hover {
    text-decoration: none;
  }

  &.-sm-size {

    .g-icon-text_icon {
      text-align: right;
      width: 25px;
    }

    .g-icon-text_icon-inner {
      margin-right: 7px;
    }

    .g-icon-text_text {
      font-size: 14px;
    }
  }
}

.g-icon-text_icon {
  display: table-cell;
  overflow: hidden;
  zoom: 1;
  vertical-align: top;

  &.-xs-right {
    padding-right: 7px;
  }

  .g-icon {
    vertical-align: middle;
  }
  
}

.g-icon-text_icon-inner {
  vertical-align: middle;
}


.g-icon-text_text {
  display: table-cell;


  &.-middle {
    vertical-align: middle;
  }

  &.-light {
    color:  #a5a5a5;
  }
}

.media-body-diff {
  font-size: 0;

  .product_prices_old-price-wrapper {
    line-height: 1.2;
    display: inline-block;
    margin-bottom: 2px;
  }

  p {
    display: inline-block;
    margin: 0;
    line-height: 1.3;
  }

  .info-main_title {
    margin: 0;
    display: inline-block;
    line-height: 18px;
  }

  .product-item_old-price {
    line-height: 18px;
  }
  
 .info-link {
   margin-left: 7px;
 }

}

.text-section {
  margin-bottom: 45px;
}

.g-tabs, .item-bottom-indent {
  margin-bottom: 30px;


  &.-md {
    margin-bottom: 10px;
    font-size: 16px;

    a.g-tab {
      margin-right: 40px;
      margin-bottom: 10px;

      @extend .link-underscore;

      &.active {
        border-bottom-color: transparent;
        color: #000000;
        font-family: $font-family-semibold;
      }

      &:first-child {
        margin-left: 0;
      }

    }
  }
}

a.g-tab {
  margin-right: 40px;
  margin-bottom: 20px;
  
  &.active {
    border-bottom-color: transparent;
    color: #000000;
  }
  
  &:last-child {
    margin-right: 0;
  }
  
}


.img-icon_wrapper {
  text-align: center;
  padding: 50px 0;

  img {
    margin: 0 auto;
  }
}

.img-icon_wrapper-inner {
  margin: 0 auto;
  position: relative;
  display: inline-block;
}

.img-icon_icon {
  position: absolute;
  bottom: -50px;
  right: 10px
}

//.filters-panel

.filters-panel {
  font-size: 0;

  @include media-breakpoint-down(md){
    margin-bottom: 20px;
  }
}

.filters-link {
  display: inline-block;
  padding: 10px 15px ;
  color:  #808080;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 5px;
  font-size: 14px;

  @include media-breakpoint-down(lg){
    padding: 10px 13px;
    margin-right: 3px;
  }


  &:last-child {
    margin-right: 0;
  }
  
  span {
    line-height: 1;
    border-bottom: 1px dashed #808080;
  }

  &:hover {
    color: $red-main;

    span {
      border-bottom-color: $red-main;
    }
  }

  &.active {
    color:#000000;
    background-color:  #d9d9d9;
    
    span {
      border-bottom-color: transparent;
    }
  }
}

.tag-small {
  font-size: 12px;
  color: #ffffff;
  height: 22px;
  line-height: 16px;
  padding: 4px 10px 3px 10px;
  display: inline-block;
  border-radius: 5px;

  &.-bright {
    background-color: $red-main;
  }
}

.center-img {
  display: block;
  background-color: #ffffff;

  img {
    margin: 0 auto;
  };
}

hr.aside {
  border-top: 1px solid $body-bg;
  display: none;

  @include media-breakpoint-down(md){
    margin: 0px -20px;
    display: block;
  }
}

hr.normal {
  margin: 30px -10px 30px 0px;
  border: 0;
  border-top: 1px solid #eeeded;
  @include media-breakpoint-down(md){
    margin: 20px -15px;
  }

  @include media-breakpoint-down(sm){
    margin: 15px -15px;
  }

}

hr.space {
  margin:  0px;
  border: none;
  display: block;
  height: 30px;

  &.-md {
    height: 20px;
  }

}

.stripped-list {
  padding-bottom: 10px;
  background-color:  #ffffff;
  
  &.-mb {
    margin-bottom: 40px;
  }
}

.stripped-item {
  //height: 22px;
  line-height: 22px;
  font-size: 0px;
  padding: 8px 30px;

  &:nth-child(even) {

  }

  &:nth-child(odd) {
    background-color:  #f8f8f8;
  }
}

.stripped-col {
  display: inline-block;
  width: 50%;
  font-size: 14px;
  vertical-align: middle;
}



.aside-section {
  padding: 30px;
  background-color: #ffffff;
  position: relative;

  .corner-article {
    position: absolute;
    top: 0;
    right: 0;
  }

  h4 {
    color: #000000;
  }

  h2 {
    margin-bottom: 0;
  }
  
}


.simple-list {

  &.-no-margin {
    margin-bottom: 0;
  }

  font-size: 14px;
  line-height: 22px;
  font-family: $font-family-regular;
  @include clear-menu();
  margin-bottom: 30px;
  color: #000000;
  
  &.-indent {
    padding-left: 20px;
  }

  li {
    line-height: 22px;
  }
}


.yandex-map {
  min-height: 292px;
  background-color: #ffffff;

  .ymaps-2-1-41-controls-pane, .gotoymaps {
    display: none;
  }
}

.photo-list {
  @include clear-menu();
  font-size: 0;
  margin-left: -15px;
  margin-right: -15px;
  padding-bottom: 10px;
}

.photo-list_item {
  width: 50%;
  display: inline-block;
  padding: 15px;
  text-align: center;


  @include media-breakpoint-down(xs){
    width: 100%;
  }
}

.videoWrapper {
  position: relative;
  padding-bottom: 52.05%; /* 16:9 */
  padding-top: 25px;
  height: 0;
}

.videoWrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}