.fll {
  float: left;
}

.flr {
  float: right;
}

.ta-r {
  text-align: right;
}

.ta-c {
  text-align: center;
}

.round-main {
  background-color: #000;
  fill: $red-main;
  color: $red-main;
}

.round-md {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  line-height: 60px;
  text-align: center;
  font-size: 26px;

  svg {
    vertical-align: middle;
  }
}

.round-lg_crop {
  width: 103px;
  height: 103px;
  border-radius: 50%;
  overflow: hidden;
  text-align: center;

  @include media-breakpoint-down(md){
    width: 66px;
    height: 66px;
  }
}


.g-tag {
  display: inline-block;
  border-radius: 5px 0 0 5px;
  color:#fff;
  padding: 17px 20px 13px 20px;
  font-size: 14px;
  position: relative;

  &.-new {
    background-color: $green-main;

    &::before {
      border-color: transparent;
      border-left-color:  #808080;
      border-top-color:  #808080;
    }

    &::after {
      border-color: transparent;
      border-left-color:  #808080;
      border-bottom-color:  #808080;
    }

  }

  &.-new-clear {
    background-color: $green-main;
    padding: 17px 29px 13px 29px;

    &::before {
      border: 0 none;
    }

    &::after {
      border: 0 none;
    }
  }

  &.-hit {
    background-color: #3b3a3a;
    padding: 17px 14px 13px 14px;

    &::before {
      border-color: transparent;
      border-left-color:  #000000;
      border-top-color:  #000000;
    }

    &::after {
      border-color: transparent;
      border-left-color:  #000000;
      border-bottom-color: #000000;
    }
  }


  &::before {
    content: '';
    position: absolute;
    right: 0px;
    border: 2px solid transparent;
    border-left: 5px solid #808080;
    border-top: 2px solid #808080;
    bottom:-4px;
  }

  &::after {
    content: '';
    position: absolute; /* Абсолютное позиционирование */
    right: 0px;
    border: 2px solid transparent;
    border-bottom: 2px solid #808080;
    border-left: 5px solid #808080;
    top:-4px;
  }
}

.g-tag-split {
  font-size: 0;

  .g-tag:last-child {
    border-radius: 0;
  }

  @include media-breakpoint-down(lg){
    .g-tag:last-child {
      border-radius: 5px 0 0 5px;
    }
  }


}

.row-xs {
  margin-left: -2px;
  margin-right: -2px;
  @include clearfix();

  .col-lg-3, .col-md-6 {
    padding-left: 2px;
    padding-right: 2px;
  }

}

.clear-btn {
  background-color: transparent;
  border: 0 none;
  outline: 0 none;

  &:hover, &:focus, &:active {
    background-color: transparent;
    border: 0 none;
    outline: 0 none;
  }

}


.media-middle_up--md {
  @include media-breakpoint-up(lg){
    vertical-align: middle;
  }
}

.btn-wrapper {

  &.-right {
    text-align: right;
  }
}

.img-banner_wrapper {
  text-align: center;
  background-color: $red-main;
  img {
    float: none;
    margin: 0 auto;

  }
}

.info-link {
  width: 18px;
  height: 18px;
  border: 1px solid #808080;
  line-height: 18px;
  text-align: center;
  font-size: 12px;
  border-radius: 5px;
  display: inline-block;
  cursor: pointer;

  &:hover {
    color: #ffffff;
    border-color: $red-main;
    background-color: $red-main;
  }
}

.link-underscore {
  border-bottom: 1px dashed $red-main;
  font-size: 14px;
  line-height: 1;
  color: $red-main;
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
}