//.info-main_block {
//  margin-bottom: 40px;
//}

.round-info-main {
  margin-right: 7px
}

h4.info-main_title  {
  margin-top: 5px;
  margin-bottom: 5px;
  color: $red-main;
}

p.info-main_descr {
  color: #000;
  font-size: 14px;
  line-height: 17px;
  margin-bottom: 0;

  @include media-breakpoint-between(lg, lg) {
    display: none;
  }

}

.round-info-elem {
  margin-bottom: 4px;
  padding: 17px;
  background-color: #ffffff;
  min-height: 112px;

  @include media-breakpoint-between(lg, lg) {
    min-height: auto;
  }
}

#carousel-info {


  @include media-breakpoint-up(md){
    .carousel-indicators {
      display: none;
    }

    .carousel-inner > .carousel-item {
      display: block !important;
      transform: none !important;
      transition: none !important;
      position: static !important;
      left: inherit !important;
      transform: none !important;
      width: 25% ;
      float: left !important;

      &.next,
      &.active.right {
        left: inherit !important;
        transform: none !important;
      }
      &.prev,
      &.active.left {
        left: inherit;
        transform: none !important;
      }
      &.next.left,
      &.prev.right,
      &.active {
        left: inherit;
        transform: none !important;
      }
    }
  }

  @include media-breakpoint-between(md, md) {
    .carousel-inner > .carousel-item {
      width: 50% ;
    }
  }


}

#carousel-info.carousel.-with-indicator {
  margin-bottom: 40px;
}

@include media-breakpoint-down(sm){
  .carousel.-with-indicator {
    margin-bottom: 50px;
  }
}

.carousel-item.slick-slide {
  position: relative;
}

.single-item {

  .slick-arrow {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 80px;
    font-size: 20px;
    color: #fff;
    text-align: center;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
    opacity: 0.8;
    background-color: transparent;
    outline: 0 none;
    border: 0 none;
    z-index: 1;
    font-size: 0;


    &:hover, &:focus {
      color: #fff;
      text-decoration: none;
      outline: 0;
      opacity: 0.9;
    }
  }

  .slick-prev {
    left: 0;
    //background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.0001) 100%);
    //background-repeat: repeat-x;
  }

  .slick-next {
    right: 0;
    left: auto;
    //background-image: linear-gradient(to right, rgba(0, 0, 0, 0.0001) 0%, rgba(0, 0, 0, 0.5) 100%);
    //background-repeat: repeat-x;
  }

}


.slick-prev:hover:before, .slick-prev:focus:before, .slick-next:hover:before, .slick-next:focus:before {
  opacity: 1;
}

.slick-prev:before {
  content: '\2039';
}

.slick-next:before {
  content: '\203a';
}

.slick-prev:before, .slick-next:before {
  font-size: 32px;
  line-height: 1;
  //opacity: .75;
  color: white;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.slick-dots {

}