.paginator {
  text-align: center;
  padding: 50px;
}

.paginator-link {
  cursor: pointer;
  display: inline-block;
  font-size: 16px;
  font-family: $font-family-semibold;
  color: $red-main;
  height: 40px;
  line-height: 40px;
  width: 40px;
  border-radius: 5px;
  text-align: center;

  &:hover {
    color:  #1f1f1f;
  }
  
  &.active {
    background-color:  #d9d9d9;
    color:  #1f1f1f;
  }
}