.product-page_row {
  @include clearfix;
}

.product-title {
  margin-bottom: 30px;
}

.product-page_left {
  float: left;
  width: 48.6%;
  padding: 90px 100px;
}

.product-page_right {
  float: right;
  width: 51.4%;
}

.product_print-block {
  margin-bottom: 18px;

  .print-icon {
    margin-right: 8px;
    vertical-align: top;
  }
}

.product_share-block {
  font-size: 0;
}

.product_share-link {
  margin-right: 8px;
  display: inline-block;
  vertical-align: top;
  
  &:last-child {
    margin-right: 0;
  }
}

.product_share-title, .product_print-title {
  color:  #a5a5a5;
  font-size: 14px;
  display: inline-block;
  line-height: 22px;
  vertical-align: top;
}

.product_share-title {
  margin-right: 12px;
}

.feedback-block {
  margin-bottom: 45px;
  
  
  
  .stars-block {
    margin: 3px 0 4px 0;
  }
  
  .small {
    margin-left: 3px;
  }
}

.stars-block {
  font-size: 0;

  .star-icon {
    margin-right: 3px;

    &:last-child{
      margin-right: 0;
    }
  }
}

.art-block {
  padding: 18px 40px 18px 22px;
  font-size: 14px;
  line-height: 1;
}

.product_prices {
  margin-bottom: 12px;
}

.product_price-lg {
  font-size: 48px;
  line-height: 1;
  color: #000000;

  &.-indent {
    color: $red-main;
  }
}


.product_prices_old-price-wrapper {
  line-height: 30px;



  .product-item_old-price {
    margin-right: 5px;
  }
}


.product_availability-page {
  margin-bottom: 15px;
}


.product-colors {
  font-size: 0;
  margin-top: 30px;

  .colors-icon {
    margin-right: 8px;
  }

  .link-underscore {
    vertical-align: top;
    margin-top: 6px;
  }
}

.product_button-block {
  margin-bottom: 55px;
  
  @include  clearfix();
  .btn {
    float: left;
    margin-right: 30px;
  }
}

.product_button-secondary {
  margin-top: 4px;
}

.credit-block-text {
  line-height: 30px;
  margin-bottom: 50px;

  .link-underscore, .product-item_old-price {
    display: inline-block;
    vertical-align: middle;
  }

  .link-underscore {
    margin-left: 10px;
  }

  .credit-block-text-beetween {
    display: inline-block;
    vertical-align: middle;
    margin: 0 2px 0 7px;
  }
}

.product-descr-block {
  margin-bottom: 120px;
}

.product-descr {
  max-height: 460px;
  overflow: hidden;
  margin-bottom: 70px;
}