.products-list_block {
  margin-bottom: 10px;
}

.product-item {
  position: relative;
  background-color: #ffffff;
  padding: 20px;
  margin: 5px 0 30px 0;
  min-height: 404px;
  
  &:hover {
    box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.35);
  }

  .g-tag {
    position: absolute;
    right: -5px;
    top: 22px;
  }

  @include media-breakpoint-down(sm) {
    margin-bottom: 5px;
    margin-top: 5px;
    
  }
}

.product-item_img {
  //margin-bottom: 20px;
}

.product-item_img-wrapper {
  height: 157px;
  display: block;
}

.product-item_title {
  color:  #808080;
  font-size: 14px;
  height: 75px;
  display: block;
  strong {
    color:  #010101;
    font-family: $font-family-semibold;
    font-size: 16px;
    margin-right: 5px;
  }

  &:hover {
    color:  #808080;
    strong {
      color: $red-main;
    }
  }

}

.product-item_prices {
  margin-bottom: 20px;

  .product-item_old-price {
    vertical-align: bottom;
  }
}

.product-item_old-price {
  font-size: 14px;
  font-family: $font-family-semibold;
  color:#000000;
  text-decoration: line-through;
  display: inline-block;
  line-height: 1.44;


  &.-no-through {
    text-decoration: none;
  }

  &.-md {
    font-size: 18px;
  }

  &.-sm-md {
    font-size: 16px;
  }

  &.-indent {

  }

}

.product-item_price {
  font-size: 24px;
  font-family: $font-family-semibold;
  color:#000000;
  display: inline-block;
  vertical-align: bottom;
  line-height: 1;

  &.-indent {
    color: $red-main;
  }

}

.product-item_services {
  font-size: 0;
  margin-bottom: 20px;
  .service-icon, .product-item_service_price {
    margin-right: 5px;
  }
}

.product-item_service_price {
  font-size: 14px;
  line-height: 1.4;
  color: #808080;
  display: inline-block;
  vertical-align: top;
}

.product-item_availability_wrapper {
  line-height: 46px;
  width: 50%;
  text-align: center;
}

.product-item_availability {
  font-size: 14px;
  line-height: 1;
  display: inline-block;
  vertical-align: bottom;
  color:  #808080;

  &.-custom {
    color:  #808080;
  }

  &.-in-stock{
    color: $green-main;

    span {
      margin-left: 6px;
    }
  }

  .g-icon {
    vertical-align: middle;
  }


}

#carousel-products-list, #carousel-products-similar, #carousel-products-catalog, #carousel-products-catalog_second {

  @include media-breakpoint-up(md){

    .carousel-indicators {
      display: none;
    }

    .carousel-inner > .carousel-item {
      display: block !important;
      transform: none !important;
      transition: none !important;
      position: static !important;
      left: inherit !important;
      transform: none !important;
      float: left !important;

      @include media-breakpoint-between(xl, xl) {
        &.col-xl-3 {
          width: 25%;
        }
        &.col-xl-4 {
          width: 33.3333%;
        }
      }

      @include media-breakpoint-between(lg, lg) {
        &.col-lg-4 {
          width: 33.3333%;
        }
        &.col-lg-6 {
          width: 50%;
        }
      }

      @include media-breakpoint-between(md, md) {
        &.col-md-6 {
          width: 50%;
        }
        &.col-md-12 {
          width: 100%;
        }
      }

      &.next,
      &.active.right {
        left: inherit !important;
        transform: none !important;
      }
      &.prev,
      &.active.left {
        left: inherit;
        transform: none !important;
      }
      &.next.left,
      &.prev.right,
      &.active {
        left: inherit;
        transform: none !important;
      }
    }
  }

  @include media-breakpoint-between(md, md) {
    .carousel-inner > .carousel-item {
      width: 50% ;
    }
  }

  @include media-breakpoint-down(sm) {
    margin-bottom: 60px;
  }
  
  
}

.arcticle-preview_block--lg_custom-down-sm {
  @include media-breakpoint-down(md) {
    display: none;
    @include clearfix();
  }
}

.arcticle-preview_block--lg_custom-up-sm {
  @include media-breakpoint-up(lg) {
    display: none;
    @include clearfix();
  }
}


.arcticle-preview_block--lg_custom-up-md {
  @include media-breakpoint-up(md) {
    display: none;
    @include clearfix();
  }
}


.arcticle-preview_block--lg_custom-down-md {
  @include media-breakpoint-down(sm) {
    display: none;
    @include clearfix();
  }
}

