.product-page_row {
  @include clearfix;
  background-color: $product-page_row-bg;
  padding: 30px 10px 30px 40px;
  margin-bottom: 60px;

  @include media-breakpoint-down(md) {
    padding: 20px 15px 20px 15px;
  }

}

.product-title {
  margin-bottom: 30px;
  @include media-breakpoint-down(md){
    margin-top: 10px;
  }
}

.product-page_left .gallery-content {
  cursor: -webkit-zoom-in;
  cursor: -moz-zoom-in;
  cursor: zoom-in;
}

.product-page_left {
  float: left;
  width: 47.6%;
  padding: 10px 20px 20px 60px;
  
  @include media-breakpoint-down(md){
    width: 100%;
    float: none;
    padding: 10px 60px 0px 60px;

    .gallery-content {
      margin-bottom: 20px;
    }

    .simplegallery .gallery-content {
      text-align: center;
    }

    .simplegallery .thumbnail {
      text-align: center;
      .thumb {
        display: inline-block;
        float: none;
      }

    }

  }

  @include media-breakpoint-down(xs){
    padding: 10px 10px 0px 10px;
  }
}

.product-page_right {
  float: right;
  width: 52.4%;

  @include media-breakpoint-up(lg){
    //margin-bottom: 60px;
  }

  @include media-breakpoint-down(md){
    width: 100%;
    float: none;
    margin-bottom: 30px;
  }
}

.product_print-block {
  margin-bottom: 18px;
  cursor: pointer;

  .print-icon {
    margin-right: 8px;
    vertical-align: top;
  }
}

.product_share-block {
  font-size: 0;
}

.product_share-link {
  margin-right: 8px;
  display: inline-block;
  vertical-align: top;
  
  &:last-child {
    margin-right: 0;
  }
}

.product_share-title, .product_print-title {
  color:  #a5a5a5;
  font-size: 14px;
  display: inline-block;
  line-height: 22px;
  vertical-align: top;
}

.product_share-title {
  margin-right: 12px;

  @include media-breakpoint-down(lg){
    margin-right: 9px;
  }

}

.feedback-block {
  margin-bottom: 0px;
  
  
  
  .stars-block {
    margin: 3px 0 4px 0;
  }
  
  .small {
    margin-left: 3px;
  }
}

.stars-block {
  font-size: 0;

  &.-review {
    margin-bottom: 15px;
  }

  .star-icon {
    margin-right: 3px;

    &:last-child{
      margin-right: 0;
    }
  }
}

.art-block {
  padding: 20px 20px 16px 20px;
  font-size: 14px;
  line-height: 1;
  background-color:  #f3f3f3;
  margin-right: 20px;
  border-radius: 5px;


  @include media-breakpoint-down(md){
    padding: 11px 9px 9px 9px;
    font-size: 12px;
    margin-right: 6px;
  }
}

.product_prices {
  margin-bottom: 12px;
}

.product_price-lg {
  font-size: 48px;
  line-height: 1;
  color: #000000;

  &.-indent {
    color: $red-main;
  }
}


.product_prices_old-price-wrapper {
  line-height: 30px;



  .product-item_old-price {
    margin-right: 5px;
  }
}


.product_availability-page {
  margin-bottom: 15px;
}


.product-colors {
  font-size: 0;
  margin-top: 30px;

  .colors-icon {
    margin-right: 8px;
  }

  .link-underscore {
    vertical-align: top;
    margin-top: 6px;
  }
}

.product_button-block {
  //margin-bottom: 55px;
  
  @include  clearfix();

  .btn {
    float: left;
    margin-right: 30px;
  }

  @include media-breakpoint-down(md) {
    margin-bottom: 20px;
    margin-bottom: 15px;

    .btn {
      margin-right: 0px;
      float: none;
      width: 100%;
      margin-bottom: 15px;

    }
  }
}

.product_button-secondary {
  margin-top: 4px;

  @include media-breakpoint-down(md){
  @include clearfix;

    .g-icon-text_wrapper {
      float: left;
      width: 50%;
      
    }
  }
}

.credit-block-text {
  line-height: 30px;
  //margin-bottom: 50px;

  .link-underscore, .product-item_old-price {
    display: inline-block;
    vertical-align: middle;
  }

  .link-underscore {
    margin-left: 10px;
    margin-right: 7px;
  }

  .credit-block-text-beetween {
    display: inline-block;
    vertical-align: middle;
    margin: 0 2px 0 0px;
  }

  @include media-breakpoint-down(md){
    .link-underscore {
      margin-left: 0px;
    }
  }

}


.credit-block-icon {
  @include media-breakpoint-down(md){
    @include  clearfix;
    
    .rsb-icon_wrapper {
      float: right;
    }
  }
}

.product-descr-block {

&.row {
 // margin-left: -40px;
  //margin-right: -40px;

  @include media-breakpoint-up(lg){
      margin-left: -40px;
      margin-right: -40px;
    }
  }

  .col-xl-5 {

    @include media-breakpoint-up(lg){
      padding-left: 40px;
      padding-top: 20px;
    }

  }

  .col-xl-7 {


    @include media-breakpoint-up(lg){
      padding-right: 40px;
      padding-left: 40px;

    }

    padding-top: 20px;
    padding-bottom: 30px;
    background-color:  #f3f3f3;
    
  }

}

.product-descr {
  max-height: 460px;
  overflow: hidden;
  margin-bottom: 70px;
}

.product-round_elem {
  @include media-breakpoint-down(xs){
    width: 300px;
    float: none;
    margin-bottom: 15px;
  }
}

.product-horizon-block {
  @include media-breakpoint-down(md){
    margin-bottom: 40px;
  }
}

.product-page_descr {
  background-color: #ffffff;
  margin-bottom: 35px;

  @include media-breakpoint-up(lg){
    padding: 40px 40px;
  }
  
  @include media-breakpoint-down(lg){
    padding: 40px 40px;
    padding-bottom: 0;
  }

  @include media-breakpoint-down(md){
    padding: 20px 13px 0px 13px;
  }
  
}






.product-teaser {
  padding: 25px 25px 25px 40px;
  background-color: #ffffff;
  margin-bottom: 40px;
  position: relative;
  
  @include media-breakpoint-down(md){
    padding: 20px 20px 90px 20px;

    .col-xl-6, .col-lg-7, .col-lg-5 {
      position: static;
    }

    button {
      position: absolute;
      left: 20px ;
      bottom: 20px;
    }
  }
}

h2.product-teaser_title {
  font-size: 30px;
  font-family: $font-family-semibold;
  margin: 5px  0 20px 0;
}

.product-teaser_descr {
  max-height: 65px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.question-elem {
  margin-bottom: 20px;

  &.-answer {
    h2 {
      margin-left: -23px;
    }
    padding-left: 60px;
  }

}
