.producers-list  {
  @include clear-menu();
  text-align: center;
  font-size: 0;
  padding: 25px 0;
  margin-bottom: 50px;

  @include media-breakpoint-down(xs){
    padding: 5px 0;
    margin-bottom: 30px;
  }

}

.producers-list_link {
  display: inline-block;
  cursor: pointer;
  margin:10px 37.5px ;
  vertical-align: middle;

  @include media-breakpoint-down(xs){
    margin: 10px auto;
    width: auto;

    img {
      width: 65%;
      margin: 0 auto;
    }
  }

}