extends ./layout.jade

block title
  title Add tour title11


block main-content
    .container
      h1.add-title Добовление тура
      include  includes/add-tour/main-information













