extends ./layout.jade

block title
  title Add tour title11


block main-content
    .container
      h1.add-title Добовление тура
      form.add-section.search-form#new_tour(name="new_tour")
        include  includes/add-tour/main-information
        include  includes/add-tour/infographics-main
        include  includes/add-tour/main-description
        include  includes/add-tour/infographics-reasons
        include  includes/add-tour/days-description
        include  includes/add-tour/enter
        include  includes/add-tour/gear
        include  includes/add-tour/one-of-us
        include  includes/add-tour/photos
        include  includes/add-tour/reports
        include  includes/add-tour/publish



