extends ./layout.jade

block title
  title Add tour title11


block main-content
    .container
      h1.add-title Добовление тура
      .allocated-block.-full
        .tabs
          .tabs-item
            a.tabs-link(href="add-tour_step1.html") Основная информация
          .tabs-item
            a.tabs-link(href="add-tour_step2.html") Даты
          .tabs-item
            a.tabs-link.active(href="add-tour_step3.html") Инфографика о туре
          .tabs-item
            a.tabs-link(href="add-tour_step4.html") Описание по дням
          .tabs-item
            a.tabs-link(href="add-tour_step5.html") Что входит, снаряжение, документы
          .tabs-item
            a.tabs-link(href="add-tour_step6.html") Фотографии, видео
          .tabs-item
            a.tabs-link(href="add-tour_step7.html") Отзывы, FAQ

      form.add-section.search-form
        include  includes/add-tour/infographics-main
        include  includes/add-tour/infographics-reasons
        .allocated-block.-yellow
          h2.add-subtitle.ta-c Инфографика о туре - это важно, здесь пользователь подчерпнет основную информацию!
          p.md.ta-c Можете остановиться на этом шаге, но что за тур без детальной информации по дням!
          .buttons-center
            button.-more-sqr.transparent-btn.-lg.-dark-blue.js-prescreen(type="submit")  Вперед к детальной информации
            button.simple-btn.-more-sqr.-yellow.-lg Сохранить тур