extends ./layout.jade

block title
  title Регистрация


block main-content
  .container
      h1.add-title Смена пароля

      .allocated-block.-full
        .tabs
          .tabs-item
            a.tabs-link(href="agency-person-page.html") Личные данныe агенства
          .tabs-item
            a.tabs-link(href="agency-my-tours.html") Мои туры
          .tabs-item
            a.tabs-link(href="agency-my-guides.html") Мои гиды
          .tabs-item
            a.tabs-link.active(href="change-pass.html") Сменить пароль
      section.add-section
        .form-row
          .label_md-wrapper.col-md-3.col-sm-4
            label.label_md.-simple Старый пароль
          .col-md-6.col-sm-8
            input.g_input
        .form-row
          .label_md-wrapper.col-md-3.col-sm-4
            label.label_md.-simple Новый пароль
          .col-md-6.col-sm-8
            input.g_input
        .form-row
          .label_md-wrapper.col-md-3.col-sm-4
            label.label_md.-simple Повторите новый пароль
          .col-md-6.col-sm-8
            input.g_input
        .form-row
          .col-md-9.col-md-offset-3.col-sm-8.col-sm-offset-4
            button.simple-btn.-more-sqr.-yellow Сохранить