extends ./layout.jade

block title
  title Add tour title11


block main-content
    .container
      h1.add-title Редактирование тура
      section.add-section.search-form
        include  includes/edit-tour/main-information
        include  includes/edit-tour/infographics-main
        include  includes/edit-tour/main-description
        include  includes/edit-tour/infographics-reasons
        include  includes/edit-tour/days-description
        include  includes/edit-tour/enter
        include  includes/edit-tour/gear
        include  includes/edit-tour/one-of-us
        include  includes/edit-tour/photos
        include  includes/edit-tour/reports
        include  includes/edit-tour/publish