extends ./layout.jade

block title
  title Home title

block footer-script
  include includes/footer-script-home

block main-content
    .search-form-wrapper-bg.-num1
      .container
        include  includes/home/search-panel
    .container
      include  includes/home/why-we
      include  includes/home/popular-tours
      include  includes/home/subscribe
      include  includes/home/blog-preview
      include  includes/home/our partners





