extends ./layout.jade

block title
  title Landing

block header
  header.main-header.-landing.-fixed
    include includes/landing/landing-header


block main-content
  .main-inne_fixed.landing-content
    include includes/landing/landing-title-screen
    .landing-payment
      .container
        .ta-c
          button.transparent-btn.-gray.-lg
            i.icon.signpost
            | Узнать как оплатить тур сейчас
    include includes/landing/where-when
    include includes/landing/price
    include includes/landing/main-description
    include includes/landing/reasons
    include includes/landing/days
    include includes/landing/price
    section.landing-favorites
      .container
          <a id="fav" class="link-md" href="" rel="sidebar"" onclick="addFav();return false;">Еще не определились? Хотите подумать? Добавьте нашу страницу в избранное!</a>
    include includes/landing/enter
    include includes/landing/equipment

    include includes/landing/faq
    include includes/landing/one-of-us
    include includes/landing/photo-section
    include includes/landing/reviews
    include includes/landing/guide-manager
    include includes/landing/brone
    include includes/landing/guide-popup
    include includes/landing/manager-popup