extends ./layout.jade

block title
  title Home title


block main-content
    .container
      include  includes/results/sort-block
      include  includes/results/results-tours

















