.pop-up_wrapper.pop-up_manager
   .pop-up_bg
      .pop-up.simple-grey-wrapper
         .pop-up_inner(style="overflow: hidden;")
            h2 СОЗДАТЬ ЗАЯВКУ
            form
            .form-row.-inline
               label.label_lg.col-md-4 Имя
               .col-md-8
                  input.g_input(type="text")
            .form-row.-inline
               label.label_lg.col-md-4 Телефон
               .col-md-8
                  input.g_input(type="text")
            .form-row.-inline
               label.label_lg.col-md-4 Почта
               .col-md-8
                  input.g_input(type="text")
            .form-row.-inline
               label.label_lg.col-md-4 Выберите тур
               .col-md-8
                  select.g_select
                     option Активный тур в Боровое, Казахстан...
                     option СТРАНА МЕДВЕДЕЙ И ВУЛКАНОВ
                     option Классическая Камчатка
            .form-row.-inline
               label.label_lg.col-md-4 Дата тура
               .col-md-8
                  select.g_select
                     option 11 января - 23 января 2015
                     option 8 марта - 20 марта 2015
            .form-row.-inline
               label.label_lg.col-md-6 Количество человек
               .col-md-6.ta-c
                  .mans-wrapper
                     i.man-inactive.icon.js-man
                     i.man-inactive.icon.js-man
                     i.man-inactive.icon.js-man
                     i.man-inactive.icon.js-man
            .ta-c
               button.simple-btn.-yellow.-lg <i class="icon rukzak"></i> Cоздать заявку
         i.close-icon.icon.js-popup-close