//script(src="js/script.js")
script(src="js/vendor/a-jquery-1.11.0.min.js")
script(src="js/vendor/b-picker.js")
script(src="js/vendor/picker.date.js")
script(src="js/vendor/z-ru_RU.js")
script(src="js/bootstrap.js")
script(src="js/jquery.ikSelect.min.js")
script(src="js/vendor/jquery.nouislider.all.min.js")
script(src="js/slider.js")
script(src="js/script.js")


//script(src="js/bootstrap.min.js")