header.main-header
  .container
    a(href="home.html")
      img.logo.fll(src="img/logo.png",alt="Active tours - Активные туры", title="Active tours - Активные туры")
    .logo-caption.fll Поиск и бронирование<br/> активных туров
    button.flr.simple-btn.-yellow Добавить ваш тур
    +shareblock(true, 'flr', 'vk', 'fb', 'tw', 'rss')