.header-wraaper {
  clear: both;
}

.route--active {
  font-weight: bold;
  text-decoration: underline;
}

.fixed-header {
  position: fixed;
  left: 50%;
  z-index: 2;
}

@media (max-width: 767px) {
  header.fixed-header {
    margin-left: 0px;
    left: 0;
    width: 100%;
  }
}

@media (min-width: 768px) {
  header.fixed-header {
    margin-left: -375px;
  }
}

@media (min-width: 768px) {
  header.fixed-header {
    margin-left: -375px;
  }
}

@media (min-width: 992px){
  header.fixed-header {
    margin-left: -485px;
  }
}

@media (min-width: 1300px){
  header.fixed-header {
    margin-left: -700px;
  }
}


