%html
    %head
        %meta{:charset => "utf-8"}

        %title
        %meta{:name => "description", :content => ""}
        -# %meta{:name => "keywords", :content => ""}
        -# %meta{:name => "author", :content => ""}

        %meta{:name => "viewport", :content => "width=device-width, initial-scale=1"}

        %link{:rel => "stylesheet", :href => "../css/sprite.css"}
        %link{:rel => "stylesheet", :href => "../css/style.css"}
        %link{:rel => "stylesheet", :href => "../css/Ikselect.css"}
        -# %link{:rel => "stylesheet", :media => "only screen and (min-width: 45em)", :href => "/css/widescreen.css"}

    %body
        .bg-wrapper
            .bg-wrapper_bottom
                .topline
                %header.header



                %nav.main-menu_wrapper.collapse
                    .container
                        %ul.main-menu.clear-list
                            %li.main-menu_item
                                %a.main-menu_link{ :href => "#" }
                            %li.main-menu_item
                                %a.main-menu_link{ :href => "#" }
                            %li.main-menu_item
                                %a.main-menu_link{ :href => "#" }
                            %li.main-menu_item
                                %a.main-menu_link{ :href => "#" }
                            %li.main-menu_item
                                %a.main-menu_link{ :href => "#" }
                            %li.main-menu_item
                                %a.main-menu_link{ :href => "#" }
                        .clearfix.full-width_wrapper.visible-xs-block
                            %button.orange-btn.full-width.-medium SUBMIT COUPON
                %form.search-xs.collapse.hidden-sm.hidden-md.hidden-lg
                    %input.standard-input{ :type => "text", :placeholder => "Search" }
                .container
                    .row.main-top-section
                        .left-column_top

                            .hut-coupons-wrapper
                                .clearfix.hut-coupons_header
                                    %a.flr.orange-arrow-link.-in-title-right.pull-no-xs{ :href => "#" }
                                        %i.icon.orange-arrow-small
                                        %span Pizza Coupons
                                    %h2.h1.fll.company-title.pull-no-xs  Pizza Hut Coupons
                                .row
                                    .hut-coupons-col-1
                                        .white-wrapper
                                            %img.img-responsive{:src => "../files/Pizza_Hut_logo.png", :alt => ""}/
                                    .hut-coupons-col-2
                                        %p Lorem ipsum dolor sit amet, consectetur adipis icing elit, sed do eiusmod tempor incididunt ut labore et dolore magna ali qua enim ad minim.
                                        %a.simple-btn.link-btn.-icon-left.full-width-xs
                                            %i.icon.orange-plus
                                            %span  Read More
                            .top-coupons-wrapper
                                %h2.h1.company-title Top Coupons
                                .top-coupon
                                    .row
                                        .company-col-1
                                            .white-wrapper
                                                .coupon-percent.-green
                                                    .coupon-percent_count
                                                        %span 50
                                                        %span.bg-color %
                                                    .coupon-percent_off OFF
                                                    .coupon-percent_code CODE
                                        .company-col-2split.-with-top-margin
                                            .row
                                                .company-col-2-1
                                                    .coupon-descr Save 50% On Selected Products
                                                .company-col-2-2
                                                    %a.showcoupon.link-btn  FIVE5OFF
                                .gray-shadow
                                .top-coupon
                                    .row
                                        .company-col-1
                                            .white-wrapper
                                                .coupon-percent.-blue
                                                    .coupon-percent_count
                                                        %span 30
                                                        %span.bg-color %
                                                    .coupon-percent_off OFF
                                                    .coupon-percent_code CODE
                                        .company-col-2split.-with-top-margin
                                            .row
                                                .company-col-2-1
                                                    .coupon-descr Save 50% On Selected Products
                                                .company-col-2-2
                                                    %a.showcoupon.link-btn  FIVE5OFF
                                .gray-shadow
                            .user-coupons-wrapper
                                %h2.h1.company-title User Submitted Coupons

                                .user-coupon
                                    .row

                                        .company-col-0
                                            %h4.user-coupon_title Macy's 10% Off Domestic Visitor
                                            .user-coupon_descr
                                                %span Lorem ipsum dolor sit amet, conse ctetur adipisicing elit.
                                                %a{ :href => "#" }  Show more...
                                        .company-col-1mod
                                            .rate-wrapper
                                                .rate.ta-c.-green
                                                    %a.icon.rate-up
                                                    .rate-count 21
                                                %i.rate-divider.icon
                                                .rate.ta-c
                                                    %a.icon.rate-down
                                                    .rate-count 21
                                        .company-col-2
                                            %h4.user-coupon_title Macy's 10% Off Domestic Visitor
                                            .user-coupon_descr
                                                %span Lorem ipsum dolor sit amet, conse ctetur adipisicing elit.
                                                %a{ :href => "#" }  Show more...
                                        .company-col-3
                                            %a.getdeal.link-btn  GET DEAL
                                .gray-shadow
                                .user-coupon
                                    .row
                                        .company-col-0
                                            %h4.user-coupon_title Macy's 10% Off Domestic Visitor
                                            .user-coupon_descr
                                                %span Lorem ipsum dolor sit amet, conse ctetur adipisicing elit.
                                                %a{ :href => "#" }  Show more...
                                        .company-col-1mod
                                            .rate-wrapper
                                                .rate.ta-c.-red
                                                    %a.icon.rate-up
                                                    .rate-count 2
                                                %i.rate-divider.icon
                                                .rate.ta-c
                                                    %a.icon.rate-down
                                                    .rate-count 8
                                        .company-col-2
                                            %h4.user-coupon_title Macy's 10% Off Domestic Visitor
                                            .user-coupon_descr
                                                %span Lorem ipsum dolor sit amet, conse ctetur adipisicing elit.
                                                %a{ :href => "#" }  Show more...
                                        .company-col-3
                                            %a.showcoupon.link-btn  FIVE5OFF
                                .gray-shadow
                                .user-coupon
                                    .row
                                        .company-col-0
                                            %h4.user-coupon_title 50 % of any sushi at TBZY
                                            .user-coupon_descr
                                                %span Dolor sit amet, consetetur adipisicing lorem elit.
                                                %a{ :href => "#" }  Show more...
                                        .company-col-1mod
                                            .rate-wrapper
                                                .rate.ta-c
                                                    %a.icon.rate-up
                                                    .rate-count 4
                                                %i.rate-divider.icon
                                                .rate.ta-c
                                                    %a.icon.rate-down
                                                    .rate-count 4
                                        .company-col-2
                                            %h4.user-coupon_title 50 % of any sushi at TBZY
                                            .user-coupon_descr
                                                %span Dolor sit amet, consetetur adipisicing lorem elit.
                                                %a{ :href => "#" }  Show more...
                                        .company-col-3
                                            %a.getdeal.link-btn  GET DEAL
                                .gray-shadow
                                .user-coupon
                                    .row

                                        .company-col-0
                                            %h4.user-coupon_title Macy's 10% Off Domestic Visitor
                                            .user-coupon_descr
                                                %span Lorem ipsum dolor sit amet, conse ctetur adipisicing elit.
                                                %a{ :href => "#" }  Show more...
                                        .company-col-1mod
                                            .rate-wrapper
                                                .rate.ta-c.-green
                                                    %a.icon.rate-up
                                                    .rate-count 21
                                                %i.rate-divider.icon
                                                .rate.ta-c
                                                    %a.icon.rate-down
                                                    .rate-count 21
                                        .company-col-2
                                            %h4.user-coupon_title Macy's 10% Off Domestic Visitor
                                            .user-coupon_descr
                                                %span Lorem ipsum dolor sit amet, conse ctetur adipisicing elit.
                                                %a{ :href => "#" }  Show more...
                                        .company-col-3
                                            %a.getdeal.link-btn  GET DEAL
                                .gray-shadow
                                .user-coupon
                                    .row
                                        .company-col-0
                                            %h4.user-coupon_title Macy's 10% Off Domestic Visitor
                                            .user-coupon_descr
                                                %span Lorem ipsum dolor sit amet, conse ctetur adipisicing elit.
                                                %a{ :href => "#" }  Show more...
                                        .company-col-1mod
                                            .rate-wrapper
                                                .rate.ta-c.-red
                                                    %a.icon.rate-up
                                                    .rate-count 2
                                                %i.rate-divider.icon
                                                .rate.ta-c
                                                    %a.icon.rate-down
                                                    .rate-count 8
                                        .company-col-2
                                            %h4.user-coupon_title Macy's 10% Off Domestic Visitor
                                            .user-coupon_descr
                                                %span Lorem ipsum dolor sit amet, conse ctetur adipisicing elit.
                                                %a{ :href => "#" }  Show more...
                                        .company-col-3
                                            %a.showcoupon.link-btn  FIVE5OFF
                                .gray-shadow
                                .user-coupon
                                    .row
                                        .company-col-0
                                            %h4.user-coupon_title 50 % of any sushi at TBZY
                                            .user-coupon_descr
                                                %span Dolor sit amet, consetetur adipisicing lorem elit.
                                                %a{ :href => "#" }  Show more...
                                        .company-col-1mod
                                            .rate-wrapper
                                                .rate.ta-c
                                                    %a.icon.rate-up
                                                    .rate-count 4
                                                %i.rate-divider.icon
                                                .rate.ta-c
                                                    %a.icon.rate-down
                                                    .rate-count 4
                                        .company-col-2
                                            %h4.user-coupon_title 50 % of any sushi at TBZY
                                            .user-coupon_descr
                                                %span Dolor sit amet, consetetur adipisicing lorem elit.
                                                %a{ :href => "#" }  Show more...
                                        .company-col-3
                                            %a.getdeal.link-btn  GET DEAL
                                .gray-shadow
                            .show-more-wrapper.visible-xs-block.visible-sm-block
                                %a{ :href => "#" }
                                    %span.simple-round_30.simple-round
                                        %i.orange-arrow_bottom.icon
                                    %span Show more coupons
                            .paginator-wrapper.hidden-xs.hidden-sm
                                %ul.paginator-list.clear-list
                                    %li.paginator-list_item.-previous
                                        %a.paginator-list_link{ :href => "#" }
                                            %i.icon.orange-arrow_left
                                            %span Previous
                                    %li.paginator-list_item
                                        %a.paginator-list_link.-number.active{ :href => "#" }
                                            %span 1
                                    %li.paginator-list_item
                                        %a.paginator-list_link.-number{ :href => "#" }
                                            %span 2
                                    %li.paginator-list_item
                                        %a.paginator-list_link.-number{ :href => "#" }
                                            %span 3
                                    %li.paginator-list_item
                                        %a.paginator-list_link.-dots
                                            %span ...
                                    %li.paginator-list_item
                                        %a.paginator-list_link.-number.-last{ :href => "#" }
                                            %span 145

                                    %li.paginator-list_item.-next
                                        %a.paginator-list_link{ :href => "#" }
                                            %span Previous
                                            %i.icon.orange-arrow_right
                        .right-column_top
                            %section.right-section
                                .sign-up_wrapper.white-wrapper
                                    .sign-up
                                        %h3.sign-up_title Get the latest deal sent to you inbox.
                                        %h4.sign-up_list_title BENEFITS:
                                        %ul.sign-up_list.clear-list
                                            %li.sign-up_list_item.media
                                                %i.checkmark.icon
                                                %span.media-body  Choose coupons you are interested in
                                            %li.sign-up_list_item.media
                                                %i.checkmark.icon
                                                %span.media-body Be the first to know on new deals
                                            %li.sign-up_list_item.media
                                                %i.checkmark.icon
                                                %span.media-body Exclusive offers to e-mail subscribers
                                            %li.sign-up_list_item.media
                                                %i.checkmark.icon
                                                %span.media-body And much more!
                                .sign-up_form
                                    .sign-up_form_inner
                                        .sign-up_input-wrapper
                                            %input.standard-input.-medium.-green-text.-green-bg.-icon-left{ :type => "text", :placeholder => "Your e-mail" }
                                            %i.mail.icon
                                            %i.gray-line.icon
                                        %button.orange-btn.-medium.-green-bg
                                            %i.share.icon
                                            %span SIGN ME UP!
                            %section.right-section.banner-right_wrapper
                                .banner-right
                                    %img.img-responsive{:src => "../files/banner.jpg", :alt => ""}/
                                    .banner-right_title Pizza
                                    %img.banner-right_logo{:src => "../files/banner-logo.png", :alt => ""}/
                                    .banner-right_status DAILY BEST
                            %section.right-section
                                .white-wrapper
                                    %form.submit-coupon
                                        %h3.submit-coupon_title Submit Coupon
                                        %h4.submit-coupon_subtitle FOUND A GREAT DEAL?
                                        %h4.submit-coupon_subtitle-small Submit it below:

                                        .sign-up_input-wrapper
                                            %select.standart-select
                                                %option{ :selected => 'selected'} Coupon Code  Code
                                                %option Item1
                                                %option Item2
                                                %option Item3
                                        .sign-up_input-wrapper.-dooted
                                            %input.standard-input.-orange-bg.-light-pink-input{ :type => "text", :placeholder => "Enter Coupon Code or Deal URL" }
                                        .sign-up_input-wrapper
                                            %input.standard-input.-orange-bg{ :type => "text", :placeholder => "Description" }
                                        .sign-up_input-wrapper
                                            %input.standard-input.-orange-bg{ :type => "text", :placeholder => "Expiration Date" }

                                        .row.clearfix
                                            .col-xs-9
                                                .captha-wrapper
                                                    %img.img-responsive{:src => "../files/captha.jpg", :alt => ""}/
                                            .col-xs-9
                                                .sign-up_input-wrapper
                                                    %input.standard-input.-orange-bg{ :type => "text", :placeholder => "Enter Captcha" }
                                        %button.orange-btn.-medium.-orange-bg.full-width SUBMIT COUPON
                            %section.right-section
                                .popular
                                    %header.popular_header
                                        .ta-c
                                            %i.simple-round_40.simple-round
                                                %i.icon.ticket
                                        .popular_title.ta-c RELATED
                                        .popular_subtitle Sites and stores
                                    .white-wrapper.-no-padding
                                        %ul.popular-list.clear-list
                                            %li.popular-list_item
                                                .popular-list_inner.clearfix
                                                    %a.pull-left.popular-list_name{ :href => "#" } Nike
                                                    %a.pull-right.simple-round_30.simple-round{ :href => "#" }
                                                        %i.orange-arrow.icon
                                                .gray-shadow_md
                                            %li.popular-list_item
                                                .popular-list_inner.clearfix
                                                    %a.pull-left.popular-list_name{ :href => "#" } PizzaHunt
                                                    %a.pull-right.simple-round_30.simple-round{ :href => "#" }
                                                        %i.orange-arrow.icon
                                                .gray-shadow_md
                                            %li.popular-list_item
                                                .popular-list_inner.clearfix
                                                    %a.pull-left.popular-list_name{ :href => "#" } TeeSpring
                                                    %a.pull-right.simple-round_30.simple-round{ :href => "#" }
                                                        %i.orange-arrow.icon
                                                .gray-shadow_md
                                            %li.popular-list_item
                                                .popular-list_inner.clearfix
                                                    %a.pull-left.popular-list_name{ :href => "#" } Amazon
                                                    %a.pull-right.simple-round_30.simple-round{ :href => "#" }
                                                        %i.orange-arrow.icon
                                                .gray-shadow_md
                                            %li.popular-list_item
                                                .popular-list_inner.clearfix
                                                    %a.pull-left.popular-list_name{ :href => "#" } Ebay
                                                    %a.pull-right.simple-round_30.simple-round{ :href => "#" }
                                                        %i.orange-arrow.icon
                                                .gray-shadow_md
                                        .full-bottom_wrapper
                                            %button.orange-btn.full-btn.-medium MORE


                %footer
                    .container
                        .row
                            .footer-col-1.footer-col
                                .footer-col_inner
                                    %h3.footer_title.hidden-xs.hidden-sm C
                                    %ul.company-list.clear-list
                                        %li.company-list_item
                                            %a.company-list_link{ :href => "#" }
                                                %i.icon.markdown-circle.hidden-sm.hidden-xs
                                                %span A
                                        %li.company-list_item
                                            %a.company-list_link{ :href => "#" }
                                                %i.icon.markdown-circle.hidden-sm.hidden-xs
                                                %i.icon.markdown-small.visible-sm-inline-block.visible-xs-inline-block
                                                %span A
                                        %li.company-list_item
                                            %a.company-list_link{ :href => "#" }
                                                %i.icon.markdown-circle.hidden-sm.hidden-xs
                                                %i.icon.markdown-small.visible-sm-inline-block.visible-xs-inline-block
                                                %span C
                            .footer-col-2.footer-col
                                .footer-col_inner

                            .footer-col-3.ta-c.get-the-app.footer-col
                                .footer-col_inner

                            .footer-col-4.footer-col


                    .footer-bottom
                        .container
                            .row
                                .pull-right.footer-bottom_link-wrapper.col-sm-9.col-xs-18.footer-bottom-col-1
                                    %a.footer-bottom_link{ :href => "#" }

                                .pull-left.copyright.col-sm-9.col-xs-18
                                    %span







        -# ==========================================================================

        -# = yield

        -# JS
        -# ==========================================================================

        -# jQuery

        -#%script{:src => 'http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js' }
        - # :javascript
        -  #  window.jQuery || document.write('<script src="/js/jquery-1.7.2.min.js"><\/script>')

        -# Custom JS
        %script{:src => "../js/jquery.min.js" }
        %script{:src => "../js/bootstrap.js" }
        %script{:src => "../js/jquery.ikSelect.min.js" }
        %script{:src => "../js/main.js" }



        -#
        -# Asynchronous Google Analytics
        -# Change UA-XXXXX-X to be your site's ID
        -# mathiasbynens.be/notes/async-analytics-snippet
        -#

        -# :javascript
            var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
            (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
            g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
            s.parentNode.insertBefore(g,s)}(document,'script'));
