section.landing-section.brone-section(style="background-image: url(files/bg-landing-title.jpg)")
  .container
    .simple-grey-wrapper
      .row
        .col-md-6.col-md-offset-3
          h2 ЗАБРОНИРОВАТЬ ТУР
          form
            .form-row.-inline
              label.label_lg.col-md-4 Ваше имя
              .col-md-8
                input.g_input(type="text")
            .form-row.-inline
              label.label_lg.col-md-4 Телефон
              .col-md-8
                input.g_input(type="text")
            .form-row.-inline
              label.label_lg.col-md-4 Почта
              .col-md-8
                input.g_input(type="text")
            .form-row.-inline
              label.label_lg.col-md-6 Количество человек
              .col-md-6.ta-c
                .mans-wrapper
                  i.man-inactive.icon.js-man
                  i.man-inactive.icon.js-man
                  i.man-inactive.icon.js-man
                  i.man-inactive.icon.js-man
            .ta-c
              button.simple-btn.-yellow.-lg <i class="icon rukzak"></i> Забронировать туp
              p.light-text Мы НИКОГДА не передаем ваши даннные третьим лицам </br> и не спамим, так как сами это не любим.
