section#days-section.landing-section
  .container
    h2.subtitle Описание тура по дням
    .day-item
      .row
        .col-md-4.col-sm-4
          img.img-responsive(src="files/day1.jpg")
        .col-md-8.col-sm-8
          h3 День 1. Прибытие в Катманду
          p Добро пожаловать в гималайскую страну Непал! Встреча с гидом в аэропорту Трибхуван, размещение в отеле 4* в Катманду. Экскурсия с гидом в Сваямбунатх - маленький городок из буддийских храмов, монастырей и индуистских религиозных сооружений. С вершины холма, где расположен Сваямбунатх, открывается великолепная панорама долины Катманду — красочной зеленой котловины, окруженной величественными горными вершинами. Остаток дня отдых в отеле и ужин в ресторане национальной кухни. Ночь в отеле 3*.
    .day-item
      .row
        .col-md-4.col-sm-4
          img.img-responsive(src="files/day2.png")
        .col-md-8.col-sm-8
          h3 день 2. ИЗ КАТМАНДУ К ЧАМДЖЕ (1430 м)
          p Добро пожаловать в гималайскую страну Непал! Встреча с гидом в аэропорту Трибхуван, размещение в отеле 4* в Катманду. Экскурсия с гидом в Сваямбунатх - маленький городок из буддийских храмов, монастырей и индуистских религиозных сооружений. С вершины холма, где расположен Сваямбунатх, открывается великолепная панорама долины Катманду — красочной зеленой котловины, окруженной величественными горными вершинами. Остаток дня отдых в отеле и ужин в ресторане национальной кухни. Ночь в отеле 3*.
    .day-item
      .row
        .col-md-4.col-sm-4
          img.img-responsive(src="files/day3.jpg")
        .col-md-8.col-sm-8
          h3 день 3. ПРИБЫТИЕ В КАТМАНДУ
          p Подъем в 6:30 - 7:00 утра. Горная тропа поднимается к долине Тал, постоянно следуя течению реки Маршангди. Сегодня предстоит пройти через густой лес бамбука и рододендрона, и войти в район Мананг. Место сегодняшней ночевки — Дарапани, типичная тибетская деревня (1920 м). 5-6 часов в пути. Останавливаемся на ночь в гест-хаусе.
    .day-item
      .row
        .col-md-4.col-sm-4
          img.img-responsive(src="files/day4.jpg")
        .col-md-8.col-sm-8
          h3 день 4. ТРЕК ИЗ ДАРАПАНИ К ЧАМЕ (2630 м)
          p Подъем в 6:30 - 7:00 утра. Горная тропа поднимается к долине Тал, постоянно следуя течению реки Маршангди. Сегодня предстоит пройти через густой лес бамбука и рододендрона, и войти в район Мананг. Место сегодняшней ночевки — Дарапани, типичная тибетская деревня (1920 м). 5-6 часов в пути. Останавливаемся на ночь в гест-хаусе.
