section#includes.landing-section.enter-section
  .container
    .row
      .col-md-6
        h3 в СТОИМОСТЬ ТУРА ВХОДИТ:
        .enter-item
          ul
            li Перемещение по городу на частном транспорте (все дни, за исключением 14-го дня программы).
            li Местный англоговорящий гид на время трека.
            li Англоговорящий гид на время экскурсий в Катманду и Покхаре.
            li Размещение в отеле 3** в Катманду. (Двухместные номера). Завтрак включен.
            li Трансферы между регионами на частном автотранспорте (предусмотрен для группы 6 и более 7 человек). Для группы 2-5 человек с местным гидом — переезды между регионами на рейсовых автобусах.
            li Размещение в лоджиях и гестхаусах на треке.
            li Пермит и TIMS-карта.
            li Праздничный ужин в Катманду в 1-ый день программы.
            li Перелет Джомсом - Покхара.

      .col-md-6
        h3 в СТОИМОСТЬ ТУРА <span class="alert-color">НЕ ВХОДИТ:</span>
        .enter-item
          ul
            li Авиабилет в Катманду (от 27 000 руб)
            li Виза Непала (40$)
            li Медицинская страховка (48$)
            li Еда и напитки в Катманду ($10-25 за обед)
            li Снаряжение, одежда для трека
            li Аэропортовый сбор в Джомсоме (2 $)
            li Доплата за одноместное размещение 295 $
            li Питание в Покхаре (10 - 25 $)
            li Портеры для переноски грузов (при желании). 16 $ за портера.
            li Трансферы по городу в 14 день программы.
            li Прокат лодки на озере Фева (5$ за лодку).
            li Экскурсии в Покхаре (по желанию).
            li Входные билеты и экскурсии в Катманду.