section.landing-equipment.landing-section
  .container
    .equipment-header.js-toggle-equipment <i class="rukzak-md"></i> Что нужно взять с собой? <i class="arrow-down"></i>
    .equipment-body
      .equipment-body_inner(style="display:none;")
        h3 Список рекомендуемого снаряжения
        .row
          .col-md-6
            ul
              li Небольшой рюкзак (35-50 литров),
              li Большой рюкзак или баул (50-60 литров, в котором портер понесет ваши вещи)
              li Спальный мешок (на –5 -10°)
              li Треккинговые палки
              li Куртка мембранная от дождя и ветра (желательно из материала Gore-tex), куртка теплая из материала Polartek 100 или Polartek 200 (или теплый свитер)
              li Штаны от дождя и ветра (желательно из материала Gore-Tex)
              li Штаны теплые (желательно из материала Polartek 100 или Polartek Power Stretch)
              li Брюки треккинговые (легкие, на теплую погоду)
              li Шорты (длинны ниже колена) или вторые брюки
              li Футболки / рубашки с длинным рукавом — 2шт
              li Носки треккинговые - 3-4 пары, носки теплые - 1-2  пары
          .col-md-6
            ul
              li Треккинговые ботинки, сандали
              li Кепка\панама\бандана от солнца
              li Шапочка (шерсть, polartec)
              li Перчатки теплые
              li Пуховка (легкая или пуховая жилетка)
            h4 Дополнительное снаряжение (не мелочи!)
            ul
              li Солнцезащитные очки (с фильтром 3-4)
              li Фонарик налобный (Petzl, Black Diamond)
              li Солнцезащитный крем ( с фактором защиты 50)
              li Гигиеническая губная помада
              li Полотенце, мыло, зубная щетка и паста
              li Индивидуальные лекарства
        .row
          .col-md-8.col-md-offset-2
            h3 Необходимые документы
            .row
              .col-md-6
                ul
                  li Заграничный паспорт, сроком действия 6 месяцев  на момент окончания поездки
                  li Медицинская страховка
              .col-md-6
                ul
                  li Виза (ставится по прилету)
                  li 4 фотографий 3*4
        hr
        .row.ta-c
          .col-md-8.col-md-offset-2
            button.transparent-btn.-yellow.js-print-page <i class="print icon"></i> Распечатать список
            p На заметку: даже если не собираетесь прямо сейчас ехать в тур, сохраните этот список. Прикрепите его на видное место, например, на холодильник, и готовьтесь к путешествию по мере возможности, вычеркивая соответствующие пункты. Так вы быстрее соберете все необходимое, и осуществите свою мечту!
