section.landing-section
  .container
     h2 FAQ: ЧАСТО-ЗАДАВАЕМЫЕ ВОПРОСЫ
     .row
       .col-md-12
         .accordion
           .accordion-section
             a.accordion-section-title(href="#accordion-1") Что такое рафтинг?
             #accordion-1.accordion-section-content(style="display:none")
               p Рафтинг – это сплав группы людей по реке на специальном надувном судне, которое называется “рафт”.
           .accordion-section
             a.accordion-section-title(href="#accordion-2") Кто может принимать участие в активном туре?
             #accordion-2.accordion-section-content
               p В наших путешествиях принимают участие люди разных возрастов, туры рассчитаны на обычного человека без специальной подготовки. Вы можете осуществить тур один, вдвоем, с группой друзей, семьей. Всегда находится компания по интересам. В таких путешествиях всегда царит дух дружелюбия и взаимопонимания. Многие люди позднее переписываются, едут вместе путешествовать еще раз.
           .accordion-section
             a.accordion-section-title(href="#accordion-3") Что конкретно входит в стоимость активного тура?
             #accordion-3.accordion-section-content
               p Постоянная стоянка наших рафтов и снаряжения находится на р.Катунь в с.Ая Алтайского р-на. Более подробную информацию Вы можете получить позвонив по телефону, указанному в разделе Контакты.
