section.landing-section.guide-manager
  .container
    .row
      .col-md-6
        h4 Гид тура
        .allocated-block
          .media
            .round-img.-md-plus.fll.-left
              img(src="files/guide2.jpg")
            .media-body
              h3 Андрей Федорович Селиванов
              a.js-show-guide  Описание гида
              span  Рейтинг:  8.8/10

      .col-md-6
        h4 Менеджер тура
        .allocated-block
          .media
            .round-img.-md-plus.fll.-left
              img(src="files/manager.jpg")
            .media-body
              h3 Калашникова Кодратья Ивановна
              a.js-show-manager Написать сообщение
