.pop-up_wrapper.pop-up_guide(style="display: none;")
  .pop-up_bg
      .pop-up.simple-grey-wrapper
        .pop-up_inner
          .review-header
            h2 ИНФОРМАЦИЯ О ГИДЕ
            .round-img.-profile-img
              img(src="img/guide.jpg")
            h3.name Константин Константинопольский
            div 37 лет, Москва
          .review-body
            p Здесь забываешь, что прошел 160 км, что три дня колбасился в пылюке автобуса. Тут все по-непальски — и плохо и хорошо (Шредингеру привет).
            p Рискуя показаться расистом, я все же хочу сказать — непальцы — относительно большие дети. Тотальный, всепоглощающий инфантилизм в самых ярких проявлениях. Они по-дестки обижаются, если закажешь у них в кафешке мало еды. Как они мило пьянеют от стаканчика яблочного сидра (жуткого на вкус, кстати). Как раздолбайски организовывают всё, что касается их жизни. Но как настоящие школьные отличники они очень добрые и отзывчивые.
            p Непал ты любишь и ненавидишь одновременно, но горы... ГОРЫ, которые мы видели; воздух, которым дышали; миллионы шагов, которые сделали за эти 20 дней - все они навсегда останутся в памяти, как самое невероятное, что я когда либо видел, ощущал и делал.
            p Я запомню Непал, как место, где наша матушка Земля по-настоящему ВПЕЧАТЛЯЕТ!
          .pop-up_btn
            button.simple-btn.-yellow.-md.js-popup-close Закрыть
          i.close-icon.icon.js-popup-close