-var items = [{icon: 'hikking-md', name: 'Формат тура', descr: 'Треккинг'}, {icon: 'host-md', name: 'Проживание', descr: 'Отели и гестхаусы'}, {icon: 'eat-md', name: 'Питание', descr: 'Местные кафе'},{icon: 'transport-md', name: 'Транспорт', descr: 'Самолет и авто'}, {icon: 'guide-md', name: 'Сопровождение', descr: 'Опытный гид'}, {icon: 'safety-md', name: 'Безопасность', descr: 'Надежная страховка'}]

section.landing-bg-section(style="background-image: url(files/bg-landing-title.jpg)")
  .container
    h1.landing-title.hit2-icon
     span Треккинг к базовому лагерю Аннапурны-1
    .general-descr
      h2 Потрясающие виды ждут вас!
      .row
        each item in items
          .col-md-2.col-sm-2.col-xs-4
            .round-bg.-yellow.-lg.-with-icon
              i(class=" icon #{item.icon} ")
            .round-item-label #{item.name}
            .round-item-value #{item.descr}