nav.landing-menu.hidden-sm.hidden-xs
  ul
    li
      a#to-about-tour О ТУРЕ
    li
      a#to-days ОПИСАНИЕ ПО ДНЯМ
    li
      a#to-includes ЧТО ВКЛЮЧЕНО
    li
      a#to-photo ФОТОГРАФИИ
    li
      a#to-reviews ОТЗЫВЫ