.container
  a.fll(href="home.html")
    img.logo-round(src="img/logo-sm.png",alt="Active tours - Активные туры", title="Active tours - Активные туры")
  include landing-menu
  //button.to-reserve.flr.simple-btn.-yellow Забронировать
  button.flr.simple-btn.transparent-btn.-md.-white Заказать звонок
  a.flr.footer-menu-item(href="tel:+79136740532" style='display: inline-block; margin: 5px 10px; font-size: 20px;') +7-913-674-05-32
  .flr.counter-wrapper
    .counter-item
      i.counter 12
      .subtitle ДНЕЙ
    .counter-item
      i.counter 23
      .subtitle ЧАСОВ
    .counter-item
      i.counter 45
      .subtitle МИНУТ
  .logo-caption.logo-caption-round.flr До начала<br/> тура осталось:
