.container
  a(href="home.html")
    img.fll.logo-round(src="img/logo-sm.png",alt="Active tours - Активные туры", title="Active tours - Активные туры")
  .logo-caption.logo-caption-round.fll Поиск и бронирование<br/> активных туров

  button.flr.simple-btn.-yellow Забронировать
  button.flr.transparent-btn.-md.-white Заказать звонок
  include landing-menu
  //+shareblock(true, 'flr', 'vk', 'fb', 'tw', 'rss')
  .flr.counter-wrapper
    .counter-item
      i.counter 12
      .subtitle ДНЕЙ
    .counter-item
      i.counter 23
      .subtitle ЧАСОВ
    .counter-item
      i.counter 45
      .subtitle МИНУТ
  .logo-caption.logo-caption-round.flr До начала<br/> тура осталось: