nav.landing-menu.hidden-sm.hidden-xs
  ul
    li
      a#to-about-tour О ТУРЕ
    li
      a#to-days ОПИСАНИЕ
    li
      a#to-includes СТОИМОСТЬ
    li
      a#to-photo ФОТОГРАФИИ
    li
      a#to-reviews ОТЗЫВЫ
    //li
      span
        img(src="img/pdf.png" height="33px" width="33px")
      a#to-reviews FAQ