.container
  a.fll(href="home.html")
    img.logo-round(src="img/logo-sm.png",alt="Active tours - Активные туры", title="Active tours - Активные туры")
  include landing-menu
  button.to-reserve.flr.simple-btn.-yellow Забронировать
  button.flr.transparent-btn.-md.-white Заказать звонок
  .flr.counter-wrapper
    .counter-item
      i.counter 12
      .subtitle ДНЕЙ
    .counter-item
      i.counter 23
      .subtitle ЧАСОВ
    .counter-item
      i.counter 45
      .subtitle МИНУТ
  .logo-caption.logo-caption-round.flr До начала<br/> тура осталось: