section.landing-main-description.landing-bg-section(style="background-image: url(files/main-descr-1.jpg)")
  .container
    h2.subtitle Вас ждет
    p.lg Трек вокруг Аннапурны – интереснейший пеший маршрут, входящий в десятку лучших теккинговых маршрутов мира.
    p.lg В процессе этого путешествия вы увидите великолепные пейзажи снежных гималайских вершин: все Аннапурны – Аннапурна I (8091 м), Аннапурна II (7937 м), Аннапурна III (7555 м), Аннапурна IV (7525 м), Южная Аннапурна (7273 м); Дхаулагири (8167 м), Нилгири (7061 м), Манаслу (8163 м), Манаслу II (7879 м).

section.landing-main-description.landing-bg-section.-zigzags(style="background-image: url(files/main-descr-2.png)")
  .container
    hr.zigzag.-top
    p.lg Маршрут трека вокруг Аннапурны проходит через разнообразнейшие ландшафты: низкогорья с террасами рисовых полей и пастбищ, которые время от времени сменяются бамбуковыми зарослями и влажными субтропическими лесами, где весной цветут роскошные алые рододендроны и белые магнолии; скалы и ущелья, покрытые лиственными и хвойными лесами; долины рек Марсьянгди и Сабдже, засушливый регион Мананг.
    hr.zigzag.-bottom