.pop-up_wrapper.pop-up_manager(style="display: none;")
  .pop-up_bg
      .pop-up.simple-grey-wrapper
        .pop-up_inner
            h2 НАПИСАТЬ МЕНЕДЖЕРУ
            form.clearfix
              .form-row
                .col-md-12
                  input.g_input(type="text", placeholder="Ваша почта")
              .form-row
                .col-md-12
                  textarea.g_textarea(placeholder="Напишите ваш вопрос", rows="4")
              .ta-c
                  button.simple-btn.-yellow.-md.js-popup-close ОТПРАВИТЬ
            i.close-icon.icon.js-popup-close