section.landing-section.one-of-us-section
  .container
     h2 Скорее всего, ты один из нас:
     ul
       li Тебе надоело ездить в скучные пакетные туры, лежать на пляже рядом с бассейном и ничего не делать, тебе хочется отдыхать активно, пробовать новое, не сидеть на месте, общаться с интересными людьми и открывать мир.
       li Ты давно хотел попробовать какой-нибудь активный вид спорта, пересмотрел целую кучу видео на Ютюбе, Вконтакте и Вимео.
       li Тебе хочется лезть на скалы, прыгать с парашютом, ходить по хайлайну, растянутому над пропастью, прыгать с тарзанки и быть «крутым перцем».
       li Ты любишь ездить в Боровое, но уже все там знаешь: Слона видел, на Синюху ходил, на лодке по озеру катался.
       li Хочешь съездить в Боровое, но при этом как-то по-новому провести время.

