.pop-up_wrapper.pop-up_guide
  .pop-up_bg
      .pop-up.simple-grey-wrapper
        .pop-up_inner
          .review-header
            h3 Спасибо, что забронировали тур "Активный тур в Боровое, Казахстан, с элементами скалолазания в компании профессиональных путешественников команды "Миклухо.Трэвэл"
            p Наш менеджер свяжется с вами в ближайшее время
          .review-body
            h3 Теперь вы можете:

            p
              a(href="#") 1) Оплатить тур или его часть прямо сейчас или в любое удобное для вас время по этой <b>ссылке</b>
            p 2) Зарегистрироваться на сайте и к вашему почтовому ящику будет привязан личный кабинет, для удобcтва управления забронированными турами
            div(style=" overflow: hidden;")
              .form-row(style="margin-bottom: 20px;")
                .col-md-4.label_md-wrapper
                  label.label_md.-simple Логин
                .col-md-6
                  input.g_input(value="22april@rambler.ru" disabled)
              .form-row(style="margin-bottom: 20px;")
                .col-md-4.label_md-wrapper
                  label.label_md.-simple Пароль
                .col-md-6
                  input.g_input
              .form-row(style="margin-bottom: 20px;")
                .col-md-4.label_md-wrapper
                  label.label_md.-simple Повторите пароль
                .col-md-6
                  input.g_input
              .form-row(style="margin-bottom: 20px;")
                .col-md-offset-4.col-md-7
                  button.simple-btn.-yellow.-lg Создать личный кабинет
            p 3) Подписаться в на наши сообщества в соцсетях
            .-md.share-menu.ta-c
              <a href="https://vk.com/mikluho.travel" target="_blank" class="share-menu_link"><i class="vk_md icon"></i></a>
              <a href="https://www.facebook.com/Mikluho.Travel" target="_blank" class="share-menu_link"><i class="fb_md icon"></i></a>
              <a href="https://twitter.com/MikluhoTravel" target="_blank" class="share-menu_link"><i class="tw_md icon"></i></a>


          i.close-icon.icon.js-popup-close