.pop-up_wrapper.pop-up_guide
  .pop-up_bg
      .pop-up.simple-grey-wrapper
        .pop-up_inner
          .review-header
            h3 Спасибо, Александр, что забронировали тур "Активный тур в Боровое, Казахстан, с элементами скалолазания в компании профессиональных путешественников команды "Миклухо.Трэвэл"
            p Наш менеджер свяжется с вами в ближайшее время
          .review-body
            h3 Теперь вы можете:
            p
              a(href="#") 1) Оплатить тур или его часть прямо сейчас или в любое удобное для вас время по этой <b>ссылке</b>
            P 2) <a href="/user-person-page.html">Отслеживать и менять статус своей заявки в  <b>личном кабинете </b></a>
            p 3) Подписаться в на наши сообщества в соцсетях
            .-md.share-menu.ta-c
              <a href="https://vk.com/mikluho.travel" target="_blank" class="share-menu_link"><i class="vk_md icon"></i></a>
              <a href="https://www.facebook.com/Mikluho.Travel" target="_blank" class="share-menu_link"><i class="fb_md icon"></i></a>
              <a href="https://twitter.com/MikluhoTravel" target="_blank" class="share-menu_link"><i class="tw_md icon"></i></a>


          i.close-icon.icon.js-popup-close