section.landing-section.photo-section
  .container
    h2 ФОТО ИЗ ПРОШЛЫХ ПУТЕШЕСТВИЙ
    ul.photolist
      li
        img(src="files/landing-photo1.jpg")
        span.photolist-title Тибетские молитвеные флаги на ветру
      li
        img(src="files/landing-photo2.jpg")
        span.photolist-title Весна в Тибете
      li
        img(src="files/landing-photo3.jpg")
        span.photolist-title Як на горном склоне
      li
        img(src="files/landing-photo4.jpg")
        span.photolist-title Горный массив и долина реки
      li
        img(src="files/landing-photo5.jpg")
        span.photolist-title Утро в горах
    h2 ВИДЕО О ПУТЕШЕСТВИИ
    .videoWrapper
      <iframe width="960" height="720" src="//www.youtube.com/embed/J63mbqtzPhI?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
