section.landing-price.landing-section
  .container
    h2 Стоимость тура от 42 000 руб.
    button.to-reserve.simple-btn.-yellow.-lg <i class="icon rukzak"></i> Забронировать тур
    div(style="padding-top: 10px;")

      <a id="fav" class="link-md -white" href="" rel="sidebar"" onclick="addFav();return false;">Еще не определились? Хотите подумать? Добавьте нашу страницу в избранное!</a>