section.landing-reasons
  h2.subtitle 7 причин поехать
  .reasons-wrapper
    .reason-item
        .round-bg.-yellow.-lg
          span.count 1
        div.ta-c Трек вокруг Аннапурны — один из популярнейших в мире треккинговых маршрутов.
    .reason-item
      .round-bg.-yellow.-lg
        span.count 2
      div.ta-c Трек не требует специальной технической и физической подготовки.
    .reason-item
      .round-bg.-yellow.-lg
        span.count 3
      div.ta-c Тур богат фантастическими видами на Гималаи.
    .reason-item
      .round-bg.-yellow.-lg
        span.count 4
      div.ta-c На маршруте участников сопровождает опытный гид от Команды Приключений Альпиндустриия.
    .reason-item
      .round-bg.-yellow.-lg
        span.count 5
      div.ta-c Во время трека вокруг предстоит увидеть буддийские ступы, монастыри, «говорящие камни» с мантрами.
    .reason-item
      .round-bg.-yellow.-lg
        span.count 6
      div.ta-c Местами маршрут проходит через сказочные леса, звенящие водопады,  горячие источники.
    .reason-item
      .round-bg.-yellow.-lg
        span.count 7
      div.ta-c Участие в туре дает право на приобретение одежды и снаряжения с 20%, скидкой в нашем экипировочном центре на Первомайской.
  .container
    .ta-c
      button.to-reserve.simple-btn.-yellow.-lg
        i.icon.mail
        | Оставить заявку на консультацию


