section.landing-section.reviews-section
  .container
    h2  ОТЗЫВЫ О НАШИХ ПУТЕШЕСТВИЯХ
    .reviews-wrapper.carousel.slide#js-reviews-carusel
      ul.reviews.carousel-inner
        li.item.active
          .review-header
            .round-img.-profile-img
              img(src="img/guide.jpg")
            h3.name Константин Константинопольский
            div 37 лет, Москва
          .review-body.js-review-body
            p Здесь забываешь, что прошел 160 км, что три дня колбасился в пылюке автобуса. Тут все по-непальски — и плохо и хорошо (Шредингеру привет).
            p Рискуя показаться расистом, я все же хочу сказать — непальцы — относительно большие дети. Тотальный, всепоглощающий инфантилизм в самых ярких проявлениях. Они по-дестки обижаются, если закажешь у них в кафешке мало еды. Как они мило пьянеют от стаканчика яблочного сидра (жуткого на вкус, кстати). Как раздолбайски организовывают всё, что касается их жизни. Но как настоящие школьные отличники они очень добрые и отзывчивые.
            p Непал ты любишь и ненавидишь одновременно, но горы... ГОРЫ, которые мы видели; воздух, которым дышали; миллионы шагов, которые сделали за эти 20 дней - все они навсегда останутся в памяти, как самое невероятное, что я когда либо видел, ощущал и делал.
            p Я запомню Непал, как место, где наша матушка Земля по-настоящему ВПЕЧАТЛЯЕТ!
        li.item
          .review-header
            .round-img.-profile-img
              img(src="img/guide.jpg", class="-blue-border")
            h3.name Аркадий Григорьев
            div 45 лет, Калининград
          .review-body.js-review-body
            p Непал ты любишь и ненавидишь одновременно, но горы... ГОРЫ, которые мы видели; воздух, которым дышали; миллионы шагов, которые сделали за эти 20 дней - все они навсегда останутся в памяти, как самое невероятное, что я когда либо видел, ощущал и делал.
            p Я запомню Непал, как место, где наша матушка Земля по-настоящему ВПЕЧАТЛЯЕТ!
            p Здесь забываешь, что прошел 160 км, что три дня колбасился в пылюке автобуса. Тут все по-непальски — и плохо и хорошо (Шредингеру привет).


      a.arrow-left.reviews-arrow(href="#js-reviews-carusel" data-slide="prev")
      a.arrow-right.reviews-arrow(href="#js-reviews-carusel" data-slide="prev")