.add-section {
  position: relative;
  .allocated-block {
    margin-bottom: 30px;
    padding: 22px;
    h2 {
      margin: 0;
    }
  }
}

.count-changer {
  .label_md {
    span {
      border-bottom: 1px dotted @text-color;
      cursor: pointer;
    }
  }
}


.info-item {
  border-radius: 10px;
  border: 1px solid @light-blue;
  background-color:  #EEEEEE;
  padding: 20px;
  
  .switch-buttons {
    position: relative;
    z-index: 1;
  }

  &.disabled {
    .disabled-mask {
      display: block;
    }
  }

  .disabled-mask {
    display: none;
  }

  .-crop-btn {
    .media();

    .almost-sqr-wrapper {
      margin-right: 20px;
    }

    button {
      font-size: 16px;
      line-height: 20px;
      min-height: 52px;
    }
  }

  .almost-sqr-wrapper {
    .round-bg.-lg {
      height: 40px;
      width: 40px;
      display: inline-block;
      vertical-align: middle;
      span.count {
        font-size: 20px;
        line-height: 40px;
      }
    }
  }
  
}

.info-item_row {
  margin-bottom: 20px;
  .clearfix();

  &:last-of-type {
    margin-bottom: 0;
  }

}



.popup-select-icons {
  position: fixed;
  width: 500px;
  left: 50%;
  margin-left: -250px;
  top:50%;
  margin-top: -150px;
  height: 300px;
  z-index: 1003;
  .info-item();
  .almost-sqr-wrapper {
    display: inline-block;
    margin-right: 20px;
    cursor: pointer;
    margin-bottom: 20px;

  }
}

.info-item_wrapper {
  font-size: 0;
  .col-md-3 {
    display: inline-block;
    vertical-align: top;
    float: none;
    margin-bottom: 30px;
  }
}

.day-wrapper {
  text-align: center;
  margin-top: 30px;
  
}

.day-count {
  font-size: 70px;
  line-height: 1;
}

.day-descr {
  font-size: 24px;
  line-height: 1;
}

.options-wrapper {
  label {
    margin-right: 20px;
    margin-bottom: 20px;
  }
}



/****************/
/** RESPONSIVE **/
/****************/



/*SMALL and EXTRA SMALL -- sm and xs -- xxx*/
@media  screen and (max-width: @screen-sm-max) {


}
/*SMALL and EXTRA SMALL -- sm and xs -- xxx -- END*/


/*EXTRA SMALL -- xs -- xxx*/
@media screen and (max-width: @screen-xs-max) {


}
/*EXTRA SMALL -- xs -- xxx END*/



/*SMALL -- sm -- xxx*/
@media screen and (min-width: @screen-sm-min) and (max-width: @screen-sm-max) {



}
/*SMALL -- sm -- xxx -- END*/


/*LARGE and MEDIUM -- lg and md -- xxx*/
@media screen and (min-width: @screen-sm-max) {


}
/*LARGE and MEDIUM -- lg and md -- xxx -- END*/