.subscribe-wrapper {
  .simple-blue-wrapper();
  margin-bottom: 40px;
}

.suscribe-inner {
  .dotted-wrapper();
  padding: 10px 10px 40px 10px;
}

.suscribe-text {
  font-size: 22px;
  color: @dark-blue;
  margin-top: 15px;
  margin-bottom: 33px;
}

.suscribe-form {
  line-height: 55px;
  input {
    margin-top: 9px;
  }
  button, input {
    vertical-align: middle;
  }
}

/****************/
/** RESPONSIVE **/
/****************/



/*SMALL and EXTRA SMALL -- sm and xs -- SUBSCRIBE*/
@media  screen and (max-width: @screen-sm-max) {


}
/*SMALL and EXTRA SMALL -- sm and xs -- SUBSCRIBE -- END*/


/*EXTRA SMALL -- xs -- SUBSCRIBE*/
@media screen and (max-width: @screen-xs-max) {


}
/*EXTRA SMALL -- xs -- SUBSCRIBE END*/



/*SMALL -- sm -- SUBSCRIBE*/
@media screen and (min-width: @screen-sm-min) and (max-width: @screen-sm-max) {



}
/*SMALL -- sm -- SUBSCRIBE -- END*/


/*LARGE and MEDIUM -- lg and md -- SUBSCRIBE*/
@media screen and (min-width: @screen-sm-max) {


}
/*LARGE and MEDIUM -- lg and md -- SUBSCRIBE -- END*/