.why-we-wrapper {
  margin-bottom: 40px;
}

.why-we-item {
  text-align: center;
  padding: 30px 8% 0;
  .round-wrapper {
    width: 85px;
    height: 85px;
    line-height: 79px;
    text-align: center;
    margin-bottom: 20px;
  }
  .icon {
    vertical-align: middle;
  }
}

.why-we-descr {
  font-size: 16px;
}

/****************/
/** RESPONSIVE **/
/****************/



/*SMALL and EXTRA SMALL -- sm and xs -- WHY WE*/
@media  screen and (max-width: @screen-sm-max) {


}
/*SMALL and EXTRA SMALL -- sm and xs -- WHY WE -- END*/


/*EXTRA SMALL -- xs -- WHY WE*/
@media screen and (max-width: @screen-xs-max) {


}
/*EXTRA SMALL -- xs -- WHY WE END*/



/*SMALL -- sm -- WHY WE*/
@media screen and (min-width: @screen-sm-min) and (max-width: @screen-sm-max) {



}
/*SMALL -- sm -- WHY WE -- END*/


/*LARGE and MEDIUM -- lg and md -- WHY WE*/
@media screen and (min-width: @screen-sm-max) {


}
/*LARGE and MEDIUM -- lg and md -- WHY WE -- END*/