.row
   .col-xl-5.col-md-12
      section.text-section
         p Неизменный лидер продаж. Дверь с зеркалом. 2 листа стали толщиной по 2 мм. С внешней стороны — МДФ цвета «Венге», с внутренней — цвета «Беленый дуб». Замок Гардиан 25.14. Цвет фурнитуры: Серебро/Хром. Антивандальное покрытие. Противосъемные штыри.
.row.product-descr-block
   .col-xl-5.col-md-12
      h3.-block-title Горизонт безопасности
      .product-descr
         p В последнее время, видимо в связи с кризисом, в нашем городе увеличились случаи вскрытия входных металлических дверей. Злоумышленники не церемонятся с замками, а просто, с помощью профессионального инструмента, отжимают полотно из короба двери и получают доступ к ригелям замка. Наша компания, проанализировав данную ситуацию и изучив способы вскрытия дверей, приняла координальные меры по усилению всего модельного ряда дверей Гранит. Наши инженеры разработали и внедрили в каждую модель, так называемый, «ГОРИЗОНТ БЕЗОПАСНОСТИ». ГОРИЗОНТ БЕЗОПАСНОСТИ – это целый комплекс доработок и конструктивного усиления полотна и короба металлической входной двери Гранит, препятствующий взлому двери путем отжима полотна из коробки. В тело полотна, как раз в месте монтажного кармана замка, вваривается горизонтальный усиленный профиль на всю ширину полотна. Благодаря этому профилю квадратного сечения при попытке отжима, замок упирается в торец квадратного усиленного профиля и исключает дальнейший ход. Также, в тело короба, в районе ответных отверстий замка ввариваются квадратные усиленные профили, которые, в свою очередь, исключают деформацию короба при попытке отжима. Остается еще один зазор – между бетонной стеной проема и коробом двери. Двери Гранит устанавливаются исключительно на сварку, и мы не используем дешевый способ установки дверей анкера. Но теперь, вдобавок к этому в зазор между бетоном и коробом, мы ввариваем специальную закладную. Благодаря этой закладной, исключается какое либо движение, короба в проеме вообще.
            | Итак, подводя итог, «Горизонт безопасности» полностью исключает какую либо деформацию полотна и короба Дверей Гранит при попытке отжима.
            |В последнее время, видимо в связи с кризисом, в нашем городе увеличились случаи вскрытия входных металлических дверей. Злоумышленники не церемонятся с замками, а просто, с помощью профессионального инструмента, отжимают полотно из короба двери и получают доступ к ригелям замка.
            |Наша компания, проанализировав данную ситуацию и изучив способы вскрытия дверей, приняла координальные меры по усилению всего модельного ряда дверей Гранит. Наши инженеры разработали и внедрили в каждую модель, так называемый, «ГОРИЗОНТ БЕЗОПАСНОСТИ».
            |ГОРИЗОНТ БЕЗОПАСНОСТИ – это целый комплекс доработок и конструктивного усиления полотна и короба металлической входной двери Гранит, препятствующий взлому двери путем отжима полотна из коробки. В тело полотна, как раз в месте монтажного кармана замка, вваривается горизонтальный усиленный профиль на всю ширину полотна. Благодаря этому профилю квадратного сечения при попытке отжима, замок упирается в торец квадратного усиленного профиля и исключает дальнейший ход. Также, в тело короба, в районе ответных отверстий замка ввариваются квадратные усиленные профили, которые, в свою очередь, исключают деформацию короба при попытке отжима.
            |Остается еще один зазор – между бетонной стеной проема и коробом двери. Двери Гранит устанавливаются исключительно на сварку, и мы не используем дешевый способ установки дверей анкера. Но теперь, вдобавок к этому в зазор между бетоном и коробом, мы ввариваем специальную закладную. Благодаря этой закладной, исключается какое либо движение, короба в проеме вообще.
            |Итак, подводя итог, «Горизонт безопасности» полностью исключает какую либо деформацию полотна и короба Дверей Гранит при попытке отжима.
   .col-xl-7.col-md-12
      h3.-block-title Из чего состоит горизонт безопасности?
      .img-icon_wrapper
         .img-icon_wrapper-inner
            img.img-fluid(src="img/security-horizon.png")
            +svg('thief', 'thief-lg img-icon_icon')