.question-elem
   h2.-block-title-sm Жанна
   p День добрый. Нужна входная дверь. Присмотрелись к Гранит М3. Вопрос - размеры только стандартные? У нас дверь нестандартная.
   .g-date 15.10.2014
.question-elem.-answer
   h2.-block-title-sm
      +svg('reply', 'reply-icon reply-sm')
      span Лендвери
   p День добрый. Нужна входная дверь. Присмотрелись к Гранит М3. Вопрос - размеры только стандартные? У нас дверь нестандартная.
   .g-date 15.10.2014
.question-elem
   h2.-block-title-sm Зинаида
   p День добрый. Нужна входная дверь. Присмотрелись к Гранит М3. Вопрос - размеры только стандартные? У нас дверь нестандартная.
   .g-date 10.10.2014
.question-elem.-answer
   h2.-block-title-sm
      +svg('reply', 'reply-icon reply-sm')
      span Лендвери
   p День добрый. Нужна входная дверь. Присмотрелись к Гранит М3. Вопрос - размеры только стандартные? У нас дверь нестандартная.
   .g-date 11.10.2014
