.question-elem
   h2.-block-title-sm Жанна
   p День добрый. Нужна входная дверь. Присмотрелись к Гранит М3. Вопрос - размеры только стандартные? У нас дверь нестандартная.
   .g-date 15.10.2014
.question-elem.-answer
   h2.-block-title-sm
      +svg('reply', 'reply-icon reply-sm')
      span Жанна
   p День добрый. Нужна входная дверь. Присмотрелись к Гранит М3. Вопрос - размеры только стандартные? У нас дверь нестандартная.
   .g-date 15.10.2014
form
   .form-group
      label.form-label Номер заказа
      input.form-control.form-control-lg(type="text" value="234234")
   .form-group
      label.form-label Номер вашего телефона
      .row
         .col-sm-6
            input.form-control.form-control-lg.js-phone-mask(type="text")
         .col-sm-6
            p *Не публикуется
   .form-group
      textarea.form-control(rows="6")
   .btn-wrapper.-right
      button.btn.btn-transparent.btn-lg_mod Отправить