.question-elem.-questions
   h2.-block-title-xs Жанна
   p.question-elem_body  День добрый. Нужна входная дверь. Присмотрелись к Гранит М3. Вопрос - размеры только стандартные? У нас дверь нестандартная.
   .g-date 15.10.2014
.question-elem.-answer
   .reply-wrapper
      +svg('reply', 'reply-icon reply-sm')
      p.question-elem_body День добрый. Нужна входная дверь. Присмотрелись к Гранит М3. Вопрос - размеры только стандартные? У нас дверь нестандартная.
      .g-date 15.10.2014
.question-elem.-questions
   h2.-block-title-xs Зинаида
   p.question-elem_body  День добрый. Нужна входная дверь. Присмотрелись к Гранит М3. Вопрос - размеры только стандартные? У нас дверь нестандартная.
   .g-date 10.10.2014
.question-elem.-answer
   .reply-wrapper
      +svg('reply', 'reply-icon reply-sm')
      p.question-elem_body  День добрый. Нужна входная дверь. Присмотрелись к Гранит М3. Вопрос - размеры только стандартные? У нас дверь нестандартная.
      .g-date 11.10.2014