form
   .form-group
      label.form-label.-less-indent Имя
      input.form-control.form-control-lg(type="text")
   .form-group
      label.form-label.-less-indent Номер вашего телефона
      .row
         .col-sm-6
            input.form-control.form-control-lg.js-phone-mask(type="text")
         .col-sm-6
            p.no-publishе *Не публикуется
   .form-group
      label.form-label.-less-indent Вопрос
      textarea.form-control(rows="6")
   .form-group
      .btn-wrapper.-right
         button.btn.btn-transparent.btn-lg_mod Отправить