.question-elem
   h2.-block-title-sm Жанна
   .stars-block.-review
      +svg('star', 'star-sm star-icon -active')
      +svg('star', 'star-sm star-icon -active')
      +svg('star', 'star-sm star-icon -active')
      +svg('star', 'star-sm star-icon -active')
      +svg('star', 'star-sm star-icon')
   p Делали ремонт, нужно было дверь поменять. Друзья посоветовали обратиться в эту компанию. Они там дверь покупали, им понравилось. Выбрали Гранит М3 — одна из самых жестких. Сотрудники относятся добросовестно — заказ приняли, привезли, установили, посоветовали фурнитуру. Гарантию на установку дали. Дверь не скрипит, не заедает. Компания надежная. Желаю держать планку.
   .g-date 15.10.2014
.question-elem
   h2.-block-title-sm Михаил
   .stars-block.-review
      +svg('star', 'star-sm star-icon -active')
      +svg('star', 'star-sm star-icon -active')
      +svg('star', 'star-sm star-icon -active')
      +svg('star', 'star-sm star-icon')
      +svg('star', 'star-sm star-icon')
   p Я сам в ремонте работаю, поэтому знаю, что не только от двери зависит, как она простоит, ног и того, как ее установили. Многие сейчас делают как попало. Когда дверь купили, я сам при установке присутствовал. Думаю, начнут как попало делать, я скажу, установлю сам. На удивление ребята профессионалы оказались. Дверь на сварку поставили, на глубоко вбитые анкера. Ничего не косо, не провисает, зазоров нет. Монтажникам уважение.
   .g-date 15.10.2014
form
   h4.-block-title Новый отзыв
   .form-group
      label.form-label.-less-indent Номер заказа
      input.form-control.form-control-lg(type="text" value="234234")
   .form-group
      label.form-label.-less-indent Номер вашего телефона
      .row
         .col-sm-6
            input.form-control.form-control-lg.js-phone-mask(type="text")
         .col-sm-6
            p *Не публикуется
   .form-group
      label.form-label.-less-indent Оценка:
      .stars-block.-review
         +svg('star', 'star-sm star-icon -active')
         +svg('star', 'star-sm star-icon -active')
         +svg('star', 'star-sm star-icon -active')
         +svg('star', 'star-sm star-icon -active')
         +svg('star', 'star-sm star-icon')
   .form-group
      label.form-label.-less-indent Сообщение
      textarea.form-control(rows="6")
   .form-group
      .btn-wrapper.-right.-top-indent
         button.btn.btn-transparent.btn-lg_mod Отправить