form
   h4.-block-title Новый отзыв
   .form-group
      label.form-label.-less-indent Номер заказа
      .row
         .col-sm-8
            input.form-control.form-control-lg(type="text" value="234234")
         .col-sm-4
            p *Не публикуется

   .form-group
      label.form-label.-less-indent Имя
      .row
         .col-sm-8
            input.form-control.form-control-lg(type="text")

   .form-group
      label.form-label.-less-indent Номер вашего телефона
      .row
         .col-sm-8
            input.form-control.form-control-lg.js-phone-mask(type="text")
         .col-sm-4
            p *Не публикуется
   .form-group
      label.form-label.-less-indent Оценка:
      .stars-block.-review
         +svg('star', 'star-sm star-icon -active')
         +svg('star', 'star-sm star-icon -active')
         +svg('star', 'star-sm star-icon -active')
         +svg('star', 'star-sm star-icon -active')
         +svg('star', 'star-sm star-icon')
   .form-group
      label.form-label.-less-indent Сообщение
      textarea.form-control(rows="6")
   .form-group
      .btn-wrapper.-right.-top-indent
         button.btn.btn-transparent.btn-lg_mod Отправить